{% extends "admin/admin_base.html" %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                     Creat An Agent
                      <small>
                          
                      </small>
                  </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  &nbsp;
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Provide Details </h2>
                     
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                     
                    <form  class="form-horizontal form-label-left"  id="myform" class="contact-form" role="form">
					
					<input type="hidden" name="crud_type" value="agent_manual">
					<input type="hidden" name="table_name" value="register">
					<input type="hidden" name="user_type" value="agent">
					 
						 <section class="form-sec">
            <div class="inner">
              
              <div class="card">
                <div class="col-md-12 form-box">
				<table border=0 width="700" align=center><tr><td><div class="alert alert-danger alert-dismissable" style="display:none" id="errordiv">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                        <span class="alert alert-danger" id="error_message">  </span>
                    </div></td></tr><tr><td align=center>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="first_name_for">First Name <span>*</span></label>
                        <input type="text" name="first_name" ID="first_name" class="form-control" >
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="last_name_for">Last Name <span>*</span></label>
                        <input type="text" name="last_name" id="last_name" class="form-control" >
                      </div>
                    </div>
					 <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="email">Email Address <span>*</span></label>
                         <input type="email" name="email" id="email" class="form-control " placeholder="Email Address" pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">  
					  </div>
                    </div>
                  </div>
                   
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Mobile <span>*</span></label>
						<input type="tel" name="phone" id="phone" class="form-control "  pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  placeholder="000-000-0000"     required>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Alternate Phone </label>
                            <input type="text" name="alternate_phone" id="alternate_phone" class="form-control " placeholder="Alternate Phone">
                      </div>
                    </div>
                  </div>
				  <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Real Estate License Number <span>*</span></label>
						<input type="text" name="license_number" ID="license_number" class="form-control" maxlength="10">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Name on Real Estate License<span>*</span> </label>
                           <input type="text" name="license_name" id="license_name" class="form-control input-sm" >
                      </div>
                    </div>
                  </div>
				   <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">State Licensed In<span>*</span></label>
						<select name='license_state' id='license_state'  class="form-control">
						<option value="">-Select State-</option>
                          <option value="AL">Alabama</option>
	<option value="AK">Alaska</option>
	<option value="AZ">Arizona</option>
	<option value="AR">Arkansas</option>
	<option value="CA">California</option>
	<option value="CO">Colorado</option>
	<option value="CT">Connecticut</option>
	<option value="DE">Delaware</option>
	<option value="DC">District Of Columbia</option>
	<option value="FL">Florida</option>
	<option value="GA">Georgia</option>
	<option value="HI">Hawaii</option>
	<option value="ID">Idaho</option>
	<option value="IL">Illinois</option>
	<option value="IN">Indiana</option>
	<option value="IA">Iowa</option>
	<option value="KS">Kansas</option>
	<option value="KY">Kentucky</option>
	<option value="LA">Louisiana</option>
	<option value="ME">Maine</option>
	<option value="MD">Maryland</option>
	<option value="MA">Massachusetts</option>
	<option value="MI">Michigan</option>
	<option value="MN">Minnesota</option>
	<option value="MS">Mississippi</option>
	<option value="MO">Missouri</option>
	<option value="MT">Montana</option>
	<option value="NE">Nebraska</option>
	<option value="NV">Nevada</option>
	<option value="NH">New Hampshire</option>
	<option value="NJ">New Jersey</option>
	<option value="NM">New Mexico</option>
	<option value="NY">New York</option>
	<option value="NC">North Carolina</option>
	<option value="ND">North Dakota</option>
	<option value="OH">Ohio</option>
	<option value="OK">Oklahoma</option>
	<option value="OR">Oregon</option>
	<option value="PA">Pennsylvania</option>
	<option value="RI">Rhode Island</option>
	<option value="SC">South Carolina</option>
	<option value="SD">South Dakota</option>
	<option value="TN">Tennessee</option>
	<option value="TX">Texas</option>
	<option value="UT">Utah</option>
	<option value="VT">Vermont</option>
	<option value="VA">Virginia</option>
	<option value="WA">Washington</option>
	<option value="WV">West Virginia</option>
	<option value="WI">Wisconsin</option>
	<option value="WY">Wyoming</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">License Expiration Date<span>*</span> </label>
                           <input type="date" name="license_date" id="license_date" class="form-control input-sm" >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-holder form-holder-2">
                        <label for="homeadd">Home Address <span>*</span></label>
                        <input type="text" name="home_address" id="home_address" class="form-control " placeholder="Home Address">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="card-type">City <span>*</span></label>
                        <input type="city" name="city" id="city" class="form-control input-sm" placeholder="City">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="card-type">State <span>*</span></label>
                        <select name='state' id='state'  class="form-control">
						<option value="">-Select State-</option>
                          <option value="AL">Alabama</option>
	<option value="AK">Alaska</option>
	<option value="AZ">Arizona</option>
	<option value="AR">Arkansas</option>
	<option value="CA">California</option>
	<option value="CO">Colorado</option>
	<option value="CT">Connecticut</option>
	<option value="DE">Delaware</option>
	<option value="DC">District Of Columbia</option>
	<option value="FL">Florida</option>
	<option value="GA">Georgia</option>
	<option value="HI">Hawaii</option>
	<option value="ID">Idaho</option>
	<option value="IL">Illinois</option>
	<option value="IN">Indiana</option>
	<option value="IA">Iowa</option>
	<option value="KS">Kansas</option>
	<option value="KY">Kentucky</option>
	<option value="LA">Louisiana</option>
	<option value="ME">Maine</option>
	<option value="MD">Maryland</option>
	<option value="MA">Massachusetts</option>
	<option value="MI">Michigan</option>
	<option value="MN">Minnesota</option>
	<option value="MS">Mississippi</option>
	<option value="MO">Missouri</option>
	<option value="MT">Montana</option>
	<option value="NE">Nebraska</option>
	<option value="NV">Nevada</option>
	<option value="NH">New Hampshire</option>
	<option value="NJ">New Jersey</option>
	<option value="NM">New Mexico</option>
	<option value="NY">New York</option>
	<option value="NC">North Carolina</option>
	<option value="ND">North Dakota</option>
	<option value="OH">Ohio</option>
	<option value="OK">Oklahoma</option>
	<option value="OR">Oregon</option>
	<option value="PA">Pennsylvania</option>
	<option value="RI">Rhode Island</option>
	<option value="SC">South Carolina</option>
	<option value="SD">South Dakota</option>
	<option value="TN">Tennessee</option>
	<option value="TX">Texas</option>
	<option value="UT">Utah</option>
	<option value="VT">Vermont</option>
	<option value="VA">Virginia</option>
	<option value="WA">Washington</option>
	<option value="WV">West Virginia</option>
	<option value="WI">Wisconsin</option>
	<option value="WY">Wyoming</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Zip Code <span>*</span></label>
                        <input type="zip_code" name="zip_code" id="zip_code" class="form-control input-sm" placeholder="ZIP Code" maxlength="5">
                      </div>
                    </div>
                  </div>
				   
                </div>
              </div></td></tr></table>
            </div>&nbsp;
			<div class="actions clearfix">
			<div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="button" class="btn btn-primary">Cancel</button>
                          <button type="button" id="savebutton" class="btn btn-success">Submit</button>
                        </div>
                      </div>

			</div>
          </section>

                    </form>
                  </div>
                </div>
              </div>
			   

			  
            </div>
          </div>
        </div>
		<div id="response_message"></div>
        <!-- /page content -->
		{% endblock %}
			{% block datatablesjs %}
		 
		<!-- include summernote css/js-->
 		 <script type="text/javascript">

	function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}

jQuery(document).ready(function(){
$( "#savebutton" ).click(function( event ) {
		
		 var pass = $('#password').val()
		if ($('#first_name').val() == "") {
				alert('First Name is required!');
				$('#first_name').focus()
				return false;
		}else if ($('#last_name').val() == "") {
				alert('Last Name is required!');
				$('#last_name').focus()
				return false;
		}else if ($('#email').val() == "") {
				alert('Email Address is required!');
				$('#email').focus()
				return false;
		}else if (validateEmail($('#email').val()) != true) {
				//alert(validateEmail($('#email').val()));
				alert('Please provide proper email Address!');
				$('#email').focus()
				return false;
		}else if ($('#phone').val() == "") {
				alert('Phone is required!');
				$('#phone').focus()
				return false;
		}else if ($('#license_number').val() == "") {
				alert('license number is required!');
				$('#license_number').focus()
				return false;
		}else if ($('#license_name').val() == "") {
				alert('License Name is required!');
				$('#license_name').focus()
				return false;
		}else if ($('#license_state').val() == "") {
				alert('License State is required!');
				$('#license_state').focus()
				return false;
		}else if ($('#license_date').val() == "") {
				alert('license date is required!');
				$('#license_date').focus()
				return false;
		}else if ($('#home_address').val() == "") {
				alert('Home Address is required!');
				$('#home_address').focus()
				return false;
		}else if ($('#state').val() == "") {
				alert('State is required!');
				$('#state').focus()
				return false;
		}else if ($('#city').val() == "") {
				alert('City is required!');
				$('#city').focus()
				return false;
		}else if ($('#zip_code').val() == "") {
				alert('Postcode is required!');
				$('#zip_code').focus()
				return false;
		}else{
			//prevent Default functionality
			 
			$.ajax({
				type:"POST",
				url: "/admin/tableCreate",
				dataType:"json",
				data:$('form').serialize() ,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						window.location.replace("/thankyou");
						$('#con-close-modal').hide();
					}else{
						$('#errordiv').show();
						$('#error_message').html(response.message);
						
					}
					
				},error: function(){
					console.log(response);
					$('#errordiv').show();
					$('#error_message').html("problem in regetering. please refresh and try again");
				}
			});
			return true;
		}

	});
});

  $(function(){
	
	

    $("#form-register").validate({
        rules: {
            password : {
                required : true,
            },
            confirm_password: {
                equalTo: "#password"
            }
        },
        messages: {
            username: {
                required: "Please provide an username"
            },
            email: {
                required: "Please provide an email"
            },
            password: {
                required: "Please provide a password"
            },
            confirm_password: {
                required: "Please provide a password",
                equalTo: "Please enter the same password"
            }
        }
    });
    $("#form-total").steps({
		headerTag: "h2",
        bodyTag: "section",
        transitionEffect: "fade",
        // enableAllSteps: true,
        autoFocus: true,
        transitionEffectSpeed: 500,
        titleTemplate : '<div class="title">#title#</div>',
        labels: {
            previous : 'Back',
            // next : '<i class="zmdi zmdi-arrow-right"></i>',
            // finish : '<i class="zmdi zmdi-arrow-right"></i>',
            next : 'Submit',
            finish : 'Next',
            current : ''
        },
        onStepChanging: function (event, currentIndex, newIndex) { 
            var first_name = $('#first_name').val();
		if ($('#first_name').val() == "") {
				alert('First Name is required!');
				$('#first_name').focus()
				return false;
		}else if ($('#last_name').val() == "") {
				alert('Last Name is required!');
				$('#last_name').focus()
				return false;
		}else if ($('#email').val() == "") {
				alert('Email Address is required!');
				$('#email').focus()
				return false;
		}else if (validateEmail($('#email').val()) != true) {
				//alert(validateEmail($('#email').val()));
				alert('Please provide proper email Address!');
				$('#email').focus()
				return false;
		}else if ($('#password').val() == "") {
				alert('Password is required!');
				$('#password').focus()
				return false;
		}else if ($('#password_confirmation').val() == "") {
				alert('password confirmation is required!');
				$('#password_confirmation').focus()
				return false;
		}else if ($('#password_confirmation').val() != $('#password').val()) {
				alert('passwords dont match is required!');
				return false;
		}else if ($('#phone').val() == "") {
				alert('Phone is required!');
				$('#phone').focus()
				return false;
		}else if ($('#home_address').val() == "") {
				alert('Home Address is required!');
				$('#home_address').focus()
				return false;
		}else if ($('#state').val() == "") {
				alert('State is required!');
				$('#state').focus()
				return false;
		}else if ($('#city').val() == "") {
				alert('City is required!');
				$('#city').focus()
				return false;
		}else if ($('#zip_code').val() == "") {
				alert('Postcode is required!');
				$('#zip_code').focus()
				return false;
		}else if (!$('#user_signup_tos_accepted').is(":checked")) {
				alert('Please Accept terms and conditions');
				$('#user_signup_tos_accepted').focus()
				return false;
		}else{

             

            $("#form-register").validate().settings.ignore = ":disabled,:hidden";
            return $("#form-register").valid();
			}
        }

    });
});

</script>
				{% endblock %}