{% extends "admin/admin_base.html" %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                     System Parameters
                      <small>
                          
                      </small>
                  </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  &nbsp;
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Site settings </h2>
                     
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                     
                    <form  class="form-horizontal form-label-left"  id="myform" class="contact-form" role="form">
					<input type="hidden" name="table_name" value="software_settings">
					<input type=hidden name=settings_slug value="{{entity_records.settings_slug}}">
					<input type="hidden" name="crud_type" value="updatess">
					 
						<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Paypal Amount<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="free_slots" name="free_slots" required="required" class="form-control col-md-7 col-xs-12" value="{{entity_records.free_slots}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Site Doc Email  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="minimum_postcode" name="minimum_postcode" required="required" class="form-control col-md-7 col-xs-12" value="{{entity_records.minimum_postcode}}">
                        </div>
                      </div>
					   <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Site Email</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="site_email" class="form-control col-md-7 col-xs-12" type="text" name="site_email" value="{{entity_records.site_email}}">
                        </div>
                      </div>
					  {#
                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Postcode Maximum</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="maximum_postcode" class="form-control col-md-7 col-xs-12" type="text" name="maximum_postcode" value="{{entity_records.maximum_postcode}}">
                        </div>
                      </div>#}
                       
                         
						<div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Paypal Email</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="paypal_email" class="form-control col-md-7 col-xs-12" type="text" name="paypal_email" value="{{entity_records.paypal_email}}">
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Mailer Username</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="cooltrader_username" class="form-control col-md-7 col-xs-12" type="text" name="cooltrader_username" value="{{entity_records.cooltrader_username}}">
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Mailer Password</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="cooltrader_password" class="form-control col-md-7 col-xs-12" type="text" name="cooltrader_password" value="{{entity_records.cooltrader_password}}">
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Address </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="site_address" class="form-control col-md-7 col-xs-12" type="text" name="site_address" value="{{entity_records.site_address}}">
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">City</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="site_city" class="form-control col-md-7 col-xs-12" type="text" name="site_city" value="{{entity_records.site_city}}">
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">State</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="site_state" class="form-control col-md-7 col-xs-12" type="text" name="site_state" value="{{entity_records.site_state}}">
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Zipcode</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="site_zipcode" class="form-control col-md-7 col-xs-12" type="text" name="site_zipcode" value="{{entity_records.site_zipcode}}">
                        </div>
                      </div>
					 
					  <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Site Phone</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="site_phone" class="form-control col-md-7 col-xs-12" type="text" name="site_phone" value="{{entity_records.site_phone}}">
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Idle timeout</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="idle_timeout" class="form-control col-md-7 col-xs-12" type="text" name="idle_timeout" value="{{entity_records.idle_timeout}}">
                        </div>
                      </div>

                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="button" class="btn btn-primary">Cancel</button>
                          <button type="button" id="savebutton" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
			   

			  
            </div>
          </div>
        </div>
		<div id="response_message"></div>
        <!-- /page content -->
		{% endblock %}
			{% block datatablesjs %}
		 
		<!-- include summernote css/js-->
 		<script type="text/javascript">
		<!--
			 
		 

jQuery(document).ready(function(){
 	 
	$( "#savebutton" ).click(function( event ) {
		
		 
			  
			 
			$.ajax({
				type:"POST",
				url: "/admin/tableCRUD",
				dataType:"json",
				data:$('form').serialize() ,
				success: function(response){
					// alert("here");
					console.log(response);
					
					if (response.message=="SUCCESS")
					{
						//window.location.replace("/clientthankyou");
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Updated!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
					}else{
						swal("Cancelled", "Record not update. Problem occured", "error");
						
					}
					
				},error: function(){
					//console.log(response);
					swal("Cancelled", "Record not update. Problem occured", "error");
				}
			});
			return true;
		 

	});

});

//-->
</script>
				{% endblock %}