{% extends "admin/admin_base.html" %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                     FAQ's
                      <small>
                          
                      </small>
                  </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  &nbsp;
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Create Faq </h2>
                     
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                     <form class="form-horizontal form-label-left"  id="myform" class="contact-form" role="form">
					 <input type="hidden" name="table_name" value="faqs">

					<input type="hidden" name="crud_type" value="create_faq">

					<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Faq Question<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" class="form-control" id="name" placeholder="" name="name"> 
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Answer <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
						<textarea  name="answer" id="summernote"></textarea>
						<div id="summernoted"></div>

                        </div>
                      </div>
						  <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="button" class="btn btn-primary">Cancel</button>
                          <button type="button" id="savebutton" class="btn btn-success">Submit</button>
                        </div>
                      </div>
						</form>
                     
                  </div>
                </div>
              </div>
			   

                  </div>
                </div>
              </div>
			  
            </div>
          </div>
        </div>
		<div id="response_message"></div>
        <!-- /page content -->
		{% endblock %}
			{% block datatablesjs %}
		 <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>
		<script type="text/javascript">
		<!--
			jQuery(document).ready(function() {
        $('#summernote').summernote({
		//airMode: true,
		height: 300,
		});
		 

    });
    </script>
		<!-- include summernote css/js-->
 		<script type="text/javascript">
		<!--
			 
		 

jQuery(document).ready(function(){
 	 
	$( "#savebutton" ).click(function( event ) {
		
		 
			  
			 
			$.ajax({
				type:"POST",
				url: "/admin/tableCreate",
				dataType:"json",
				data:$('form').serialize() ,
				success: function(response){
					// alert("here");
					console.log(response);
					
					if (response.message=="SUCCESS")
					{
						//window.location.replace("/clientthankyou");
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Updated!</h2><a href="/admin/faqs" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
					}else{
						swal("Cancelled", "Record not update. Problem occured", "error");
						
					}
					
				},error: function(){
					//console.log(response);
					swal("Cancelled", "Record not update. Problem occured", "error");
				}
			});
			return true;
		 

	});

});

//-->
</script>
				{% endblock %}