{% extends "admin/admin_base.html" %}

{% block content %}
<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                      {{title}}
                      <small>
                          
                      </small>
                  </h3>
              </div>

              <div class="title_right">
                <div class="col-md-2  form-group pull-right top_search">
				<a href='/admin/create_faq_form' class="btn btn-success btn-rounded m-b-5">Create FAQ &nbsp; <i class="glyphicon glyphicon-plus"></i></a>
				{#
                  <button type="button" class="btn btn-success btn-rounded m-b-5" data-toggle="modal" data-target="#con-close-modal">Create FAQ &nbsp; <i class="glyphicon glyphicon-plus"></i></button>
				  #}
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Total  {{title}}</h2>
                     
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" style="display: block;">
                     
                   <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                     <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th> Question</th>
                           
                          <th>Status</th>
                         <th>Action</th>
						 </tr>

					  {% for item in user_records %}
						<tr><td><strong>{{item.faq_question|safe}}</td><td> {{item.faq_status}}</td><td> <a  href = "/admin/edit_faq_form?id={{item.id}}" id=editform link-number="{{item.id}}"  class="btn btn-primary btn-rounded m-b-5">Edit</a> <a  href = "#" id=editform link-number="{{item.id}}" OnClick="DoActionDelete({{item.id}}, '{{item.faq_status}}');" class="btn btn-danger btn-rounded m-b-5">Delete</a></td></tr>
						{#
                        <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="headingTwo{{item.id}}" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo{{item.id}}" aria-expanded="false" aria-controls="collapseTwo">
                          <h4 class="panel-title"><strong>{{item.faq_question|safe}}</strong> - {{item.faq_status}}</h4>
                        </a>
                        <div id="collapseTwo{{item.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                          <div class="panel-body">
                            <textarea name="" rows="" cols="">{{item.faq_answer|safe}}</textarea>
                            
							<br>&nbsp;
							 <div class=row>
						  <a  href = "#" id=editform link-number="{{item.id}}" OnClick="DoActionEdit({{item.id}}, '{{item.faq_status}}');" class="btn btn-primary btn-rounded m-b-5">Edit</a> <a  href = "#" id=editform link-number="{{item.id}}" OnClick="DoActionDelete({{item.id}}, '{{item.faq_status}}');" class="btn btn-danger btn-rounded m-b-5">Delete</a>
						  </div>
                          </div>
						 
                        </div>
                      </div>
					  #}
						 {%endfor%}
                        </table>
                </div>
                      

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
		<!--MODAL-BOX-->
			   <div id="response_message"></div>
			   <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
						<form method=post name="myform" id="myform">
						<div class="modal-dialog"> 
							<div class="modal-content"> 
								<div class="modal-header"> 
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">*</button> 
									<h4 class="modal-title">Create Faq</h4> 
								</div> 
								<div class="modal-body" id="formbody"> 
									<div class="row"> 
										<div class="col-md-10"> 
											<div class="form-group"> 
												<label for="field-1" class="control-label">Question</label> 
												<input type="text" class="form-control" id="name" placeholder="" name="name"> 
											</div> 
										</div> 
										 
									</div> 
									<div class="row"> 
										<div class="col-md-10"> 
											<div class="form-group"> 
												<label for="field-3" class="control-label">Answer</label> 
												<div id="summernote"></div> 
											</div> 
										</div> 
									</div> 
									
									 
								</div> 
								<div class="modal-footer" id="modal-footer"> 
									<button type="button" class="btn btn-white" data-dismiss="modal">Close</button> 
									<button type="button" class="btn btn-info" id="savebutton">Save changes</button> 
								</div> 
							</div> 
						</div>
						</form>
					</div>
			<!--MODAL-BOX-->
			<div id="edit_form"></div>
		{% endblock %}
		{% block datatablesjs %}
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>
		<script type="text/javascript">
		<!--
			jQuery(document).ready(function() {
        $('#summernote').summernote({
		//airMode: true,
		height: 200,
		});
		 

    });
    </script>
 <script type="text/javascript">
<!--
 


jQuery(document).ready(function(){

	$( "#savebutton" ).click(function( event ) {
//alert($('#summernote').summernote('code'));
		if ($('#name').val() == "") {
				alert('Name is required!');
				return false;
			}
		else if ($('#summernote').summernote('code') == "") {
				alert('Description is required!');
				return false;
		}
		else{
			name = $('#name').val();
			description =$('#summernote').summernote('code');
			 
			//prevent Default functionality
			 
			$.ajax({
				type:"POST",
				url: "/admin/tableCreate",
				dataType:"json",
				//data:$('form').serialize(),
				data:"table_name=faqs&name="+name+"&description="+description ,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Created!</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#con-close-modal').hide();
					}else{
						$('#con-close-modal').hide();
						swal("Cancelled", "Record not created. Problem occured", "error");
					}
					
				},error: function(){
					console.log(response);
					$('#con-close-modal').hide();
					swal("Cancelled", "Record not created. Problem occured", "error");
				}
			});
			return true;
		}

	});

});
function DoActionEdit( id, value )
{
		  $.ajax({
				type:"POST",
				url: "/admin/FaqEditModalView",
				//dataType:"text",
				data:"table_name=faqs&id="+id+"&statusvalue="+value ,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#edit_form').html('');

					//$('#edit-close-modal').remove();
					$('#edit_form').html(response);
//								alert($('#edit_form').val())
					//$('#edit-close-modal').modal('show');
					$('#edit-close-modal').modal('toggle');
					
				},error: function(){
					console.log(response);
					$('#edit_form').html(response);
					//swal("Cancelled", "Record not updated. Problem occured", "error");
				}
			});

	
}

function DoActionDelete( id, value )
		{
						swal({
						  title: "Are you sure?",
						  text: "You will not be able to recover this record!",
						  type: "warning",
						  showCancelButton: true,
						  confirmButtonColor: "#DD6B55",
						  confirmButtonText: "Yes, delete it!"
						  //closeOnConfirm: false,
						  //closeOnCancel: false
						   
						},
						function(){
						  $.ajax({
							type:"POST",
							url: "/admin/tableCRUD",
							//dataType:"text",
							data:"crud_type=deletefaqs&table_name=faqs&faq_id="+id+"&statusvalue="+value,
							success: function(response){
							
							console.log(response);

							 
							if (response.message=="SUCCESS")
							{
								//window.location.replace("/clientthankyou");
								$('#edit_form').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Deleted!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
								//$('#con-close-modal').hide();
								swal("Deleted!", "Your imaginary file has been deleted.", "success");
								 
							}else{
								
								swal("Cancelled", "Record not updated. Problem occured", "error");
							}
							
							
							
						},error: function(){
							console.log(response);
							//$('#edit_form').html(response);
							swal("Cancelled", "Record not updated. Problem occured", "error");
						}
					});
		});
	}
//-->
</script>
	 {% endblock %}