<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RRR Admin Dashboard | </title>

    <!-- Bootstrap -->
    <link href="/static/admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/static/admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- jVectorMap -->
    <link href="/static/admin/css/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet"/>
	<link href="/static/admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- PNotify -->
    <link href="/static/admin/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="/static/admin/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="/static/admin/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">

 <!-- sweet alerts -->
        <link href="/static/sweet-alert/sweet-alert.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/static/admin/css/custom.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="../" class="site_title"><i class="glyphicon glyphicon-backward"></i>&nbsp;&nbsp;<span>Back to Site</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="/static/admin/images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{current_user.first_name}} {{current_user.last_name}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Menu</h3>
                <ul class="nav side-menu">
                  <li><a href="/admin/dashboard"><i class="fa fa-home"></i> Dashboard <span class="fa fa-chevron-down"></span></a>
                     
                  </li>
				   
                  <li><a><i class="fa fa-edit"></i> Manage Users <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/admin/advisors">Agents</a></li>
					  <li><a href="/admin/manual_register">Manual Registration</a></li>
					  <li><a href="/admin/cleints">Clients of Agents</a>
                      </li>
                   
                    </ul>
                  </li>
                  <li><a href="/admin/adminemails"><i class="fa fa-desktop"></i> Manage Emails <span class="fa fa-chevron-down"></span></a>
                    {#<ul class="nav child_menu">
                      <li><a href="/admin/adminemails?slug=register">Registration Mail</a>
                      </li>
                      <li><a href="/admin/adminemails?slug=accactivate">Account Activated</a>
                      </li>
                      <li><a href="/admin/adminemails?slug=forgot">Forgot Password</a>
                      </li>
                      <li><a href="/admin/adminemails?slug=thankyou">thank you</a>
                      </li>
					  <li><a href="/admin/adminemails?slug=thankyou">Advisor Clients</a>
                      </li>
                      
                    </ul>#}
                  </li>
                  <li><a><i class="fa fa-table"></i> Manage Content <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/admin/pages">Home Page</a>
                      </li>
                      <li><a href="/admin/get_started">Get Started</a>
                      </li>
					  <li><a href="/admin/faqs">FAQS</a>


					  <li><a href="/admin/privacy">Privacy</a>
                      </li>
					  <li><a href="/admin/terms">Terms</a>
					  <li><a href="/admin/uploadmedia">Upload Site Media</a>
                      </li>

					   <li><a href="/admin/blogs">Blogs</a>
					 {# <li><a href="/admin/iriskaware_report">Iriskaware Report</a>
					  <li><a href="/admin/uploadmedia">Upload Site Media</a>
					  <li><a href="/admin/advertizing">ADVERTISING</a>
					  <li><a href="/admin/admin_tutor">Tutor</a>
                      </li>#}
                    </ul>
                  </li>
                  {#<li><a><i class="fa fa-bar-chart-o"></i> Manage Portfolios <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/paidportfolios">Paid Portfolios</a>
                      </li>
                      <li><a href="/admin/freeportfolios">Free</a>
                      </li>
                    </ul>
                  </li>#}
                  <li><a><i class="fa fa-clone"></i>Subscriptions <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/admin/pricing">Pricing Table</a>
                      </li>
                    </ul>
                  </li>
				  <li><a><i class="fa fa-clone"></i>General Settings <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/admin/admin_settings">System Paramenters</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
			  {#
              <div class="menu_section">
                <h3>Live On</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="e_commerce.html">E-commerce</a>
                      </li>
                      <li><a href="projects.html">Projects</a>
                      </li>
                      <li><a href="project_detail.html">Project Detail</a>
                      </li>
                      <li><a href="contacts.html">Contacts</a>
                      </li>
                      <li><a href="profile.html">Profile</a>
                      </li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="page_404.html">404 Error</a>
                      </li>
                      <li><a href="page_500.html">500 Error</a>
                      </li>
                      <li><a href="plain_page.html">Plain Page</a>
                      </li>
                      <li><a href="login.html">Login Page</a>
                      </li>
                      <li><a href="pricing_tables.html">Pricing Tables</a>
                      </li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#level1_1">Level One</a>
                        <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li class="sub_menu"><a href="level2.html">Level Two</a>
                            </li>
                            <li><a href="#level2_1">Level Two</a>
                            </li>
                            <li><a href="#level2_2">Level Two</a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="#level1_2">Level One</a>
                        </li>
                    </ul>
                  </li>
                  <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a>
                  </li>
                </ul>
              </div>#}

            </div>
            <!-- /sidebar menu -->
			{#	
            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div> 
            <!-- /menu footer buttons -->
			#}
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">

          <div class="nav_menu">
            <nav class="" role="navigation">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/static/admin/images/img.jpg" alt="">{{current_user.first_name}} {{current_user.last_name}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    {#<li><a href="javascript:;">  Profile</a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">Help</a>
                    </li>#}
                    <li><a href="/admin/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                    </li>
                  </ul>
                </li>
				{#
                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image">
                                          <img src="/static/admin/images/img.jpg" alt="Profile Image" />
                                      </span>
                        <span>
                                          <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                                          Film festivals used to be do-or-die moments for movie makers. They were where...
                                      </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image">
                                          <img src="/static/admin/images/img.jpg" alt="Profile Image" />
                                      </span>
                        <span>
                                          <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                                          Film festivals used to be do-or-die moments for movie makers. They were where...
                                      </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image">
                                          <img src="/static/admin/images/img.jpg" alt="Profile Image" />
                                      </span>
                        <span>
                                          <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                                          Film festivals used to be do-or-die moments for movie makers. They were where...
                                      </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image">
                                          <img src="/static/admin/images/img.jpg" alt="Profile Image" />
                                      </span>
                        <span>
                                          <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                                          Film festivals used to be do-or-die moments for movie makers. They were where...
                                      </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
				#}
              </ul>
            </nav>
          </div>

        </div>
        <!-- /top navigation -->

		<!-- page content -->
		 {% block content %}{% endblock %}
		<div id="response_message"></div>
		<!-- page content -->


<!-- footer content -->
        <footer>
          <div class="pull-right">
          2014 &copy; RRR. All rights reserved. <span class="primary-color">RealtyReferralrResource </span>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="/static/admin/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/static/admin/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/static/admin/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/static/admin/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="/static/admin/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- Flot -->
    <script src="/static/admin/vendors/Flot/jquery.flot.js"></script>
    <script src="/static/admin/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/static/admin/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/static/admin/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/static/admin/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/static/admin/js/flot/jquery.flot.orderBars.js"></script>
    <script src="/static/admin/js/flot/date.js"></script>
    <script src="/static/admin/js/flot/jquery.flot.spline.js"></script>
    <script src="/static/admin/js/flot/curvedLines.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/static/admin/js/moment/moment.min.js"></script>
    <script src="/static/admin/js/datepicker/daterangepicker.js"></script>
    
    <!-- Custom Theme Scripts -->
    <script src="/static/admin/js/custom.js"></script>
	<!-- sweet alerts -->
        <script src="/static/sweet-alert/sweet-alert.min.js"></script>
        <script src="/static/sweet-alert/sweet-alert.init.js"></script>
    <!-- Flot -->
    {% block datatablesjs %}{% endblock %}
    <!-- /bootstrap-daterangepicker -->
  </body>
</html>