{% extends "admin/admin_base.html" %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
<!--

function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}

jQuery(document).ready(function(){
		 
	 $("#slug").change(function(){
		var slug = $("#slug").val(); // get selected value
          if (slug) { // require a URL
              window.location = "/admin/adminemails?slug="+slug; // redirect
          }
          return false;
  });

  $( "#savebutton" ).click(function( event ) {
	  

 		if ($('#email_subject').val() == "") {
				alert('Subject is required!');
				return false;
			}
		else if ($('#email_message').val() == "") {
				alert('Email message is required!');
				return false;
		}
		else{
			
			//prevent Default functionality
			 //alert(description)
			 var serializedData = $("#myEditform").serialize();
			$.ajax({
				type:"POST",
				url: "/admin/tableEdit",
				dataType:"json",
				data:serializedData ,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#edit_form').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Updated!</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#con-close-modal').hide();
					}else{
						$('#edit_form').hide();
						swal("Cancelled", "Record not updated. Problem occured", "error");
					}
					
				},error: function(){
					console.log(response);
					swal("Cancelled", "Record not updated. Problem occured", "error");
				}
			});
			return true;
		}

	});



});

//-->
</script>
<!-- page content --> 
        <div class="right_col" role="main" style="min-height:722px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                    Email Settings
                      <small>
                          
                      </small>
                  </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  &nbsp;
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Emails - {{entity_records.email_slug}} </h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" >
                     
                    <form  class="form-horizontal form-label-left"  id="myEditform" class="contact-form" role="form" method=post>
					<input type="hidden" name="table_name" value="content_emails">
					<input type="hidden" name="id" value="{{entity_records.id}}">
				
					<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Select Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select name="slug" id="slug">
						  {% for x in email_records %}
							{% if entity_records.id == x.id %}
							<option value="{{x.email_slug}}" selected>{{x.email_name}}</option>
							{%else%}
							<option value="{{x.email_slug}}">{{x.email_name}}</option>
							{%endif%}
							{% endfor %}
                          </select>
                        </div>
                      </div>
						<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Subject <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="email_subject" name="email_subject" required="required" class="form-control col-md-7 col-xs-12" value="{{entity_records.email_subject}}">
                        </div>
                      </div>
                       
                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Message</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea name="email_message" id="email_message" required="required" class="form-control col-md-7 col-xs-12" style="min-height:200px;">{{entity_records.email_message}}</textarea>
                        </div>
                      </div>
                       
                       
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="button" class="btn btn-primary">Cancel</button>
                          <button type="button" id="savebutton" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
              </div>
			   

			  
            </div></div>
          </div>
        </div>
		<div id="response_message"></div>
        <!-- /page content -->
		<!--MODAL-BOX-->
			<div id="edit_form"></div>
			 <div id="response_message"></div>
		{% endblock %}
			{% block datatablesjs %}
		 <script src="/static/sweet-alert/sweet-alert.min.js"></script>
        <script src="/static/sweet-alert/sweet-alert.init.js"></script>
 
				{% endblock %}