{% extends "admin/admin_base.html" %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
<!--
function DoActionEdit( id, value )
{
		  $.ajax({
				type:"POST",
				url: "/admin/editcouponModalView",
				//dataType:"text",
				data:"table_name=coupons&id="+id+"&statusvalue="+value ,
				success: function(response){
					// alert("here");

					console.log(response);
					
					$('#edit_form').html('');
					if(response.message == "Already Created"){
						swal("Cancelled", "Coupon Already Exists", "error");
					}else{
					//$('#edit-close-modal').remove();
					$('#edit_form').html(response);
//								alert($('#edit_form').val())
					//$('#edit-close-modal').modal('show');
					$('#edit-close-modal').modal('toggle');
					}
				},error: function(){
					console.log(response);
					//$('#edit_form').html(response);
					swal("Cancelled", "Record not updated. Problem occured", "error");
				}
			});

	
}
function changeafsl( id, value )
{
		  $.ajax({
				type:"POST",
				url: "/admin/tableEdit",
				//dataType:"text",
				data:"table_name=userprofile&id="+id+"&statusvalue="+value ,
				success: function(response){
					// alert("here");

					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Created!</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#con-close-modal').hide();
					}else{
						$('#con-close-modal').hide();
						swal("Cancelled", "Record not update. Problem occured", "error");
					}
					 
				},error: function(){
					console.log(response);
					//$('#edit_form').html(response);
					swal("Cancelled", "Record not updated. Problem occured", "error");
				}
			});

	
}
</script>
<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                      {{title}}
                      <small>
                          
                      </small>
                  </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    {#<input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>#}
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Total {{user_records.count()}} {{title}}</h2>
                     
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                     
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>Name</th>
                          
                          <th>License #</th>
                         
                          <th>Clients</th>
                          <th>Joined Date</th>
                          <th>Address</th>
						   <th>Company</th>
                          <th>Phone</th>
						  <th>License Status</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
					  {% for item in user_records %}
                        <tr>
                          <td>{{item.first_name}} {{item.last_name}} 
						  <br>{{item.email}}</td>
                          
                          <td>{{item.userid.afsl}}</td>
                          <td>0</td>
                          <td>{{item.date_joined.strftime('%Y-%m-%d')}}</td>
                          <td>{{item.userid.city}}, {{item.userid.zip_code}}</td>
                          <td>{{item.userid.company}}</td>
                          <td>{{item.userid.phone_number}}</td>
						  <td>{#{{item.coupon_code.coupon_code}}#}{{item.userid.afsl_activate}}</td>
                <td> 
						 <a href = "#"  class="btn btn-primary small" id=editform link-number="{{item.id}}">
    Edit
 
  </a>{#  &nbsp;&nbsp;          <a href = "#"  class="btn btn-warning small" id="afsl_status" value="{{item.userid.afsl_activate}}" onclick='changeafsl({{item.userid.id}},"{{item.userid.afsl_activate}}")'>
    Afsl
 
  </a>           
  <a href = "#"  class="btn btn-success" id=editform link-number="{{item.id}}" OnClick="DoActionEdit({{item.id}}, '{{item.email}}');">
    Coupons
 
  </a><a href = "/coupons?uid={{item.id}}"  class="btn btn-success" id=editform link-number="{{item.id}}" >
    Coupons
 
  </a>#}
  

						  </td>
                        </tr>
						 {%endfor%}
                       
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
		<!--MODAL-BOX-->
			<div id="edit_form"></div>
			 <div id="response_message"></div>
		{% endblock %}
		{% block datatablesjs %}
<!-- jQuery -->
    <script src="/static/admin/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/static/admin/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/static/admin/vendors/nprogress/nprogress.js"></script>
    <!-- Datatables -->
    <script src="/static/admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/admin/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="/static/admin/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/admin/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/admin/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
     

    <!-- Datatables -->
    <script>
      $(document).ready(function() {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable({
				"pageLength": 50	
				}
		
		);
        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        var table = $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        TableManageButtons.init();
      });
    </script>
	 {% endblock %}