 <script type="text/javascript">
<!--
	
jQuery(document).ready(function(){

	$( "#editbutton" ).click(function( event ) {
 		if ($('#coupon_from').val() == "") {
				alert('From date is required!');
				return false;
			}
		else if ($('#coupon_to').val() == "") {
				alert('To date is required!');
				return false;
		}
		else{
			
			//prevent Default functionality
			 //alert(description)
			 var serializedData = $("#myEditform").serialize();
			$.ajax({
				type:"POST",
				url: "/admin/tableCreate",
				dataType:"json",
				data:serializedData ,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#edit-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_editmessage').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Updated!</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#con-close-modal').hide();
					}else{
						$('#edit-close-modal').hide();
						$('#response_editmessage').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style=""><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div>  <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div>  <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Error in Creating</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#edit-close-modal').hide();
					}
					
				},error: function(){
					console.log(response);
					$('#edit-close-modal').hide();
					$('#response_editmessage').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style=""><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div>  <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div>  <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Error in Creating</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
					$('#edit-close-modal').hide();
				}
			});
			return true;
		}

	});

});

//-->
</script>
<div id="response_editmessage"></div>
<div id="edit-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<form method=post name="myform" id="myEditform" action="">
	<input type="hidden" name="table_name" id="table_name" value="coupons">
	<input type="hidden" name="advisor_id" id="advisor_id" value="{{item_details.advisor_id}}">
 	<div class="modal-dialog"> 
		<div class="modal-content"> 
			<div class="modal-header"> 
				 
				<h4 class="modal-title">{{form_title}} </h4> 
			</div> 
			<div class="modal-body" id="formbody"> 
				<div class="row"> 
					<div class="col-md-10"> 
						<div class="form-group"> 
							<label for="field-1" class="control-label">Code <span class="required">*</span></label> 
							<input type="text" class="form-control" id="coupon_code" placeholder="" name="coupon_code" value="{{code}}" readonly> 
						</div> 
					</div> 
					 
				</div> 
				<div class="row"> 
					<div class="col-md-10"> 
						<div class="form-group"> 
							<label for="field-1" class="control-label">From Date <span class="required">*</span></label> 
							<input type="date" id="coupon_from" size=4 name="coupon_from" required="required" class="form-control col-md-7 col-xs-12" value="{{item_details.monthly}}">
						</div> 
					</div> 
					 
				</div> 
				
				<div class="row"> 
					<div class="col-md-10"> 
						<div class="form-group"> 
							<label for="field-1" class="control-label">To Date <span class="required">*</span></label> 
							<input type="date" id="coupon_to" size=4 name="coupon_to" required="required" class="form-control col-md-7 col-xs-12" value="{{item_details.quarterly}}">
						</div> 
					</div> 
					 
				</div> <div class="row"> 
					<div class="col-md-10"> 
						<div class="form-group"> 
							<label for="field-1" class="control-label">Percentage <span class="required">*</span></label> 
							<select name="coupon_percentage" class="form-control col-md-7 col-xs-12">
								<option value="1" selected> 1
								<option value="2"> 2
								<option value="3"> 3
								<option value="4"> 4
								<option value="5"> 5
							</select>
						</div> 
					</div> 
					 
				</div> 

				<div class="row"> 
					<div class="col-md-10"> 
						<div class="form-group"> 
							<label for="field-1" class="control-label">Status <span class="required">*</span></label><br> 
							<select name="status" class="form-control">
								<option value="True" selected> Active
								<option value="False" > Disable
							</select>
							
						</div> 
					</div> 
					 
				</div> 
				
				
				 
			</div> 
			<div class="modal-footer" id="modal-footer"> 
				<a href=""  class="btn btn-white" data-dismiss="modal">Close</a> 
				<button type="button" class="btn btn-info" id="editbutton">Save changes</button> 
			</div> 
		</div> 
	</div>
	</form>
</div>