{% extends "admin/admin_base.html" %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                     Get Started Page Settings
                      <small>
                          
                      </small>
                  </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  &nbsp;
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Site Get Started Page </h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                     
                    <form  class="form-horizontal form-label-left"  id="myform" class="contact-form" role="form">
					<input type="hidden" name="table_name" value="pages">
					<input type="hidden" name="id" value="{{entity_records.id}}">
					<input type="hidden" name="crud_type" value="updategetstarted">
					<textarea name="page_text" id="page_text" style="display:none"></textarea>
						<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Page Title <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="page_name" name="page_name" required="required" class="form-control col-md-7 col-xs-12" value="{{entity_records.page_name}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Page Keywords <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="page_keywords" name="page_keywords" required="required" class="form-control col-md-7 col-xs-12" value="{{entity_records.page_keywords}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Short Description</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="page_description_brief" class="form-control col-md-7 col-xs-12" type="text" name="page_description_brief" value="{{entity_records.page_description_brief}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <div id="summernote">{{entity_records.page_text|safe}}</div>
                      </div>
                       
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="button" class="btn btn-primary">Cancel</button>
                          <button type="button" id="savebutton" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
			   

			  
            </div>
          </div>
        </div>
		<div id="response_message"></div>
        <!-- /page content -->
		{% endblock %}
			{% block datatablesjs %}
		 <script src="/static/sweet-alert/sweet-alert.min.js"></script>
        <script src="/static/sweet-alert/sweet-alert.init.js"></script>
		<!-- include summernote css/js-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>
		<script type="text/javascript">
		<!--
			jQuery(document).ready(function() {
        $('#summernote').summernote({
		
		height: 500,
		});
		

    });
		 

jQuery(document).ready(function(){
		 var markupStr = $('#summernote').summernote('code');
	 
	$( "#savebutton" ).click(function( event ) {
		
		 if ($('#page_name').val() == "") {
				alert('Page Title is required!');
				return false;
		}else if ($('#page_description_brief').val() == "") {
				alert('Short Description is required!');
				return false;
		} 
		else{
			 $('#page_text').val($('#summernote').summernote('code')); 
			 //alert($('#page_text').val())
			 //alert($('#summernote').summernote('code'))
			 
			$.ajax({
				type:"POST",
				url: "/admin/tableCRUD",
				dataType:"json",
				data:$('form').serialize() ,
				success: function(response){
					// alert("here");
					console.log(response);
					
					if (response.message=="SUCCESS")
					{
						//window.location.replace("/clientthankyou");
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Updated!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
					}else{
						swal("Cancelled", "Record not update. Problem occured", "error");
						
					}
					
				},error: function(){
					//console.log(response);
					swal("Cancelled", "Record not update. Problem occured", "error");
				}
			});
			return true;
		}

	});

});

//-->
</script>
				{% endblock %}