{% extends "admin/admin_base.html" %}

{% block content %}

<style>
.media .date {
    
    width: 101px !important;
	background: #73879C !important;
     
}
.media .date .day {
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin: 0;
    line-height: 27px;
    font-weight: bold;
}
</style>
        <!-- page content -->
        <div class="right_col" role="main">

          <br />
          <div class="">

            <div class="row top_tiles">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-users"></i>
                  </div>
                  <div class="count">{{users_count}}</div>

                  <h3>Total Users</h3>
                  <p>Include all users</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-bar-chart-o"></i>
                  </div>
                  <div class="count">{{portfolios_count}}&nbsp;</div>

                  <h3>total Agents</h3>
                  <p>both paid and free</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-sort-amount-desc"></i>
                  </div>
                  <div class="count">{{holdings_count}}&nbsp;</div>

                  <h3>Total clients</h3>
                  <p>all holdings</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-check-square-o"></i>
                  </div>
                  <div class="count">0</div>

                  <h3>Total Messages</h3>
                  <p>messages from contactus</p>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-4">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Recent Agents <small></small></h2>
                     
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    {% for items in user_records %}
					{% if items.userid.user_type=='agent' %}
					<article class="media event">
                      <a class="pull-left date" style="">
                        <p class="day"><strong>{{items.userid.user_type}}</strong></p>
                        <p class="month"><small>{{items.date_joined.strftime('%Y-%m-%d')}}</small></p>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">{{items.first_name}} {{items.last_name}}</a>
                        <p>{{items.email}}, {{items.userid.city}}, {{items.userid.postcode}}</p>
                      </div>
                    </article>
					{%endif%}
                     {%endfor%}
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Recent Clients <small></small></h2>
                     
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                     {% for items in client_records %}
					  
					<article class="media event">
                      <a class="pull-left date" style="">
                         
                        <p class="month"><small>{{items.created_on.strftime('%Y-%m-%d')}}</small></p>
						<p class="month"><small>{{items.client_city}}, {{items.client_zipcode}}</small></p>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">{{items.client_first_name}} {{items.client_last_name}}</a>
                        <p>{{items.client_email}}</p>
                      </div>
                    </article>
					 
                     {%endfor%}
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Recent Messages </h2>
                     
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <article class="media event">
                      <a class="pull-left date">
                        <p class="month">April</p>
                        <p class="day">23</p>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">Item One Title</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </article>
                    <article class="media event">
                      <a class="pull-left date">
                        <p class="month">April</p>
                        <p class="day">23</p>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">Item Two Title</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </article>
                    <article class="media event">
                      <a class="pull-left date">
                        <p class="month">April</p>
                        <p class="day">23</p>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">Item Two Title</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </article>
                    <article class="media event">
                      <a class="pull-left date">
                        <p class="month">April</p>
                        <p class="day">23</p>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">Item Two Title</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </article>
                    <article class="media event">
                      <a class="pull-left date">
                        <p class="month">April</p>
                        <p class="day">23</p>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">Item Three Title</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

         {% endblock %}