{% extends "admin/admin_base.html" %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
<!--
jQuery(document).ready(function(){
		 
	 $( "#saveblock1" ).click(function( event ) {
		 $.ajax({
				type:"POST",
				url: "/admin/tableCRUD",
				dataType:"json",
				data:$('#block1').serialize() ,
				success: function(response){
					// alert("here");
					console.log(response);
					
					if (response.message=="SUCCESS")
					{
						//window.location.replace("/clientthankyou");
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Updated!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
					}else{
						swal("Cancelled", "Record not update. Problem occured", "error");
						
					}
					
				},error: function(){
					//console.log(response);
					swal("Cancelled", "Record not update. Problem occured", "error");
				}
			});
	});

$( "#footer_saveblock1" ).click(function( event ) {
		 $.ajax({
				type:"POST",
				url: "/admin/tableCRUD",
				dataType:"json",
				data:$('#footer_block1').serialize() ,
				success: function(response){
					// alert("here");
					console.log(response);
					
					if (response.message=="SUCCESS")
					{
						//window.location.replace("/clientthankyou");
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Updated!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
					}else{
						swal("Cancelled", "Record not update. Problem occured", "error");
						
					}
					
				},error: function(){
					//console.log(response);
					swal("Cancelled", "Record not update. Problem occured", "error");
				}
			});
	});

	$( "#services_iriskonline_savebutton" ).click(function( event ) {
		 $.ajax({
				type:"POST",
				url: "/admin/tableCRUD",
				dataType:"json",
				data:$('#services_iriskonlineblock1').serialize() ,
				success: function(response){
					// alert("here");
					console.log(response);
					
					if (response.message=="SUCCESS")
					{
						//window.location.replace("/clientthankyou");
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Updated!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
					}else{
						swal("Cancelled", "Record not update. Problem occured", "error");
						
					}
					
				},error: function(){
					//console.log(response);
					swal("Cancelled", "Record not update. Problem occured", "error");
				}
			});
	});

$( "#services_iriskaware_savebutton" ).click(function( event ) {
		 $.ajax({
				type:"POST",
				url: "/admin/tableCRUD",
				dataType:"json",
				data:$('#services_iriskawareblock1').serialize() ,
				success: function(response){
					// alert("here");
					console.log(response);
					
					if (response.message=="SUCCESS")
					{
						//window.location.replace("/clientthankyou");
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Updated!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
					}else{
						swal("Cancelled", "Record not update. Problem occured", "error");
						
					}
					
				},error: function(){
					//console.log(response);
					swal("Cancelled", "Record not update. Problem occured", "error");
				}
			});
	});

	$( "#services_iriskwatch_savebutton" ).click(function( event ) {
		 $.ajax({
				type:"POST",
				url: "/admin/tableCRUD",
				dataType:"json",
				data:$('#services_iriskwatchblock1').serialize() ,
				success: function(response){
					// alert("here");
					console.log(response);
					
					if (response.message=="SUCCESS")
					{
						//window.location.replace("/clientthankyou");
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Updated!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
					}else{
						swal("Cancelled", "Record not update. Problem occured", "error");
						
					}
					
				},error: function(){
					//console.log(response);
					swal("Cancelled", "Record not update. Problem occured", "error");
				}
			});
	});


	$( "#savebutton" ).click(function( event ) {
		
		 if ($('#page_name').val() == "") {
				alert('Page Title is required!');
				return false;
		}else if ($('#page_description_brief').val() == "") {
				alert('Short Description is required!');
				return false;
		}else if ($('#page_text').val() == "") {
				alert('Page Description is required!');
				return false;
		}
		else{
			 
			 
			$.ajax({
				type:"POST",
				url: "/admin/tableCRUD",
				dataType:"json",
				data:$('form').serialize() ,
				success: function(response){
					// alert("here");
					console.log(response);
					
					if (response.message=="SUCCESS")
					{
						//window.location.replace("/clientthankyou");
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Updated!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
					}else{
						swal("Cancelled", "Record not update. Problem occured", "error");
						
					}
					
				},error: function(){
					//console.log(response);
					swal("Cancelled", "Record not update. Problem occured", "error");
				}
			});
			return true;
		}

	});

});

//-->
</script>
<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                     Home Page Settings
                      <small>
                          
                      </small>
                  </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  &nbsp;
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Site Home Page <small>general settings</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                     
                    <form  class="form-horizontal form-label-left"  id="myform" class="contact-form" role="form">
					<input type="hidden" name="table_name" value="pages">
					<input type="hidden" name="id" value="{{entity_records.id}}">
					<input type="hidden" name="crud_type" value="updatepage">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Page Title <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="page_name" name="page_name" required="required" class="form-control col-md-7 col-xs-12" value="{{entity_records.page_name}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Page Keywords <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="page_keywords" name="page_keywords" required="required" class="form-control col-md-7 col-xs-12" value="{{entity_records.page_keywords}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Short Description</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="page_description_brief" class="form-control col-md-7 col-xs-12" type="text" name="page_description_brief" value="{{entity_records.page_description_brief}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Long Description <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea class="form-control col-md-7 col-xs-12" name="page_text">{{entity_records.page_text}}</textarea>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="button" class="btn btn-primary">Cancel</button>
                          <button type="button" id="savebutton" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
			  </div>


			  <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Home Page<small>blocks and slides</small></h2>
                     
                    <div class="clearfix"></div>
                  </div>
					 <div class="x_content">

                    <div class="col-xs-3">
                      <!-- required for floating -->
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs tabs-left">
                        <li class="active"><a href="#breadcrumb" data-toggle="tab" aria-expanded="true">Header quote</a>
                        </li>
                        <li class=""><a href="#banners" data-toggle="tab" aria-expanded="false">Banners</a>
                        </li>
                        <li class=""><a href="#services_iriskonline" data-toggle="tab" aria-expanded="false">Services Iriskonline</a>
                        </li>
						<li class=""><a href="#services_iriskaware" data-toggle="tab" aria-expanded="false">Services Iriskaware</a>
                        </li>
						<li class=""><a href="#services_iriskwatch" data-toggle="tab" aria-expanded="false">Services Iriskwatch</a>
                        </li>
                        <li class=""><a href="#evidencebase" data-toggle="tab" aria-expanded="false">Evidence Base</a>
                        </li>
						<li class=""><a href="#footer" data-toggle="tab" aria-expanded="false">Footer</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-xs-9">
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div class="tab-pane active" id="breadcrumb">
                          <p class="lead">Header</p>
                          <p> <form  class="form-horizontal form-label-left"  id="block1" class="contact-form" role="block1">
								<input type="hidden" name="block_name" value="header">
								<input type="hidden" name="page_id" value="{{entity_records.id}}">
								<input type="hidden" name="crud_type" value="updateblock">
								<input type="hidden" name="id" value="{{header_block.id}}">
								  <div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Header quote <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input type="text" id="block_short_desc" name="block_short_desc" required="required" class="form-control col-md-7 col-xs-12" value="{{header_block.block_short_desc}}">
									</div>
								  </div>
								   
								   
								  <div class="ln_solid"></div>
								  <div class="form-group">
									<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									  <button type="button" class="btn btn-primary">Cancel</button>
									  <button type="button" id="saveblock1" class="btn btn-success">Submit</button>
									</div>
								  </div>

								</form></p>
                        </div>
                        <div class="tab-pane" id="banners">
						
						<p class="lead">Home PAge Banners</p>
                          <p> <form  class="form-horizontal form-label-left"  id="banners_block1" class="contact-form" role="banners_block1" enctype="multipart/form-data">
								<input type="hidden" name="table_name" value="banners">
								<div class="form-group">
									<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Banner title</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input id="banner_block_title" class="form-control col-md-7 col-xs-12" type="text" name="banner_block_title" value="">
									</div>
								  </div>
									<div class="form-group">
									<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Short Description</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input id="banner_block_short_desc" class="form-control col-md-7 col-xs-12" type="text" name="banner_block_short_desc" value="">
									</div>
								  </div>

								  <div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Banner <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input id="file_banner" name="file_banner" type="file"> 
									</div>
								  </div>
								   
								   
								  <div class="ln_solid"></div>
								  <div class="form-group">
									<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									  <button type="button" class="btn btn-primary">Cancel</button>
									  <button type="button" id="banners_saveblock1" class="btn btn-success">Submit</button>
									</div>
								  </div>

								</form></p>
								<table class=table>{%for item in banners %}<tr><td>{{item.block_title}}<br>{{item.block_short_desc}}<br> 
								<a href="/{{item.block_image_1}}" target=blank>{{item.block_image_1}}</a><br><td></tr>{%endfor%}</table>



								</div>
                        <div class="tab-pane" id="services_iriskonline">
						
						
						<p class="lead">Iriskonline</p>
                          <p> <form  class="form-horizontal form-label-left"  id="services_iriskonlineblock1" class="contact-form" role="block1">
								
								<input type="hidden" name="slug" value="services_iriskonline">
								<input type="hidden" name="crud_type" value="services_iriskonline">
								<input type="hidden" name="id" value="{{services_iriskonline.id}}">
								
								  <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> Title <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="block_title" name="block_title" required="required" class="form-control col-md-7 col-xs-12" value="{{services_iriskonline.block_title}}">
                        </div>
                      </div>
                       
                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Short Description</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="block_short_desc" class="form-control col-md-7 col-xs-12" type="text" name="block_short_desc" value="{{services_iriskonline.block_short_desc}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Long Description <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea class="form-control col-md-7 col-xs-12" name="block_desc">{{services_iriskonline.block_desc}}</textarea>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="button" class="btn btn-primary">Cancel</button>
                          <button type="button" id="services_iriskonline_savebutton" class="btn btn-success">Submit</button>
                        </div>
                      </div>

								</form></p>
								
								</div>
						<div class="tab-pane" id="services_iriskaware">
						
						<p class="lead"> iriskaware</p>
                          <p> <form  class="form-horizontal form-label-left"  id="services_iriskawareblock1" class="contact-form" role="block1">
								
								<input type="hidden" name="slug" value="services_iriskaware">
								<input type="hidden" name="crud_type" value="services_iriskaware">
								<input type="hidden" name="id" value="{{services_iriskaware.id}}">
								
								  <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> Title <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="block_title" name="block_title" required="required" class="form-control col-md-7 col-xs-12" value="{{services_iriskaware.block_title}}">
                        </div>
                      </div>
                       
                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Short Description</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="block_short_desc" class="form-control col-md-7 col-xs-12" type="text" name="block_short_desc" value="{{services_iriskaware.block_short_desc}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Long Description <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea class="form-control col-md-7 col-xs-12" name="block_desc">{{services_iriskaware.block_desc}}</textarea>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="button" class="btn btn-primary">Cancel</button>
                          <button type="button" id="services_iriskaware_savebutton" class="btn btn-success">Submit</button>
                        </div>
                      </div>

								</form></p>
								
								</div>
						<div class="tab-pane" id="services_iriskwatch">

									<p class="lead"> iriskawatch</p>
										  <p> <form  class="form-horizontal form-label-left"  id="services_iriskwatchblock1" class="contact-form" role="block1">
												
												<input type="hidden" name="slug" value="services_iriskwatch">
												<input type="hidden" name="crud_type" value="services_iriskwatch">
												<input type="hidden" name="id" value="{{services_iriskwatch.id}}">
												
												  <div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> Title <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
										  <input type="text" id="block_title" name="block_title" required="required" class="form-control col-md-7 col-xs-12" value="{{services_iriskwatch.block_title}}">
										</div>
									  </div>
									   
									  <div class="form-group">
										<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Short Description</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
										  <input id="block_short_desc" class="form-control col-md-7 col-xs-12" type="text" name="block_short_desc" value="{{services_iriskwatch.block_short_desc}}">
										</div>
									  </div>
									  <div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Long Description <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
										  <textarea class="form-control col-md-7 col-xs-12" name="block_desc">{{services_iriskwatch.block_desc}}</textarea>
										</div>
									  </div>
									  <div class="ln_solid"></div>
									  <div class="form-group">
										<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
										  <button type="button" class="btn btn-primary">Cancel</button>
										  <button type="button" id="services_iriskwatch_savebutton" class="btn btn-success">Submit</button>
										</div>
									  </div>

												</form></p>
								
						</div>
                        <div class="tab-pane" id="evidencebase">

								<p class="lead">Evidence Base</p>
								  <p> <form  class="form-horizontal form-label-left"  id="evidence_block1" class="contact-form" role="banners_block1" enctype="multipart/form-data">
										<input type="hidden" name="table_name" value="evidence">
										<div class="form-group">
											<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Evidence title</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
											  <input id="evidence_block_title" class="form-control col-md-7 col-xs-12" type="text" name="evidence_block_title" value="">
											</div>
										  </div>
											<div class="form-group">
											<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Short Description</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
											  <input id="evidence_block_short_desc" class="form-control col-md-7 col-xs-12" type="text" name="evidence_block_short_desc" value="">
											</div>
										  </div>

										  <div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Evidence <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
											  <input id="file_evidence" name="file_evidence" type="file"> 
											</div>
										  </div>
										   
										   
										  <div class="ln_solid"></div>
										  <div class="form-group">
											<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
											  <button type="button" class="btn btn-primary">Cancel</button>
											  <button type="button" id="evidence_saveblock1" class="btn btn-success">Submit</button>
											</div>
										  </div>

										</form></p>
										<table class=table>{%for item in evidence %}<tr><td>{{item.block_title}}<br>{{item.block_short_desc}}<br> 
										<a href="/{{item.block_image_1}}" target=blank>{{item.block_image_1}}</a><br><td></tr>{%endfor%}</table>






						</div>
						<div class="tab-pane" id="footer"><p class="lead">Footer Text</p>
                          <p> <form  class="form-horizontal form-label-left"  id="footer_block1" class="contact-form" role="block1">
								<input type="hidden" name="slug" value="footer">
								<input type="hidden" name="crud_type" value="updateblock">
								<input type="hidden" name="id" value="{{footer.id}}">
								  <div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Footer <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input type="text" id="block_short_desc" name="block_short_desc" required="required" class="form-control col-md-7 col-xs-12" value="{{footer.block_short_desc}}">
									</div>
								  </div>
								   
								   
								  <div class="ln_solid"></div>
								  <div class="form-group">
									<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									  <button type="button" class="btn btn-primary">Cancel</button>
									  <button type="button" id="footer_saveblock1" class="btn btn-success">Submit</button>
									</div>
								  </div>

								</form></p></div>
                      </div>
                    </div>

                    <div class="clearfix"></div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
		<div id="response_message"></div>
        <!-- /page content -->
		{% endblock %}
			{% block datatablesjs %}
		 <script src="/static/sweet-alert/sweet-alert.min.js"></script>
        <script src="/static/sweet-alert/sweet-alert.init.js"></script>
		<script type="text/javascript">
<!--
 


jQuery(document).ready(function(){

	$( "#banners_saveblock1" ).click(function( event ) {
//alert($('#summernote').summernote('code'));
		console.log("submit event");
            var formData = new FormData();
			
			formData.append('block_short_desc', $('#banner_block_short_desc').val());
			formData.append('block_title', $('#banner_block_title').val());
			formData.append('file_banner', $('#file_banner')[0].files[0]);
			formData.append('table_name', 'banners');
			// formData.append("metric_type", "WEBUPLOAD");
			//prevent Default functionality
			 
			$.ajax({
				type:"POST",
				url: "/admin/tableCreate",
				//dataType:"json",
				data:formData ,
				processData: false,  // tell jQuery not to process the data
                contentType: false ,  // tell jQuery not to set contentType
				cache: false,
				processData: false,
				async: false,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Created!</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#con-close-modal').hide();
					}else{
						$('#con-close-modal').hide();
						swal("Cancelled", "Record not created. Problem occured", "error");
					}
					
				},error: function(){
					console.log(response);
					$('#con-close-modal').hide();
					swal("Cancelled", "Record not created. Problem occured", "error");
				}
			});
			return true;
		 

	});

$( "#evidence_saveblock1" ).click(function( event ) {
//alert($('#summernote').summernote('code'));
		console.log("submit event");
            var formData = new FormData();
			
			formData.append('block_short_desc', $('#evidence_block_short_desc').val());
			formData.append('block_title', $('#evidence_block_title').val());
			formData.append('file_evidence', $('#file_evidence')[0].files[0]);
			formData.append('table_name', 'evidence');
			// formData.append("metric_type", "WEBUPLOAD");
			//prevent Default functionality
			 
			$.ajax({
				type:"POST",
				url: "/admin/tableCreate",
				//dataType:"json",
				data:formData ,
				processData: false,  // tell jQuery not to process the data
                contentType: false ,  // tell jQuery not to set contentType
				cache: false,
				processData: false,
				async: false,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Created!</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#con-close-modal').hide();
					}else{
						$('#con-close-modal').hide();
						swal("Cancelled", "Record not created. Problem occured", "error");
					}
					
				},error: function(){
					console.log(response);
					$('#con-close-modal').hide();
					swal("Cancelled", "Record not created. Problem occured", "error");
				}
			});
			return true;
		 

	});

});
 
//-->
</script>
				{% endblock %}