{% extends "admin/admin_base.html" %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
<!--
function DoActionEdit( id, value )
{
		  $.ajax({
				type:"POST",
				url: "/admin/editpricingModalView",
				//dataType:"text",
				data:"table_name=pricing&id="+id+"&statusvalue="+value ,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#edit_form').html('');

					//$('#edit-close-modal').remove();
					$('#edit_form').html(response);
//								alert($('#edit_form').val())
					//$('#edit-close-modal').modal('show');
					$('#edit-close-modal').modal('toggle');
					
				},error: function(){
					console.log(response);
					//$('#edit_form').html(response);
					swal("Cancelled", "Record not updated. Problem occured", "error");
				}
			});

	
}
</script>
<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                      Pricing Table
                      <small>
                          
                      </small>
                  </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Set Pricing for each Resource</h2>
                     
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th> Resource</th>
                          <th>status</th>
						  <th>Monhtly</th>
                          <th>Quarterly</th>
                    
                          <th>Pricing Type</th>
                          <th>Description</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
					  {% for item in entity_records %}
                        <tr>
                          <td>{{item.name}}</td>
                          <td>{{item.status}}</td>
						  <td>{{item.monthly}}</td>
                          <td>{{item.quarterly}}</td>
                          <td>{{item.pricing_type}}</td>
                          <td>{{item.description}}</td>
						  <td><a class="btn btn-success" href = "#" id=editform link-number="{{item.id}}" OnClick="DoActionEdit({{item.id}}, '{{item.status_type}}');">Edit</a></li></td>
                        </tr>
						 {%endfor%}
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
		<!--MODAL-BOX-->
			<div id="edit_form"></div>
			 <div id="response_message"></div>
		{% endblock %}
		 