{% extends "admin/admin_base.html" %}

{% block content %}
 
<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                      {{title}}
                      <small>
                          
                      </small>
                  </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    {#<input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>#}
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Total   {{title}}</h2>
                     
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                     
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>Code</th>
                          
                          <th>name</th>
                         
                          <th>category</th>
                          <th>Asset class</th>
                          <th>Is Traded?</th>
						   
                        </tr>
                      </thead>
                      <tbody>
					  {% for item in item_records %}
                        <tr>
                          <td>{{item.symbol}} </td>
                          <td>{{item.name}}</td>
                          <td>{{item.category}}</td>
                          <td>{{item.asset_class}}</td>
                          <td>{{item.is_traded}}</td>
                          
                        </tr>
						 {%endfor%}
                       
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
		<!--MODAL-BOX-->
			<div id="edit_form"></div>
			 <div id="response_message"></div>
		{% endblock %}
		 {% block datatablesjs %}
<!-- jQuery -->
    <script src="/static/admin/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/static/admin/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/static/admin/vendors/nprogress/nprogress.js"></script>
    <!-- Datatables -->
    <script src="/static/admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/admin/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="/static/admin/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/admin/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/admin/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
     

    <!-- Datatables -->
    <script>
      $(document).ready(function() {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable({
				"pageLength": 50	
				}
		
		);
        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable({
				"pageLength": 200	
				});

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        var table = $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        TableManageButtons.init();
      });
    </script>
	 {% endblock %}