{% extends "admin/admin_base.html" %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                     Metrics
                      <small>
                          
                      </small>
                  </h3>
              </div>

              <div class="title_right">
                <div class="col-md-3 form-group pull-right top_search">
                   <button type="button" class="btn btn-success btn-rounded m-b-5" data-toggle="modal" data-target="#con-close-modal">Upload Metrics &nbsp; <i class="glyphicon glyphicon-plus"></i></button>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Recent Metrics </h2>
                     
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                     
                      <tbody>
					  {% for item in item_records %}
                        <tr>
                          <td><strong>{{item.type}}</strong> 
						  <br>{{item.data}}</td>
                                          
                        </tr>
						 {%endfor%}
                       
                      </tbody>
                    </table>
                   <p>{{last_updated.last_updated}}</p>
                </div>
              </div>
			   

			  
            </div></div>
          </div>
        </div>
		<!--MODAL-BOX-->
			   <div id="response_message"></div>
			   <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
						<form class="form-horizontal form-label-left"  id="myform" class="contact-form" role="form" enctype="multipart/form-data">
					 <input type="hidden" name="table_name" value="pages">
					 
					<input type="hidden" name="crud_type" value="updateabout">
						<div class="modal-dialog"> 
							<div class="modal-content"> 
								<div class="modal-header"> 
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">*</button> 
									<h4 class="modal-title">Upload</h4> 
								</div> 
								<div class="modal-body" id="formbody"> 
									<div class="row"> 
										<div class="col-md-10"> 
											<div class="form-group"> 
												<label for="field-1" class="control-label">matrix file:<span class="required">*</span></label> 
												<select name="metric_type" id=metric_type class="form-control col-md-7 col-xs-12">
								<option value="" selected> Select Metric type
								<option value="2"> Cokurtosis matrix file
								<option value="3"> Covariance matrix file
								<option value="4"> Coskewness matrix file
								
							</select>
											</div> 
										</div> 
										 
									</div> 
									<div class="row"> 
										<div class="col-md-10"> 
											<div class="form-group"> 
												<label for="field-3" class="control-label">Matrix file:<span class="required">*</span></label> 
												<input id="file" name="file" type="file"> 
											</div> 
										</div> 
									</div> 
									
									 
								</div> 
								<div class="modal-footer" id="modal-footer"> 
									<button type="button" class="btn btn-white" data-dismiss="modal">Close</button> 
									<button type="button" class="btn btn-info" id="savebutton">Save changes</button> 
								</div> 
							</div> 
						</div>
						</form>
					</div>
			<!--MODAL-BOX-->
		<div id="edit_form"></div>
        <!-- /page content -->
		{% endblock %}
			 {% block datatablesjs %}
 
 <script type="text/javascript">
<!--
 


jQuery(document).ready(function(){

	$( "#savebutton" ).click(function( event ) {
//alert($('#summernote').summernote('code'));
		console.log("submit event");
            var formData = new FormData();
			formData.append('file', $('#file')[0].files[0]);
			formData.append('metric_type', $('#metric_type').val());
			// formData.append("metric_type", "WEBUPLOAD");
			//prevent Default functionality
			 
			$.ajax({
				type:"POST",
				url: "/admin/upload_metrics",
				//dataType:"json",
				data:formData ,
				processData: false,  // tell jQuery not to process the data
                contentType: false ,  // tell jQuery not to set contentType
				cache: false,
				processData: false,
				async: false,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Created!</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#con-close-modal').hide();
					}else{
						$('#con-close-modal').hide();
						swal("Cancelled", "Record not created. Problem occured", "error");
					}
					
				},error: function(){
					console.log(response);
					$('#con-close-modal').hide();
					swal("Cancelled", "Record not created. Problem occured", "error");
				}
			});
			return true;
		 

	});

});
 
//-->
</script>
	 {% endblock %}