{% extends "admin/admin_base.html" %}

{% block content %}
 

<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                    Security Metrics
                      <small>
                          
                      </small>
                  </h3>
              </div>

              <div class="title_right">
                <div class="col-md-3 form-group pull-right top_search">
                   <button type="button" class="btn btn-success btn-rounded m-b-5" data-toggle="modal" data-target="#con-close-modal">Upload Securities &nbsp; <i class="glyphicon glyphicon-plus"></i></button>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Recent Security  </h2>
                     
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                       <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>date</th>
                          <th>company</th>
                          <th>forecast</th>
                         <th>expdivyield</th>
                          <th>standardkurtosis</th>
                          <th>standardskew</th>
                          <th>standarddeviation</th>
						  <th>totretmoment4</th>
						  <th>totretmoment3</th>
						  <th>totretmoment2</th>
						  <th>resmoment4</th>
						  <th>resmoment3</th>
						  <th>resmoment2</th>
						  

						   
                        </tr>
                      </thead>
                      <tbody>
					  {% for item in item_records %}
                        <tr>
                          <td>{{item.date}} </td>
                          <td>{{item.company_id}}</td>
                          <td>{{item.forecast}}</td>
                          <td>{{item.expdivyield}}</td>
                          <td>{{item.standardkurtosis}}</td>

						  <td>{{item.standardskew}}</td>
                          <td>{{item.standarddeviation}}</td>

						  <td>{{item.totretmoment4}}</td>
                          <td>{{item.totretmoment3}}</td>

						  <td>{{item.totretmoment2}}</td>
                          <td>{{item.resmoment4}}</td>
						  <td>{{item.resmoment3}}</td>
						  <td>{{item.resmoment2}}</td>
                          
                        </tr>
						 {%endfor%}
                       
                      </tbody>
                    </table>
                    
                </div>
              </div>
			   

			  
            </div></div>
          </div>
        </div>
		<!--MODAL-BOX-->
			   <div id="response_message"></div>
			   <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
						<form class="form-horizontal form-label-left"  id="myform" class="contact-form" role="form" enctype="multipart/form-data">
					 <input type="hidden" name="table_name" value="uploadsecurity">
					 
					<input type="hidden" name="crud_type" value="updateabout">
						<div class="modal-dialog"> 
							<div class="modal-content"> 
								<div class="modal-header"> 
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">*</button> 
									<h4 class="modal-title">Upload</h4> 
								</div> 
								<div class="modal-body" id="formbody"> 
									  
									<div class="row"> 
										<div class="col-md-10"> 
											<div class="form-group"> 
												<label for="field-3" class="control-label">Secuirty file:<span class="required">*</span></label> 
												<input id="file" name="file" type="file"> 
											</div> 
										</div> 
										<div id="loaders" style="display:none;"><img src="/static/img/wait.gif"></div>
									</div> 
									
									 
								</div> 
								<div class="modal-footer" id="modal-footer"> 
									<button type="button" class="btn btn-white" data-dismiss="modal">Close</button> 
									<button type="button" class="btn btn-info" id="savebutton">Save changes</button> 
								</div> 
							</div> 
							
						</div>
						</form>
					</div>
			<!--MODAL-BOX-->
		<div id="edit_form"></div>
		
        <!-- /page content -->
		{% endblock %}
			 {% block datatablesjs %}
			 <script src="/static/admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/admin/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="/static/admin/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/admin/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/admin/vendors/pdfmake/build/vfs_fonts.js"></script>
 <!-- Datatables -->
    <script>
      $(document).ready(function() {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable({
				"pageLength": 50	
				}
		
		);
        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable({
				"pageLength": 200	
				});

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        var table = $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        TableManageButtons.init();
      });
    </script>
 
 <script type="text/javascript">
<!--
 
$('#loaders').hide();

jQuery(document).ready(function(){

	$( "#savebutton" ).click(function( event ) {
		$('#loaders').show();
//alert($('#summernote').summernote('code'));
		console.log("submit event");
            var formData = new FormData();
			formData.append('file', $('#file')[0].files[0]);
			//formData.append('metric_type', $('#metric_type').val());
			// formData.append("metric_type", "WEBUPLOAD");
			//prevent Default functionality
			 
			
			//$('#loaders').css('display','block');
			//alert("coming here");
			$.ajax({
				type:"POST",
				url: "/admin/upload_securities",
				//dataType:"json",
				data:formData ,
				processData: false,  // tell jQuery not to process the data
                contentType: false ,  // tell jQuery not to set contentType
				cache: false,
				processData: false,
				async: false,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#loader').hide();
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Created!</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#con-close-modal').hide();
					}else{
						$('#con-close-modal').hide();
						$('#loader').hide();
						swal("Cancelled", "Record not created. Problem occured", "error");
					}
					
				},error: function(){
					console.log(response);
					$('#con-close-modal').hide();
					$('#loader').hide();
					swal("Cancelled", "Record not created. Problem occured", "error");
				}
			});
			return true;
		 

	});

});
 
//-->
</script>
	 {% endblock %}
