   <style>
        .bgh {

            background-color: #3e4753;

        }

        .line1 {
            background-color:#ab231e;
            width: 82px;
            height: 1px;
            margin-bottom: 8px;
			position: absolute;
			margin-top: -27px;
    margin-left: 28px;

        }
		     .line3 {
            background-color:#ab231e;
            width: 82px;
            height: 1px;
            margin-bottom: 8px;
			position: absolute;
			
    

        }
		    .line6 {
            background-color:#ab231e;
            width: 1px;
              height: 61px;
    margin-bottom: 8px;
    position: absolute;
      margin-left: 37px;
    margin-top: -72px;
			
    

        }
		.line7 {
            background-color:#ab231e;
            width: 1px;
              height: 61px;
    margin-bottom: 8px;
    position: absolute;
      margin-left: 199px;
    margin-top: -72px;}
				.line8 {
            background-color:#ab231e;
            width: 1px;
             
    margin-bottom: 8px;
    position: absolute;
          height: 27px;
    margin-top: -39px;
    margin-left: 138px;}
    

        
     .line4 {
            background-color:#ab231e;
            width: 82px;
            height: 1px;
            margin-bottom: 8px;
			position: absolute;
			margin-top: -13px;
    

        }
		.pst{
		font-family: arial,helvetica,sans-serif;
    font-size: 10px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: justify;
    color: #d9251d;
		}
			.pst6{
		font-family: arial,helvetica,sans-serif;
    font-size: 10px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: justify;
    color: black;
		}
		.pst1{
		    font-family: arial,helvetica,sans-serif;
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: justify;
    color: #000000;
		}
		.sp{
		    position: absolute;
    margin-top: 16px;
    margin-left: -106px;
		
		}
		.gg{
		display: inline-block;
    list-style: none;
    margin-left: -40px;
		}
			.gg1{
		display: inline-block;
    list-style: none;
	    margin-left: -21px;
   
		}
         .ggh {
            margin-left: -15px;
        }

        .topp {
            font-family: arial, helvetica, sans-serif;
            line-height: 16px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: justify;
            color: #ffffff;
            font-size: 13px;
            margin-top: -130px;
            margin-left: 28px;
            margin-bottom: 40px;
        }

        

        .ts {
                font-family: arial,helvetica,sans-serif;
    font-size: 8px;
    line-height: 10px;
    text-align: justify;
    color: #000000;
        }
		.mm{
		padding-right:29px;
		}
		.mm1{
	      margin-left: 160px;
    margin-top: -60px;
    margin-bottom: 43px;
		}

        @media (max-width: 760px) {
           .mm1{
		    margin-left: 144px;
		   }
        }

        @media (max-width: 500px) {
            .topp {
                font-family: arial, helvetica, sans-serif;
                line-height: 10px;
                font-weight: bold;
                text-transform: uppercase;
                text-align: justify;
                color: #ffffff;
                font-size: 9px;
                margin-top: -70px;
    margin-left: 16px;
            }
			.mm1 {
    margin-left: 71px;
}
.mm {
    padding-right: 83px !important;
}

            .line1 {
    background-color: #ab231e;
    width: 33px;
    height: 1px;
    margin-bottom: 8px;
    position: absolute;
    margin-top: -27px;
    margin-left: 19px;
}
        }
    </style>