	.colorchage01 {
    background-color: #d9251d;
    color: white;
    font-size: 10px;
    line-height: 14px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
   
	
        padding-right:20px;
		height: 15px;
  
}
.colorchage02 {
    background-color: #d9251d;
    color: white;
    font-size: 10px;
    line-height: 14px;
    font-weight: bold;
    padding-left: 3px;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
        padding-right: 50px;
  
}
.cen8 {
    text-align: center;
    font-size: 12px;
    background-color: #d9251d;
    color: white;
    padding-top: 0; 
    padding-bottom: 0; 
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 100;
}
.num0 {
    background-color: #eaebec;
    font-size: 9px;
    text-align: center;
          padding-left: 18px;
    padding-right: 18px;
    font-weight: 100;
}
.num01 {
    background-color: #eaebec;
    font-size: 10px;
    text-align: center;
   
    font-weight: 100;
}
.num6 {
    background-color: #e2e3e4;
    font-size: 9px;
    text-align: center;
   padding-left: 25px;
    padding-right: 25px;
    font-weight: 100;
}
.num7 {
    background-color: #eaebec;
    font-size: 9px;
   text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 100;
}
.num3 {
    background-color: #e2e3e4;
    font-size: 9px;
    text-align: center;
    
    font-weight: 100;
}
.num30 {
    background-color: #e2e3e4;
    font-size: 10px;
    text-align: center;
     padding-left: 9px; 
    padding-right: 8px;
    font-weight: 100;
}
.capname1 {
    font-family: arial, helvetica, sans-serif;
    font-size: 10px;
    line-height: 1px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #231f20;
    margin-left: 3px;
    width: 98.9%;
}
        .bgh {

            background-color: #3e4753;

        }

        .line1 {
            background-color:#ab231e;
            width: 82px;
            height: 1px;
            margin-bottom: 8px;
			position: absolute;
			margin-top: -27px;
    margin-left: 28px;

        }
		     .line3 {
            background-color:#ab231e;
            width: 82px;
            height: 1px;
            margin-bottom: 8px;
			position: absolute;
			
    

        }
		    .line6 {
            background-color:#ab231e;
            width: 1px;
              height: 61px;
    margin-bottom: 8px;
    position: absolute;
      margin-left: 37px;
    margin-top: -72px;
			
    

        }
		.line7 {
            background-color:#ab231e;
            width: 1px;
              height: 61px;
    margin-bottom: 8px;
    position: absolute;
      margin-left: 199px;
    margin-top: -72px;}
				.line8 {
            background-color:#ab231e;
            width: 1px;
             
    margin-bottom: 8px;
    position: absolute;
          height: 27px;
    margin-top: -39px;
    margin-left: 138px;}
    
.line9 {
            background-color:#ab231e;
            width: 91%;
            height: 1px;
            margin-bottom: 8px;
			position: absolute;
			
    

        }
        
     .line4 {
            background-color:#ab231e;
            width: 82px;
            height: 1px;
            margin-bottom: 8px;
			position: absolute;
			margin-top: -7px;
    

        }
		.pst{
		font-family: arial,helvetica,sans-serif;
   font-size: 12px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: justify;
    color: #d9251d;
		}
			.pst6{
		font-family: arial,helvetica,sans-serif;
    font-size: 10px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: justify;
    color: black;
		}
		.pst1{
		    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: justify;
    color: #000000;
		}
	
		}
         .ggh {
            margin-left: -15px;
        }

        .topp {
            font-family: arial, helvetica, sans-serif;
            line-height: 16px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: justify;
            color: #ffffff;
            font-size: 13px;
            margin-top: -130px;
            margin-left: 28px;
            margin-bottom: 40px;
        }
.cen {
    text-align: center;
    font-size: 10px;
    background-color: #d9251d !important;
    color: white;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 100;
}
        .cen1 {
    text-align: center;
    font-size: 11px;
    background-color: #d9251d !important;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 100;
}
.ts01{

    font-family: arial,helvetica,sans-serif;
    font-size: 9px;
    line-height: 11px;
    font-weight: bold;
    text-align: justify;
    color: #000000;
}
.ptop9{
font-family: arial,helvetica,sans-serif;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #d9251d;
}

        .ts {
                font-family: arial,helvetica,sans-serif;
   font-size: 11px;
    line-height: 11px;
    text-align: justify;
    color: #000000;
        }
		.mm{
		padding-right:29px;
		}
		.mm1{
	      margin-left: 218px;
    margin-top: -60px;
    margin-bottom: 48px;
		}
    .ptop{
	    font-family: arial,helvetica,sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #d9251d;
	}
        @media (max-width: 760px) {
           .mm1{
		    margin-left: 144px;
		   }
        }

        @media (max-width: 500px) {
            .topp {
                font-family: arial, helvetica, sans-serif;
                line-height: 10px;
                font-weight: bold;
                text-transform: uppercase;
                text-align: justify;
                color: #ffffff;
                font-size: 9px;
                margin-top: -70px;
    margin-left: 16px;
            }
			.mm1 {
    margin-left: 85px;
}
.mm {
    padding-right: 83px !important;
}

            .line1 {
    background-color: #ab231e;
    width: 33px;
    height: 1px;
    margin-bottom: 8px;
    position: absolute;
    margin-top: -27px;
    margin-left: 19px;
}
.cen1 {
    text-align: center;
    font-size: 10px;
    background-color: #2ba8e0;
    color: white;
    padding-left: 2px !important;

    padding-right: 2px !important;
    font-weight: 100;
}
.num3 {
    background-color: #e2e3e4;
    font-size: 8px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-weight: 100;
}
.num01 {
    background-color: #eaebec;
    font-size: 8px;
    text-align: center;
    font-weight: 100;
}
.num30 {
    background-color: #e2e3e4;
    font-size: 8px;
    text-align: center;
    padding-left: 9px;
    padding-right: 8px;
    font-weight: 100;
}


.colorchage01 {
    background-color: #d9251d;
    color: white;
    font-size: 9px;
    line-height: 14px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 3px;
    height: 15px;
}
.num6 {
    background-color: #e2e3e4;
    font-size: 8px;
    text-align: center;
    padding-left: 0; 
    padding-right: 0;
    font-weight: 100;
}

.num0 {
    background-color: #eaebec;
    font-size: 8px;
    text-align: center;
    padding-left: 0;
     padding-right: 0; 
    font-weight: 100;
}.num7 {
    background-color: #eaebec;
    font-size: 8px;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 100;
}
.cen8 {
    text-align: center;
    font-size: 8px;
    background-color: #d9251d;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: 100;
}
        }