.colorchage {
    background-color: #2ba8e0;
    color: white;
    font-size: 10px;
    padding-left: 4px;
    padding-right: 27px;
    padding-top: 5px;
    padding-bottom: 4px;
    text-transform: uppercase;
    font-weight: 100;
}

.cen {
    text-align: center;
    font-size: 10px;
    background-color: #2ba8e0;
    color: white;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 100;
}

.cen1 {
    text-align: center;
    font-size: 10px;
    background-color: #2ba8e0;
    color: white;

    padding-left: 10px;
    padding-right: 10px;
    font-weight: 100;
}

.num {

    background-color: #eaebec;
    font-size: 10px;
    text-align: right;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 100;
}

.num1 {

    background-color: #e2e3e4;
    font-size: 10px;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 100;
}

.capname {
    font-family: arial, helvetica, sans-serif;
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #3e4753;
    margin-left: 3px;
    width: 98.9%;
}

.bg {
    margin-top: 15px;

}

.pstyle {
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: justify;
    color: #2ba8e0;
    margin-top: -11px;
    margin-left: 24px;
}

.pstyle1 {
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: justify;
    color: #2ba8e0;
    margin-top: 15px;
    margin-left: 24px;
}

.divik {
    width: 21cm;
    height: 26cm;
    margin: 0 auto;
}
.ggh {
    position: absolute;
    z-index: -15;
}

.foot {
    margin-top: -10px;
}

.footright {
    display: inline-block;
    font-family: arial, helvetica, sans-serif;
    font-size: 10px;
    line-height: 12px;
    font-style: italic;
    text-align: right;
    color: #ffffff;
    float: right;
    margin-top: 18%;
    margin-right: 4%;

}

.pag {
    display: inline-block;
    position: absolute;
    margin-top: 9%;
    margin-left: 1.5%;
    font-family: arial, helvetica, sans-serif;
    font-size: 10px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: justify;
    color: #000000;
}

@media (max-width: 500px) {
    table {
        display: table-caption !important;
    }

    .num {

        background-color: #eaebec;
        font-size: 10px;
        text-align: right;
        padding-left: 0px;
        padding-right: 0px;
        font-weight: 100;
    }

    .num1 {

        background-color: #e2e3e4;
        font-size: 10px;
        text-align: right;
        padding-left: 0px;
        padding-right: 0px;
        font-weight: 100;
    }

    .colorchage {
        background-color: #2ba8e0;
        color: white;
        font-size: 10px;
        padding-left: 4px;
        padding-right: 0;
        padding-top: 5px;
        padding-bottom: 4px;
        text-transform: uppercase;
        font-weight: 100;
    }

    .pstyle {
        font-size: 10px;
    }

    .pstyle1 {
        font-size: 10px;
    }

    .divik {
        width: 337px;
    }

    .bg10 {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 138px 63px 0;
        border-color: transparent #2ba8e0 transparent transparent;
        float: right;
        margin-top: 10px;
    }

    .footright {
        font-size: 6.5px;
        line-height: 9px;
        font-style: italic;
        text-align: right;
        color: #ffffff;
        float: right;
        margin-top: 19%;
        margin-right: 2%;
    }

    .pag {
        margin-top: 18%;
        margin-left: 6.5%;
        font-size: 8px;
    }
}