body {
	margin:  0;
}
.page-content {
	width: 100%;
	margin:  0 auto;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
.wizard-v1-content   {
	background: #fff;
	width: 851px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 162px 0;
	font-family: 'Raleway', sans-serif;
	position: relative;
	display: flex;
	display: -webkit-flex;
}
.wizard-v1-content .wizard-form {
	width: 100%;
	padding: 15px 25px;
}
.wizard-form .wizard-header h3 {
	color: #333;
	font-size: 36px;
	font-weight: 800;
	margin: 0;
}
.wizard-form .wizard-header p {
	color: #666;
	font-size: 16px;
	font-weight: 600;
	margin: 6px 0 26px;
}

.form-register .steps ul {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    list-style: none;
    padding-left: 0;
}
.form-register .steps li,
.form-register .steps li.current {
	outline: none;
	-o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    position: relative;
    width: 153px;
}
.form-register .steps li:last-child {
	padding-right: 0;
}
.form-register .steps li .current-info {
	display: none;
}
.form-register .steps li::before {
	position: absolute;
	content: "";
	background: #e5e5e5;
	/* width: 168px; */
	width: 140px !important;
	height: 6px;
	top: 20%;
    left: 46%;
}
.form-register .steps li:last-child::before {
	content: none;
}
/* .form-register .steps li.current::after {
	position: absolute;
	content: "";
	width: 45px;
	height: 3px;
	background: #ccc;
	top: 100%;
	left: 25%;
} */
.form-register .steps li a {
	text-decoration: none;
	outline: none;
	-o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
.form-register .steps li a .title {
	text-align: center;
}
.form-register .steps li a .title span {
	display: block;
	    font-size: 15px;
    font-weight: 500;
    color: #0e2d53;
}
.form-register .steps li a .title .step-icon { 
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #ccc;
    margin: 0 auto;
    position: relative;
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    color: #fff;
    font-size: 16px;
}
.form-register .steps li a .step-icon i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.form-register .steps li.current a .step-icon,
.form-register .steps li.current a:active .step-icon,
.form-register .steps .done::before,
.form-register .steps li.done a .step-icon,
.form-register .steps li.done a:active .step-icon {
    background: #028081;
}
.form-register .steps li.current a .step-icon,
.form-register .steps li.current a:active .step-icon {
	box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
}
.form-register .steps li a .step-number {
	color: #666;
	font-weight: 400;
    padding: 6px 0 8px;
}
.form-register .steps li a .step-text {
	color: #333;
	font-weight: 600;
	padding-bottom: 8px;
}
.form-register .content {
	/* background: #028081; */
	border-radius: 5px;
	-o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2px 115px 23px 75px;
}
.form-register .content h2 {
	display: none;
}
.inner .form-row {
    display: flex;
    margin: 0 -13px;
    position: relative;
}
.inner .form-row.form-row-2 {
	width: 80.6%;
}
.inner .form-row .form-holder {
    width: 50%;
    padding: 0 13px;
    margin-bottom: 10px;
    position: relative;
}
.inner .form-row .form-holder.form-holder-2 {
	width: 100%;
	position: relative;
}
.inner .form-row .form-holder.form-holder-3 {
    width: 100%;
}
.inner .form-row .form-holder label {
	font-size: 16px;
	font-weight: 500;
	color: #0e2d53;
	padding-bottom: 11px;
	display: block;
}
.inner .form-row .form-holder input,
.inner .form-row .form-holder select {
    width: 100%;
    /* padding: 13px 25px; */
    /* border: none;
    background: #028081; */
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
        box-shadow: inset 0px 0px 0px 0px #fff;
    border: 1px solid #718bab;
}

.gj-datepicker-bootstrap span[role=right-icon].input-group-addon{
    background: none;
    border: 1px solid #718bab;
}
.inner .form-row .form-holder input::placeholder {

    font-size: 15px;
}
.inner .form-row .form-holder input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(255,255,255,0.6);
   font-size: 15px;
}
.inner .form-row .form-holder input::-ms-input-placeholder { /* Microsoft Edge */
   color: rgba(255,255,255,0.6);
   font-size: 15px;
}
.inner .form-row .form-holder select {
    /* background: #028081 url('../images/wizard_v2_icon.png') no-repeat scroll; */
    background-position: right 16px center;
    z-index: 1;
    cursor: pointer;
    /* color: rgba(255,255,255,0.6); */
    position: relative;
}
.inner .form-row .form-holder select option {
	background: #fff;
	color: #000;
}
.inner .form-row .form-holder.form-holder-2 .select-btn {
    top: 27%;
    right: 6.5%;
}
.inner .form-row .form-holder .ui-datepicker-trigger {
    background: transparent;
    border: none;
    color: #666;
    font-size: 19px;
    position: absolute;
    cursor: pointer;
    right: 10.5%;
    top: 27.5%;
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
.inner h3 {
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	margin: 0 0 11px;
}
.inner .form-row.table-responsive {
    /* border: none; */
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 24px 26px 31px;
    margin:  0;
    margin-bottom: 22px;
    /* background: #028081; */
}
.inner .table-responsive .table {
	width: 100%;
}
.inner .table-responsive tbody {
	text-align: left;
}
.inner .table-responsive tr.space-row > td,
.inner .table-responsive tr.space-row > th {
	padding-bottom: 18px;
}
.inner .table-responsive tbody th {
	color: #000;
	font-size: 16px;
	font-weight: 400;
}
.inner .table-responsive tbody td {
	color: #000;
	font-size: 16px;
	font-weight: 400;
}
.actions ul {
	list-style: none;
	padding-left: 0;
	padding-bottom: 20px;
    margin: 15px 0 0;
    display: flex;
    display: -webkit-flex;
    /* justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
	-webkit-justify-content: space-between; */
	justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
}
.actions ul li.disabled {
	opacity: 0;
}
.actions ul li {
	padding: 0;
	border: none;
	width: 130px !important;
    border-radius: 50px;
    -o-border-radius: 50px;
    -ms-border-radius: 50px;
    -moz-border-radius:50px;
    -webkit-border-radius: 50px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -ms-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    display: inline-flex;
    height: 40px;
    /* width: 50px; */
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    background: #028081;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.actions ul li:hover {
	background: #028081;
}
.actions ul li:first-child {
	/* background: transparent; */
	border-radius: 50px;
	-o-border-radius: 50px;
    -ms-border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
	box-shadow: none;
	-o-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
	-webkit-box-shadow: none;
	color:#fff !important;
	margin-right: 40px;
}
.actions ul li a {
	color: #fff;
	text-decoration: none;
    padding: 15px 20px;
}
.actions ul li:first-child a {
	color: #fff;
}
.actions ul li a i {
	font-size: 18px;
}

/* Responsive */
@media screen and (max-width: 1199px) {
	.wizard-v1-content {
		margin: 180px 20px;
	}
	.form-register .content {
	    padding: 32px 75px 23px 75px;
	}
}
@media screen and (max-width: 991px) {
	.inner .form-row {
		flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		margin: 0;
	}
	.inner .form-row.form-row-2 {
		width: 100%;
	}
	.inner .form-row .form-holder {
		padding: 0;
		width: 100%;
	}
	.inner .form-row .form-holder .ui-datepicker-trigger {
		right:  5%;
	}
	.inner .form-row .form-holder .select-btn {
		right: 6%;
	}
}
@media screen and (max-width: 575px) {
	.wizard-v1-content .wizard-form {
	    padding: 40px 20px;
	    width: auto;
	}
	.form-register .content {
	    padding: 32px 30px 23px 30px;
	}
	.form-register .steps li, .form-register .steps li.current {
		padding-right: 5px;
	}
	.form-register .steps li::before {
		width: 65px;
		top: 15%;
    	left: 70%;
	}
	.form-register .steps li.current::after {
		left: 28%;
	}
	.inner .form-row .form-holder .ui-datepicker-trigger {
		right: 0;
	}
	.inner .form-row .form-holder .select-btn {
		right: 6.5%;
	}
	.inner .table-responsive tr.space-row,
	.inner .table-responsive tbody th {
	    display: block;
	}
	.inner .table-responsive tr.space-row > th {
		padding-bottom: 10px;
	}
	.inner .table-responsive tr.space-row > td {
		padding-bottom: 30px;
	}
	
} 
/*referrals start*/
.referrals-sec{
    padding-top: 30px;
}
.referrals-sec h3{
}
.referrals-sec .btn-deep-purple{
    width: 170px;
    height: 45px;
    border-radius: 25px;
    background-color: #028081;
    color: white;
    margin-top: 15px;
    padding: 11px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}
.referrals-sec table{
    width:100%;
        margin-bottom: 0px;
}
.referrals-sec .pagination{
    margin: 0px;
    float: right;
}
.referrals-sec hr {
    margin-top: 0px;
}
.referrals-sec nav{
    width: 100%;
    padding: 2px 0px;
    margin: 0px;
}
.referrals-sec .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    padding: 22px 0px 22px 40px;
    border-top: 1px solid #e6eaf0;
}
.referrals-sec .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f5f9ff;
}
.referrals-sec .table > thead > tr > th{
    border-bottom: 0px;
}
.referrals-sec .col-md-2{
    padding: 16px 0 30px 0;
}
.page-left-arrow{
    border:1px solid #94979b;
    padding: 14px 18px 12px 18px;
    margin-left: 40px;
    margin-top: 20px;
}
.page-left-arrow i{
    color: #52575a;
    font-size: 18px;
}
.page-left-arrow i:hover, .page-left-arrow i:focus, .page-right-arrow i:hover, .page-right-arrow i:focus{
    color: #028081;
}
.page-right-arrow{
    border:1px solid #94979b;
    padding: 14px 18px 12px 18px;
}
.page-right-arrow i{
    color: #52575a;
    font-size: 18px;
}
/*referrals end*/
.demo{ background: #eee; }
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.vertical-tab{
}
.vertical-tab .col-md-3{
    padding-left: 0px;
    
}
.vertical-tab .nav-tabs{
    display: table-cell;
    width: 18%;
    min-width: 18%;
    border-radius: 3px;
    background-color: #fff;
    vertical-align: top;
    position: relative;
    z-index: 1;
-webkit-box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.28);
-moz-box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.28);
box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.28);
    border: 0px;
    height: 550px;
    
}
.vertical-tab .nav-tabs li{
   float: none;
   vertical-align: top;
}
.vertical-tab .nav-tabs li a{
    color: #999;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    padding: 15px 32px;
    border: none;
    position: relative;
    transition: all 0.20s ease 0s;
}
.vertical-tab .nav-tabs li:last-child a{ margin: 0; }
.vertical-tab .nav-tabs li a:hover,
.vertical-tab .nav-tabs li.active a,
.vertical-tab .nav-tabs li.active a:hover{
    color: #222;
    border: none;
    background: url("../images/arrow-right.png") no-repeat #f5f9ff right;
}
.vertical-tab .tab-content{
    color: #555;
    background-color: transparent;
    font-size: 15px;
    border-radius: 3px;
    position: relative;
        z-index: 1;
-webkit-box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.28);
-moz-box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.28);
box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.28);
    clear: both;
    float: inherit;
    width: 100%;
}
.vertical-tab .tab-content h3{
    color: #16a085;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}
@media only screen and (max-width: 479px){
    .vertical-tab .nav-tabs{
        display: block;
        width: 100%;
        border-right: none;
    }
    .vertical-tab .nav-tabs li a{ margin: 0 0 10px; }
    .vertical-tab .tab-content{
        display: block;
        padding: 20px 15px 5px;
    }
    .vertical-tab .tab-content h3{ font-size: 18px; }
}
[data-pagination],
[data-pagination] *,
[data-pagination] *:before,
[data-pagination] *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
[data-pagination] {
  font-size: 8pt;
  line-height: 1;
  font-weight: 400;
  
  -webkit-text-size-adjust: 100%;
  margin: 1em auto;
  text-align: center;
  transition: font-size .2s ease-in-out;
}
[data-pagination] ul {
  list-style-type: none;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
[data-pagination] ul li {
  display: inline-block;
  font-size: 100%;
  width: auto;
  border-radius: 3px;
}
[data-pagination] > a {
  font-size: 140%;
}
[data-pagination] a {
  color: #777;
  font-size: 16px;
  padding: .5em;
}
[data-pagination] a:focus,
[data-pagination] a:hover {
  color: #028081;
}
[data-pagination] li.current {
  border:1px solid #94979b;
    padding: 11px 13px 11px 13px;
    border-radius: 0px;
}
/* Disabled & Hidden Styles */
[data-pagination] .disabled,
[data-pagination] [hidden],
[data-pagination] [disabled] {
  opacity: .5;
  pointer-events: none;
}
@media (min-width: 350px) {
  [data-pagination] {
    font-size: 10pt;
  }
}
@media (min-width: 500px) {
  [data-pagination] {
    font-size: 12pt;
  }
}
@media (min-width: 700px) {
  [data-pagination] {
    font-size: 14pt;
  }
}
@media (min-width: 900px) {
  [data-pagination] {
    font-size: 16pt;
  }
}
.foo{
    padding-top: 3em;
}
@media screen and (max-width: 768px) {
    .vertical-tab .nav-tabs{
        height: auto !important;
    }
}