{% extends "base.html" %}



{% block content %}
<link href="/static/styles/continueEdu.css" rel="stylesheet">


    <div class="container-fluid content1" >
        <div class="row ">
            <div class="container">
                <div class="col-md-12 ">
                    <h1>Uh Oh</h1>
                    <p>
                       You're required to login or Session might have expired.
                    </p>
                </div>
            </div>
        </div>
    </div>

 
        <div class="wrapper-page animated fadeInDown" style="padding-top: 26px;">
    <div class="ex-page-content animated flipInX text-center">
        
        <p>If you believe this is a mistake, please email <a href="mailto:support@realtyreferralresource.com">support@realtyreferralresource.com</a>.</p>
        <p><a href="{{ url_for('simple.login') }}">Login</a> here.</p>
    </div>
   <div class="image">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12"></div>
                </div>
            </div>
        </div>
    
{% endblock %}
