{% extends "base.html" %}

{% block content %}
  
  <!-- SUB BANNER -->
  <div class="banner">
  <div class="container container-table">
    <div class="row  text-center banner-content ">
      <div class="col-md-12 col-sm-12  vertical-center-row">
        <h1>Join the Fastest-Growing Real Estate Referral Network</h1>
        <h4> Keep your real estate license active and boost your income by
          sharing referrals </h4>
        <div class="row container get-start-btn">
          <button>
          <a href="/register" style="text-decoration:none;color:#028081 !important;font-weight:600" >Get Started Now
              </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
    
<div class="clearfix"></div>
 <!-- SUB BANNER -->
    <section class="referral-associate">
  

        <div class="wrapper-page animated fadeInDown">

            <div class="ex-page-content animated flipInX text-center">
                <h1>404</h1>
                <h2 class="font-light">Sorry, Coming Soon</h2><br>
                <p>You better try our awesome search:</p>
                 
             </div>
            <br>&nbsp;<br>&nbsp;<br>
        </div>

 </section>
         

    
     {% endblock %}
