{% extends "base.html" %}

{% block content %}
  
  <!-- SUB BANNER -->
 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>FAQs Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">faqs</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row"> 
          
          <!-- Revenues Sidebar -->
          <div class="col-md-3">
            <div class="side-bar-revenues"> 
              
              <!-- Company & Services -->
              
              
               
              <!-- Brochures -->
              <a href="/register" class="btn btn-1 margin-top-30">Register now <i class="fa fa-caret-right"></i></a>
              <br>
			  <a href="/login" class="btn btn-1 margin-top-30 margin-right-20">Login Now <i class="fa fa-caret-right"></i></a>
               
            </div>
          </div>
          
          <!-- Revenues Cart -->
          <div class="col-md-9">
            <div class="heading">
              <h4>About Iriskonline</h4>
              <br>
             
               <div class=accordian>
			   <div class="job-content job-post-page margin-top-20">
			   {{faqs_records.page_text|safe}}
            </div>
			   <div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
    {% endblock %}