{% extends "base.html" %}

{% block content %}
  <link href="/static/styles/faq.css" rel="stylesheet">

  <!-- SUB BANNER -->
  <div class="container-fluid content">
    <div class="row ">
      <div class="container">
        <div class="col-md-12 ">
          <h1>Thank You!</h1>
         </div>
      </div>
    </div>
  </div>
<!-- Content -->
 <div class="container faq-section">
    
    <!-- SERVICES -->
    <section class="services padding-top-30 padding-bottom-30">
      <div class="best-services"> 
        <!-- Row -->
        <div class="container">    
        <div id="loginbox" style="margin-top:0px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">   
		{% if error %}
							<br>&nbsp;
							<div class="alert alert-danger alert-dismissable">
                         
                        <span class="alert alert-danger"> <strong>Error!</strong> {{ error }} </span>
						<p>for any queries please contact our support <a href="/#contactus" class="primary-color">team.</a></p>
                    </div>

		{%else%}
						
             <div class="heading text-center"> <span></span>
          <h4>Welcome to RRR!</h4><br>
          <p>Your account has been successfully Activated.<br>
		  Please Click <a href="/login" class="primary-color">here </a> to login into your account
		  </p>
		  <p>for any queries please contact our support <a href="/#contactus" class="primary-color">team.</a></p>
        </div>
		{% endif %}
			</div>
        
		</div>
      </div>
      
     
      
      
      
       
    </section>
  </div>
  <br>&nbsp;
  
 {% endblock %}