<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
<!--
function changemodule(uid,modulevalue,module) {
	//alert(uid+"=="+modulevalue+"==="+module);

    $.ajax({
				type:"POST",
				url: "/clientCRUD",
				dataType:"json",
				data:"crud_type=updatemodule&uid="+uid+"&module="+module+"&modulevalue="+modulevalue,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Updated!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						
					}else{
						//window.location.replace("");
						swal("Cancelled", "Record not update. Problem occured", "error");
						
					}
					
				},error: function(){
					console.log(response);
					swal("Cancelled", "Problem occured", "error");
				}
			});
}


 
 

//-->
</script>
		
		<table id="example" class="display table table-striped table-hover" cellspacing="0" width="100%"><thead><tr class="default"><th>Client Name</th><th colspan=3 align=center>Select Approved Modules</th><th>Email Contact</th><th> Actions</th>{#<th> <br>Slots</th><th>Reports</th><th>Items</th><th width="100">Actions</th>#}</tr></thead>
		
		<tbody>
		{% for items in advisor_clients %}

		<tr><td>{#{{items.id|encode_key}}<br>{{items.id|encode_key|decode_key}}<br>#}
		<a href="/viewClient?id={{items.id|encode_key}}"  style="height:30px !important;line-height:31px !important"> {{items.first_name}} {{items.last_name}}</a> - {% if items.userid.is_loggedin == True %}<img src="/static/img/online.jpg" width=20>{% else %}<img src="/static/img/offline.jpg" width=20>{%endif%} </td>
		
		<td valign="middle">{% if items.userid.module_iriskaware == True %}
								<button type="button" class="btnnew btn-primary w-sm m-b-5" id="iriskaware" onclick='changemodule({{items.userid.id}},"{{items.userid.module_iriskaware}}","iriskaware")' value="{{items.userid.module_iriskaware}}">Iriskaware On</button>
							{% else %}
								<button type="button" class="btnnew btn-red w-sm m-b-5" id="iriskaware" onclick='changemodule({{items.userid.id}},"{{items.userid.module_iriskaware}}","iriskaware")' value="{{items.userid.module_iriskaware}}">Iriskaware Off</button>
							{%endif%}
							</td><td valign="middle">
							{% if items.userid.module_iriskonline == True %}
								<button type="button" class="btnnew btn-primary w-sm m-b-5" id="iriskonline" onclick='changemodule({{items.userid.id}},"{{items.userid.module_iriskonline}}","iriskonline")' value="{{items.userid.module_iriskonline}}">Iriskonline On </button>
							{% else %}
								<button type="button" class="btnnew btn-red w-sm m-b-5" id="iriskonline" onclick='changemodule({{items.userid.id}},"{{items.userid.module_iriskonline}}","iriskonline")' value="{{items.userid.module_iriskonline}}">Iriskonline Off</button>
							{%endif%}
							
							
							</td><td valign="middle">
							{% if items.userid.module_iriskwatch == True %}
								<button type="button" class="btnnew btn-primary w-sm m-b-5" onclick='changemodule({{items.userid.id}},"{{items.userid.module_iriskwatch}}","iriskwatch")' id="iriskwatch" value="{{items.userid.module_iriskwatch}}">Iriskwatch On</button>
							{% else %}
								<button type="button" class="btnnew btn-red w-sm m-b-5" onclick='changemodule({{items.userid.id}},"{{items.userid.module_iriskwatch}}","iriskwatch")' id="iriskwatch" value="{{items.userid.module_iriskwatch}}">Iriskwatch Off</button>
							{%endif%}</td><td>{{items.email}}</td>
							<td> <a href="/login_as_client?id={{items.id}}" class="btnnew btn-primary w-sm m-b-5">Login</a></td>
																
																{#<td>0</td><td>0</td><td>0</td><td><a href="/viewClient?id={{items.id}}" class="btn btn-1" style="height:30px !important;line-height:31px !important"> View <i class="fa fa-caret-right" style="height:30px !important;line-height:31px !important"></i></a></td>#}</tr>
		{% endfor %}
		
		</tbody></table>