{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}

	</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Dashboard Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">advisor subscriptions</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row"> 
          
          <!-- Revenues Sidebar -->
          <div class="col-md-3" style="width:22% !important">
            {% include 'left_menu.html' %}

          </div>
          
          <!-- Revenues Cart -->
          <div class="col-md-9">
            <div class="heading">

				{% if current_user.userid.user_type == 'advisor' %}
				{% if error != "" %}
						<h4>Error</h4>
						<div class="col-md-9" style="padding-top:30px;">    
						<div class="heading text-cente panel-bodyr alert alert-info alert-dismissable" style="padding-top:30px;" id="thankyouform"> <span></span>
							  <strong>Either Client do not exist or you are not authorised to access this client details</strong><br>
							  
							  <p>for any queries please contact our support <a href="/contactus" class="primary-color">team.</a></p>
							</div>
							</div>
				{%else%}
					<h4>Total Subscritptions</h4>
				  <br>
					<!-- InsiderRow -->
					<div class="col-md-12"> <div style="padding-top:10px" class="panel-body" id="clientregform">
										 <div class="alert alert-danger alert-dismissable" style="display:none;height:50px" id="errordiv">
                        
                        <span id="error_message">  </span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    </div>
							<div class="row">
                  
											   
					<table id="example" class="display table table-striped table-hover" cellspacing="0" width="100%"><thead><tr class="default"><th>Susbcritption ID</th><th align=center>Date</th><th>Mode</th><th>Status</th></tr></thead>
		
		<tbody>
		{% for items in subscriptions %}
		<tr><td><a href="/view_subscription?id={{items.id}}">{{items.subscription_code}}</a> </td>
		
		<td valign="middle">
		{{items.subscription_date}}
		</td>
		<td valign="middle">
		{{items.mode}}
		</td>
		<td>{{items.transaction_status}} </td>
		 </tr>
		{% endfor %}
		
		</tbody></table>
												
												 
							</div>

							 

					</div> </div> <!-- InsiderRow -->
				{% endif %}
			{% endif %}
			</div>
        </div>
      </div>
    </section>
  </div>
  <div id="response_message"></div>
  {% endblock %}