 <script type="text/javascript">
<!--
	
jQuery(document).ready(function(){

	$( "#editbutton" ).click(function( event ) {
 		if ($('#allocateeresources').val() == "") {
				alert('Please allocate is required!');
				return false;
			}
		else if (parseInt($('#allocateeresources').val()) > parseInt($('#availableresources').val())) {
				alert('Resouces are more than required');
				return false;
		}
		else{
			
			//prevent Default functionality
			 //alert(description)
			 var serializedData = $("#myEditform").serialize();
			 
			$.ajax({
				type:"POST",
				url: "/clientCRUD",
				dataType:"json",
				data:serializedData ,
				//data:"table_name=allocations&crud_type=updateresouces&price_id="+name+"&faq_answer="+description+"&faq_status="+faq_status+"&faq_id=",
				success: function(response){
					// alert("here");
					console.log(response);
					$('#edit-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_editmessage').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Updated!</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#con-close-modal').hide();
					}else{
						$('#edit-close-modal').hide();
						$('#response_editmessage').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style=""><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div>  <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div>  <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Error in Creating</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#edit-close-modal').hide();
					}
					
				},error: function(){
					console.log(response);
					$('#edit-close-modal').hide();
					$('#response_editmessage').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style=""><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div>  <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div>  <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Error in Creating</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
					$('#edit-close-modal').hide();
				}
			});
			return true;
		}

	});

});

//-->
</script>
<div id="response_editmessage"></div>
<div id="edit-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:60px;">
	<form method=post name="myform" id="myEditform" action="">
	<input type="hidden" name="table_name" id="table_name" value="allocations">
	<input type="hidden" name="crud_type" id="crud_type" value="updateresources">
	<input type="hidden" name="uid" id="uid" value="{{uid}}">
	<input type="hidden" name="price_id" id="price_id" value="{{price_id}}">

  	<div class="modal-dialog"> 
		<div class="modal-content"> 
			<div class="modal-header"> 
				 
				<h4 class="modal-title">Allocate Resources </h4> 
			</div> 
			<div class="modal-body" id="formbody"> 
			{% if error %}
							<div class="row "> 
							<div class="alert alert-danger alert-dismissable ">
                         
                        <span class="alert alert-danger"> <strong>Error!</strong> {{ error }} </span>
                    </div>
					</div>
					{% else %}	
					<div class="row"> 
					<div class="col-md-10"> 
						<div class="form-group"> 
							<label for="field-1" class="control-label">Available Resources</label> 
							<input type="number" class="form-control" id="availableresources" placeholder="" name="availableresources" value="{{get_resource_count}}" readonly> 
						</div> 
					</div> 
					 
				</div>
				<div class="row"> 
					<div class="col-md-10"> 
						<div class="form-group"> 
							<label for="field-1" class="control-label">Allocate Resources</label> 
							<input type="number" class="form-control" id="allocateeresources" placeholder="" name="allocateeresources" value=""> 
						</div> 
					</div> 
					 
				</div> 
				
					{% endif %}					 
			</div> 
			<div class="modal-footer" id="modal-footer"> 
				<a href=""  class="btn btn-white" data-dismiss="modal">Close</a> 
				<button type="button" class="btn btn-info" id="editbutton">Save changes</button> 
			</div> 
		</div> 
	</div>
	</form>
</div>
 