<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>{{title}}</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="keywords" />
<meta content="" name="description" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<!-- Favicons -->
<link href="/static/img/aux.png" rel="icon" />
<link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon" />

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
      rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
<!-- Bootstrap css -->
<!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
<link href="/static/css/bootstrap.css" rel="stylesheet" />
<link href="/static/js/bootstrap.min.js" />
<link href="/static/js/bootstrap.js" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

<!-- Main Stylesheet File -->
<link href="/static/styles/landing.css" rel="stylesheet" />
<link href="/static/sweet-alert/sweet-alert.min.css" rel="stylesheet">
<meta
      name="google-site-verification" content="m8TsU_JcSM5vf92LQxHQEny_TJv2TkcJbrPYmNo5Zyw"
    />
</head>

<body>
<header id="header" class="header header-hide">
  <div class="head">
    <div class="header">
        <div class="container">
        <a href="/"><img src="/static/images/group-2.png" alt="" class="icon" /></a>
      <input type="checkbox" id="chk" />
      <label for="chk" class="show-menu-btn"> <i class="fas fa-bars"></i> </label>
      <ul class="menu">
        <a href="/#howitworks">How It Works </a> 
        <!-- <a href="/joinus.html">Join Us</a> --> 
        <a href="/faqs">FAQ’s</a>
          {% if current_user.is_authenticated %}
		  <a href="https://www.relospeccloud.com/RELOSPEC/SQL/ReferralSubmitExpressAlt.asp">Send A Referral</a>
		  {% else %}
          <a href="/login">Send A Referral</a>
		  {% endif %}
          <a href="/continueEdu">Continuing Education (CE)</a>
		  {% if current_user.is_authenticated %}
		  <a href="/myaccount">My Account</a> <a href="/myaccount"><img src="/static/images/user-2.png" alt=""/></a>
		  {% else %}
		  <a href="/login">Sign in</a> <a href="/myaccount"><img src="/static/images/user-2.png" alt=""/></a>
		  {% endif %}
        <label for="chk" class="hide-menu-btn"> <i class="fas fa-times"></i></label>
      </ul>
    </div>
        </div>
  </div>
</header>
<!-- #header --> 

 <!-- Content -->
  {% block content %}{% endblock %}
  <!-- footer code starts -->

<!-- footer code starts -->
<footer>
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-3"><img src="/static/images/group-2.png" alt="" /></div>
                <div class="col-md-4">
                    <div class="media">
                      <img class="mr-3" src="/static/images/maps-and-flags.png" alt="">
                      <div class="media-body">
                        {{'site_address'|site_settings}} {{'site_city'|site_settings}} {{'site_state'|site_settings}} {{'site_zipcode'|site_settings}}
                      </div>
                    </div>
                    
                  
                </div>
                <div class="col-md-3">
                      <div class="media">
                      <img class="mr-3" src="/static/images/group-39.png" alt="">
                      <div class="media-body">
                        {{'site_phone'|site_settings}} 
                      </div>
                    </div>
                </div>
                <div class="col-md-2">
                      <ul class="footer-li">
                      <li><a href="#"><img src="/static/images/fb@2x.png" alt="" height="30px" width="30px"  /></a></li>
                      <li><a href="#"><img src="/static/images/group-13.png" alt="" height="30px" width="30px" /></a></li>
                      <li><a href="#"><img src="/static/images/group-14.png" alt="" height="30px" width="30px" /></a></li>
                      <li><a href="#"><img src="/static/images/social@2x.png" alt="" height="30px" width="30px"/></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="row copy-right">
                <p>&copy; Realty Referral Resource, 2019. All rights reserved. | <a href="/static/Referral_Policies_Online.pdf" target="_blank">Privacy Policy</a></p>
            </div>
            
        </div>
    </div>  
	<div id="edit_form"></div>
			 <div id="response_message"></div>

</footer>
<!-- sweet alerts -->
        <script src="/static/sweet-alert/sweet-alert.min.js"></script>
        <script src="/static/sweet-alert/sweet-alert.init.js"></script>
</body>
</html>