<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{page_elements('home', 'page_text')}}">
<meta name="Keywords" content="{{page_elements('home', 'keywords')}}">
<meta name="author" content="Norman Sinclair">
<title>Iriskonline - {{page_elements('home', 'short_desc')}}</title>

<!-- Favicon -->
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">

<!-- Bootstrap Core CSS -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/ionicons.min.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/responsive.css" rel="stylesheet">

<!-- Online Fonts -->
<link href='https://fonts.googleapis.com/css?family=Raleway:400,600,800,200,500' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600italic,400italic,300,300italic,600,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic,400,700' rel='stylesheet' type='text/css'>
 <!-- sweet alerts -->
        <link href="/static/sweet-alert/sweet-alert.min.css" rel="stylesheet">
<!-- COLORS -->
<link rel="stylesheet" id="color" href="/static/css/colors/default.css">

<!-- JavaScripts -->
<script src="/static/js/modernizr.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
.ui-dialog {
border: 1px solid #800020 !important;
box-shadow: 2px 2px 2px #888888;
}
	.required { 
	   content:"*";
	   color:red;
	}
.w-sm {
    min-width: 95px !important;
}
.m-b-5 {
    margin-bottom: 5px !important;
}
.btnnew {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btnnew1 {
    display: inline-block;
    padding: 4px 4px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-purple, .btn-purple:hover, .btn-purple:focus, .btn-purple:active {
    background-color: #ad86df;
    border: 1px solid #ad86df;
    color: #FFFFFF;
}
.btn-red, .btn-red:hover, .btn-red:focus, .btn-red:active {
    background-color: #ff3300;
    border: 1px solid #ff3300;
    color: #FFFFFF;
}

.cols-md-3 {
    width: 22%;
}
a:hover { cursor: pointer; cursor: hand; }

	</style>
</head>
<body>

<!-- Wrap -->
<div id="wrap"> 
  
  <!-- header -->
  <header> 
    
    <!-- Top bar -->
    <div class="top-bar">
      <div class="top-info">
        <div class="container">
          <ul class="personal-info">
            <li>
              <p><i class="fa fa-phone"></i> +1 123 456 7890 </p>
            </li>
            <li>
			<p>{{ static_content('header') }}</p>
			
            </li>
            {#<li>
              <p>support@iriskonline.com </p>
            </li>#}
          </ul>
          
          <!-- Right Sec -->
          <div class="right-sec"> 
            <!-- Language -->

			{% if current_user.is_authenticated() %}
			
				{% if current_user.userid.user_type == "admin" %}
					<a href="/admin/dashboard" class="primary-color font-bold"><font size=2>Admin Dashboard</font></a>&nbsp;|&nbsp;<a href="/logout" class="primary-color font-bold"><font size=2>Logout</font></a>
				{% else %}
					<a href="/dashboard" class="primary-color font-bold"><font size=2>My Dashboard</font></a>&nbsp;|&nbsp;<a href="/logout" class="primary-color font-bold"><font size=2>Logout</font></a>
				{% endif %}
			{% else %}
				<a href="/register" class="primary-color font-bold"><font size=2>Register</font></a>&nbsp;|&nbsp;<a href="/login" class="primary-color font-bold"><font size=2>Login</font></a>
			{% endif %}
            
            
            <!-- social -->
            
          </div>
        </div>
      </div>
    </div>
    
    <!-- Navigation -->
    <nav class="navbar">
      <div class="sticky">
        <div class="container"> 
          
          <!-- LOGO -->
          <div class="logo"> <a href="/"><img  class="img-responsive" src="/static/images/irisk-logo.png" alt="" ></a> </div>
          
          <!-- Nav -->
          <ul class="nav ownmenu">
            <li > <a href="/">Home </a> </li>
            {# This is a comment now.
			<li> <a href="/">Pages </a>
              <ul class="dropdown">
                <li> <a href="/about">About</a> </li>
                <li> <a href="shop.html">Shop</a>
                  <ul class="dropdown">
                    <li> <a href="shop.html">Shop</a> </li>
                    <li> <a href="shop-single.html">Shop Single</a> </li>
                    <li> <a href="checkout-step1.html">Checkout Step1</a> </li>
                    <li> <a href="checkout-step2.html">Checkout Step2</a> </li>
                    <li> <a href="checkout-step3.html">Checkout Step3</a> </li>
                    <li> <a href="checkout-address(step2).html">Checkout Address(step2)</a> </li>
                  </ul>
                </li>
                <li> <a href="/services">Services </a>
                  <ul class="dropdown">
                    <li> <a href="services(ver1).html">Services Version 1</a> </li>
                    <li> <a href="services(ver2).html">Services Version 2</a> </li>
                    <li> <a href="services(ver3).html">Services Version 3</a> </li>
                    <li> <a href="services(ver4).html">Services Version 4</a> </li>
                    <li> <a href="services(ver5).html">Services Version 5</a> </li>
                    <li> <a href="services(stories).html">Services Stories</a> </li>
                    <li> <a href="services(annual-reports)_draft02.html">Services Annual Reports</a> </li>
                    <li> <a href="services(media-relations)_draft02.html">Services Media Relations</a> </li>
                    <li> <a href="services-left-sidebar(annual-report-single)_draft02.html">Annual Left Report Single</a> </li>
                    <li> <a href="services-right-sidebar(annual-report-single)_draft02.html">Annual Right Report Single</a> </li>
                  </ul>
                </li>
                <li> <a href="team-2-columns.html">Team </a>
                  <ul class="dropdown">
                    <li> <a href="team-2-columns.html">Team 2 Columns</a> </li>
                    <li> <a href="team-3-columns.html">Team 3 Columns</a> </li>
                    <li> <a href="team-4-columns.html">Team 4 Columns</a> </li>
                  </ul>
                </li>
                <li> <a href="jobs-left-sidebar.html">Jobs </a>
                  <ul class="dropdown">
                    <li> <a href="jobs-right-sidebar.html">Jobs Right Sidebar </a></li>
                    <li> <a href="jobs-left-sidebar.html">Jobs Left Sidebar </a></li>
                    <li> <a href="jobs(single)-left-sidebar.html">Jobs (single) Left Sidebar </a></li>
                    <li> <a href="jobs(single)-right-sidebar.html">Jobs (single) Right Sidebar </a></li>
                  </ul>
                </li>
                <li> <a href="revenues.html">Revenues </a></li>
                <li> <a href="company-presentation.html">Company Presentation</a></li>
                <li> <a href="blog.html">Blog </a></li>
                <li> <a href="blog-single.html">Blog Single </a></li>
                <li> <a href="contact.html">Contact</a></li>
              </ul>
            </li>
			
            
            <li> <a href="/services">Services </a>
              #}
            </li>
            
            <li> <a href="/blog">Blog </a></li>
			<li> <a href="/faqs">FAQs </a>            </li>
			<li> <a href="/about">About </a> </li>
            <li> <a href="/contact">Contact</a> </li>
          </ul>
          <!-- Search -->
          <div class="search-icon"> <a href="#."><i class="fa fa-search"></i></a>
            <form>
              <input class="form-control" type="search" placeholder="Type Here">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </header>
  
  
  
  <!-- Content -->
  {% block content %}{% endblock %}
  <div id="response_message"></div>
  <!-- FOOTER -->
  {% if not current_user.is_authenticated %}
  <footer>
    <div class="container">
      <div class="row"> 
        
        <!-- ABOUT -->
        <div class="col-md-3"> <img src="/static/images/logo-footer.png" alt="" >
          <div class="about-foot">
            <ul>
              <li>
                <p><i class="fa fa-map-marker"></i> 795 Folsom Ave, Suite 600, San Francisco, CA 94107</p>
              </li>
              <li>
                <p><i class="fa fa-phone"></i> (123) 456-7890</p>
              </li>
              <li>
                <p><i class="fa fa-envelope"></i> example@example.com</p>
              </li>
            </ul>
          </div>
        </div>
        
        <!-- Twitter Feed -->
        <div class="col-md-3">
          <h6>Twitter Feed</h6>
          <ul class="tweet">
            <li>
              <p>A Guide to Better Brainstorming <a href="#." class="primary-color">http://enva.to/nfNrz</a> by @jeff_haden </p>
              <span>May 22, 2014</span> </li>
            <li>
              <p>Are you a student? You only have 48 hours left to grab a full year on Tuts+ for just $45! Don't miss out. <a href="#." class="primary-color">http://ow.ly/McvuJ</a> </p>
              <span>May 22, 2014</span> </li>
          </ul>
        </div>
        
        <!-- Photostream -->
        <div class="col-md-3">
          <h6>Photostream</h6>
          <ul class="photo-steam">
            <li><a href="#."><img src="/static/images/photo-img-1.jpg" alt="" ></a></li>
            <li><a href="#."><img src="/static/images/photo-img-2.jpg" alt="" ></a></li>
            <li><a href="#."><img src="/static/images/photo-img-3.jpg" alt="" ></a></li>
            <li><a href="#."><img src="/static/images/photo-img-4.jpg" alt="" ></a></li>
            <li><a href="#."><img src="/static/images/photo-img-5.jpg" alt="" ></a></li>
            <li><a href="#."><img src="/static/images/photo-img-6.jpg" alt="" ></a></li>
          </ul>
        </div>
        {#
        <!-- Categories -->
        <div class="col-md-3">
          <h6>Categories</h6>
          <ul class="tags">
            <li><a href="#.">User Experience</a></li>
            <li><a href="#.">html 5</a></li>
            <li><a href="#.">Css 3</a></li>
            <li><a href="#.">Web Design</a></li>
            <li><a href="#.">Social Media</a></li>
            <li><a href="#.">Web Development</a></li>
            <li><a href="#.">Print Design</a></li>
            <li><a href="#.">e-commerce</a></li>
            <li><a href="#.">Java script</a></li>
          </ul>
        </div>
		#}
      </div>
    </div>
  </footer>
  {% endif %}
  <!-- RIGHTS -->
  <div class="rights">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>  {{ static_content('footer') }} </p>
        </div>
        <div class="col-md-6 text-right"> <a href="/static/IRISKONLINE_TERMS_OF_USE_20160516.pdf" target=blank>Terms and Conditions</a> <a href="/static/PRIVACY_POLICY_20160516.pdf" target="_blank">Privacy Policy</a> </div>
      </div>
    </div>
  </div>
</div>
<script src="http://code.jquery.com/jquery-1.11.0.js"></script>
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script src="/static/js/bootstrap.min.js"></script> 

  <script type="text/javascript" src="http://romb.github.io/jquery-dialogextend/build/jquery.dialogextend.js"></script>

<script src="/static/js/own-menu.js"></script> 
<script src="/static/js/jquery.isotope.min.js"></script> 
<script src="/static/js/jquery.flexslider-min.js"></script> 
<script src="/static/js/jquery.countTo.js"></script> 
<script src="/static/js/owl.carousel.min.js"></script> 
<script src="/static/js/jquery.cubeportfolio.min.js"></script> 
<script src="/static/js/jquery.colio.min.js"></script> 
<script src="/static/js/main.js"></script>
<!-- sweet alerts -->
        <script src="/static/sweet-alert/sweet-alert.min.js"></script>
        <script src="/static/sweet-alert/sweet-alert.init.js"></script>
		{% block datatables %}{% endblock %}
		{% block datatables1 %}{% endblock %}
</body>
</html>