{% extends "base.html" %}

{% block content %}
  
  <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>blog single post</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
		  <li><a href="/blog">Blogs</a></li>
          <li class="active">Blog</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- BLOG -->
    <section class="blog blog-pages blog-single padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row">
          <div class="col-md-8"> 
            
            <!-- Post -->
            <article>  
              <!-- Date -->
               
              <!-- Detail -->
              <div class="post-detail">
                <h5 class="font-normal">{{blog_records.title}}</a> <span>By Admin / posted on {{blog_records.created_date}}</h5>
                <p> {{blog_records.content|safe}} </p>
                <!-- Tags -->
                 
             </article>
            {#
            <!--=======  COMMENTS =========-->
            <div class="comments margin-top-80">
              <h5 class="font-normal margin-bottom-40">Comments</h5>
              <ul class="media-list">
                
                <!--=======  COMMENTS =========-->
                <li class="media">
                  <div class="media-left"> <a href="#"> <img class="media-object img-responsive" src="images/coment-img-1.jpg" alt=""> </a> </div>
                  <div class="media-body">
                    <h6 class="media-heading">Admin <span>- April 10, 2013 at 4:25 PM</span> <a href="#." class="raply">Reply</a></h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi consectetur adipisicing elit.</p>
                  </div>
                </li>
                
                <!--=======  COMMENTS =========-->
                <li class="media margin-left-40">
                  <div class="media-left"> <a href="#"> <img class="media-object img-responsive" src="images/coment-img-2.jpg" alt=""> </a> </div>
                  <div class="media-body">
                    <h6 class="media-heading">Admin <span>- April 10, 2013 at 4:25 PM</span> <a href="#." class="raply">Reply</a></h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi consectetur adipisicing elit.</p>
                  </div>
                </li>
              </ul>
              
              <!--=======  LEAVE COMMENTS =========-->
              <hr class="main">
              <form>
                <ul class="row">
                  <li class="col-sm-6">
                    <label>
                      <input type="text" class="form-control" name="name" placeholder="Name">
                    </label>
                  </li>
                  <li class="col-sm-6">
                    <label>
                      <input type="text" class="form-control" name="name" placeholder="Email">
                    </label>
                  </li>
                  <li class="col-sm-12">
                    <label>
                      <textarea class="form-control" placeholder="Comment"></textarea>
                    </label>
                  </li>
                  <li class="col-sm-12">
                    <button type="submit" class="btn btn-1 margin-top-20">Post comment <i class="fa fa-caret-right"></i></button>
                  </li>
                </ul>
              </form>
            </div>
			#}
          </div>
          
          <!-- Side Bar -->
          <div class="col-md-4">
            <div class="side-bar"> 
              
              <!-- Recent Posts -->
              <h5 class="side-tittle">Latest Posts </h5>
              <ul class="papu-post">
                {% for item in latest_records %}
                <li class="media">
                  <div class="media-left"> <a href="/viewblog?bid={{item.id}}"> <img class="media-object" src="static/images/small-post-1.jpg" alt=""></a><span>11 May</span> </div>
                  <div class="media-body"> <a class="media-heading" href="/viewblog?bid={{item.id}}">{{item.title|striptags|truncate(50)}} </a>
                    <p>{{item.description|striptags|truncate(100)}} </p>
                  </div>
                </li>
              {%endfor%}
                
              </ul>
              
              
            
             
          </div>
        </div>
      </div>
    </section>
  </div>
  
      {% endblock %}