{% extends "base.html" %}

{% block content %}
  
  
  <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>blog</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">Blog</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- BLOG -->
    <section class="blog blog-pages padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row">
          <div class="col-md-8"> 
            
             {% for item in latest_records %}
            <!-- Post -->
            <article class="simple-text"> 
              <!-- Date -->
              <div class="date"> 19 <span>MAY</span> </div>
              <!-- Detail -->
              <div class="post-detail">
                <div class="simp-tittle"><a href="/viewblog?bid={{item.id}}" class="post-tittle">{{item.title|striptags}}</a> <span>By Admin </span>{{blog_records.created_date}}</div>
                <p>{{item.description|striptags|safe}}..</p>
                <!-- Tags -->
               {# <ul class="tags">
                  <li><a href="#.">User Experience</a></li>
                  <li><a href="#.">html 5</a></li>
                  <li><a href="#.">Css 3</a></li>
                </ul>
				#}
              </div>
            </article>
			{%endfor%}
            
            <!-- Pagination -->
            {#<ul class="pagination">
                <li><a href="#."><i class="fa fa-angle-left"></i></a></li>
                <li><a href="#.">1</a></li>
                <li><a class="current" href="#.">2</a></li>
                <li><a href="#.">3</a></li>
                <li><a href="#.">4</a></li>
                <li><a href="#."><i class="fa fa-angle-right"></i></a></li>
              </ul>
			  #}
          </div>
          
          <!-- Side Bar -->
          <div class="col-md-4">
            <div class="side-bar"> 
              
              <!-- Recent Posts -->
              <h5 class="side-tittle">Latest Posts </h5>
              <ul class="papu-post">
			  {% for item in latest_records %}
                <li class="media">
                  <div class="media-left"> <a href="/viewblog?bid={{item.id}}"> <img class="media-object" src="static/images/small-post-1.jpg" alt=""></a><span>11 May</span> </div>
                  <div class="media-body"> <a class="media-heading" href="/viewblog?bid={{item.id}}">{{item.title|striptags|truncate(50)}} </a>
                    <p>{{item.description|striptags|truncate(100)}} </p>
                  </div>
                </li>
              {%endfor%}
              </ul>
              
               
               
            
             
          </div>
        </div>
      </div>
    </section>
  </div>
  
      {% endblock %}