{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}
.contact-form label {
     
    font-weight: bold !important;
     
    margin-bottom: 7px !important;
    
}
	</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
<!--
jQuery(document).ready(function(){
		 
	 function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}

	$( "#savebutton" ).click(function( event ) {
		
		 if ($('#first_name').val() == "") {
				alert('First Name is required!');
				return false;
		}else if ($('#last_name').val() == "") {
				alert('Last Name is required!');
				return false;
		}else if ($('#email').val() == "") {
				alert('Email Address is required!');
				return false;
		} else if (validateEmail($('#email').val()) != true) {
				//alert(validateEmail($('#email').val()));
				alert('Please provide proper email Address!');
				$('#email').focus()
				return false;
		}else if ($('#zip_code').val() == "") {
				alert('Post Code is required!');
				return false;
		}
		else{
			name = $('#name').val();
			description = $('#description').val();
			//prevent Default functionality
			 
			$.ajax({
				type:"POST",
				url: "/tableCreate",
				dataType:"json",
				data:$('form').serialize() ,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						//window.location.replace("/clientthankyou");
						$('#clientregform').hide();
						//$('#con-close-modal').hide();
						$('#thankyouform').show();
					}else{
						$('#errordiv').show();
						$('#error_message').html(response.message);
						
					}
					
				},error: function(){
					console.log(response);
					$('#errordiv').show();
					$('#error_message').html("problem in regetering. please refresh and try again");
				}
			});
			return true;
		}

	});

});

//-->
</script>
 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Dashboard Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">purchase resources</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row"> 
          
          <!-- Revenues Sidebar -->
          <div class="col-md-3">
            {% include 'left_menu.html' %}

          </div>
          
          <!-- Revenues Cart -->
          <div class="col-md-9">
            <div class="heading">
				
				{% if current_user.userid.user_type == 'advisor' %}
				<h4>Purchase Resources</h4>
              <br>
				<!-- Row -->
				<div class="col-md-9">    
				<div class="heading text-cente panel-bodyr" style="padding-top:10px;" id="thankyouform"> <span></span>
          <h3>Request Cancelled</h3><br>
          <p>We regret to inform that your request for payment is cancelled.<br>
		  </p>
		  <p>Click here to <a href="/purchase_advisor" class="primary-color">purchase resources.</a>
		  <p>for any queries please contact our support <a href="/contactus" class="primary-color">team.</a></p>
        </div>
				<div style="padding-top:10px" class="panel-body" id="clientregform">

                        <div class="alert alert-danger alert-dismissable" style="display:none;height:50px" id="errordiv">
                        
                        <span id="error_message">  </span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    </div>
						
						
                        </div>     
			    </div>

			{% endif %}
			</div>
        </div>
      </div>
    </section>
  </div>
  
  {% endblock %}