{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}
.contact-form label {
     
    font-weight: bold !important;
     
    margin-bottom: 7px !important;
    
}
	</style>
 
 <link href="/static/styles/joinus.css" rel="stylesheet">
<link rel="stylesheet" href="/static/ccss/style.css" />
<div class="container-fluid content1">
  <div class="row ">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h1>Hello again, {{current_user.first_name}}!</h1>
        <p> Paypal Transaction cancelled</p>
      </div>
    </div>
  </div>
</div>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row"> 
          
          <!-- Revenues Sidebar -->
          <div class="col-md-3">
 
          </div>
          
          <!-- Revenues Cart -->
          <div class="col-md-9">
            <div class="heading">
				
 				 
				<div class="col-md-9">    
				<div class="heading text-cente panel-bodyr" style="padding-top:10px;" id="thankyouform"> <span></span>
          <h1>Request Cancelled</h1><br>
          <p>Your request for payment is cancelled.<br>
		  </p>
		  <p>Click here to <a href="/payments" class="primary-color">pay now.</a>
		  <p>for any queries please contact our support <a href="/#contactus" class="primary-color">team.</a></p>
        </div>
				<div style="padding-top:10px" class="panel-body" id="clientregform">

                        <div class="alert alert-danger alert-dismissable" style="display:none;height:50px" id="errordiv">
                        
                        <span id="error_message">  </span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    </div>
						
						
                        </div>     
			    </div>

 			</div>
        </div>
      </div>
    </section>
  </div>
  <br>&nbsp;
  {% endblock %}