{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}

	</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
<!--

jQuery(document).ready(function(){
		 
	 
	

});

//-->
</script>
 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Dashboard Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
           <li class="active">My portfolios</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-15 padding-bottom-70">
      <div class="container">
	  	  {% include 'horizontal_menu.html' %}

        <div class="row"> 
          
          
          <!-- Revenues Cart -->
          <div class="col-md-12">
            <div class="heading">
				
				 
				{% if error != "" %}}
						<h4>Error</h4>
						<div class="col-md-9" style="padding-top:30px;">    
						<div class="heading text-cente panel-bodyr alert alert-info alert-dismissable" style="padding-top:30px;" id="thankyouform"> <span></span>
							  <strong>{{error}}</strong><br>
							  
							  <p>for any queries please contact our support <a href="/contactus" class="primary-color">team.</a></p>
							</div>
							</div>
				{%else%}
				<table width='101%'><tr><td width='100%'><h4><b>My Portfolios</b> </h4></td><td><a  OnClick="ViewTutorItem(255576388);" ><img src="/static/img/edit_portfolio.png" style="width:24px !important;padding-bottom:1px;float:right !importnat;" width=22></a></td></tr></table>
 					<!-- InsiderRow -->
					<div class="col-md-12"> <div style="padding-top:10px" class="panel-body" id="clientregform">
										 <div class="alert alert-danger alert-dismissable" style="display:none;height:50px" id="errordiv">
                        
                        <span id="error_message">  </span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    </div>
                   </div>
				   <div class="row">
											  
 												  {% include 'portfolios.html' %}
  
					</div> </div> <!-- InsiderRow -->
				{% endif %}
			 
			</div>
        </div>
      </div>
    </section>
  </div>
  <div id="response_message"></div>

   {% endblock %}
 
	{% block datatables1 %}
		<link href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />

			  	<div id="tutorpopup" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
function ViewTutorItem2( id )
{
		  $.ajax({
				type:"POST",
				url: "/viewtutor",
				//dataType:"text",
				data:"id="+id ,
				success: function(response){
					
					//console.log(response);
					$('#response_message').html(response);
					$('#edit-close-modal').modal('toggle');
					
				},error: function(){
					console.log(response);
					//$('#edit_form').html(response);
					swal("Cancelled", response+"Problem occured", "error");
				}
		});

			
}
//var tutor_titles= "";
function ViewTutorItem( id )
{
	
	
	$.ajax({
		type:"POST",
		url: "/viewtutor",
		//dataType:"text",
		data:"id="+id,
		success: function(response){
			
			//console.log(response);
			 
			$("#tutorpopup").html(response.tutor_content);
			$("#tutorpopup").dialog({
				"width": 740,
				"title": response.tutor_title,
							"height": 350,
							"modal": false,
							"resizable": true,
							"draggable": true,
							"dialogClass": "ui-dialog-red"
			   /* buttons: { 
						"Close": function () {
						$(this).dialog('close');
						//callback(false);
					}
				}*/
			}).dialogExtend({
					"minimizable" : false,
					"closable": true,
					
					"dblclick" : "minimize",
					//"titlebar" : "transparent",
					//"minimizeLocation": "left",
					 "icons": {
								"close": "ui-icon-carat-2-n-s",
								"minimize": "ui-icon-circle-minus",
								"restore": "ui-icon-carat-2-n-s"
							}
			});
			//alert("here");
		},error: function(){
			console.log(response);
			//$('#edit_form').html(response);
			swal("Cancelled", response+"Problem occured", "error");
		}
	});
	
    
	
}
</script>
 {% endblock %}

 