{% extends "base.html" %}

{% block content %}
  <link href="/static/styles/faq.css" rel="stylesheet">

  <!-- SUB BANNER -->
  <div class="container-fluid content">
    <div class="row ">
      <div class="container">
        <div class="col-md-12 ">
          <h1>Coming Soon!</h1>
         </div>
      </div>
    </div>
  </div>
  <!-- Content -->
 <div class="container faq-section">
    
    <!-- SERVICES -->
    <section class="services padding-top-30 padding-bottom-30">
       
      <div class="best-services"> 
        <!-- Row -->
        <div class="container">    
        <div id="loginbox" style="margin-top:0px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">   
		{% if error %}
							
							<div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                        <span class="alert alert-danger"> <strong>Error!</strong> {{ error }} </span>
                    </div>
						{% else %}
             <div class="heading text-center"> <span></span>
           <p>For any queries please contact our support <a href="/#contactus" class="primary-color">team.</a></p>
           
		  Please Click <strong><a href="/login" class="primary-color">here </a></strong> to login into your account
		  </p>
		 
        </div>
		{% endif %}
			</div>
<br>&nbsp;
        
		</div>
      </div>
      
     
      
      
      
      

     
    </section>
  </div>
  <br>&nbsp;
 {% endblock %}