{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}

	</style>
 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Dashboard Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">dashboard</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-15 padding-bottom-70">
      <div class="container">
	  {% include 'horizontal_menu.html' %}
        <div class="row"> 
          
          
          
          <!-- Revenues Cart -->
          <div class="col-md-12">
            <div class="heading">
				
 				<h4>Coming Soon</h4>
              <br>
				<!-- Row -->
				<div class="col-md-9">    
				<div style="padding-top:10px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
<h2>Coming Soon!<h2>
						 
						
                        </div>     
			    </div>

 			 
			</div>
        </div>
      </div>
    </section>
  </div>
  <div id="response_message"></div>
  {% endblock %}

  {% block datatables %}
  
 <script type="text/javascript">
<!--
 


jQuery(document).ready(function(){

	$( "#savebutton" ).click(function( event ) {
		if ($('#portfolio').val() == "") {
				alert('portfolio name is required!');
				return false;
		}else{
			
			 var serializedData = $("#myform").serialize();
			 name = $('#portfolio').val();
			
			$.ajax({
				type:"POST",
				url: "/addportfolio",
				dataType:"json",
				//data:serializedData ,
				data:"table_name=portfolio&crud_type=updatefaqs&portfolio="+name,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#edit-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Created!</h2><a href="/myportfolios" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#con-close-modal').hide();
					}else{
						$('#con-close-modal').hide();
						$('#loader').hide();
						swal("Cancelled", response.message, "error");
					}
					
				},error: function(){
					console.log(response);
					$('#con-close-modal').hide();
					$('#loader').hide();
					swal("Cancelled", "Record not created. Problem occured", "error");
				}
			});
			return true;
		 
		}
	});

});
 
//-->
</script>
	 {% endblock %}
