{% extends "base.html" %}
{% block content %}

    <!-- #header -->
    <link href="/static/styles/continueEdu.css" rel="stylesheet">


    <div class="container-fluid content1">
        <div class="row ">
            <div class="container">
                <div class="col-md-12 ">
                    <h1>Continue Education Opportunities</h1>
                    <p>
                       Are you looking for online Education to help fulfill your CE requirement
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
<div class="col-md-10 col-md-offset-1 logos">
<div class="col-md-6">
<div class="card text-center">
<div>
    <img src="/static/images/celogo.png" width="206px" style="padding-top: 60px;" class="img-fluid">
    
</div>
<div style="padding-top: 26px;">
    <a href="https://www.theceshop.com/" target="_blank">https://www.theceshop.com/</a>
</div> 
</div>
</div>
<!-- <div class="col-md-2">

    </div> -->
    <div class="col-md-6">
            <div class="card text-center">
                    <div>
                        <img src="/static/images/mclogo.png" width="180px" style="padding-top: 20px;" class="img-fluid">
                        
                    </div>
                    <div style="padding-top: 12px;">
                        <a href="https://www.mckissock.com/real-estate/continuing-education/" target="_blank"> https://www.mckissock.com/real-estate/continuing-education/</a>
                    </div>
                    </div>
        </div>
</div>
    </div>


    <div class="image">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12"></div>
                </div>
            </div>
        </div>
    
    
    
   {% endblock %}