{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}
.contact-form label {
     
    font-weight: bold !important;
     
    margin-bottom: 7px !important;
    
}
	</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
<!--
jQuery(document).ready(function(){
		 
	 function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}

	$( "#savebutton" ).click(function( event ) {
		
		 if ($('#first_name').val() == "") {
				alert('First Name is required!');
				return false;
		}else if ($('#last_name').val() == "") {
				alert('Last Name is required!');
				return false;
		}else if ($('#email').val() == "") {
				alert('Email Address is required!');
				return false;
		} else if (validateEmail($('#email').val()) != true) {
				//alert(validateEmail($('#email').val()));
				alert('Please provide proper email Address!');
				$('#email').focus()
				return false;
		}else if ($('#zip_code').val() == "") {
				alert('Post Code is required!');
				return false;
		}
		else{
			name = $('#name').val();
			description = $('#description').val();
			//prevent Default functionality
			 
			$.ajax({
				type:"POST",
				url: "/tableCreate",
				dataType:"json",
				data:$('form').serialize() ,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						//window.location.replace("/clientthankyou");
						$('#clientregform').hide();
						//$('#con-close-modal').hide();
						$('#thankyouform').show();
					}else{
						$('#errordiv').show();
						$('#error_message').html(response.message);
						
					}
					
				},error: function(){
					console.log(response);
					$('#errordiv').show();
					$('#error_message').html("problem in regetering. please refresh and try again");
				}
			});
			return true;
		}

	});

});

//-->
</script>
 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Dashboard Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">create client</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-15 padding-bottom-70">
      <div class="container">
	  {% include 'horizontal_menu.html' %}
        <div class="row"> 
          
          
          
          <!-- Revenues Cart -->
          <div class="col-md-12">
            <div class="heading">
				
				{% if current_user.userid.user_type == 'advisor' %}
				<h4>REGISTER NEW CLIENT</h4>
              <br>
				<!-- Row -->
				<div class="col-md-9">    
				<div class="heading text-cente panel-bodyr" style="padding-top:10px;display:none;" id="thankyouform"> <span></span>
          <h3>Success</h3><br>
          <p>Client account has been successfully created.<br>
		  An email has been sent to the client with login information.
		  </p>
		  <p>Manage Clients <a href="/dashboard" class="primary-color">Here.</a>
		  <p>for any queries please contact our support <a href="/contactus" class="primary-color">team.</a></p>
        </div>
				<div style="padding-top:10px" class="panel-body" id="clientregform">

                        <div class="alert alert-danger alert-dismissable" style="display:none;height:50px" id="errordiv">
                        
                        <span id="error_message">  </span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    </div>
						<form role="form" id="myform" class="contact-form" role="form">
<input type="hidden" name="table_name" value="advisor_client">
						{{ register_form.hidden_tag() }}
							<div class="form-group">
                            
							<div class="form-group"  id="afsldiv">
                                    <label>AFSL# <span class="required">*</span></label>
			    				<input type="text" name="afsl" id="afsl" class="form-control " placeholder="AFSL Number" value="{{current_user.userid.afsl}}" readonly>
			    			</div>
							<div class="row">
			    				<div class="col-xs-4 col-sm-3 col-md-4">
			    					<div class="form-group">
                                    
			                <input type="checkbox" name="module_iriskonline" id="module_iriskonline" style="width:22px;height:22px;" checked> <strong>IRISKONLINE</strong>
			    					</div>
			    				</div>
			    				<div class="col-xs-3 col-sm-3 col-md-4">
			    					<div class="form-group">
                                    
			                <input type="checkbox" name="module_iriskaware" id="module_iriskaware" style="width:22px;height:22px;"  checked> <strong>IRISKAWARE</strong>
			    					</div>
			    				</div>
								<div class="col-xs-3 col-sm-3 col-md-4">
			    					<div class="form-group">
                                    
			                <input type="checkbox" name="module_iriskwatch" id="module_iriskwatch" style="width:22px;height:22px;"  checked> <strong>IRISKWATCH</strong>
			    					</div>
			    				</div>
			    			</div>
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                                    <label>First name <span class="required">*</span></label>
			                <input type="text" name="first_name" id="first_name" class="form-control " placeholder="First Name">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                                    <label>Last name <span class="required">*</span></label>
			    						<input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name">
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
                                    <label>Email address <span class="required">*</span></label>
			    				<input type="email" name="email" id="email" class="form-control " placeholder="Email Address">
			    			</div>	    			
                            
    		    			<div class="form-group">
                                    <label>Company</label>
			    				<input type="company" name="company" id="company" class="form-control input-sm" placeholder="Company">
			    			</div>
    
        	    		

                            <div class="row">
    		    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                                    <label>City</label>
			                <input type="city" name="city" id="city" class="form-control input-sm" placeholder="City">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                                    <label>Postcode <span class="required">*</span></label>
			    						<input type="zip_code" name="zip_code" id="zip_code" class="form-control input-sm" placeholder="Postcode">
			    					</div>
			    				</div>
			    			</div>

			    			<button type="button" value="Register" id="savebutton" class="btn btn-info btn-block pull-center" style="text-align:center !important;"align=center>Create Account</button>
			    		
			    		</form>
						
                        </div>     
			    </div>

			{% endif %}
			</div>
        </div>
      </div>
    </section>
  </div>
  
  {% endblock %}