{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}
  .cbp-filter-item {
    font-size: 13px;
    font-weight: bold;
    color: #1193d4;
    display: inline-block;
    text-transform: uppercase;
     border: 2px solid #1193d4;
    border-radius: 4px;
}
.cbp-l-filters-buttonCenter .cbp-filter-item {
    color: #888888;
    cursor: pointer;
    margin: 0 10px 10px 0;
    overflow: visible;
     position: relative;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
	</style>
 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Dashboard Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li>dashboard</li>
		  <li class="active">{{current_user.first_name}} {{current_user.last_name}}</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-15 padding-bottom-70">
	
      <div class="container">
	              {% include 'horizontal_menu.html' %}

        <div class="row"> 
          {#
          <!-- Revenues Sidebar -->
          <div class="col-md-3" style="width:22% !important">
            {% include 'left_menu.html' %}

          </div>
          #}
          <!-- Revenues Cart -->
          <div class="col-md-12">
            <div class="heading">
				
				{% if current_user.userid.user_type == 'advisor' %}

					  <h4>CLIENT SUMMARY (<span class="required">{{ advisor_clients.count() }}</span>)</h4>
					  <br>
					  
					  <div class="table-responsive" >
					  {% include 'advisor_clients.html' %}
					  </div>
					</div>
				{% endif %}
				{% if current_user.userid.user_type == 'accountant' %}

					  <h4>CLIENT SUMMARY (<span class="required">{{ advisor_clients.count() }}</span>)</h4>
					  <br>
					  
					  <div class="table-responsive" >
					  {% include 'advisor_clients.html' %}
					  </div>
					</div>
				{% endif %}
				{% if current_user.userid.user_type == 'client' %}

					  <h4>My portfolios (<span class="required">{{ client_portfolios.count() }}</span>)</h4>
					  <br>
					  
					  <div class="table-responsive" >
					   {% include 'portfolios.html' %}
					  </div>
					</div>
				{% endif %}
				{% if current_user.userid.user_type == 'investor' %}
					  <h4>My portfolios (<span class="required">{{ client_portfolios.count() }}</span>)</h4>
					  <br>
					  
					  <div class="table-responsive" >
					   {% include 'portfolios.html' %}
					  </div>
					</div>
				{% endif %}
				{% if current_user.userid.user_type == 'trustee' %}

					  <h4>My portfolios (<span class="required">{{ client_portfolios.count() }}</span>)</h4>
					  <br>
					  
					  <div class="table-responsive" >
					   {% include 'portfolios.html' %}
					  </div>
					</div>
				{% endif %}
             
            
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="response_message"></div>


    {% endblock %}
	{% block datatables1 %}
		<link href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
	  	<div id="tutorpopup" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<script type="text/javascript">

 
//Upload holdings
	$( "#uploadholdings" ).click(function( event ) {
		//alert('here');
//alert($('#summernote').summernote('code'));
		var formData = new FormData();
		formData.append('file', $('#csv_file')[0].files[0]);
		formData.append('portfolio_name', $('#portfolio_name').val());
		formData.append('crud_type', 'uploadportfolioholdings');
		formData.append('table_name', 'portfoioholdings');
			$.ajax({
				type:"POST",
				url: "/clientCRUD",
				data:formData ,
				processData: false,  // tell jQuery not to process the data
                contentType: false ,  // tell jQuery not to set contentType
				cache: false,
				processData: false,
				async: false,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Created!</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#con-close-modal').hide();
					}else{
						$('#con-close-modal').hide();
						swal("Cancelled", response.reason, "error");
					}
					
				},error: function(){
					console.log(response);
					$('#con-close-modal').hide();
					swal("Cancelled", "Record not created. Problem occured", "error");
				}
			});
			return true;
		

	});

	function fnOpenNormalDialog() {
		
		$.ajax({
			type:"POST",
			url: "/viewtutor",
			//dataType:"text",
			data:"id=526188859",
			success: function(response){
				
				//console.log(response);
				 
				$("#tutorpopup").html(response.tutor_content);
				//alert("here");
			},error: function(){
				console.log(response);
				//$('#edit_form').html(response);
				swal("Cancelled", response+"Problem occured", "error");
			}
		});
    

    // Define the Dialog and its properties.
    $("#tutorpopup").dialog({
        "width": 740,
		"title": "Your Tutor Box",
                    "height": 350,
                    "modal": false,
                    "resizable": true,
                    "draggable": true,
                    "dialogClass": "ui-dialog-red"
       /* buttons: { 
                "Close": function () {
                $(this).dialog('close');
                //callback(false);
            }
        }*/
	}).dialogExtend({
			"minimizable" : true,
			"closable": true,
			
			"dblclick" : "minimize",
			"titlebar" : "transparent",
			"minimizeLocation": "left",
			 "icons": {
                        "close": "ui-icon-circle-close",
                        "minimize": "ui-icon-circle-minus",
                        "restore": "ui-icon-carat-2-n-s"
                    }
    });
}

	$(document).ready(function(){ 
		

		$('#new-dialog').click(fnOpenNormalDialog);

		
});


 
	</script>
    {% endblock %}
 