<div > 

				<table class="table table-bordered  table-hover" width="750">
					<thead>
					<tr class=warning><th colspan=6>PORTFOLIO RISK ANALYSIS – SECURITIES HELD</th></tr>					 
					<tr class=info>
						<th ># Holdings</th>
						<th >%held</th>
						<th >Contribution to <br>   Expected Shortfall</th>
						<th >% Contribution to <br>   Expected Shortfall</th>
 						<th >$ Contribution to <br>   Expected Shortfall</th>
 					</tr>
					</thead>
					<tbody>
					{% set es_contrib = [0] -%}
					{% set es_contrib_price = [0] -%}
					{% for detail in analysis_details %}
					{% if es_contrib.append(es_contrib.pop()+ detail.gescontribution) -%}{% endif %}
					{% if es_contrib_price.append(es_contrib_price.pop()+ (portfolio_summary.dollar.ges * detail.gespercent / 100)) %}{% endif %}
					<tr>
					   
						<td>{{ detail.name }}</td>
						<td>{{ detail.weight |round_the_value }}%</td>
						<td>{{ detail.gescontribution | round_the_value }}%</td>
						<td>{{ detail.gespercent | round_the_value }}%</td>
 					    <td>${{ (portfolio_summary.dollar.ges * detail.gespercent / 100) | round_the_value}} </td>
					</tr>
					{%endfor%}
					<tr class="totals-row info">
						<td><strong>Totals:</strong></td>
						<td><strong>100 %</strong> </td>
						<td>{{ es_contrib[0] | round_the_value }}%</td>
						<td><strong>100 %</strong> </td>
 						<td>${{ es_contrib_price[0] | round_the_value }}</td>
					</tr>
					 
					</tbody>
				</table>
			</div>	
			  <div id="visualization_es" style=" height: 420px;"/></div> 
			<div> 
				<table class="table table-bordered  table-hover" width="750">
					<thead>
					<tr><th class=warning colspan=6>PORTFOLIO RISK ANALYSIS – SECTORS HELD</th></tr>
					<tr class=info>
						<th class=" "># Sector Name</th>
						<th class=" ">%held</th>
						<th class=" ">Contribution to<br> Expected Shortfall</th>
						<th class=" ">% Contribution to<br> Expected Shortfall</th>
 						<th class=" ">% Contribution to <br> Expected Shortfall</th>
					</tr>
					</thead>
					<tbody>
					{% set es_sector = [0] -%}
					{% set es_sector_price = [0] -%}
					{% for key, value in categories_hash.items() %}
					{% if es_sector.append(es_sector.pop() + value[5]|float) -%}{% endif %}
					{% if es_sector_price.append(es_sector_price.pop()+ (value[6]|float / 100* portfolio_summary.dollar.ges|float)) %}{% endif %}
					
					<tr>
						<td>{{ key}}</td>
						<td>{{ value[0] | round_the_value }}</td>
						
						<td>{{ value[5] | round_the_value}} </td>
						<td> {{ value[6] | round_the_value}} %</td>
 						<td> ${{ (portfolio_summary.dollar.ges * value[6]|float / 100) | round_the_value}}</td>
					   
					</tr>
					{% endfor %}
					<tr class="totals-row info">
						<td><strong>Totals:</strong></td>
						<td><strong>100 %</strong> </td>
						<td>{{ es_sector[0] | round_the_value }}%</td>
						<td><strong>100 %</strong> </td>
 						<td>${{ es_sector_price[0] | round_the_value }}</td>
					</tr>
					</tbody>
				</table>
			</div>	
			 <div id="visualization_es2" style=" height: 420px;"/></div> 
			 <div> 
				<table class="table table-bordered  table-hover" width="750">
					<thead>
					<tr><th class=warning colspan=6>PORTFOLIO RISK ANALYSIS – INCOME/GROWTH</th></tr>
					
					<tr class=info>
						<th class=" "># Sector Name</th>
						<th class=" ">%held</th>
						<th class=" ">Contribution to  <br> Expected Shortfall</th>
						<th class=" ">% Contribution to <br> Expected Shortfall</th>
 						<th class=" ">$ Contribution to <br> Expected Shortfall</th>
					</tr>
					</thead>
					<tbody>
					{% set es_growth = [0] -%}
					{% set es_growth_price = [0] -%}
					{% for key, value in income_growth.items() %}
					{% if es_growth.append(es_growth.pop() + value[5]|float) -%}{% endif %}
					{% if es_growth_price.append(es_growth_price.pop()+ (value[6]|float / 100* portfolio_summary.dollar.ges|float)) %}{% endif %}
					
					<tr>
						<td>{{ key}}</td>
						<td>{{ value[0]| round_the_value }}</td>
						
						<td>{{ value[5]| round_the_value }} </td>
						<td> {{ value[6]| round_the_value }} %</td>
 						<td> ${{ (portfolio_summary.dollar.ges * value[6]|float / 100) | round_the_value}}</td>
					   
					</tr>
					{% endfor %}
					<tr class="totals-row info">
						<td><strong>Totals:</strong></td>
						<td><strong>100 %</strong> </td>
						<td>{{ es_growth[0] | round_the_value }}%</td>
						<td><strong>100 %</strong> </td>
 						<td>${{ es_growth_price[0] | round_the_value }}</td>
					</tr>
				 
					</tbody>
				</table>
			</div>	
			 <div id="visualization_es3" style=" height: 420px;"/></div> 