{% extends "base.html" %}

{% block content %}
   <!-- Main Stylesheet File -->
  <link href="/static/styles/faq.css" rel="stylesheet">

  <meta name="google-site-verification" content="m8TsU_JcSM5vf92LQxHQEny_TJv2TkcJbrPYmNo5Zyw" />
  <script>
   $('.panel-collapse').on('show.bs.collapse', function () {
    $(this).siblings('.panel-heading').addClass('active');
  });

  $('.panel-collapse').on('hide.bs.collapse', function () {
    $(this).siblings('.panel-heading').removeClass('active');
  });
      (function() {
  
  $(".panel").on("show.bs.collapse hide.bs.collapse", function(e) {
    if (e.type=='show'){
      $(this).addClass('active');
    }else{
      $(this).removeClass('active');
    }
  });  

}).call(this);
  </script>
  <div class="container-fluid content">
    <div class="row ">
      <div class="container">
        <div class="col-md-12 ">
          <h1>Frequently Asked Questions (FAQ's)</h1>
         </div>
      </div>
    </div>
  </div>

    
    <div class="container faq-section">

  <div class="panel-group" id="accordion">
  {% for item in faqs_records %}
    <div class="panel panel-default ative">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}" class="panel-title expand ">
           <div class="right-arrow pull-right"></div>
          <a href="#">{{item.faq_question|safe}} </a>
        </h4>
      </div>
      <div id="collapse{{loop.index}}" class="panel-collapse collapse">
        <div class="panel-body">{{item.faq_answer|safe}}</div>
      </div>
    </div>
      
{%endfor%}
      
      
    {#<div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="panel-title expand">
            <div class="right-arrow pull-right"></div>
          <a href="#">How do I place a referral?</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">The RRR Referral Associate must make contact with the customer and get permission to refer the customer. The RRR Referral Associate would obtain as much information as possible. For example, the customer's name, phone number(s), physical address, email address, geographic area of interest, type of home (single family home, condo, townhouse, commercial, investment), price range, etc. The more information the RRR Referral Associate can obtain, the easier it will be to meet the expectations of the customer. To place your referral, submit the referral using the Send a Referral tab on the RRR website.</div>
      </div>
    </div>
      
      
      
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="panel-title expand">
            <div class="right-arrow pull-right"></div>
          <a href="#">How do i get paid ?</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Realty Referral Resource, LLC places all referrals with cooperating Real Estate Brokers at a 25% referral fee of the applicable side of the transaction. <br><br>
Once closed, the referral fee will be payable to Realty Referral Resource, LLC, and then the RRR Referral Associate will receive the referral amount minus a small administrative fee, which is based on the tiered schedule below: 
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-hover" style=" margin-top: 20px;">
    <thead>
      <tr>
        <th>Referral Fee</th>
        <th>Administrative Fee</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$1 - $5000:</td>
        <td>$100</td>
        </tr>
      <tr>
        <td>$5001 - $10,000:</td>
        <td>$200</td>
         </tr>
      <tr>
        <td>Over $10,000:</td>
        <td>$300</td>
       </tr>
    </tbody>
  </table>
                </div>
                
                <div class="col-md-6">
                     <table class="table table-hover" style=" margin-top: 20px;">
    <thead>
      <tr>
        <th>Referral Fee</th>
        
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sales Price:</td>
        <td>$200,000</td>
        </tr>
      <tr>
        <td>3% Commission of Sales Price:</td>
        <td>$6,000</td>
         </tr>
      <tr>
        <td>25% Referral Fee sent to RRR:</td>
        <td>$1,500</td>
       </tr>
        
        <tr>
        <td>Ref. Fee - $100 Admin Fee:</td>
        <td>$1,400</td>
       </tr>
        <tr>
        <td colspan="2">(See accompanying fee schedule to determine the admin fee for each referral.)</td>
       </tr>
    </tbody>
  </table>
                </div>
            </div>
            
            
           
            All fees will be paid upon the closing of a transaction and receipt of the referral fee by Realty Referral Resource, LLC. The funds will be disbursed to the RRR Referral Associate via direct deposit within a few business days. 
</div>
      </div>
    </div>
     
      
      <div class="panel panel-default">
      
	  <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="panel-title expand collapse in">
            <div class="right-arrow pull-right"></div>
          <a href="#">Can I have full-time job in a different profession?</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">Of course! Realty Referral Resource, LLC was created for people just like you who have chosen not to pursue real estate as a full-time career, or who are changing their occupation or are retiring from full-time work as a real estate agent. You can still earn income through real estate by generating referrals through personal and business networking channels.</div>
      </div>
    </div>
      
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="panel-title expand">
            <div class="right-arrow pull-right"></div>
          <a href="#">Can I list a property?</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">RRR Referral Associates are ineligible to list or sell any property, participate in negotiations, or execute any real estate documents. You can instead refer your customer to an active Realtor who will, in turn, provide a referral fee for the introduction.</div>
      </div>
    </div>
      
       <div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="panel-title expand">
            <div class="right-arrow pull-right"></div>
          <a href="#">What is total start-up cost?</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">There are no local or national board memberships to join, just a $100 annual fee, prorated in the first year based on the date you join RRR. It's that simple!</div>
      </div>
    </div>
      
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse7" class="panel-title expand">
            <div class="right-arrow pull-right"></div>
          <a href="#">Do I join local real estate board and/or MLS?</a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
        <div class="panel-body">No! As a Referral Associate you will not join the local, state or national Board of Realtors and will not be an MLS member.</div>
      </div>
    </div>
      
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse8" class="panel-title expand">
            <div class="right-arrow pull-right"></div>
          <a href="#">Do I have to maintain my continuing education?</a>
        </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse">
        <div class="panel-body">Referral Associates are required to maintain their current real estate license at their own expense. Continuing education requirements must be met on schedule. You can refer to the Continuing Education (CE) tab on our site for links to excellent online options for continuing education, or you can explore local real estate schools and/or attorneys for in-person classes.</div>
      </div>
    </div>
      
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse9" class="panel-title expand">
            <div class="right-arrow pull-right"></div>
          <a href="#">Do I need Error & Omissions insurance?</a>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse">
        <div class="panel-body">No! As a Referral Associate you will not need to hold Errors and Omissions insurance.</div>
      </div>
    </div>
     #}
  </div> 
    </div>
  <!-- Accordian code starts -->

  


    <div class="image">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12"></div>
                </div>
            </div>
        </div>
  
    {% endblock %}