{% extends "base.html" %}

{% block content %}
<link href="/static/styles/faq.css" rel="stylesheet">
        <link href="/static/sweet-alert/sweet-alert.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
<!--

function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}

jQuery(document).ready(function(){
  $( "#savebutton" ).click(function( event ) {
 		if ($('#email').val() == "") {
				alert('email is required!');
				return false;
			}
		
		else{
			
			//prevent Default functionality
			 //alert(description)
			 var serializedData = $("#myEditform").serialize();
			$.ajax({
				type:"POST",
				url: "/forgot-password",
				dataType:"json",
				data:serializedData ,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#edit_form').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Email has been sent to reset password!</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#con-close-modal').hide();
					}else{
						$('#edit_form').hide();
						swal("Cancelled", "Invalid email address. Please try again.", "error");
					}
					
				},error: function(){
					console.log(response);
					swal("Cancelled", "Invalid email address. Please try again.", "error");
				}
			});
			return true;
		}

	});



});

//-->
</script>
<div class="container-fluid content">
    <div class="row ">
      <div class="container">
        <div class="col-md-12 ">
          <h1>Forgot Password?</h1>
         </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <!-- Content -->
  <div id="content"> 
    
    <!-- SERVICES -->
    <section class="services padding-top-30 padding-bottom-30">
       
      <div class="best-services"> 
        <!-- Row -->
        <div class="container">    
        <div id="loginbox" style="margin-top:0px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">   
		{% if error %}
							
							<div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                        <span class="alert alert-danger"> <strong>Error!</strong> {{ error }} </span>
                    </div>
						{% endif %}
             <div class="heading text-center"> <span></span>
           
          <p><!-- BEGIN FORGOT PASSWORD FORM -->
                        <form  action="/forgot-password" method="post" id="myEditform">
                             
                            <p> Type your email address below, and a link will be sent to reset your password. </p>
                            <div class="form-group">
                                <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="Email Address" id=email name="email" required /> </div>
                            <div class="form-actions">
                                
                                <button type="button" id="savebutton" class="btn blue btn-success uppercase">Submit</button>
                            </div>
                        </form>
                        <!-- END FORGOT PASSWORD FORM --></p>
        </div>
			</div>
        
		</div>
      </div>
      
     
      
      
      
      

     
    </section>
  </div>
  <!--MODAL-BOX-->
			<div id="edit_form"></div>
			 <div id="response_message"></div>


 {% endblock %}