{% extends "base.html" %}

{% block content %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  
<style type="text/css">
.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}
.fullscreen-modal .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  overflow-y: initial !important
}
@media (min-width: 768px) {
  .fullscreen-modal .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .fullscreen-modal .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .fullscreen-modal .modal-dialog {
     width: 1170px;
  }
}
.google-visualization-table-th {
text-align: center !important;
}

.google-visualization-table-td {
text-align: center !important;
}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

</style>
</head>
<section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Dashboard Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Iriskaware Analysis</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 

  <!-- Revenues -->
    <section class="revenues padding-top-15 padding-bottom-70">
      <div class="container">
	  	  	  {% include 'horizontal_menu.html' %}

        <div class="row"> 
          
           
          
           <!-- Revenues Cart -->
          <div class="col-md-12">
            <div class="heading">
				
				 
				{% if error != "" %}}
						<h4>Create Report</h4>
						<div class="col-md-9" style="padding-top:30px;">    
						<div class="heading text-cente panel-bodyr alert alert-danger alert-dismissable" style="padding-top:30px;" id="thankyouform"> <span></span>
							  <strong>{{error}}</strong><br>
							  
							  <p>for any queries please contact our support <a href="/contactus" class="primary-color">team.</a></p>
							</div>
							</div>
				{%else%}
					<h4>Create Report</h4>
				  <br>
					<!-- InsiderRow -->
					<div class="col-md-12"> 
					<div style="padding-top:10px" class="panel-body" id="clientregform">
    <table class="table" id="my-table">
<tbody>
</tbody>
</table >
<form role="form" id="myform" class="contact-form" role="form" method=post>
<input type="hidden" name="crud_type" value="create_report">
<input type="hidden" name="portfolio1" id="portfolio1" value="">
<input type="hidden" name="framework1" id="framework1" value="">
<input type="hidden" name="portfolio2" id="portfolio2" value="">
<input type="hidden" name="framework2" id="framework2"  value="">
<input type="hidden" name="portfolio3" id="portfolio3" value="">
<input type="hidden" name="framework3" id="framework3" value="">
<input type="hidden" name="centroid_val" id="centroid_val" value="">
<input type="hidden" name="framework_val" id="framework_val" value="">
<div class="row">
<div class="col-xs-6 col-sm-2">Unselected: <button class="btn-default btn-lg" type=button></button></div>
<div class="col-xs-6 col-sm-2">Disliked: <button class="btn-danger btn-lg" type=button></button></div>
<div class="col-xs-6 col-sm-2">Liked: <button class="btn-primary btn-lg" type=button></button></div>
<div class="col-xs-6 col-sm-2">Centroid: <button class="btn-success btn-lg" type=button></button></div>
<div class="col-xs-6 col-sm-2">Excluded: <button class="btn-warning btn-lg" type=button></button></div>
</div>
<div id ="selection">
<div class="form-group">
                                    <label>SET Risk Limits to Refine Search</label>
                                    <select name="mychoice" id="mychoice" class = "form-control" >
                                    	 <option>--select--</option>
								         <option value="sd">Standard Deviation</option>
								         <option value="varrr">Value at Risk</option>
								         <option value="mvar">Modified Value at Risk</option>
								         <option value="es">Expected Shortfall</option>
								         <option value="mes">Modified Expected Shortfall</option>
								      </select>
								</div>
								<div id="lower" class="hide">
									    <label>SET Lower Risk Limit</label>
									    <input type = "text" id="lt" class = "form-control" placeholder="Not Set">
									    
									</div>
									<div id="higer" class="hide">
									    <label>SET Higher Risk Limit</label>
									    <input type = "text" id="hit" class = "form-control" placeholder="Not Set">
									    
									</div>
									<button id="limit" type=button class="btn-primary" hidden>Set Limit</button>
</div>
<script>

var arr =[];
var curr = 0;

jQuery(document).ready(function(){
	google.charts.load('current', {packages: ['corechart','table']});
	$('#close3').on('click',function(){
		       		$('#myModal2').hide();
		       });
		       $('#close4').on('click',function(){
		       		$('#myModal2').hide();
		       });
	function drawGrid() {
    $.get("{{ url_for('static', filename = 'riskdump.csv') }}", function(csvString) { //Read the csv structure
      // transform the CSV string into a 2-dimensional array
	  
      var arrayData = $.csv.toArrays(csvString, {onParseValue: $.csv.hooks.castToScalar});

      var i = 1;
      for(var j = 0; j<9;j++){
      	$('#my-table > tbody:last').append('<tr>');
      	for (var c = 0; c<10;c++) {
            $('#my-table > tbody:last > tr:last').append('<td><button id="bt'+i+'" class="btn-default btn-lg" data-container="body" data-toggle="popover" rel="hpopover"></button></td>');
            	$('[rel=hpopover]').popover({
        placement: 'bottom',
        trigger: 'hover',
        html : 'true',
        title: 'Portfolio Risk Summary',
        content: 'Standard Deviation : '+arrayData[i][2]+'% <br/> Modified Value at Risk : '+arrayData[i][8]+'% <br/> Modified Expected Shortfall : '+arrayData[i][9]+'%'
    		});

            i = i+1;
        }
        $('#my-table > tbody:last ').append('</tr>');
      }
 		
 		$('td').click(function(){
		  var col = $(this).parent().children().index($(this));
		  var row = $(this).parent().parent().children().index($(this).parent());
		  var val = (row)*10 + (col+1);
		  $.get("{{ url_for('static', filename = 'distdump1.csv') }}", function(csvString) { //Read the csv structure
		      // transform the CSV string into a 2-dimensional array

		      var arrayData = $.csv.toArrays(csvString, {onParseValue: $.csv.hooks.castToScalar});
		      var arr = arrayData[val];
		      var ind1 = arr.indexOf('MidPoint');
		      var ind2 = arr.indexOf('ActualFrequency');
		      var ind3 = arr.indexOf('NormalFit');
		      var data = new google.visualization.DataTable();
		      data.addColumn('string','MidPoint');
		      data.addColumn('number','ActualFrequency');
		      data.addColumn('number','NormalFit');
 		      for(var k=1;k<=60;k++){
		      	data.addRow([String(arr[ind1+k]),arr[ind2+k],arr[ind3+k]])
		      }
		      drawChart(data);
		  });
		  curr = Number(val);
		  $('#like1').unbind().click(function(){
					if(arr.length<3){
						$('#finishh').prop('disabled', true);
						if($.inArray(Number(curr),arr) == -1){
						arr.push(Number(curr));
						$('#bt'+String(curr)).removeClass('btn-default').addClass('btn-primary');
						$('#bt'+String(curr)).removeClass('btn-warning').addClass('btn-primary');
						$('#bt'+String(curr)).removeClass('btn-danger').addClass('btn-primary');}
					}else if(arr.length==3){
						$('#like1').addClass('disabled');
						$('#selection').hide();
					}else{
						$('#like1').addClass('disabled');
						$('#selection').show();
					}

					if(arr.length==3){
						$('#like1').addClass('disabled');
						$('#selection').hide();
						$('#finishh').prop('disabled', false);
					}
					$('#myModal2').hide();
					if(arr.length>0 & arr.length<4){
						google.charts.setOnLoadCallback(drawTable(arr));
					}
				});
				$('#dislike1').unbind().click(function(){
					if(arr.length>0){
						if($.inArray(Number(curr),arr) != -1){
							var ind = arr.indexOf(Number(curr));
							if (ind > -1) {
    							arr.splice(ind, 1);
    							$('#bt'+String(curr)).removeClass('btn-primary').addClass('btn-danger');
							}
							drawTable(arr);
						}
						$('#bt'+String(curr)).removeClass('btn-warning').addClass('btn-danger');
						$('#bt'+String(curr)).removeClass('btn-default').addClass('btn-danger');
					}
					if(arr.length<3){
						$('#like1').removeClass('disabled');
						$('#selection').show();
						$('#finishh').prop('disabled', true);
					}
					if(arr.length==3){
						$('#like1').addClass('disabled');
						$('#selection').hide();
						$('#finishh').prop('disabled', false);
					}
					$('#myModal2').hide();
					$('#bt'+String(curr)).removeClass('btn-warning').addClass('btn-danger');
					$('#bt'+String(curr)).removeClass('btn-default').addClass('btn-danger');
					drawTable(arr);
				});

				$('#unselect1').unbind().click(function(){
					if(arr.length>0){
						if($.inArray(Number(curr),arr) != -1){
							var ind = arr.indexOf(Number(curr));
							if (ind > -1) {
    							arr.splice(ind, 1);
    							$('#bt'+String(curr)).removeClass('btn-primary').addClass('btn-default');
							}
							drawTable(arr);
						}
						$('#bt'+String(curr)).removeClass('btn-warning').addClass('btn-default');
						$('#bt'+String(curr)).removeClass('btn-danger').addClass('btn-default');

					}
					if(arr.length<3){
						$('#like1').removeClass('disabled');
						$('#selection').show();
						$('#finishh').prop('disabled', true);
					}
					if(arr.length==3){
						$('#like1').addClass('disabled');
						$('#selection').hide();
						$('#finishh').prop('disabled', false);
					}
					$('#myModal2').hide();
					$('#bt'+String(curr)).removeClass('btn-warning').addClass('btn-default');
						$('#bt'+String(curr)).removeClass('btn-danger').addClass('btn-default');
					
					drawTable(arr);

				});
		});

			});

	}
	drawGrid();

function drawChart(data) {
  
      var options = {
      width: 1150, // Set this as per the page
      height: 400, // Set this as per the page
      title : 'Normal Curve for Portfolio Returns', // Title of the Chart
      colors : ['blue','Red'],
      vAxes: {0: {logScale: false,gridlines: {color: 'transparent'},textColor: '#ffffff'}, // Log scale is used only on high values
              1: {logScale: false,gridlines: {color: 'transparent'},textColor: '#ffffff'}}, // 0 and 1 denote the axis numbers , so in this case 2 axes
      hAxis: {title: "Interval - midpoint monthly return",gridlines:{count : 60},slantedText:true,format:'0.00', textStyle : {
            fontSize: 14 // or the number you want
        }}, // Format is used to set the deciaml points, title for displaying 
      legend : {position: 'left', alignment :'center'},
      seriesType: "bars",
      series: {0: {type: "bar",targetAxisIndex:0},1: {type: "line",targetAxisIndex:1}}, // Target axis maps the chart type to that axis index

    };

    var chart = new google.visualization.ComboChart(document.getElementById('visualization'));
    chart.draw(data, options);
    $("#myModal2").show();
	}
	
});

$('#mychoice').change(function() {
    opt = $(this).val();
    removecolor();
    if (opt!="--select--") {
        $('#lower').removeClass('hide');
        $('#higer').removeClass('hide');
        $('#limit').show();
    }	
});


$('#limit').click(function(){
	function colorGrid() {
	$.get("{{ url_for('static', filename = 'riskdump.csv') }}", function(csvString) { //Read the csv structure
		      // transform the CSV string into a 2-dimensional array
		      removecolor();
		      var arrayData = $.csv.toArrays(csvString, {onParseValue: $.csv.hooks.castToScalar});
		      var i = 1;
		      for(var j = 0; j<9;j++){
		      	for (var c = 0; c<10;c++) {

		      		if($('#mychoice').val()=='sd'){
						var std = Number(arrayData[i][2]);
						if(($('#lt').val()!='') & ($('#hit').val()!='') )
							{	if((std< Number($('#lt').val())) || (std> Number($('#hit').val()))){
								$('#bt'+String(i)).removeClass('btn-default').addClass('btn-warning ');}
						}else if(($('#lt').val()!='')){
							if((std< Number($('#lt').val()))){
								$('#bt'+String(i)).removeClass('btn-default').addClass('btn-warning ');
							}
						}else if(($('#hit').val()!='')){
							if((std> Number($('#hit').val()))){
								$('#bt'+String(i)).removeClass('btn-default').addClass('btn-warning ');
							}
						}
						
					}else if($('#mychoice').val()=='varrr'){
						var std = Number(arrayData[i][6]);
						if(($('#lt').val()!='') & ($('#hit').val()!='') )
							{	if((std< Number($('#lt').val())) || (std> Number($('#hit').val()))){
								$('#bt'+String(i)).removeClass('btn-default').addClass('btn-warning ');}
						}else if(($('#lt').val()!='')){
							if((std< Number($('#lt').val()))){
								$('#bt'+String(i)).removeClass('btn-default').addClass('btn-warning ');
							}
						}else if(($('#hit').val()!='')){
							if((std> Number($('#hit').val()))){
								$('#bt'+String(i)).removeClass('btn-default').addClass('btn-warning ');
							}
						}
						
					}else if($('#mychoice').val()=='mvar'){
						var std = Number(arrayData[i][8]);
						if(($('#lt').val()!='') & ($('#hit').val()!='') )
							{	if((std< Number($('#lt').val())) || (std> Number($('#hit').val()))){
								$('#bt'+String(i)).removeClass('btn-default').addClass('btn-warning ');}
						}else if(($('#lt').val()!='')){
							if((std< Number($('#lt').val()))){
								$('#bt'+String(i)).removeClass('btn-default').addClass('btn-warning ');
							}
						}else if(($('#hit').val()!='')){
							if((std> Number($('#hit').val()))){
								$('#bt'+String(i)).removeClass('btn-default').addClass('btn-warning ');
							}
						}
						
					}else if($('#mychoice').val()=='es'){
						var std = Number(arrayData[i][7]);
						if(($('#lt').val()!='') & ($('#hit').val()!='') )
							{	if((std< Number($('#lt').val())) || (std> Number($('#hit').val()))){
								$('#bt'+String(i)).removeClass('btn-default').addClass('btn-warning ');}
						}else if(($('#lt').val()!='')){
							if((std< Number($('#lt').val()))){
								$('#bt'+String(i)).removeClass('btn-default').addClass('btn-warning ');
							}
						}else if(($('#hit').val()!='')){
							if((std> Number($('#hit').val()))){
								$('#bt'+String(i)).removeClass('btn-default').addClass('btn-warning ');
							}
						}
						
					}else if($('#mychoice').val()=='mes'){
						var std = Number(arrayData[i][9]);
						if(($('#lt').val()!='') & ($('#hit').val()!='') )
							{	if((std< Number($('#lt').val())) || (std> Number($('#hit').val()))){
								$('#bt'+String(i)).removeClass('btn-default').addClass('btn-warning ');}
						}else if(($('#lt').val()!='')){
							if((std< Number($('#lt').val()))){
								$('#bt'+String(i)).removeClass('btn-default').addClass('btn-warning ');
							}
						}else if(($('#hit').val()!='')){
							if((std> Number($('#hit').val()))){
								$('#bt'+String(i)).removeClass('btn-default').addClass('btn-warning ');
							}
						}
						
					}
					i = i+1;
		      	}
		      }
		  });
	}
	colorGrid();

});
var oldcent = 0;
function drawTable(arr) {
	    
        var data1 = new google.visualization.DataTable();
        data1.addColumn('string',' ');
        data1.addColumn('number','Portfolio 1');
		data1.addColumn('number','Portfolio 2');
		data1.addColumn('number','Portfolio 3');
		data1.addColumn('number','Centroid');
        if(arr.length == 1){
        	x1 = Math.ceil(arr[0]%10);
        	y1 = Math.ceil(arr[0]/10);
			if (x1==0)
				{x1 = 10;}

        	data1.addRow(['Portfolio',parseInt(Number(x1)),0,0,0]);
        	data1.addRow(['Framework',parseInt(Number(y1)),0,0,0]);
        	$('#bt'+String(parseInt(Number(oldcent)))).removeClass('btn-success').addClass('btn-default');
        }else if(arr.length == 2){
        	x1 = Math.ceil(arr[0]%10);
        	x2 = Math.ceil(arr[1]%10);
        	if (x1==0)
				{x1 = 10;}
			if (x2==0)
				{x2 = 10;}
        	y1 = Math.ceil(arr[0]/10);
        	y2 = Math.ceil(arr[1]/10);
        	data1.addRow(['Portfolio',parseInt(Number(x1)),parseInt(Number(x2)),0,0]);
        	data1.addRow(['Framework',parseInt(Number(y1)),parseInt(Number(y2)),0,0]);
        	$('#bt'+String(parseInt(Number(oldcent)))).removeClass('btn-success').addClass('btn-default');
        }else{
        	x1 = Math.ceil(arr[0]%10);
        	x2 = Math.ceil(arr[1]%10);
        	x3 = Math.ceil(arr[2]%10);
        	if (x1==0)
				{x1 = 10;}
			if (x2==0)
				{x2 = 10;}
			if (x3==0)
				{x3 = 10;}
        	x = Math.round(Number(x1+x2+x3)/3);
        	y1 = Math.ceil(arr[0]/10);
        	y2 = Math.ceil(arr[1]/10);
        	y3 = Math.ceil(arr[2]/10);
        	y = Math.round(Number(y1+y2+y3)/3);
        	cent = (y-1)*10 + x;
        	console.log(cent)
        	data1.addRow(['Portfolio',x1,x2,x3,x]);
        	data1.addRow(['Framework',y1,y2,y3,y]);
        	if(oldcent != cent){
        	$('#bt'+String(parseInt(Number(cent)))).removeClass('btn-default').addClass('btn-success');
        	$('#bt'+String(parseInt(Number(cent)))).removeClass('btn-warning').addClass('btn-success');
        	$('#bt'+String(parseInt(Number(cent)))).removeClass('btn-danger').addClass('btn-success');
        	$('#bt'+String(parseInt(Number(oldcent)))).removeClass('btn-success').addClass('btn-default');
        	oldcent = cent;
        	}else{
				$('#bt'+String(parseInt(Number(cent)))).removeClass('btn-danger').addClass('btn-success');
				$('#bt'+String(parseInt(Number(cent)))).removeClass('btn-warning').addClass('btn-success');
        	}

        }
		/*alert(x1+"=="+parseInt(Number(y1)))
		alert(x2+"=="+parseInt(Number(y2)))
		alert(x3+"=="+parseInt(Number(y3)))
		alert(x+"=="+parseInt(Number(y)))
		*/
		if(arr.length==1){
			document.getElementById('portfolio1').value = x1;
			document.getElementById('framework1').value = y1;
			
		}
		if (arr.length==2)
		{
			document.getElementById('portfolio2').value = x2;
			document.getElementById('framework2').value = y2;
			
		}
		if(arr.length==3){
			document.getElementById('portfolio3').value = x3;
			document.getElementById('framework3').value = y3;
			document.getElementById('centroid_val').value = x;
			document.getElementById('framework_val').value = y;
		}
        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(data1, {showRowNumber: false, width: '70%', height: '10%'});
      }
function removecolor(){
	var i = 1;
	for(var j = 0; j<9;j++){
		for (var c = 0; c<11;c++) {
		    $('#bt'+String(i)).removeClass('btn-warning').addClass('btn-default ');
		    i = i+1;
		    }
		      	}
}

</script>
<p>
<div id="table_div"></div>
<button type="button" id="finishh" class="btn btn-success" disabled>Create Report</button>

<div class="modal fullscreen-modal" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" id="close4" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Risk Chart</h4>
	      </div>
	      <div class="container">
	      	<small>
	      		IRISKAWARE focusses on expected losses for selected Investment Strategies.The ‘bar chart’ displays the frequency of historical monthly returns for the selected portfolio.The ‘bell-shaped’ line is a ‘normal curve’ based on the historical monthly returns.Non-normality is suggested by how well the curve contains the historical observations.Expected losses lie in the extreme left of these displays.
			</small>
		  </div>
	      <div id="visualization">
			</div>
		  <div class="container">
		  <small>
For example, Value at Risk (VaR) is the return for which 5% of the observation lie to its left. Expected Shortfall is the average of all returns less than or equal to the Value at Risk.Standard deviation (SDEV) of returns summarises the ‘spread’ around the average.However, when portfolio returns are not Normal, Modified estimates of expected losses are required to deal with skewness (‘leaning’) and kurtosis (‘peakedness’). These estimates are referred to as Modified e.g. MVaR and MES.These are all acceptable measures of risk under the right conditions.</br>
		</small>
	</div>

	         
	      <div class="modal-body" id="modbod1">
	      </div>
	      <div class="modal-footer" id="modfoot">
	      	<button type="button" id="like1" class="btn btn-primary">Like</button>
	        <button type="button" id="dislike1" class="btn btn-danger">DisLike</button>
	        <button type="button" id="unselect1" class="btn btn-success">Unselect</button>
	        <button type="button" id="close3" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
<form>
{%endif%}
</div>
        </div>
      </div>
    </section>
  </div>
  <div id="response_message"></div>
 {% endblock %}
   {% block datatables %}

 <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/jquery.csv.js') }}" ></script>
 <script type="text/javascript">
 <!--
	jQuery(document).ready(function(){

	$( "#finishh" ).click(function( event ) {
 		 
			
			//prevent Default functionality
			 //alert(description)
			  
			$.ajax({
				type:"POST",
				url: "/clientCRUD",
				dataType:"json",
				data:$('form').serialize() ,
				success: function(response){
					// alert("here");
					$('#edit-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Created!</h2><a href="/iriskaware_reports" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						
						//swal("Cancelled", "Problem occured Please contact administrator", "error");
						$('#con-close-modal').hide();
					}else{
						console.log(response);
 						swal("Cancelled", response.message, "error");
					}
					
				},error: function(){
					console.log(response);
					 
 					swal("Cancelled", "Mismatch in the columns. Problem occured", "error");
				}
			});
			return true;
		 

	});

});
 //-->
 </script>
 {% endblock %}
