<style>
	.required { 
	   content:"*";
	   color:red;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}
  .cbp-filter-item {
    font-size: 13px;
    font-weight: bold;
    color: #1193d4;
    display: inline-block;
    text-transform: uppercase;
     border: 1px solid #1193d4;
    border-radius: 4px;
	background-color:#f9f9f9;
}
.cbp-l-filters-buttonCenter .cbp-filter-item {
    color: #888888;
    cursor: pointer;
    margin: 0 10px 10px 0;
    overflow: visible;
     position: relative;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.ownmenu ul.dropdown, .ownmenu ul.dropdown li ul.dropdown {
     
    width: 173px !important;
     
}
	</style>

	<div class=row style="padding-bottom:20px;">

	{% if current_user.userid.user_type == 'accountant' or current_user.userid.user_type == 'advisor' %}

	      <ul class="nav ownmenu"> 
              
            <!--<li style="" class="cbp-filter-item"> <a href="/iriskaware_analysis"><i class="fa fa-users"></i>  MY CLIENTS <span class="caret"></span> </a>
              <ul class="dropdown">
                <li> <a href="/dashboard">Manage Clients</a></li>
						<li><a href="/createclient"> Register Client</a></li>
						<li> <a href="/inbox">Inbox</a></li>
              </ul>
            </li>-->
			<li style="" class="cbp-filter-item"> <a href="/iriskaware_analysis"><i class="fa fa-bar-chart"></i>  Iriskaware <span class="caret"></span> </a>
              <ul class="dropdown">
                
				<li><a href="/iriskaware_reports"> View Reports</a></li>
				
              </ul>
            </li>
			<li>&nbsp;&nbsp;&nbsp;</li>
            <li style="" class="cbp-filter-item"> <a href="/clientportfolios"><i class="fa fa-comments-o"></i> Iriskonline <span class="caret"></span> </a>
              <ul class="dropdown">
                
				<li><a href="/clientportfolios"> View Portfolios</a></li>
              </ul>
            </li>
			{#<li>&nbsp;&nbsp;&nbsp;</li>
            <li style="" class="cbp-filter-item"> <a href="/risklimits"><i class="fa fa-globe"></i>  Iriskwatch <span class="caret"></span> </a>
              <ul class="dropdown">
                <li> <a href="/risklimits">Watch Risk limits</a></li>
              </ul>
            </li>#}
			<li>&nbsp;&nbsp;&nbsp;</li>
			 <li style="" class="cbp-filter-item"> <a href="/viewClient?id={{session['clientid']|encode_key}}"><i class="fa fa-profile"></i>  Profile  </a>
             
            </li>
			
            {# <li  class="cbp-filter-item right"> <a href="/viewClient?id={{session['clientid']}}">Profile</a>
			<ul class="dropdown">
                <li><a href="/myProfile"> Profile</a></li>
						<li> <a href="/view_resources">View Resources</a></li>
						
						<li> <a href="/purchase_advisor">Purchase Resources</a></li>
						<li> <a href="/purchase_reports">Purchase Reports</a></li>
						<li> <a href="/subscriptions">Payments History</a></li>
              </ul>
			</li>#}
          <li class=right>&nbsp;&nbsp;&nbsp;</li>
			<li class="cbp-filter-item right"> <a href="/logoutasclient"><i class="fa fa-arrow-left"></i> Back to Profile </span></a></li>
			
           </ul>
	{% endif %}

	 

	 

</div>