{% extends "base.html" %}
{% block content %}

<!-- banner html code start -->
<div class="banner">
  <div class="container container-table">
    <div class="row  text-center banner-content ">
      <div class="col-md-12 col-sm-12  vertical-center-row">
        <h1>Join the Fastest-Growing Real Estate <br>Referral Network</h1>
        <h4> Keep your real estate license active and boost your income by
          sharing referrals </h4>
        <div class="row container get-start-btn">
          <button>
          <a href="/register" style="text-decoration:none;color:#028081 !important;font-weight:600" >Get Started Now
              </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
    
<div class="clearfix"></div>

<!-- how it works code starts -->
<div class="how-it-work" id="howitworks">
    <div class="container-fluid">
            <div class="col-md-6"></div>
            <div class="col-md-6"> <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
       
        <h4 class="modal-title">How It Works</h4>
      </div>
      <div class="modal-body">
         <ol>
                <li>Submit a Buyer/Seller through the RRR Portal</li>
                <li> RRR will connect with a Receiving Agent in the referral area </li>
                <li> Receiving Agent will service the client, with periodic
                  updates to RRR and Referral Associate </li>
                <li> Upon completion of transaction, RRR will receive Referral
                  Fee from Receiving Agent Brokerage </li>
                <li> RRR Referral Associate will receive his Referral Fee via
                  Direct Deposit </li>
              </ol>
      </div>
     
    </div>
        </div>
    </div>
    </div>

  
    
    
<!-- do code starts -->
    <section class="referral-associate">
<div class="container">
  <div class="row " style="padding-top:25px">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 text-center" style="margin-top: 66px;">
          <h3> What Does a Referral Associate <span>DO?</span> </h3>
        </div>
      </div>
      <div align="center">
        <div class="box-1">
          <div class="col-md-3 ref-img"> <img src="/static/images/group-20.png" alt="" width="75%" />
            <p>Maintains a current real estate license.</p>
          </div>
          <div class="col-md-3 ref-img"> <img src="/static/images/group-21.png" alt="" width="75%" />
            <p> Completes all required Continuing Education requirements to
              keep license current. </p>
          </div>
          <div class="col-md-3 ref-img"> <img src="/static/images/group-24.png" alt="" width="75%" />
            <p> Renews license as scheduled according to local requirements. </p>
          </div>
          <div class="col-md-3 ref-img"> <img src="/static/images/group-25.png" alt="" width="75%" />
            <p>Submits referral clients through the RRR portal.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
    
      <section class="what-does-referral">
        <div class="container-fluid">
            <div class="col-md-3"></div>
            <div class="col-md-9">
            <h3> What Does a Referral Associate <span>NOT DO?</span> </h3>
              
                <div class="row do-content1">
                  <ul>
                    <li>Make Appointments</li>
                    <li>Show Property</li>
                    <li>Provide advice to Buyers, Sellers, or Agents regarding price, negotiating strategy, or repair strategy</li>
                    <li>Write Offers</li>
                    <li>Attend any Inspections</li>
                    <li>Pay for E&O Insurance or pay fees to any local real estate board, MLS, or Realtor Association</li>
                  </ol>
                </div>
                </div>
          </div>
    </section>
    
    
<!-- not-to-do code starts -->


<!-- you code starts -->
    <section class="is-being-sec">
<div align="center">
  <div class="cintainer-fluid image">
    <div class="container">
      <div class="row" style="margin: 26px 0px;">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">
            <div class="row you-head">
              <h3> Is Being a Referral Associate Right for <span>YOU?</span> </h3>
            </div>
            <div class="row you-head">
              <h4>Referral status is a good option if you can answer Yes to one or more of the following:</h4>
            </div>
            <div class="row">
                
                
              <div class="col-md-6" style="padding-top:30px;">
                <div class="col-md-3"> <img src="/static/images/group-10.png" style="width:160px"/> </div>
                <div class="col-md-9"> <span class="graph"
                        >You have a current license and many community
                  connections, but have no time for managing the details
                  of real estate transactions;</span
                      > </div>
              </div>
              <div class="col-md-6" style="padding-top:30px;">
                <div class="col-md-3"> <img src="/static/images/group-250.png" style="width:160px"/> </div>
                <div class="col-md-9"> <span class="para"
                        >You have connections who want to purchase property in
                  distant markets;</span
                      > </div>
              </div>
              <div class="col-md-6" style="padding-top:30px;">
                <div class="col-md-3"> <img src="/static/images/group-53.png" style="width:160px" /> </div>
                <div class="col-md-9"> <span class="para"
                        >You have connections who move into the local area with
                  no knowledge of the area;</span
                      > </div>
              </div>
              <div class="col-md-6" style="padding-top:30px;">
                <div class="col-md-3"> <img src="/static/images/group-54.png" style="width:160px" /> </div>
                <div class="col-md-9"> <span class="graph"
                        >You have a license in one state but have moved
                  elsewhere; you can still benefit from real estate
                  transactions happening in your sphere of influence in
                  your former location.</span
                      > </div>
              </div>
            </div>
          </div>
          <div class="card" style="opacity: 0.9; background-color: rgba(233, 236, 239, 0.36);">
            <div class="row">
              <div class="col-md-12">
                  <div class="box-card">
                <p> Still have questions? See our <span><a href="/faqs">FAQ's</a></span> page! </p>
                      </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        </section>
<!-- agents code starts -->
{#<div align="center agents-say">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row" style="padding-bottom: 3em">
          <div class="col-md-12" style="padding-top: 3em">
            <h2 class="text-center">What Our Agents Say</h2>
             <div class="one-pixborder"></div> 
          </div>
          <div>
            <div class="col-md-4 card"> <img class="center-block" src="/static/images/avatar.png" style="width:160px"/>
              <h3 class="text-center">Kung Jiyeon</h3>
              <p class="text-center" style="color: #5a6169;"> Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's </p>
            </div>
            <div class="col-md-4 card"> <img class="center-block" src="/static/images/2.png" style="width:160px"/>
              <h3 class="text-center">Raaid El Syed</h3>
              <p class="text-center" style="color: #5a6169;"> Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's </p>
            </div>
            <div class="col-md-4 card"> <img class="center-block" src="/static/images/3.png" style="width:160px"/>
              <h3 class="text-center">Sun Jun</h3>
              <p class="text-center" style="color: #5a6169;"> Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <hr>#}
<!-- have a question code stsrts -->
<div class="container-fluid"  id="contactus">
  <div class="hav-a-quest col-md-8 col-md-offset-2"> 
       <h1 class="text-center">Have a Question ?</h1>
        <div class="one-pixborder"></div>
    <div class="box-shadow-1">
   <form role="form" id="form-register" class="form-register" role="form">
	<input type="hidden" name="table_name" value="contactus">
	<input type="hidden" name="user_type" value="agent">
				 
      <div class="row form-top-space">
            <div class="col-md-4 col-md-offset-2">
              <div class="form-group">
                <label style="font-size: 12px;">First Name</label>
                <div class="" id="firstname">
                  <input type="text" class="form-control" name="first_name" ID="first_name" placeholder="First Name"/>
				 
                </div>
              </div>
          </div>
          
          <div class="col-md-4">
               <div class="form-group">
                <label style="font-size: 12px;">Last Name</label>
                <div class="" id="lastname">
                  <input type="text" class="form-control" name="last_name" id="last_name"  placeholder="Last Name"/>
                </div>
              </div>
          </div>
      </div>
        
         <div class="row">
            <div class="col-md-4 col-md-offset-2">
             <div class="form-group">
                <label style="font-size: 12px;">Phone</label>
                <div class="">
                  <input type="number" class="form-control" name="number" placeholder="+1 123-233-4861"/>
                </div>
              </div>
          </div>
          
          <div class="col-md-4">
               <div class="form-group">
                <label style="font-size: 12px;">Email</label>
                <div class="" >
                  <input type="email" class="form-control" name="email" id="email" placeholder="contact@example.com"/>
                </div>
              </div>
          </div>
      </div>
        
         <div class="row">
             <div class="col-md-8 col-md-offset-2">
                 <label style="font-size: 12px;">Message</label>
              <div class="date">
                <textarea rows="" name=message placeholder="Message" style="width:99%;height: 100px;"></textarea>
              </div>
                 
                  <div align="center">
              
			  <button type="button" value="Register" id="savebutton" class="send-msg-btn">Send Message </button>
            </div>
             </div>
        </div>
    </div></form>
  </div>
</div>
<script type="text/javascript">
<!--

function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}

jQuery(document).ready(function(){
		 
	  
	$( "#savebutton" ).click(function( event ) {
		
		 if ($('#first_name').val() == "") {
				alert('First Name is required!');
				$('#first_name').focus()
				return false;
		}else if ($('#last_name').val() == "") {
				alert('Last Name is required!');
				$('#last_name').focus()
				return false;
		}else if ($('#email').val() == "") {
				alert('Email Address is required!');
				$('#email').focus()
				return false;
		}else if (validateEmail($('#email').val()) != true) {
				//alert(validateEmail($('#email').val()));
				alert('Please provide proper email Address!');
				$('#email').focus()
				return false;
		}else{
			name = $('#name').val();
			description = $('#description').val();
			//prevent Default functionality
			 
			$.ajax({
				type:"POST",
				url: "/contact",
				dataType:"json",
				data:$('form').serialize() ,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h3>Successfully sent details.</h3><a href="/" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');

						$('#con-close-modal').hide();
					}else{
						$('#errordiv').show();
						$('#error_message').html(response.message);
						
					}
					
				},error: function(){
					console.log(response);
					$('#errordiv').show();
					$('#error_message').html("problem in regetering. please refresh and try again");
				}
			});
			return true;
		}

	});

});

//-->
</script>

{% endblock %}