{% extends "base.html" %}

{% block content %}

<!-- HOME MAIN SLIDER -->
  <section class="home-slide">
    <ul class="slides">
      
      <!-- SLIDER 1 -->
	  {% for banner in banners %}
      <li style="background: url(/{{banner.block_image_1}}) no-repeat; background-size: cover;" data-stellar-background-ratio="0.6">
        <div class="position-center-center">
          <h1>{{banner.block_title}}</h1>
          <h5>{{banner.block_short_desc}}</h5>
          <a href="/about" class="btn margin-top-30">Read More <i class="fa fa-caret-right"></i></a> </div>
      </li>
	  {% endfor %}
      
      
    </ul>
  </section>
			<!-- Page Content Start -->
            <!-- ================== -->

  <!-- Content -->
  <div id="content"> 
    
    <!-- SERVICES -->
    <section class="services padding-top-70 padding-bottom-70">
      <div class="container"> 
        <!-- Heading -->
        <div class="heading text-center">
          <h4>Our Services</h4>
        </div>
      </div>
      <div class="best-services"> 
        <!-- Row -->
        <div class="container">
          <ul class="row list">
            <!-- Analytics -->
            <li class="col-md-4" data-content="#colio_c1">
              <article class="thumb"> <a class="button colio-link" href="#"> <i class="fa fa-bar-chart"></i>
                <h5>IRISKAWARE</h5>
                <p>{{services_iriskaware.block_short_desc}}</p>
                </a> </article>
            </li>
            
            <!-- Storage -->
            <li class="col-md-4" data-content="#colio_c2">
              <article class="thumb"><a class="button colio-link" href="#"> <i class="fa fa-archive"></i>
                <h5>IRISKONLINE</h5>
                <p>{{services_iriskonline.block_short_desc}}</p>
                </a> </article>
            </li>
            
            <!-- Security -->
            <li class="col-md-4" data-content="#colio_c3">
              <article class="thumb"><a class="button colio-link" href="#"> <i class="fa fa-shield"></i>
                <h5>IRISKWATCH</h5>
                <p>{{services_iriskwatch.block_short_desc}}</p>
                </a> </article>
            </li>
            
             
          </ul>
        </div>
      </div>
      
      <!-- Analytics Tab Open -->
      <div id="colio_c1" class="colio-content">
        <div class="main">
          <div class="container">
            <div class="inside-colio">
              <div class="row">
                <div class="col-md-8"> 
                  <!-- Heading -->
                  <div class="heading text-left margin-bottom-40">
                    <h4>IRISKAWARE</h4>
                  </div>
                  <p> {{services_iriskaware.block_desc}} </p>
                  <a href="/register" class="btn btn-1 margin-top-30 margin-right-20">Register Now <i class="fa fa-caret-right"></i></a> <a href="/login" class="btn btn-1 margin-top-30">Login now <i class="fa fa-caret-right"></i></a> </div>
                <div class="col-md-4 text-right"> <img class="img-responsive" src="/static/images/ipad.png" alt=""> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Storage Tab Open -->
      <div id="colio_c2" class="colio-content">
        <div class="main">
          <div class="container">
            <div class="inside-colio">
              <div class="row">
                <div class="col-md-4 text-left"> <img class="img-responsive" src="/static/images/ipad.png" alt=""> </div>
                <div class="col-md-8"> 
                  <!-- Heading -->
                  <div class="heading text-left margin-bottom-40">
                    <h4>IRISKONLINE</h4>
                  </div>
                  <p> {{services_iriskonline.block_desc}} </p>
                  <a href="/register" class="btn btn-1 margin-top-30 margin-right-20">Register Now <i class="fa fa-caret-right"></i></a> <a href="/login" class="btn btn-1 margin-top-30">Login Now <i class="fa fa-caret-right"></i></a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Security Tab Open -->
      <div id="colio_c3" class="colio-content">
        <div class="main">
          <div class="container">
            <div class="inside-colio">
              <div class="row">
                <div class="col-md-8"> 
                  <!-- Heading -->
                  <div class="heading text-left margin-bottom-40">
                    <h4>IRISKWATCH</h4>
                  </div>
                  <p> {{services_iriskwatch.block_desc}} </p>
                  <a href="/register" class="btn btn-1 margin-top-30 margin-right-20">Register Now <i class="fa fa-caret-right"></i></a> <a href="/login" class="btn btn-1 margin-top-30">Login Now <i class="fa fa-caret-right"></i></a> </div>
                <div class="col-md-4 text-right"> <img class="img-responsive" src="/static/images/ipad.png" alt=""> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Storage Tab Open -->
      <div id="colio_c4" class="colio-content">
        <div class="main">
          <div class="container">
            <div class="inside-colio">
              <div class="row">
                <div class="col-md-8"> 
                  <!-- Heading -->
                  <div class="heading text-left margin-bottom-40">
                    <h4>Worth</h4>
                  </div>
                  <p> <strong> Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.</strong> <br>
                    <br>
                    Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. <br>
                    <br>
                    Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam. </p>
                  <a href="#." class="btn btn-1 margin-top-30 margin-right-20">Contact Now <i class="fa fa-caret-right"></i></a> <a href="#." class="btn btn-1 margin-top-30">View Services <i class="fa fa-caret-right"></i></a> </div>
                <div class="col-md-4 text-right"> <img class="img-responsive" src="/static/images/ipad.png" alt=""> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Security Tab Open -->
      <div id="colio_c5" class="colio-content">
        <div class="main">
          <div class="container">
            <div class="inside-colio">
              <div class="row">
                <div class="col-md-4 text-left"> <img class="img-responsive" src="/static/images/ipad.png" alt=""> </div>
                <div class="col-md-8"> 
                  <!-- Heading -->
                  <div class="heading text-left margin-bottom-40">
                    <h4>Dialogue</h4>
                  </div>
                  <p> <strong> Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.</strong> <br>
                    <br>
                    Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. <br>
                    <br>
                    Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam. </p>
                  <a href="#." class="btn btn-1 margin-top-30 margin-right-20">Contact Now <i class="fa fa-caret-right"></i></a> <a href="#." class="btn btn-1 margin-top-30">View Services <i class="fa fa-caret-right"></i></a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Security Tab Open -->
      <div id="colio_c6" class="colio-content">
        <div class="main">
          <div class="container">
            <div class="inside-colio">
              <div class="row">
                <div class="col-md-8"> 
                  <!-- Heading -->
                  <div class="heading text-left margin-bottom-40">
                    <h4>Direction</h4>
                  </div>
                  <p> <strong> Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.</strong> <br>
                    <br>
                    Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. <br>
                    <br>
                    Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam. </p>
                  <a href="#." class="btn btn-1 margin-top-30 margin-right-20">Contact Now <i class="fa fa-caret-right"></i></a> <a href="#." class="btn btn-1 margin-top-30">View Services <i class="fa fa-caret-right"></i></a> </div>
                <div class="col-md-4 text-right"> <img class="img-responsive" src="/static/images/ipad.png" alt=""> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Counter -->
	{#
    <section class="clients light-gray-bg padding-top-70 padding-bottom-20">
      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading text-center">
          <h4>Participating Advisors</h4>
          <span>We trust in longlasting partnerships with the most important brands on the market</span> </div>
        
        <!-- Clients -->
        <div class="single-slide">
          <div class="item">
            <ul class="row col-5">
              <li><a href="#."><img class="img-responsive" src="/static/images/client-img-1.jpg" alt=""></a></li>
              <li><a href="#."><img class="img-responsive" src="/static/images/client-img-2.jpg" alt=""></a></li>
              <li><a href="#."><img class="img-responsive" src="/static/images/client-img-3.jpg" alt=""></a></li>
              <li><a href="#."><img class="img-responsive" src="/static/images/client-img-4.jpg" alt=""></a></li>
              <li><a href="#."><img class="img-responsive" src="/static/images/client-img-5.jpg" alt=""></a></li>
            </ul>
          </div>
          <div class="item">
            <ul class="row col-5">
              <li><a href="#."><img class="img-responsive" src="/static/images/client-img-4.jpg" alt=""></a></li>
              <li><a href="#."><img class="img-responsive" src="/static/images/client-img-5.jpg" alt=""></a></li>
              <li><a href="#."><img class="img-responsive" src="/static/images/client-img-3.jpg" alt=""></a></li>
              <li><a href="#."><img class="img-responsive" src="/static/images/client-img-1.jpg" alt=""></a></li>
              <li><a href="#."><img class="img-responsive" src="/static/images/client-img-2.jpg" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
#}
	
    
    {#

    <!-- Portfolio -->
    <section class="portfolio padding-top-40 padding-bottom-10">
      <div class="container"> 
        <!-- Heading -->
        <div class="heading text-center">
          <h4>EVIDENCE BASE</h4>
        </div>
        
        <!-- PORTOFLIO ITEMS FILTER -->
        <div class="text-center">
          <div id="ajax-work-filter" class="cbp-l-filters-buttonCenter filter-style-2">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All
              <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".ana" class="cbp-filter-item"> Analytics
              <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".dial" class="cbp-filter-item"> Dialogue
              <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".direc" class="cbp-filter-item"> Direction
              <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".growth" class="cbp-filter-item"> Growth
              <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".sec" class="cbp-filter-item">Security
              <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".storage" class="cbp-filter-item">Storage
              <div class="cbp-filter-counter"></div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- PORTFOLIO ROW -->
      <div class="ajax-work col-3"> 
        <!-- ITEMS -->
        <div class="cbp-item ana dial growth">
          <article class="item"><img class="img-responsive" src="/static/images/portfolio/img-1.jpg" alt="" > 
            <!-- Hover -->
            <div class="over-detail"> 
              <!-- Link -->
              <div class="top-detail"> <a href="ajax-work/project1.html" class="cbp-singlePage"><i class="fa fa-link"></i> </a> <a href="images/portfolio/img-1.jpg" class="cbp-lightbox" data-title=""><i class="icon-magnifier"></i></a> </div>
              <!-- TITTLE HEADING -->
              <div class="bottom-detail">
                <h3>Long Project Title can go Here</h3>
                <span>Category Name</span> </div>
            </div>
          </article>
        </div>
        
        <!-- ITEMS -->
        <div class="cbp-item ana dial sec storage">
          <article class="item"><img class="img-responsive" src="/static/images/portfolio/img-2.jpg" alt="" > 
            <!-- Hover -->
            <div class="over-detail"> 
              <!-- Link -->
              <div class="top-detail"> <a href="ajax-work/project2.html" class="cbp-singlePage"><i class="fa fa-link"></i> </a> <a href="images/portfolio/img-2.jpg" class="cbp-lightbox" data-title=""><i class="icon-magnifier"></i></a> </div>
              <!-- TITTLE HEADING -->
              <div class="bottom-detail">
                <h3>Long Project Title can go Here</h3>
                <span>Category Name</span> </div>
            </div>
          </article>
        </div>
        
        <!-- ITEMS -->
        <div class="cbp-item ana sec storage">
          <article class="item"><img class="img-responsive" src="/static/images/portfolio/img-3.jpg" alt="" > 
            <!-- Hover -->
            <div class="over-detail"> 
              <!-- Link -->
              <div class="top-detail"> <a href="ajax-work/project3.html" class="cbp-singlePage"><i class="fa fa-link"></i> </a> <a href="images/portfolio/img-3.jpg" class="cbp-lightbox" data-title=""><i class="icon-magnifier"></i></a> </div>
              <!-- TITTLE HEADING -->
              <div class="bottom-detail">
                <h3>Long Project Title can go Here</h3>
                <span>Category Name</span> </div>
            </div>
          </article>
        </div>
        
        <!-- ITEMS -->
        <div class="cbp-item sec storage">
          <article class="item"><img class="img-responsive" src="/static/images/portfolio/img-4.jpg" alt="" > 
            <!-- Hover -->
            <div class="over-detail"> 
              <!-- Link -->
              <div class="top-detail"> <a href="ajax-work/project4.html" class="cbp-singlePage"><i class="fa fa-link"></i> </a> <a href="images/portfolio/img-4.jpg" class="cbp-lightbox" data-title=""><i class="icon-magnifier"></i></a> </div>
              <!-- TITTLE HEADING -->
              <div class="bottom-detail">
                <h3>Long Project Title can go Here</h3>
                <span>Category Name</span> </div>
            </div>
          </article>
        </div>
        
        <!-- ITEMS -->
        <div class="cbp-item ana sec">
          <article class="item"><img class="img-responsive" src="/static/images/portfolio/img-5.jpg" alt="" > 
            <!-- Hover -->
            <div class="over-detail"> 
              <!-- Link -->
              <div class="top-detail"> <a href="ajax-work/project5.html" class="cbp-singlePage"><i class="fa fa-link"></i> </a> <a href="images/portfolio/img-5.jpg" class="cbp-lightbox" data-title=""><i class="icon-magnifier"></i></a> </div>
              <!-- TITTLE HEADING -->
              <div class="bottom-detail">
                <h3>Long Project Title can go Here</h3>
                <span>Category Name</span> </div>
            </div>
          </article>
        </div>
        
        <!-- ITEMS -->
        <div class="cbp-item ana dial direc">
          <article class="item"><img class="img-responsive" src="/static/images/portfolio/img-6.jpg" alt="" > 
            <!-- Hover -->
            <div class="over-detail"> 
              <!-- Link -->
              <div class="top-detail"> <a href="ajax-work/project6.html" class="cbp-singlePage"><i class="fa fa-link"></i> </a> <a href="images/portfolio/img-6.jpg" class="cbp-lightbox" data-title=""><i class="icon-magnifier"></i></a> </div>
              <!-- TITTLE HEADING -->
              <div class="bottom-detail">
                <h3>Long Project Title can go Here</h3>
                <span>Category Name</span> </div>
            </div>
          </article>
        </div>
      </div>
      
      <!-- LOAD MORE -->
      <div class="text-center margin-top-50 margin-bottom-50 animate fadeInUp" data-wow-delay="0.4s">
        <div id="ajax-loadMore"> <a href="ajax-work/loadMore1.html" class="cbp-l-loadMore-link btn btn-1" rel="nofollow"> <span class="cbp-l-loadMore-defaultText">View Full Portfolio <i class="fa fa-caret-right"></i></span> <span class="cbp-l-loadMore-loadingText">LOADING... <i class="fa fa-caret-down"></i></span> <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS <i class="fa fa-caret-up"></i></span></a> </div>
      </div>
    </section>
    #}
    <!-- BLOG -->
    <section class="blog padding-top-10 padding-bottom-20">
      <div class="container"> 
        <!-- Heading -->
        <div class="heading text-center">
          <h4>Latest from the blog</h4>
        </div>
        <!-- Blog Row -->
        <div class="row blog-slide"> 
          <!-- Blog Post -->
          <div class="col-md-12 no-padding">
            <article> <img class="img-responsive" src="/static/images/blog/img-1.jpg" alt="" > 
              
              <!-- Date -->
              <div class="date"> 19 <span>MAY</span> </div>
              
              <!-- Detail -->
              <div class="post-detail"> <a href="#." class="post-tittle">April stats Details</a> <span>By Admin  /  2 Comments</span>
                <p>Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet.</p>
              </div>
            </article>
          </div>
          <!-- Blog Post -->
          <div class="col-md-12 no-padding">
            <article> <img class="img-responsive" src="/static/images/blog/img-2.jpg" alt="" > 
              <!-- Date -->
              <div class="date"> 19 <span>MAY</span> </div>
              <!-- Detail -->
              <div class="post-detail"> <a href="#." class="post-tittle">EU LAWs vs US Laws</a> <span>By Admin  /  2 Comments</span>
                <p>Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet.</p>
              </div>
            </article>
          </div>
          <!-- Blog Post -->
          <div class="col-md-12 no-padding">
            <article> <img class="img-responsive" src="/static/images/blog/img-3.jpg" alt="" > 
              <!-- Date -->
              <div class="date"> 19 <span>MAY</span> </div>
              <!-- Detail -->
              <div class="post-detail"> <a href="#." class="post-tittle">Team Expanded</a> <span>By Admin  /  2 Comments</span>
                <p>Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet.</p>
              </div>
            </article>
          </div>
          <!-- Blog Post -->
          <div class="col-md-12 no-padding">
            <article> <img class="img-responsive" src="/static/images/blog/img-2.jpg" alt="" > 
              <!-- Date -->
              <div class="date"> 19 <span>MAY</span> </div>
              <!-- Detail -->
              <div class="post-detail"> <a href="#." class="post-tittle">EU LAWs vs US Laws</a> <span>By Admin  /  2 Comments</span>
                <p>Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet.</p>
              </div>
            </article>
          </div>
          <!-- Blog Post -->
          <div class="col-md-12 no-padding">
            <article> <img class="img-responsive" src="/static/images/blog/img-3.jpg" alt="" > 
              <!-- Date -->
              <div class="date"> 19 <span>MAY</span> </div>
              <!-- Detail -->
              <div class="post-detail"> <a href="#." class="post-tittle">Team Expanded</a> <span>By Admin  /  2 Comments</span>
                <p>Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet.</p>
              </div>
            </article>
          </div>
          <!-- Blog Post -->
          <div class="col-md-12 no-padding">
            <article> <img class="img-responsive" src="/static/images/blog/img-3.jpg" alt="" > 
              <!-- Date -->
              <div class="date"> 19 <span>MAY</span> </div>
              <!-- Detail -->
              <div class="post-detail"> <a href="#." class="post-tittle">Team Expanded</a> <span>By Admin  /  2 Comments</span>
                <p>Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet.</p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    
	<!-- Team -->
    <section class="dark-gray-bg padding-top-70 padding-bottom-20">
      <div class="container"> 
        <!-- Heading -->
        <div class="heading text-center">
          <h4>Meet the Team</h4>
        </div>
        
        <!-- Team -->
        <div class="team">
          <div class="row"> 
            
            <!-- Member -->
            <div class="col-md-4">
              <article> <img class="img-responsive" src="/static/images/team-img-1-1.jpg" alt="" >
                <h5>Norman Sinclair</h5>
                <span>CEO</span>
                <p>Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.</p>
                <ul class="social">
                  <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#."><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#."><i class="fa fa-google"></i></a></li>
                  <li><a href="#."><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </article>
            </div>
            
            <!-- Member -->
            <div class="col-md-4">
              <article> <img class="img-responsive" src="/static/images/team-img-1-2.jpg" alt="" >
                <h5>Simon Hughson</h5>
                <span>Human Resources</span>
                <p>Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.</p>
                <ul class="social">
                  <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#."><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#."><i class="fa fa-google"></i></a></li>
                  <li><a href="#."><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </article>
            </div>
            
            <!-- Member -->
            <div class="col-md-4">
              <article> <img class="img-responsive" src="/static/images/team-img-1-3.jpg" alt="" >
                <h5>Gupta</h5>
                <span>New Business Manager</span>
                <p>Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.</p>
                <ul class="social">
                  <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#."><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#."><i class="fa fa-google"></i></a></li>
                  <li><a href="#."><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </article>
            </div>
            
             
          </div>
        </div>
      </div>
    </section>
     
    
    
    
    
  </div>
{% endblock %}