<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
.style5 {
	background-color: #fff;
	border-bottom: 1px dashed #8c8b8b;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
   
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
   
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
</style>
<!-- Optional theme -->
 <div class="container">
<!-- Latest compiled and minified JavaScript -->
<div class="row" align="center">
		<h1 align="center">YOUR IRISKAWARE REPORT</h1><img src="https://irisk-sydney.s3.amazonaws.com/static/theme/img/irisk-logo.png"><h5 align="center">www.iriskonline.com</h5><h5 align="center">Copyright 2016: IRISKONLINE Pty Ltd</h5><hr>

	</div>

 <div class="row" align="center">
<table class="table-striped table">
<tr>
	<td><strong>RECIPIENT ID:</strong></td>
	<td><-UFULLNAME-></td>
</tr>
<tr>
	<td><strong>RECIPIENT EMAIL:</strong></td>
	<td><-UEMAIL-></td>
</tr>
<tr>
	<td><strong>ADVISOR:</strong></td>
	<td><-AFULLNAME-></td>
</tr>
<tr>
	<td><strong>ADVISOR EMAIL:</strong></td>
	<td><-AEMAIL-></td>
</tr>
<tr class=danger>
	<td><strong>Risk Frameworks as at date:</strong></td>
	<td><-RISKFRAMEWORKDATE-></td>
</tr>
<tr>
	<td><strong>Purchased Date:</strong></td>
	<td><-PURCHASEDATE-></td>
</tr>
<tr>
	<td><strong>Time Taken:</strong></td>
	<td><-TIMETAKEN-></td>
</tr>
</table >
 
 
 
</div>
 <div class="row" align="center">
<blockquote class="blockquote">
   <strong class="text-danger">IMPORTANT:</strong>The Terms and Conditions that you acknowledged prior to using IRISKAWARE are applicable to the IRISKAWARE Report. This report is based entirely on factual information derived from the analysis of historical data and complex statistical modelling. It contains NO personal or general advice. If you do NOT understand the risk concepts discussed in this report, an Independent Financial Advisor may help.   </blockquote>
 </div>
<div class="row" >

<h3  class="text-danger">EXECUTIVE SUMMARY</h3>
<p>Congratulations on completing your IRISKAWARE session.

<br><br>The process of '<strong>revealed preference</strong>' ensured your choice of an acceptable strategy was influenced only by the 'language of modern risk management'. That is, for each portfolio selected, you received the following risk statement:</p>
</div>
 
<div class="row" >
<h3 class="text-danger" align="center">"In any month, there is a 5% chance that the value of this portfolio could decrease by x% - </h3>
<h3 class="text-danger" align="center">and, if this occurs, the expected loss for this portfolio could be y%."</h3>


<p><br></p><p>Based only on the values of x and y in this factual risk statement, you voted LIKE for 3 portfolios with losses you considered acceptable.</p><p>On FINISH, your final cluster of THREE portfolios defined a unique CENTROID strategy. This completed your acceptable risk zone based on the revealed preference approach.</p><p>This report reveals the asset allocation and risk structure of the FOUR investment strategies that characterise your preference for portfolio risk. It also includes an optional '<i>risk primer</i>' and a brief discussion about diversification and insights into '<i>implied expectations</i>'. All of these concepts are important for effective risk management of your chosen portfolio.

<br>A. Lifting the veil of Revealed Preference:&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * &nbsp; Examine ASSET ALLOCATION - Your Strategic Choices;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *&nbsp;&nbsp; Consider RISK ESTIMATES - Your Strategic Choices;<br>&nbsp; &nbsp; &nbsp;&nbsp; *&nbsp;&nbsp; Diversification and Portfolio Selection;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *&nbsp;&nbsp; Risk Budgeting - Level and Composition of Diversification;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *&nbsp;&nbsp; Diversification and Implied Expectations;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *&nbsp;&nbsp; Review RISK BUDGETS - Your Strategic Choices;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *&nbsp;&nbsp; Understanding Your Risk Primer;
<br>B. Mitigating 'Implementation Risk';
<br>C. Using IRISKONLINE and IRISKWATCH;
<br>D. Appendix 1: Your Risk Primer;
<br>E. Related Publications; and
<br>F. Disclosures: Terms of Use and Privacy at <a target="_blank" href="www.iriskonline.com">www.iriskonline.com</a>.</p>
<br><p><u>Note</u>: Space has been provided at the end of selected sections for you to make notes and compose questions for follow-up with your Financial Advisor and/or to send to support@iriskonline.com where they will be answered and placed into Frequently Asked Questions ('FAQ').</p><p>

</p> 
</div>
<div class="row" align=left>
<p>
  <h3 class="text-muted style5">&nbsp;&nbsp; A. Lifting the Veil of 'Revealed Preference'</h3>


<h4>Examine Asset Allocation - Your Strategic Choices</h4>
<p>Table 1 provides asset allocation information for each of the investment strategies you found acceptable - together with the centroid portfolio implied by those choices.<br><br></p>
<div class=row style="padding:0px 20px;">

<table class="table table-bordered" style="width:97% !important"><tbody>

<tr class="info"><td align="left" colspan=5> <strong>TABLE 1: Percent Allocated to Asset Classes for FOUR Strategic Asset Allocations</strong></td> </tr>
<tr class="success"><td align="center" >Popular Descriptive Classifications (fn 1)<br></td><td align="center">High Growth D25%<br></td><td align="center">High Growth<br></td><td align="center">Growth<br></td><td align="center">High Growth<br></td></tr>
<tr class="warning"><td align="center">ASSET CLASSES<br></td><td align="center">LIKE 1<br></td><td align="center">LIKE 2<br></td><td align="center">LIKE 3<br></td><td align="center">CENTROID<br></td></tr>

<tr><td>Cash<br></td><td><-CASHLIKE1-></td><td><-CASHLIKE2-></td><td><-CASHLIKE3-></td><td><-CASHCENTROID-></td></tr>

<tr><td>Domestic Fixed Income (fn 2)<br></td><td><-DOMESTICLIKE1-></td><td><-DOMESTICLIKE2-></td><td><-DOMESTICLIKE3-></td><td><-DOMESTICCENTROID-></td></tr>

<tr><td>Australian Property (fn 3)<br></td><td><-AUSTRALIALIKE1-></td><td><-AUSTRALIALIKE2-></td><td><-AUSTRALIALIKE3-></td><td><-AUSTRALIACENTROID-></td></tr>
<tr><td>Indirect Australian Shares (fn 4)<br></td><td><-INAUSTRALIALIKE1-></td><td><-INAUSTRALIALIKE2-></td><td><-INAUSTRALIALIKE3-></td><td><-INAUSTRALIACENTROID-></td></tr>
<tr><td>Direct Australian Shares (fn 5)<br></td><td><-DAUSTRALIALIKE1-></td><td><-DAUSTRALIALIKE2-></td><td><-DAUSTRALIALIKE3-></td><td><-DAUSTRALIACENTROID-></td></tr>
<tr><td>International Shares - Unhedged<br></td><td><-INTERLIKE1-></td><td><-INTERLIKE2-></td><td><-INTERLIKE3-></td><td><-INTERCENTROID-></td></tr>
<tr><td><br></td><td align="right">100<br></td><td align="right">100<br></td><td align="right">100<br></td><td align="right">100<br></td></tr>
</tbody></table>

<table class="table table-bordered" height="245" width="915"><tbody><tr><td><p>Fn 1: Any classification with 'Dxx%' affixed means that xx% of the total Australian Shares allocation has been modelled using 10 equally weighted randomly selected shares. This allocation is labelled 'Direct Australian Shares'.<br></p></td></tr><tr><td><p>Fn 2: Feasible Securities: Listed Government Bonds, Corporate Bonds &amp; Income Securities<br></p></td></tr><tr><td><p>Fn 3: Feasible Securities: Listed Property Trusts<br></p></td></tr><tr><td><p>Fn 4: Feasible Securities: Listed Exchange Traded Australian Equities Funds<br></p></td></tr><tr><td>Fn 5: Feasible Securities: Shares in Selected Listed Companies<br></td></tr><tr><td>Fn 6: Feasible Securities: Listed Exchange Traded International Equities Funds<br></td></tr></tbody></table><p><br></p>

<table class="table table-bordered"><tbody><tr><td><-PICHARTLKE1-></td><td><-PICHARTLKE2-></td></tr>
<tr><td><-PICHARTLKE3-></td><td><-PICHARTCENTROID-></td></tr></tbody></table>

</div>
<p>In general, the centroid asset allocation is <u>unlikely</u> to be a simple average of the investment weights for your 3 'LIKES' - and their relationship in risk terms is even more complex for many risk measures.</p><p><br>The asset allocations simply define the way in which the total amount available for investment is to be allocated between different investments. For example, with an investable amount of $5,000, an entry of 20% in the 'Indirect Australian Shares' line of Table 1 suggests that 20% of $5,000 (i.e. $1,000) would be invested in an appropriate investment for that asset class.</p><p>In practice, this is an approximation due to brokerage; security prices and minimum trade sizes. It is also unlikely that implementation is feasible to the specified decimal point. Some flexibility is always required in the weights - so long as the acceptable risk structure does <u>not</u> shift significantly.</p><p>The footnote to Table 1 also provides ideas for appropriate implementation. These important issues are discussed in <i>Section C: Mitigating Implementation Risk</i>.</p><p>The next section of this report presents risk estimates for your 4 strategic portfolios in Table 1 (above).</p>

<h2>Consider Risk Estimates - Your Strategic Choices</h2><p>Table 2 provides estimated risks for each of the investment strategies you found acceptable.</p>


<table class="table table-bordered"><tbody>

<tr class="info"><td align="left" colspan=5><strong>TABLE 2: Estimated Portfolio Risk Measures for your selected Strategic Asset Allocations</strong></td></tr>

<tr class="success"><td align="center"><i>Popular Descriptive Classification</i><br></td><td align="center">High Growth D25%<br></td><td align="center">High Growth<br></td><td align="center">Growth<br></td><td align="center">High Growth<br></td></tr>
<tr class="warning"><td>Portfolio Risks Estimated as: (fn 1)<br></td><td align="center">LIKE 1<br></td><td align="center">LIKE 2<br></td><td align="center">LIKE 3<br></td><td align="center">CENTROID<br></td></tr>

<tr><td>Standard Deviation (% per month) </td><td><-SDLIKE1-></td><td><-SDLIKE2-></td><td><-SDLIKE3-></td><td><-SDCENTROID-></td></tr>
<tr><td>% Value at Risk (VaR) (fn 2) </td><td><-VARLIKE1-></td><td><-VARLIKE2-></td><td><-VARLIKE3-></td><td><-VARCENTROID-></td></tr>
<tr><td>% Expected Shortfall (ES) </td><td><-ESLIKE1-></td><td><-ESLIKE2-></td><td><-ESLIKE3-></td><td><-ESCENTROID-></td></tr>
<tr><td>% Modified Value at Risk (MVaR) </td><td><-MVARLIKE1-></td><td><-MVARLIKE2-></td><td><-MVARLIKE3-></td><td><-MVARCENTROID-></td></tr>
<tr><td>% Modified Expected Shortfall (MES)</td><td><-MESLIKE1-></td><td><-MESLIKE2-></td><td><-MESLIKE3-></td><td><-MESCENTROID-></td></tr></tbody>
</table>

<table class="table table-bordered"><tbody><tr><td><h6>Fn 1: The first 3 risks assume a Normal ('bell shaped') distribution for portfolio returns. The last 2 estimates make adjustments for Skewness and Kurtosis - and are generally better estimates of extreme portfolio 'tail risk'.<br></h6></td></tr><tr><td><h6>Fn 2: Note that with the exception of 'standard deviation' which is ALWAYS a positive number, the others are ALWAYS NEGATIVE. The sign has been omitted here because it is understood that these numbers represent LOSSES.<br></h6></td></tr></tbody></table>

<p><u>Note</u>: This may be an opportune time to read <i>Appendix 1: Your Risk Primer</i> for an intuitive introduction to modern risk management.</p><p>Value at Risk ("VaR") is derived directly from portfolio Standard Deviation. Assuming the familiar 'bell-shaped' frequency distribution for monthly portfolio returns, VaR provides a cut-off point beyond which there is only a 5% chance of finding more extreme portfolio losses.<br></p><p>Expected Shortfall ("ES") is also derived directly from Standard Deviation and also relies on the 'bell-shaped' assumption. ES is the expected (i.e. average) loss given that VaR has been breached. Note, VaR is included in the calculation of ES.</p><p>So, in the modern language of risk, we interpret the entries in rows 5 and 6 of the table to say:</p>

<h3 class="text-danger" align="center">"In any month, there is a 5% chance that the value of this portfolio could decrease by VaR% - and, if this occurs, the expected loss for this portfolio could be ES%."</h3>

<p><br></p><p>Modified Value at Risk ("MVaR") makes adjustments for Non-Normality i.e. the frequency distribution for monthly returns may NOT be 'bell-shaped' - and we interpret the entries in rows 7 and 8 to say:</p>

<h4 align="center" class="text-danger">"In any month, there is a 5% chance that the value of this portfolio could decrease by MVaR% - </h4><h4 align="center" class="text-danger">and, if this occurs, the expected loss for this portfolio could be MES%."</h4>


<blockquote>  It was on the basis of this statement that you revealed your preference for each risky portfolio in IRISKAWARE.   </blockquote><p>The power of these risk concepts does not depend on abstract financial theories and models derived from assumptions of Normality and/or partial Equilibrium in financial markets.</p><p>They are an important part of the modern language of risk.</p><p>The following section, <i>Diversification and Portfolio Selection</i>, makes this point more forcefully in the context of Modern Portfolio Theory and its limiting assumptions.</p> 

<h2>Diversification and Portfolio Selection</h2><p>In 1952, Nobel Prize Winner Professor Harry Markowitz published "Portfolio Selection" in the Journal of Finance Volume 7, pp 77-91 that launched a portfolio theory in which risk was <u>assumed</u> to be the variance (standard deviation) of security returns within a portfolio - and higher moments of the return distribution (skew and excess kurtosis) did not exist.</p><p><br>In this theory, optimal portfolios were identified as those combinations of securities for which portfolio variance could be minimised <i>for a given expected return</i> <u><b>OR</b></u> that expected return could be maximised <i>for a given variance risk</i>. In this way, the '<i>risk aversion</i>' of the investor identifies <u>their</u> preferred <i>optima</i>l portfolio.</p><p>Following Markowitz (1952), research papers reported interesting facts such as:<br></p><ol><li>Two securities with <i>perfect negative correlation</i> can be combined to obtain a <i>portfolio with zero risk</i>;</li><li>Commencing with investment in the security with <i>highest risk</i>, overall portfolio risk <i>decreases fastest</i> if the NEXT security added to the portfolio is selected on the basis its <i>lowest average correlation</i> with the securities already held in the portfolio;</li><li>Portfolio risk <i>will decrease</i> even if securities are <i>selected randomly and combined in equal proportions (1/N)</i> - such that by N=30 securities <u>average portfolio risk</u> is almost at a minimum;</li><li>Optimisation models can be used to simultaneously identify the 'best' securities to hold and the amounts to invest that will minimise overall portfolio risk; and</li><li>As a special case, optimisation models can also identify a <i>unique minimum variance portfolio</i> for any collection of risky securities.</li></ol><p>The important point to draw from this evidence is that ALL of these '<i>normalising</i>' insights are due to Markowitz (1952) portfolio theory requiring ONLY expected returns for each security and the variance/covariance estimates between all securities.<br></p><p>In other words, Markowitz (1952) portfolio theory is based entirely on the <u>assumption</u> that securities' return distributions are 'Multivariate Normal' - i.e. without skewness/co-skewness and kurtosis/co-kurtosis.</p><p>Yet, over 50 years earlier, Karl Pearson set out the necessary conditions for Multivariate Normality. For such an assumption to be valid, the '<i>demon of chance</i>' (a term coined by Maurice Kendall in 1938 for a 'random process') needs to ensure that Marginal Normality holds in '<i>cross-section</i>' (i.e. one period returns distributed <u>across securities</u> at each point in time) and '<i>over time</i>' (i.e. one period returns distributed <u>across time</u> for each security).</p><p>Since the 1950's, the relevant empirical evidence almost unanimously rejected the underlying assumptions of Markowitz portfolio theory in which diversification plays a pivotal role.</p><p>Skew and excess Kurtosis are well established properties of financial data, and the 'well-behaved' diversifying statistical properties assumed by Markowitz and others, are not observed when similar empirical studies (above) are applied to higher moments of portfolio returns.</p><p>The bottom line is that 'diversification' in the strict Markowitz sense does <u>not</u> exist when portfolio returns are non-normal. Skew and kurtosis do not appear to diversify as the portfolio includes more securities.<br>For that reason, the preferred key risk concepts used in this report make allowance for portfolios with <i>non-Normal return distributions</i>.</p><p><u>IMPORTANT</u>: <i>Appendix 1: Your RISK PRIMER</i>, provides historical time series estimates of expected losses for your LIKE investment strategies. Note that the skew and kurtosis estimates are generally greater than would be expected from 'Multivariate Normal' distributions.<br></p> 

<h2>Risk Budgeting is about the '<u>level</u>' and '<u>composition</u>' of Diversification</h2><p>The concept of a 'risk budget' is <i>implicit</i> in any diversification process. At each step when securities are added to a portfolio, overall portfolio risk changes <u>AND</u> the marginal contribution each security makes to the total portfolio risk also changes.</p><p>When the portfolio is finalised, the structure represented by the '<b>% held</b>' in each security <u>and</u> its '<b>marginal contribution to portfolio risk</b>' may infer something about your attitude to risk <u>AND</u> your expectations for return.</p><p>To provide a simple numerical insight into the general diversification process, Exhibit 1 tracks portfolio tail risk ('<b>Modified Expected Shortfall</b>') <u>AND</u> the <b>marginal contribution to that portfolio risk</b> when 100 shares are purchased in each security - CBA, BHP and TLS - sequentially to create a three-security portfolio.</p><p>Exhibit 1 tracks the sequential change in <b>% held</b> AND the <b>marginal contribution to 'extreme tail risk' </b>(i.e. Modified Expected Shortfall) as each additional investment is added. The ROWS in Exhibit 1 are the 3 stages of the portfolio build. The COLUMNS display the risk structure as the portfolio build proceeds. The last ROW is the final portfolio - % held and % contribution to Modified Expected Shortfall ('MES').</p><p><br></p>

<table class="table table-bordered"><tbody>

<tr class="info"><td align="left" colspan=5><b>Exhibit 1: Partial Dynamics of building a 3-security Portfolio - Risk Budgets.</b></td></tr>

<tr class="warning"><td>SELECTION PROCESS</td><td>(% invested) and Marginal Contribution to Portfolio Risk - 1st SECURITY = CBA</td><td>(% invested) and Marginal Contribution to Portfolio Risk - 2nd SECURITY = BHP</td><td>(% invested) and Marginal Contribution to Portfolio Risk - 3rd SECURITY = TLS </td><td>PORTFOLIO RISK - Modified Expected Shortfall ('MES')<br></td></tr><tr><td>Add: First Security: CBA<br></td><td>(100%) 11.81<br></td><td><span style="background-color: rgb(99, 99, 99);"><br></span></td><td><span style="background-color: rgb(99, 99, 99);"><br></span></td><td>(100%) 11.81<br></td></tr><tr><td>Add Second Security: BHP<br></td><td>(79.93%) 7.60<br></td><td>(20.07%) 1.18<br></td><td><br></td><td>(100%) 8.78<br></td></tr><tr><td>Add Third Security: TLS<br></td><td>(83.21%) 6.98<br></td><td>(15.3%) 1.28<br></td><td>(1.49%) 0.12<br></td><td>(100%) 8.38<br></td></tr></tbody></table><table class="table table-bordered"><tbody><tr><td><p>NOTE: The portfolio was worth was worth $10,082 and the Modified Value at Risk ('MVaR') was estimated to be 7.37% per month.<br></p></td></tr></tbody></table>

<p>The last column of Exhibit 1 implies a 'diversification effect' on the risk measure 'Modified Expected Shortfall' ('MES') for our naive portfolio build of 100 shares in each of 3 well-known securities.<br></p><p>So, in accordance with estimated 'tail risks', the following risk statement is feasible:</p>

<h3 class="text-danger" align="center">In any month, there is a 5% chance that the value of this portfolio could decrease by <br>7.37% - <br>and, if this occurs, the expected loss for this portfolio could be 8.38%.</h3>

<p>Based on the final row of Exhibit 1, the RISK BUDGET for the 3-security portfolio is presented in Exhibit 2.<br></p> 

<table class="table table-bordered"><tbody><tr class="info"><td colspan=5><b>Exhibit 2: Example Risk Budget for 3-security final portfolio</b> </td></tr><tr class="warning"><td>Security Code<br></td><td>% Invested<br></td><td>% Contribution to Portfolio Risk<br></td><td> Difference between % invested and % Contribution to Risk </td></tr><tr><td>CBA<br></td><td>75.42<br></td><td>(6.98/8.38) = 83.29%<br></td><td>-7.87<br></td></tr><tr><td>BHP<br></td><td>18.93<br></td><td>(1.28/8.38) = 15.28%<br></td><td>3.56<br></td></tr><tr><td>TLS<br></td><td>5.65<br></td><td>(0.12/8.38) = 1.43<br></td><td>4.23<br></td></tr><tr><td>Total<br></td><td>100<br></td><td>100<br></td><td>0.00<br></td></tr></tbody></table> 
<p><br></p>
<h2>Diversification may reflect <u>Implied</u> Expectations?</h2><p>Assuming a naive level of risk aversion is implied by the % invested, and that security risks are determined by an independent observable market process - then, as an individual, it is reasonable to interpret the difference between '<b>% invested</b>' and '<b>% contribution to portfolio risk</b>' in a risk budget as a signal about <u>personal</u> <b>relative return expectations</b> within the portfolio.</p><p>Exhibit 2 suggests that, in this portfolio, the CBA holding is providing a decrease in extreme tail risk - whilst the BHP and TLS positions present the corresponding tail risk increase. On the assumption that these 'personal risk insights' parallel 'personal return expectations', the implicit subjective forecast within this portfolio is that CBA position is expected to underperform BHP and TLS positions.</p><p>One way to manage diversification is to reduce the concentration of risk by either introducing new securities and/or changing the % invested in the current securities in the portfolio. In other words, a practical approach to diversification when you have no opinion about expected returns may be to simply smooth out the 'implicit bets' in a way that results in as 'equalised' a concentration of risk as possible.</p><p>Now, it is worth examining YOUR risk budgets in Tables 3 through 6 to detect any imbalance between how much is invested in each asset class AND the portfolio risk it represents.</p><p>The risk budgets for your selected LIKES and CENTROID portfolios presented in Tables 3 through 6 (below) highlight key issues at the heart of diversification and portfolio management. There, you can identify positions that create questions for Implementation - and suggest insights into your return expectations.<br></p><p><br></p><h2>Review Risk Budgets - Your Strategic Choices</h2><p>There are <b>TWO</b> modern summaries that describe most investment portfolios - '<i>where did you invest your money?</i>' <u>AND</u> '<i>how risky is the portfolio you bought?</i>'.</p><p>The <i>first</i> question is answered simply by listing the amounts and/or percentages invested in each security - this is your investment budget. Note that Table 1 (above) was a summary of investment budgets for each of your preferred investment strategies.</p><p>As in Exhibit 2 of the previous section, the second question is less obvious, and requires:</p><p>a.&nbsp;&nbsp; &nbsp;<i>an overall measure of your portfolio's risk</i> AND<br>b.&nbsp;&nbsp; &nbsp;<i>the marginal contribution to that risk measure for each security in the portfolio</i>.<br></p><p>This is your risk budget. Note that Table 2 (above) was a summary of portfolio risk budgets - based on alternative measures of portfolio risk.</p><p>In answer to part b., any risk budget can be attributed to each asset class as a quantum of risk and/or as a % contribution to risk.</p><p>Combining both in one table or chart provides the immediate insight that 'percentage asset allocation' is typically NOT a precise indicator of the 'risk concentration'.</p><p>Tables 3 through 6 present Investment AND Risk Budgets for each of your FOUR investment strategies.&nbsp;Modified Expected Shortfall ('MES') is used as the extreme loss measure in this Report and results are framed in terms of Asset Classes and Income/Growth where the Income group is Cash + Domestic Fixed Income and the Growth group is Property + Shares.</p><p>Unlike Standard Deviation, Modified Expected Shortfall is an additive
risk measure. These entries are '% contributions' adding to 100. Note that the sum
 of the raw 'risk contributions' is equal to the overall portfolio risk measure
given in the relevant row/column of Table 2 (above).</p><p>What to look for in Tables 3 through 6:</p><p>1.&nbsp;&nbsp; &nbsp;<b>Differences between %Allocated and %Risk</b>: Large positions in low risk investments may contribute very little to expected extreme loss, whilst a small investment in high risk investments may make a large contribution to expected portfolio losses.</p><p>2.&nbsp;&nbsp;&nbsp; <b>Reality Check</b>: Are large differences acceptable? Do they correspond with your <b><i>return expectations</i></b>?<br></p><p><br></p><h2>RISK BUDGET for your LIKE 1 investment strategy:<br></h2>

<table class="table table-bordered"><tbody>
<tr class="info" ><td colspan=5><strong>Table 3: Risk Budget for LIKE 1 - % Allocated v % Contribution to MES</strong></td></tr>
<tr><td colspan=5>Popular Descriptive Classification<br></td></tr>
<tr class="success"><td>Aggregation Level<br></td><td>By Asset Class<br></td><td><br></td><td>By Income/Growth<br></td><td><br></td></tr>
<tr class="warning"><td>ASSET CLASSES<br></td><td>% Allocated<br></td><td>% Risk<br></td><td>% Allocated<br></td><td>%Risk<br></td></tr>
<tr><td>Cash<br></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td>Domestic Fixed Income<br></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td>Australian Property<br></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td>Indirect Australian Shares<br></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td>Direct Australian Shares<br></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td>International Shares - Unhedged<br></td><td><br></td><td><br></td><td><br></td><td><br></td></tr></tbody></table>

<table class="table table-bordered"><tbody><tr><td><br></td></tr><tr><td><br></td></tr><tr><td><br></td></tr></tbody></table>

<table class="table table-bordered"><tbody>
<tr><td><-HORIZONTALBARLIKE1AA-></td></tr>
<tr><td><-HORIZONTALBARLIKE1IG-></td></tr>
</tbody></table> 

<p><br></p><h2>RISK BUDGET for your LIKE 2 investment strategy:<br></h2>


<table class="table table-bordered"><tbody><tr class="info"><td colspan=5> <strong>Table 4: Risk Budget for LIKE 2 - % Allocated v % Contribution to MES</strong></td></tr>
<tr><td colspan=5>Popular Descriptive Classification</td></tr>

<tr class="success"><td><p>Aggregation Level<br></p></td><td><p>By Asset Class<br></p></td><td><br></td><td>By Income/Growth<br></td><td><br></td></tr>
<tr class="warning"><td><p>ASSET CLASSES<br></p></td><td>% Allocated<br></td><td>% Risk<br></td><td>% Allocated<br></td><td>% Risk<br></td></tr><tr><td><p>Cash<br></p></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td><p>Domestic Fixed Income<br></p></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td><p>Australian Property<br></p></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td><p>Indirect Australian Shares<br></p></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td><p>Direct Australian Shares<br></p></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td><p>International Shares - Unhedged<br></p></td><td><br></td><td><br></td><td><br></td><td><br></td></tr></tbody></table><table class="table table-bordered"><tbody><tr><td><br></td></tr><tr><td><br></td></tr><tr><td><br></td></tr></tbody></table>


<table class="table table-bordered"><tbody>
<tr><td><-HORIZONTALBARLIKE2AA-></td></tr>
<tr><td><-HORIZONTALBARLIKE2IG-></td></tr></tbody></table>

<p><br></p><h2>RISK BUDGET for your LIKE 3 investment strategy:</h2>

<table class="table table-bordered"><tbody>
<tr class="info"><td colspan=5>Table 5: Risk Budget for LIKE 3 - % Allocated v % Contribution to MES</td></tr>
<tr><td colspan=5>Popular Descriptive Classification</td></tr>
<tr class="success"><td><p>Aggregation Level<br></p></td><td><p>By Asset Class<br></p></td><td><br></td><td><p>By Income/Growth<br></p></td><td><br></td></tr>
<tr class="warning"><td><p>ASSET CLASSES<br></p></td><td><p>% Allocated<br></p></td><td><p>% Risk<br></p></td><td><p>% Allocated<br></p></td><td><p>% Risk<br></p></td></tr>

<tr><td>Cash<br></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td>Domestic Fixed Income<br></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td>Australian Property<br></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td>Indirect Australian Shares<br></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td>Direct Australian Shares<br></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td><p>International Shares - Unhedged<br></p></td><td><br></td><td><br></td><td><br></td><td><br></td></tr></tbody></table><table class="table table-bordered" height="108" width="915"><tbody><tr><td><br></td></tr><tr><td><br></td></tr><tr><td><br></td></tr></tbody></table>

<table class="table table-bordered"><tbody><table class="table table-bordered"><tbody>
<tr><td><-HORIZONTALBARLIKE3AA-></td></tr>
<tr><td><-HORIZONTALBARLIKE3IG-></td></tr>
</tbody></table></tbody>
</table> 
<p><br></p>
<h2>RISK BUDGET for the CENTROID investment strategy:</h2>

<table class="table table-bordered"><tbody>
<tr class="info"><td colspan=5> Table 6: Risk Budget for CENTROID - % Allocated v % Contribution to MES</td></tr>
<tr ><td colspan=5>Popular Descriptive Classification</td></tr>
<tr class="success"><td><p>Aggregation Level<br></p></td><td><p>By Asset Class<br></p></td><td><p><br></p></td><td><p>By Income/Growth<br></p></td><td><p><br></p></td></tr>

<tr class="warning"><td><p>ASSET CLASSES<br></p></td><td><p>% Allocated<br></p></td><td><p>% Risk<br></p></td><td><p>% Allocated<br></p></td><td><p>% Risk<br></p></td></tr><tr><td>Cash<br></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td>Domestic Fixed Income<br></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td>Australian Property<br></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td>Indirect Australian Shares<br></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td>Direct Australian Shares<br></td><td><br></td><td><br></td><td><br></td><td><br></td></tr><tr><td>International Shares - Unhedged<br></td><td><br></td><td><br></td><td><br></td><td><br></td></tr></tbody></table><table class="table table-bordered" height="108" width="915"><tbody><tr><td><br></td></tr><tr><td><br></td></tr><tr><td><br></td></tr></tbody></table>


<table class="table table-bordered"><tbody>
<tr><td><-HORIZONTALBARCENTROIDAA-></td></tr>
<tr><td><-HORIZONTALBARCENTROIDIG-></td></tr>
</tbody></table>


<br><h2>Understanding Your Risk Primer</h2><p>This discussion is presented in <b>Appendix 1</b> and may be skipped altogether if you are comfortable with the explanation so far or are already familiar with the concepts and estimation of extreme portfolio risk or clearly understand the entries for your strategic portfolio choices in <b>Table 2</b> above.</p><p>The purpose of the risk primer is twofold:</p><p>a.&nbsp;&nbsp; &nbsp;to demonstrate the simple concept of 'tail risk' or 'extreme risk' - referred to as Value at Risk ('VaR') and Expected Shortfall ('ES') - when we have a complete set of returns for a portfolio; and<br>b.&nbsp;&nbsp; &nbsp;to compute statistics that may indicate deviations from 'Normality' i.e. the 'bell-shaped' distribution.<br></p><p>The methodology in Appendix 1 uses historical monthly return estimates for your 4 portfolios since February 1991 until latest date. This empirical approach is only feasible in the rare circumstance when complete data are available.</p><p>Statistical estimates of Standard Deviation; Skewness; Kurtosis; Value at Risk and Expected Shortfall are obtained for each of your four portfolios. Extreme risk results are obtained from monthly portfolio returns in a remarkably simple calculation. These risks are labelled '<b>Empirical Value at Risk</b>' and '<b>Empirical Expected Shortfall</b>'.</p><p>It is worth noting that the Basel Committee on Banking Supervision recommended the use of empirical expected shortfall for risk management purposes in its (2014) consultative document.</p><p>Also, note that the charts presented in Appendix 1 are identical to those displayed in IRISKAWARE when you voted 'LIKE'.</p><p>You may want to compare those historical estimates for extreme losses in Appendix 1 with the 'distribution-based' estimates ('VaR' and 'MVaR') and ('ES' and 'MES') as presented in Table 2.<br></p><p><br></p>
</div>

<h3 class="text-muted style5">B. Mitigating IMPLEMENTATION RISK</h3>
<p>It is likely that at least ONE of your preferred investment strategies could provide the template for your implemented portfolio.</p><p>Then, implementation risk (or 'tracking error') may be defined as the risk difference between your 'strategy portfolio' and the actual 'implemented portfolio'. And, perfect implementation would exhibit zero tracking error.</p><p>However, it is more likely that tracking error will be non-zero - and the implemented portfolio will have more or less risk than the investment strategy you chose. This situation will occur because actual traded securities are to be substituted for the proxies used to model your preferred investment strategy. Implementation risk is always a fact of investment life!</p><p>It is quite feasible that multiple Exchange Traded Funds ('ETF"), in various proportions, may be included to represent single asset classes in your selected strategic asset allocation.</p><p>To that end, the latest edition of the STOCKSPOT ETF REPORT available at <a target="_blank" href="https://www.stockspot.com.au">https://www.stockspot.com.au</a> documents 128 ETF's available on the ASX (as at March 2016) with strategic asset classes represented by: Global Shares (49); Australian Shares (broad market) (15); Fixed Income &amp; Cash (16); Australian Shares (Strategies) (16); Australian Shares (Sectors) (10); Global Shares (Sectors) (5); Commodities (12); and Currency (5).</p><p><br></p>


<table class="table table-bordered"><tbody><tr class=info><td colspan=3 align="center">Table 7: Managing Implementation Risk for the Preferred Investment Strategy</td></tr>

<tr class=warning><td align="center" >ASSET CLASSES<br></td><td align="center"> IRISKAWARE MODELLING<br>PROXIES USED IN IRISKAWARE </td><td align="center"> POSSIBLE IMPLEMENTATION<br>100 EXCHANGE TRADED FUNDS &amp; PROXIES  </td></tr>

<tr><td>Cash<br></td><td><p>90-day Bill Index<br></p></td><td>Cash and Cash+ ETF's<br></td></tr><tr><td>Domestic Fixed Income<br></td><td>Australian Composite Bond Index<br></td><td>Passive and Active Fixed Income ETF's (16+)<br></td></tr><tr><td>Australian Property<br></td><td>S&amp;P/ASX200 A-REIT Accumulation Index<br></td><td>Australian Shares (Sectors) (10+)<br></td></tr><tr><td>Indirect Australian Shares<br></td><td>S&amp;P.ASX300 Accumulation Index<br></td><td>Australian Shares (broad market) (15+)<br></td></tr><tr><td>Direct Australian Shares<br></td><td>Random Individual shares with complete monthly data since February 1992<br></td><td>Selected Individual Shares (1800+) and/or Australian Shares (Sectors) (10+)<br></td></tr><tr><td>International Shares - Unhedged<br></td><td>MSCI Index - World ex Australia Gross USD<br></td><td>Global Shares (49+)<br></td></tr></tbody></table><p>So, with 100 of the 128 listed ETF's available to implement your investment strategy for 6 asset classes (possibly including specific direct shares), there is clearly considerable scope for significant implementation risk - unless the exercise is done with care and attention to the contributions to portfolio risk.</p><p><br>IRISKONLINE was designed for that purpose.</p><p><br></p>

<h3 class="text-muted style5">C. Using IRISKONLINE and IRISKWATCH</h3> 
<p>Having purchased this report, it is straightforward to load one or more of your Investment Strategies from IRISKAWARE into IRISKONLINE - under the watchful eye of your Independent Financial Advisor - or by yourself if you are an Independent Investor or Trustee of a Self-Managed Superannuation Fund ('SMSF').</p><p>Here are SEVEN steps to professional portfolio management within IRISKONLINE:</p><p>STEP 1: REVIEW your investment strategies and the CENTROID portfolio to ensure they are still consistent with this report - remembering that slight changes are inevitable due to daily pricing and monthly risk updates to the database.</p><p>STEP 2: CLONE the strategy portfolio that you consider has the risk profile best suited to you. This will create an exact copy of the strategy ready for experimentation.</p><p>STEP 3: REPLACE all asset classes/securities in the CLONE with investible securities selected from the IRISKONLINE database. Compute the appropriate number of shares to purchase using the model weight ('w') times the TOTAL amount you have to invest ('$') divided by the latest market price of the selected security ('P'). For example: 0.15 x 100,000 /15.50 = 967.74 units. Of course, such a trade needs to be rounded down to say, 900 units to allow for brokerage and other costs of purchase.</p><p>STEP 4: CHECK that this RISK STRUCTURE is still acceptable relative to the original investment strategy. Carefully check the risk budgets for imbalances.</p><p>STEP 5: EXPERIMENT with alternative traded securities - keeping a close eye on the COSTS of management if you are using Exchange Traded Funds ('ETF') and other listed securities.</p><p>STEP 5: TIME your purchases. It is important to be patient when first implementing your portfolio. At this time, there is no hurry and it is wise to check the state of the market - and consult various experts including your Independent Financial Advisor (if you have one). Clearly, the best time to first invest is when the market has just suffered a severe correction.</p><p>STEP 6: CONTROL risk exposures over time. Once your ideal strategy has been properly implemented - you enter a pleasant period of observation and risk control in which you rarely trade for anything other than risk imbalances.</p><p>STEP 7: CONSIDER the use of Risk Limits; and Risk Control Charts to provide automated monitoring over time. Enjoy life and let the markets do their work. Time is your friend when it comes to risk.<br></p><p><br></p>


<h3 class="text-muted style5">D. Appendix 1: Your Risk Primer</h3>

<p>This Appendix is optional reading.<br></p><h2>Focus on extreme losses</h2><p>Here, we distinguish 'modern risk management' with its focus on understanding losses over defined time periods. Rather than the 'asset pricing models' that focus on risk measures hypothesised to generate expected returns e.g. 'Standard deviation' and 'beta'.</p><p>As mentioned in the body of the report, '<i>modern risk management' communicates information on portfolio 'losses'</i> as a probabilistic statement:</p><h2 align="center">"In any month, there is a 5% chance that the value of my portfolio could decrease </h2><h2 align="center">by x% - and, if this occurs, my expected portfolio loss will be y%."<br></h2><p>and derives insights such as:</p><h2 align="center">"The xx% invested in ABC P/L contributes yy% to the expected portfolio loss."</h2><p><br>In this Appendix, we use historical monthly return data from February 1992 for each of your FOUR investment strategies to calculate straightforward estimates of portfolio risk. Importantly, you should be note that this approach is NOT applicable for most portfolios due to insufficient data - and more sophisticated risk estimation methods are required as used for Table 2 of your IRISKAWARE report.</p><p><br></p><h2>Be Risk Aware</h2><p>When you purchase a security - you simultaneously exchange a 'risk free' security (i.e. CASH) for a 'risky' security (e.g. SHARES). On the other hand, if you rebalance a portfolio - you may buy/sell several positions to adjust the target asset allocation. Typically, risk is the 'shadow price' of these actions that is typically ignored.</p><p>Such transactions raise important questions: 'how did the transaction impact overall portfolio risk?'; 'how much risk has been acquired or eliminated?'; 'is portfolio risk still consistent with my risk preferences?' Do current risk exposures reflect my beliefs on future portfolio return?'.</p><p>(N.B. More importantly, were the likely risk impacts identified prior to undertaking the transaction?)</p><p><br></p><h2>Important Risk Statistics</h2><p>Now, if we always had the luxury of complete data over long periods of time for all of our portfolios, then the following easily available statistics would be sufficient to answer most questions about portfolio risk:</p><p><b>A.&nbsp;&nbsp; &nbsp;How widely spread is the distribution of monthly portfolio returns?</b> Using all monthly returns, what was standard deviation measure (i.e. 2nd moment around the mean) of portfolio return - could be any positive number;<br><b>B.&nbsp;&nbsp; &nbsp;Is the shape of the distribution of monthly portfolio returns symmetric?</b> Using all monthly returns, what was the skewness measure (i.e. 3rd moment around the mean) of portfolio return - note that the Normal 'bell-shape' has skew=0;<br><b>C.&nbsp;&nbsp; &nbsp;Is the shape of the distribution of monthly portfolio returns peaked?</b> Using all monthly returns, what was the kurtosis measure (i.e. 4th moment around the mean) of portfolio return - note that the Normal 'bell-shape' has kurtosis=3;<br><b>D.&nbsp;&nbsp; &nbsp;What was the monthly return for which 5% of ALL returns were equal or lower?</b> Using all monthly portfolio returns sorted from LOWEST to HIGHEST - identify the monthly return that defines the lowest 5% of the observations. This is called Empirical Value at Risk; and<br><b>E.&nbsp;&nbsp; &nbsp;What was the average of all returns less than or equal to the Empirical Value at Risk?</b> Using the same data as in c., compute the average of all returns less than, or equal to, Empirical Value at Risk. This negative number is called Empirical Shortfall.</p><p><br></p><h2>Leading Questions</h2><p>The answer in A (i.e. Standard Deviation of returns) is the ONLY risk measure used in Portfolio Theory as developed by Nobel Prize winner Harry Markowitz in 1952. The assumption of Normality (i.e. 'bell shaped return distribution) means that the information for B. C. D. and E. is ignored for risk estimation. This remained the modus operandi of financial researchers until the mid-1970's when the importance of Skewness (point B above) was discussed and tested.</p><p>Indeed, the answers to B. and C. determine whether the use of risk measure A. is a sufficient statistic for portfolio risk. <i>The empirical evidence suggests it is NOT because non-zero skew and kurtosis greater than 3 are generally reported for all securities and most portfolios</i>. This was evident in much empirical research that preceded Markowitz (1952) and many studies since.</p><p>The answer to D. establishes a 'cutoff' point in the 'left tail' of the monthly return distribution that defines the location for extreme losses. <i>This is often referred to as Value at Risk ('VaR')</i>; and the answer for E. is the average of all extreme losses greater than or equal to D. <i>This is often referred to as Expected Shortfall ('ES')</i>.</p><p><br></p><h2>State of Play</h2><p>So, prior to the early 2000's, there were THREE dominant methods for estimating extreme portfolio loss:<br>a.&nbsp;&nbsp; &nbsp;Scale the Standard Deviation e.g. a cutoff is defined as k times Standard Deviation where k is a number between minus 1 and minus 3;<br>b.&nbsp;&nbsp; &nbsp;Compute Empirical Value at Risk and Expected Shortfall from historical data (as above); and<br>c.&nbsp;&nbsp; &nbsp;Compute Value at Risk and Expected Shortfall using formulae based on the Normal distribution with a given Standard Deviation.<br></p><p> However, since then, more general methods have been developed:</p><p>d.&nbsp;&nbsp; &nbsp;Compute Modified Value at Risk and Modified Expected Shortfall that use Standard Deviation; Skew; and Kurtosis i.e. adjust for 'non-normality'. These 'modified' estimates converge to 'Normal' estimates if Skew = 0 and Kurtosis = 3; and<br>e.&nbsp;&nbsp; &nbsp;General quantitative techniques that use advanced mathematics, simulation and optimisation methods.</p><p>In general, extreme risk estimates are understated using the 'Normal' Value at Risk and Expected Shortfall.</p><p>To illustrate, the relevant statistics were computed for each of your preferred strategies using all monthly portfolio returns from February 1992 inclusive. Please examine the charts carefully and try to relate their shape to the numerical estimates AND the discussion above:</p>

<p><br></p> 

<h2>Empirical Estimates of Extreme Risk for your LIKES<br></h2>


<table class="table table-bordered" ><tbody><tr><td><-DISTCHARTLIKE1-></td></tr></tbody></table>

 <table class="table table-bordered"><tbody><tr class="info"><td>Table 8.1: Key Statistics for Portfolio LIKE 1<br></td><td align="center">LIKE 1<br></td></tr>
<tr><td>Estimated Standard Deviation (% per month)<br></td><td><-KEYSTATSLIKE1SD-></td></tr>
<tr><td>Estimated Skewness (expect Normal = 0)<br></td><td><-KEYSTATSLIKE1SK-></td></tr>
<tr><td>Estimated Kurtosis (expect Normal = 3)<br></td><td><-KEYSTATSLIKE1KS-></td></tr>
<tr><td>Empirical Value at Risk (5% cutoff point for left tail)<br></td><td><-KEYSTATSLIKE1VR-></td></tr>
<tr><td><p>Empirical Shortfall (average 5% observations in left tail)<br></p></td><td><-KEYSTATSLIKE1SF-></td></tr>
<tr><td><br></td><td><br></td></tr></tbody></table><p><br></p>

<table class="table table-bordered"><tbody><tr><td><-DISTCHARTLIKE2-></td></tr></tbody></table> 


<table class="table table-bordered"><tbody><tr class="success"><td><p>Table 8.2: Key Statistics for Portfolio LIKE 2<br></p></td><td align="center">LIKE 2<br></td></tr>
<tr><td><p>Estimated Standard Deviation (% per month)<br></p></td><td><-KEYSTATSLIKE2SD-></td></tr>
<tr><td><p>Estimated Skewness (expect Normal = 0)<br></p></td><td><-KEYSTATSLIKE2SK-></td></tr>
<tr><td><p>Estimated Kurtosis (expect Normal = 3)<br></p></td><td><-KEYSTATSLIKE2KS-></td></tr>
<tr><td><p>Empirical Value at Risk (5% cutoff point for left tail)<br></p></td><td><-KEYSTATSLIKE2VR-></td></tr>
<tr><td><p>Empirical Shortfall (average 5% observations in left tail)<br></p></td><td><-KEYSTATSLIKE2SF-></td></tr>
<tr><td><br></td><td><br></td></tr></tbody></table><p><br></p> 

<table class="table table-bordered"  ><tbody><tr><td><-DISTCHARTLIKE3-></td></tr></tbody></table>



  <table class="table table-bordered"><tbody><tr class="success"><td><p>Table 8.3: Key Statistics for Portfolio LIKE 3<br></p></td><td align="center">LIKE 3<br></td></tr>
<tr><td><p>Estimated Standard Deviation (% per month)<br></p></td><td><-KEYSTATSLIKE3SD-></td></tr>
<tr><td><p>Estimated Skewness (expect Normal = 0)<br></p></td><td><-KEYSTATSLIKE3SK-></td></tr>
<tr><td><p>Estimated Kurtosis (expect Normal = 3)<br></p></td><td><-KEYSTATSLIKE3KS-></td></tr>
<tr><td><p>Empirical Value at Risk (5% cutoff point for left tail) </p></td><td><-KEYSTATSLIKE3VR-></td></tr>
<tr><td><p>Empirical Shortfall (average 5% observations in left tail)<br></p></td><td><-KEYSTATSLIKE3SF-></td></tr>
<tr><td><br></td><td><br></td></tr></tbody></table><p><br></p>

<table class="table table-bordered" ><tbody><tr><td><-DISTCHARTCENTROID-></td></tr></tbody></table> 

<table class="table table-bordered"><tbody><tr class="success"><td><p>Table 8.4: Key Statistics for Portfolio CENTROID<br></p></td>
<td align="center">CENTROID<br></td></tr>
<tr><td><p>Estimated Standard Deviation (% per month)<br></p></td><td><-KEYSTATSCENTROIDSD-></td></tr>
<tr><td><p>Estimated Skewness (expect Normal = 0)<br></p></td><td><-KEYSTATSCENTROIDSK-></td></tr>
<tr><td><p>Estimated Kurtosis (expect Normal = 3)<br></p></td><td><-KEYSTATSCENTROIDKS-></td></tr>
<tr><td><p>Empirical Value at Risk (5% cutoff point for left tail)<br></p></td><td><-KEYSTATSCENTROIDVR-></td></tr>
<tr><td><p>Empirical Shortfall (average 5% observations in left tail)<br></p></td><td><-KEYSTATSCENTROIDSF-></td></tr>
<tr><td><br></td><td><br></td></tr></tbody></table>

 

<blockquote class="blockquote">
  <p class="text-danger">Important - Do not forget</p>
  <footer class="blockquote-footer">Unstructured analysis of historical data must be interpreted with care. Tables 2.1 through 2.4 (below) contain interesting <u>historical</u> portfolio risk estimates. However, they are <u>not</u> predictions <u>and</u> they may be <u>unreliable</u> as a basis for decisions.</footer>
</blockquote>
 
<div class="row" align=left>
  <h3 class="text-muted style5">&nbsp;&nbsp; E. Related Publications</h3>
   &nbsp;&nbsp; &nbsp;1.Sinclair, N.A., "ALPHA - The Financial Pimpernel?", Journal of the Securities Institute of Australia, September, (1993).<br>&nbsp;&nbsp; &nbsp;2.Sinclair, N.A., "Benchmark Policy Ranges - A Trustee's Recipe for Managing the Manager", Journal of the Securities Institute of Australia, June, (1994).<br>&nbsp;&nbsp; &nbsp;3.Sinclair, N.A., "Managed Myopia - the Importance of the Asset Allocation Overlay", Journal of the Securities Institute of Australia March (1995).<br>&nbsp;&nbsp; &nbsp;4.Sinclair, N.A., "INDEX or ACTIVE? - Some myths and realities of value added", Journal of the Securities Institute of Australia, 1, Autumn (1999).<br>&nbsp;&nbsp; &nbsp;5.Sinclair, N.A., "A 'perfect storm' in retirement savings", JASSA The FINSIA Journal of Applied Finance, 1, March (2009).<br>&nbsp;&nbsp; &nbsp;6.Sinclair, N.A., "Forensic risk analysis", JASSA The FINSIA Journal of Applied Finance, 4, December (2009).
</div>
<br>
<div class="row" align=left>
  <h3 class="text-muted style5">&nbsp;&nbsp;  F. Disclosures.</h3>
   &nbsp;&nbsp;&nbsp;The TERMS OF USE and PRIVACY disclosures provided at <a target="_blank" href="www.iriskonline.com">www.iriskonline.com</a> are applicable to this report. These are NOT provided here to conserve space. You are strongly advised to read these disclosures at <a target="_blank" href="www.iriskonline.com">www.iriskonline.com</a>.
</div>
<br> 
<hr>
    <div class="row" align=center>
	<div class="attribution">&copy; 2016-2017 <a rel="nofollow" href="http://www.iriskonline.com">Iriskonline</a></div>
         
    </div>
<br> 
</div>