{% extends "base.html" %}
{% block content %}
<link href="/static/styles/joinus.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/ccss/raleway-font.css">
<link rel="stylesheet" type="text/css" href="/static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
<!-- Jquery -->
<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
<!-- Main Style Css -->
<link rel="stylesheet" href="/static/ccss/style.css" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<div class="container-fluid content1">
  <div class="row ">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        {#<h1>Would you like to be an RRR Referral Associate ?</h1>
        <p> Join us TODAY by filling out the information below. Once you have
          finished with this step, you will receive a confirmation email. You
          will then be prompted to log in using the email address and password
          that you provided; from there you will be able to complete the
          registration process.<br> Welcome to the Realty Referral Resource Team! </p>#}
		   {{faqs_records.page_text|safe}}
      </div>
    </div>
  </div>
</div>

<!-- Agent info code starts -->

<div class="container" style="z-index:1;margin-top:10px">
  <div class="wizard-v1">
    <div class="wizard-form">
	<form role="form" id="form-register" class="form-register" role="form">
	<input type="hidden" name="table_name" value="register">
	<input type="hidden" name="user_type" value="agent">
						{{ register_form.hidden_tag() }}
       
        <div id="form-total"> 
		
          <!-- SECTION 1 -->
{#<div class="steps clearfix"><ul role="tablist"><li role="tab" class="first current" aria-disabled="false" aria-selected="true"><a id="form-total-t-0" href="#form-total-h-0" aria-controls="form-total-p-0"><span class="current-info audible"> </span><div class="title"> <span class="step-icon"><i class="fa fa-check" aria-hidden="true"></i></span> <span class="step-number"></span> <span class="step-text">Create Profile</span> </div></a></li><li role="tab" class="disabled last" aria-disabled="true"><a id="form-total-t-1" href="#form-total-h-1" aria-controls="form-total-p-1"><div class="title"> <span class="step-icon"><i class="fa fa-check" aria-hidden="true"></i></span> <span class="step-number"></span> <span class="step-text">Payment</span> </div></a></li></ul></div>#}
           <section class="form-sec">
            <div class="inner">
              <h1> Create Agent Profile </h1>
              <div class="card">
                <div class="col-md-12 form-box">
				<table border=0 width="700" align=center><tr><td><div class="alert alert-danger alert-dismissable" style="display:none" id="errordiv">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                        <span class="alert alert-danger" id="error_message">  </span>
                    </div></td></tr><tr><td align=center>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="first_name_for">First Name <span>*</span></label>
                        <input type="text" name="first_name" ID="first_name" class="form-control" >
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="last_name_for">Last Name <span>*</span></label>
                        <input type="text" name="last_name" id="last_name" class="form-control" >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="email">Email Address <span>*</span></label>
                         <input type="email" name="email" id="email" class="form-control " placeholder="Email Address" pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">  
					  </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control" placeholder="Confirm Password">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Mobile <span>*</span></label>
						<input type="tel" name="phone" id="phone" class="form-control "  pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  placeholder="000-000-0000"     required>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Alternate Phone </label>
                            <input type="text" name="alternate_phone" id="alternate_phone" class="form-control " placeholder="Alternate Phone">
                      </div>
                    </div>
                  </div>
				  <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Real Estate License Number <span>*</span></label>
						<input type="text" name="license_number" ID="license_number" class="form-control" maxlength="10">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Name on Real Estate License<span>*</span> </label>
                           <input type="text" name="license_name" id="license_name" class="form-control input-sm" >
                      </div>
                    </div>
                  </div>
				   <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">State Licensed In<span>*</span></label>
						<select name='license_state' id='license_state'  class="form-control">
						<option value="">-Select State-</option>
                          <option value="AL">Alabama</option>
	<option value="AK">Alaska</option>
	<option value="AZ">Arizona</option>
	<option value="AR">Arkansas</option>
	<option value="CA">California</option>
	<option value="CO">Colorado</option>
	<option value="CT">Connecticut</option>
	<option value="DE">Delaware</option>
	<option value="DC">District Of Columbia</option>
	<option value="FL">Florida</option>
	<option value="GA">Georgia</option>
	<option value="HI">Hawaii</option>
	<option value="ID">Idaho</option>
	<option value="IL">Illinois</option>
	<option value="IN">Indiana</option>
	<option value="IA">Iowa</option>
	<option value="KS">Kansas</option>
	<option value="KY">Kentucky</option>
	<option value="LA">Louisiana</option>
	<option value="ME">Maine</option>
	<option value="MD">Maryland</option>
	<option value="MA">Massachusetts</option>
	<option value="MI">Michigan</option>
	<option value="MN">Minnesota</option>
	<option value="MS">Mississippi</option>
	<option value="MO">Missouri</option>
	<option value="MT">Montana</option>
	<option value="NE">Nebraska</option>
	<option value="NV">Nevada</option>
	<option value="NH">New Hampshire</option>
	<option value="NJ">New Jersey</option>
	<option value="NM">New Mexico</option>
	<option value="NY">New York</option>
	<option value="NC">North Carolina</option>
	<option value="ND">North Dakota</option>
	<option value="OH">Ohio</option>
	<option value="OK">Oklahoma</option>
	<option value="OR">Oregon</option>
	<option value="PA">Pennsylvania</option>
	<option value="RI">Rhode Island</option>
	<option value="SC">South Carolina</option>
	<option value="SD">South Dakota</option>
	<option value="TN">Tennessee</option>
	<option value="TX">Texas</option>
	<option value="UT">Utah</option>
	<option value="VT">Vermont</option>
	<option value="VA">Virginia</option>
	<option value="WA">Washington</option>
	<option value="WV">West Virginia</option>
	<option value="WI">Wisconsin</option>
	<option value="WY">Wyoming</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">License Expiration Date<span>*</span> </label>
                           <input type="date" name="license_date" id="license_date" class="form-control input-sm" >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-holder form-holder-2">
                        <label for="homeadd">Home Address <span>*</span></label>
                        <input type="text" name="home_address" id="home_address" class="form-control " placeholder="Home Address">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="card-type">City <span>*</span></label>
                        <input type="city" name="city" id="city" class="form-control input-sm" placeholder="City">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="card-type">State <span>*</span></label>
                        <select name='state' id='state'  class="form-control">
						<option value="">-Select State-</option>
                          <option value="AL">Alabama</option>
	<option value="AK">Alaska</option>
	<option value="AZ">Arizona</option>
	<option value="AR">Arkansas</option>
	<option value="CA">California</option>
	<option value="CO">Colorado</option>
	<option value="CT">Connecticut</option>
	<option value="DE">Delaware</option>
	<option value="DC">District Of Columbia</option>
	<option value="FL">Florida</option>
	<option value="GA">Georgia</option>
	<option value="HI">Hawaii</option>
	<option value="ID">Idaho</option>
	<option value="IL">Illinois</option>
	<option value="IN">Indiana</option>
	<option value="IA">Iowa</option>
	<option value="KS">Kansas</option>
	<option value="KY">Kentucky</option>
	<option value="LA">Louisiana</option>
	<option value="ME">Maine</option>
	<option value="MD">Maryland</option>
	<option value="MA">Massachusetts</option>
	<option value="MI">Michigan</option>
	<option value="MN">Minnesota</option>
	<option value="MS">Mississippi</option>
	<option value="MO">Missouri</option>
	<option value="MT">Montana</option>
	<option value="NE">Nebraska</option>
	<option value="NV">Nevada</option>
	<option value="NH">New Hampshire</option>
	<option value="NJ">New Jersey</option>
	<option value="NM">New Mexico</option>
	<option value="NY">New York</option>
	<option value="NC">North Carolina</option>
	<option value="ND">North Dakota</option>
	<option value="OH">Ohio</option>
	<option value="OK">Oklahoma</option>
	<option value="OR">Oregon</option>
	<option value="PA">Pennsylvania</option>
	<option value="RI">Rhode Island</option>
	<option value="SC">South Carolina</option>
	<option value="SD">South Dakota</option>
	<option value="TN">Tennessee</option>
	<option value="TX">Texas</option>
	<option value="UT">Utah</option>
	<option value="VT">Vermont</option>
	<option value="VA">Virginia</option>
	<option value="WA">Washington</option>
	<option value="WV">West Virginia</option>
	<option value="WI">Wisconsin</option>
	<option value="WY">Wyoming</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Zip Code <span>*</span></label>
                        <input type="zip_code" name="zip_code" id="zip_code" class="form-control input-sm" placeholder="ZIP Code" maxlength="5">
                      </div>
                    </div>
                  </div>
				  <div class="row">
                    <div class="col-md-12">
                      <div class="form-holder form-holder-2">
                        <input id="user_signup_tos_accepted" name="user_signup_tos_accepted" type="checkbox" value="1"> I affirm that I have read and agree with the <a href="/static/Referral_Policies_Online.pdf" target="_blank"><strong>Policies and Procedures</strong></a> of Realty Referral Resource. 
                      </div>
                    </div>
                  </div>
                </div>
              </div></td></tr></table>
            </div>&nbsp;
			<div class="actions clearfix"><ul role="menu" aria-label="Pagination"><li aria-hidden="false" aria-disabled="false"><a type="button" value="Register" id="savebutton" >Submit</a> </li><li aria-hidden="true" style="display: none;"><a href="#finish" role="menuitem">Next</a></li></ul></div>
          </section>
          <!-- SECTION 2 -->
          
         {# <h2> <span class="step-icon"><i class="fa fa-check" aria-hidden="true"></i></span> <span class="step-number"></span> <span class="step-text">Payment</span> </h2>
          <section>
            <div class="">
              <h1>Comfirm Details</h1>
              <div class="form-box">
                <div class="row bd">
                  <div class="col-md-6">
                    <div style="font-weight:600">
                      <p>Payto : Realty Referral Resource</p>
                      <p>Amount : $200.00 USD</p>
                    </div>
                  </div>
                  <div class="col-md-6 " style="text-align:right"> <img src="/static/images/paypal.png" width="200px" height="55px"> </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <h3 style="color:#000;padding-top:20px">Paypal Login</h3>
                    <div class="form">
                      <div class="form-row">
                        <div class="form-holder form-holder-2">
                          <input type="text" placeholder="Email" class="form-control">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-holder form-holder-2">
                          <input type="password" placeholder="Password" class="form-control">
                        </div>
                      </div>
                      <div class="row btn-pad" >
                        <button type="submit" class="send-msg-btn">Login</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 hidden-xs hidden-sm" style="border-right:1px solid #ccc;padding:100px;padding: 10px;
                                        height: 200px;
                                        margin-top: 15px;"></div>
                  <!-- <div class="col-md-1" ></div> -->
                  <div class="col-md-1"></div>
                  <div class="col-md-4 text-center" style="padding-top:75px">
                    <div>
                      <p>If you never paid through paypal</p>
                       

					  			    			<button type="button" value="Register" id="savebutton" class="click-btn" >Create Account</button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>#}
        </div>
		 
         
      </form>
    </div>
  </div>
</div>
<div class="image">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"></div>
    </div>
  </div>
</div>

 
<script>
           
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap'
        });
       </script> 
<script src="/static/cjs/jquery-3.3.1.min.js"></script> 
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script> 
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script> 
<script src="/static/cjs/jquery.steps.js"></script> 
 <script type="text/javascript">

	function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}

jQuery(document).ready(function(){
$( "#savebutton" ).click(function( event ) {
		
		 var pass = $('#password').val()
		if ($('#first_name').val() == "") {
				alert('First Name is required!');
				$('#first_name').focus()
				return false;
		}else if ($('#last_name').val() == "") {
				alert('Last Name is required!');
				$('#last_name').focus()
				return false;
		}else if ($('#email').val() == "") {
				alert('Email Address is required!');
				$('#email').focus()
				return false;
		}else if (validateEmail($('#email').val()) != true) {
				//alert(validateEmail($('#email').val()));
				alert('Please provide proper email Address!');
				$('#email').focus()
				return false;
		}else if ($('#password').val() == "") {
				alert('Password is required!');
				$('#password').focus()
				return false;
		}else if (pass.length < 8) {
				alert("Your password needs a minimum of eight characters, a number, a lower case letter, an upper case letter and a special character")
				$('#password').focus()
				return false;
		} else if ($('#password').val().search(/[a-z]/) < 0) {
				alert("Your password needs a minimum of eight characters, a number, a lower case letter, an upper case letter and a special character")
				$('#password').focus()
				return false;
		} else if($('#password').val().search(/[A-Z]/) < 0) {
				alert("Your password needs a minimum of eight characters, a number, a lower case letter, an upper case letter and a special character")
				$('#password').focus()
				return false;
		} else  if ($('#password').val().search(/[0-9]/) < 0) {
				alert("Your password needs a minimum of eight characters, a number, a lower case letter, an upper case letter and a special character")
				$('#password').focus()
				return false;
		}else if ($('#password_confirmation').val() == "") {
				alert('password confirmation is required!');
				$('#password_confirmation').focus()
				return false;
		}else if ($('#password_confirmation').val() != $('#password').val()) {
				alert("Passwords don't match. Please re-type the passwords.");
				return false;
		}else if ($('#phone').val() == "") {
				alert('Phone is required!');
				$('#phone').focus()
				return false;
		}else if ($('#license_number').val() == "") {
				alert('license number is required!');
				$('#license_number').focus()
				return false;
		}else if ($('#license_name').val() == "") {
				alert('License Name is required!');
				$('#license_name').focus()
				return false;
		}else if ($('#license_state').val() == "") {
				alert('License State is required!');
				$('#license_state').focus()
				return false;
		}else if ($('#license_date').val() == "") {
				alert('license date is required!');
				$('#license_date').focus()
				return false;
		}else if ($('#home_address').val() == "") {
				alert('Home Address is required!');
				$('#home_address').focus()
				return false;
		}else if ($('#state').val() == "") {
				alert('State is required!');
				$('#state').focus()
				return false;
		}else if ($('#city').val() == "") {
				alert('City is required!');
				$('#city').focus()
				return false;
		}else if ($('#zip_code').val() == "") {
				alert('Postcode is required!');
				$('#zip_code').focus()
				return false;
		}else if (!$('#user_signup_tos_accepted').is(":checked")) {
				alert('Please Accept the RRR Policies and Procedures.');
				$('#user_signup_tos_accepted').focus()
				return false;
		}else{
			//prevent Default functionality
			 
			$.ajax({
				type:"POST",
				url: "/tableCreate",
				dataType:"json",
				data:$('form').serialize() ,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						window.location.replace("/thankyou");
						$('#con-close-modal').hide();
					}else{
						$('#errordiv').show();
						$('#error_message').html(response.message);
						
					}
					
				},error: function(){
					console.log(response);
					$('#errordiv').show();
					$('#error_message').html("problem in regetering. please refresh and try again");
				}
			});
			return true;
		}

	});
});

  $(function(){
	
	

    $("#form-register").validate({
        rules: {
            password : {
                required : true,
            },
            confirm_password: {
                equalTo: "#password"
            }
        },
        messages: {
            username: {
                required: "Please provide an username"
            },
            email: {
                required: "Please provide an email"
            },
            password: {
                required: "Please provide a password"
            },
            confirm_password: {
                required: "Please provide a password",
                equalTo: "Please enter the same password"
            }
        }
    });
    $("#form-total").steps({
		headerTag: "h2",
        bodyTag: "section",
        transitionEffect: "fade",
        // enableAllSteps: true,
        autoFocus: true,
        transitionEffectSpeed: 500,
        titleTemplate : '<div class="title">#title#</div>',
        labels: {
            previous : 'Back',
            // next : '<i class="zmdi zmdi-arrow-right"></i>',
            // finish : '<i class="zmdi zmdi-arrow-right"></i>',
            next : 'Submit',
            finish : 'Next',
            current : ''
        },
        onStepChanging: function (event, currentIndex, newIndex) { 
            var first_name = $('#first_name').val();
		if ($('#first_name').val() == "") {
				alert('First Name is required!');
				$('#first_name').focus()
				return false;
		}else if ($('#last_name').val() == "") {
				alert('Last Name is required!');
				$('#last_name').focus()
				return false;
		}else if ($('#email').val() == "") {
				alert('Email Address is required!');
				$('#email').focus()
				return false;
		}else if (validateEmail($('#email').val()) != true) {
				//alert(validateEmail($('#email').val()));
				alert('Please provide proper email Address!');
				$('#email').focus()
				return false;
		}else if ($('#password').val() == "") {
				alert('Password is required!');
				$('#password').focus()
				return false;
		}else if ($('#password_confirmation').val() == "") {
				alert('password confirmation is required!');
				$('#password_confirmation').focus()
				return false;
		}else if ($('#password_confirmation').val() != $('#password').val()) {
				alert('passwords dont match is required!');
				return false;
		}else if ($('#phone').val() == "") {
				alert('Phone is required!');
				$('#phone').focus()
				return false;
		}else if ($('#home_address').val() == "") {
				alert('Home Address is required!');
				$('#home_address').focus()
				return false;
		}else if ($('#state').val() == "") {
				alert('State is required!');
				$('#state').focus()
				return false;
		}else if ($('#city').val() == "") {
				alert('City is required!');
				$('#city').focus()
				return false;
		}else if ($('#zip_code').val() == "") {
				alert('Postcode is required!');
				$('#zip_code').focus()
				return false;
		}else if (!$('#user_signup_tos_accepted').is(":checked")) {
				alert('Please Accept terms and conditions');
				$('#user_signup_tos_accepted').focus()
				return false;
		}else{

             

            $("#form-register").validate().settings.ignore = ":disabled,:hidden";
            return $("#form-register").valid();
			}
        }

    });
});

</script>
</body>
</html>
{% endblock %}