<div class="side-bar-revenues"> 
              
              <!-- Company & Services -->
 			
			  <!-- Key Financials -->
			  {% if current_user.userid.user_type == 'advisor' %}
				  <h6 class="head"><a data-toggle="collapse" href="#copo" aria-expanded="false"><i class="fa fa-users"></i> MY CLIENTS</a></h6>
				  <div class="open" id="copo">
					<div class="well">
					  <ul class="cate result">
					  <li> <a href="/dashboard">Manage Clients</a></li>
						<li><a href="/createclient"> Register Client</a></li>
						
						<li> <a href="/inbox">Inbox</a></li>
					   </ul>
					</div>
				  </div>

				  <h6 class="head"><a data-toggle="collapse" href="#men" aria-expanded="false"><i class="fa fa-bank"></i> MY ACCOUNT</a></h6>
				  <div class="open" id="men">
					<div class="well">
					  <ul class="cate result">			
						<li><a href="/myProfile"> Profile</a></li>
						<li> <a href="/view_resources">View Resources</a></li>
						
						<li> <a href="/purchase_advisor">Purchase Resources</a></li>
						<li> <a href="/purchase_reports">Purchase Reports</a></li>
						<li> <a href="/subscriptions">Payments History</a></li>
						 
						
					  </ul>
					</div>
				  </div>
			  {% endif %}
              
			  <!-- Key Financials -->
			  {% if current_user.userid.user_type == 'accountant' %}
				  <h6 class="head"><a data-toggle="collapse" href="#copo" aria-expanded="false"><i class="fa fa-users"></i> MY CLIENTS</a></h6>
				  <div class="open" id="copo">
					<div class="well">
					  <ul class="cate result">
						<li> <a href="/dashboard">Manage Clients</a></li>
						<li><a href="/createclient"> Register Client</a></li>
						
						<li> <a href="/inbox">Inbox</a></li>
					   </ul>
					</div>
				  </div>
				  <h6 class="head"><a data-toggle="collapse" href="#men" aria-expanded="false"><i class="fa fa-bank"></i> MY ACCOUNT</a></h6>
				  <div class="open" id="men">
					<div class="well">
					  <ul class="cate result">	
					   <li><a href="/myProfile"> Profile</a></li>
						<li> <a href="/view_resources">View Resources</a></li>
 						<li> <a href="/purchase_advisor">Purchase Resources</a></li>
						<li> <a href="/purchase_reports">Purchase Reports</a></li>
						<li> <a href="/subscriptions">Payments History</a></li>
					  </ul>
					</div>
				  </div>
			  {% endif %}

			  {% if current_user.userid.user_type == 'client' or current_user.userid.user_type == 'accountclient' %}
              <!-- Key Financials -->
				  {% if current_user.userid.module_iriskaware == True %}
					  <h6 class="head"><a data-toggle="collapse" href="#key" aria-expanded="false"><i class="fa fa-bar-chart"></i> Iriskaware</a></h6>
					  <div class="collapse" id="key">
						<div class="well">
						  <ul class="cate result">
							<li> <a href="/iriskaware_analysis">Find Strategy</a></li>
							
							<li><a href="/iriskaware_reports"> View Reports</a></li>
							
							<li><a href="/load_to_iriskonline"> Load to Iriskonline</a></li>
				   
						  </ul>
						</div>
					  </div>
				  {% endif %}
              <!-- Key Financials -->
				  {% if current_user.userid.module_iriskonline == True %}
					  <h6 class="head"><a data-toggle="collapse" href="#Stories" aria-expanded="false"><i class="fa fa-comments-o"></i> Iriskonline</a></h6>
					  <div class="open" id="Stories">
						<div class="well">
						  <ul class="cate result">
							<li> <a href="/addportfolio">Add Portfolio</a></li>
							<li><a href="/myportfolios"> My Portfolios</a></li>
							 
						  </ul>
						</div>
					  </div>
				  {% endif %}
				  <!-- Media Relations -->
				  {% if current_user.userid.module_iriskwatch == True %}
				  <h6 class="head"><a data-toggle="collapse" href="#media" aria-expanded="false"><i class="fa fa-globe"></i> Iriskwatch</a></h6>
				  <div class="open" id="media">
					<div class="well">
					  <ul class="cate result">
						<li> <a href="/risklimits">Watch Risk limits</a></li>
					  </ul>
					</div>
				  </div>
				  {% endif %}

				  <!-- Key Financials -->
				  <h6 class="head"><a data-toggle="collapse" href="#men" aria-expanded="false"><i class="fa fa-bank"></i> MY ACCOUNT</a></h6>
				  <div class="open" id="men">
					<div class="well">
					  <ul class="cate result">
						
						
						<li> <a href="/view_resources">View Resources</a></li>
						<li><a href="/myProfile"> Profile</a></li>
						{% if current_user.userid.user_type == 'client' %}
							<li><a href="#."> Contact Advisor</a></li>
						{% endif %}
						
						 
					  </ul>
					</div>
				  </div>
			  {% endif %}

			  {% if current_user.userid.user_type == 'investor' or current_user.userid.user_type == 'trustee' %}
              <!-- Key Financials -->
				  {% if current_user.userid.module_iriskaware == True %}
					  <h6 class="head"><a data-toggle="collapse" href="#key" aria-expanded="false"><i class="fa fa-bar-chart"></i> Iriskaware</a></h6>
					  <div class="open" id="key">
						<div class="well">
						  <ul class="cate result">
							<li> <a href="/iriskaware_analysis">Portfolio Analysis</a></li>							
							<li><a href="/iriskaware_reports"> View Reports</a></li>							
							<li><a href="/load_to_iriskonline"> Load to Iriskonline</a></li>
				   
						  </ul>
						</div>
					  </div>
				  {% endif %}
              <!-- Key Financials -->
				  {% if current_user.userid.module_iriskonline == True %}
					  <h6 class="head"><a data-toggle="collapse" href="#Stories" aria-expanded="false"><i class="fa fa-comments-o"></i> Iriskonline</a></h6>
					  <div class="open" id="Stories">
						<div class="well">
						  <ul class="cate result">
							<li> <a href="/addportfolio">Add Portfolio</a></li>
							<li><a href="/myportfolios"> My Portfolios</a></li>
							
						  </ul>
						</div>
					  </div>
				  {% endif %}
				  <!-- Media Relations -->
				  {% if current_user.userid.module_iriskwatch == True %}
				  <h6 class="head"><a data-toggle="collapse" href="#media" aria-expanded="false"><i class="fa fa-globe"></i> Iriskwatch</a></h6>
				  <div class="open" id="media">
					<div class="well">
					  <ul class="cate result">
												<li> <a href="/risklimits">Watch Risk limits</a></li>
					  </ul>
					</div>
				  </div>
				  {% endif %}

				  <!-- Key Financials -->
				  <h6 class="head"><a data-toggle="collapse" href="#men" aria-expanded="false"><i class="fa fa-bank"></i> MY ACCOUNT</a></h6>
				  <div class="open" id="men">
					<div class="well">
					  <ul class="cate result">
						
						<li><a href="/myProfile"> Profile</a></li>
						<li> <a href="/view_resources">View Resources</a></li>
						<li><a href="/purchase_resources"> Purchase resources</a></li>
						<li> <a href="/purchase_reports">Purchase Reports</a></li>
						<li><a href="/subscriptions"> Payments History</a></li>
						
					   </ul>
					</div>
				  </div>
			  {% endif %}
              
              
               
              
              
			  {#<h6 class="head"><a data-toggle="collapse" href="/feedback" aria-expanded="false"><i class="fa fa-bank"></i> Submit Feedback</a></h6>
			  <h6 class="head"><a data-toggle="collapse" href="/invite" aria-expanded="false"><i class="fa fa-bank"></i> Invite Friends</a></h6>
			  #}
              

            </div>