{% extends "base.html" %}

{% block content %}
  <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Login Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">login</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- Content -->
  <div id="content"> 
    
    <!-- SERVICES -->
    <section class="services padding-top-10 padding-bottom-10">
      <div class="container"> 
        <!-- Heading -->
        <div class="heading text-center">
          <h4>Login Into IRiskonline</h4>
        </div>
      </div>
      <div class="best-services"> 
        <!-- Row -->
        <div class="container">    
        <div id="loginbox" style="margin-top:0px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">   
		{% if error %}
							
							<div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                        <span class="alert alert-danger"> <strong>Error!</strong> {{ error }} </span>
                    </div>
						{% endif %}
            <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="/forgot-password">Forgot password?</a></div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        
                            
                        <form id="loginform" class="form-horizontal" action="/login" role="form" method=post>
                                    {{ login_form.hidden_tag() }}
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="login-username" type="text" class="form-control" name="email" value="" placeholder="email address">                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                                    </div>
                                    

                                
									<div class="input-group">
                                       
                                        <label>
                                          <input id="login-remember" type="checkbox" name="remember_me" value="1"> Remember me
                                        </label>
                                       
                                    </div>


                                <div style="margin-top:1px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <button type="submit" class="btn btn-1 margin-top-10 ">Login <i class="fa fa-caret-right"></i></button>
                                       

                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Don't have an account?  &nbsp;&nbsp;
                                        <a href="/register" class="primary-color font-bold"><font size=3>Sign Up</font></a>
                                        </div>
                                    </div>
                                </div>    
                            </form>     



                        </div>                     
                    </div>  
			</div>
        
		</div>
      </div>
      
     
      
      
      
      

     
    </section>
  </div>
  
 {% endblock %}