{% extends "base.html" %}

{% block content %}
<link href="/static/styles/joinus.css" rel="stylesheet">
<link rel="stylesheet" href="/static/ccss/style.css" />
<div class="container-fluid content1">
  <div class="row ">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h1>Hello, {{current_user.first_name}}!</h1>
        <p> Manage your referrals and account setting below</p>
      </div>
    </div>
  </div>
</div>

<!-- Agent info code starts -->

<div class="container referrals-sec">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6"><h3>Your Referral Clients</h3></div>
        <div class="col-md-3"><a href="/refer_client" class="btn btn-deep-purple">Send a Referral</a></div>
    </div>
    <div class="row">
            <div class="vertical-tab" role="tabpanel">
                <!-- Nav tabs -->
                <div class="col-md-3">
                <ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active"><a href="/myaccount" aria-controls="referrals">Referrals</a></li>
                    <li role="presentation" ><a href="/refer_client" aria-controls="home" role="tab" >Refer a Client </a></li>

                    <li role="presentation"><a href="/license" aria-controls="documents" role="tab" >License Information</a></li>
					<li role="presentation" ><a href="/payments" aria-controls="home" role="tab" >Payments </a></li>
					<li role="presentation" ><a href="/myprofile" aria-controls="home" role="tab" >Profile </a></li>
                     <li role="presentation"><a href="/logout" aria-controls="logout" role="tab" >Logout</a></li>
                </ul>
                    </div>
                <!-- Tab panes -->
                <div class="col-md-9">
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="profile">
                        <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Name </th>
                          
                          <th scope="col">Status</th>
                          <th scope="col">Address</th>
						  <th scope="col">Reason</th>
						  <th scope="col">Date</th>
                        </tr>
                      </thead>
                      <tbody>
					  {% for item in client_portfolios %}
                        <tr>
                          <td scope="row">{{item.client_first_name}} {{item.client_first_name}}<br>{{item.client_email}}</td>
                           
                          <td>{{item.client_buy_sell}}</td>
						  <td>{{item.client_address}} {{item.client_city}}, <br>{{item.client_state}}, {{item.client_zipcode}}</td>
						  <td>{{item.client_reason}}</td>
                          <td>{{item.created_on.strftime('%Y-%m-%d')}}</td>
                        </tr>
                         {%endfor%}
                      </tbody>
                    </table>
                      
                    </div>
                     
                </div>
                </div>
            </div>
    </div>
</div>

<br>
 
<script>
           
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap'
        });
       </script> 
<script src="/static/cjs/jquery-3.3.1.min.js"></script> 
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script> 
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script> 
<script src="/static/cjs/jquery.steps.js"></script> 
<script src="/static/cjs/main.js"></script>
    {% endblock %}