{% extends "base.html" %}

{% block content %}
<link href="/static/styles/joinus.css" rel="stylesheet">
<link rel="stylesheet" href="/static/ccss/style.css" />
<div class="container-fluid content1">
  <div class="row ">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h1>Hello, {{current_user.first_name}}!</h1>
        <p> Manage your referral and account setting below</p>
      </div>
    </div>
  </div>
</div>

<!-- Agent info code starts -->
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_xclick">
{#<input type="hidden" name="business" value="winston-facilitator@realtyreferralresource.com winston@realtyreferralresource.com">#}
<input type="hidden" name="business" value="{{'paypal_email'|site_settings}}">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="Realty Referral Resource Payment">
<input type="hidden" name="item_number" value="{{trxn_id}}">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="no_shipping" value="2">
<input type="hidden" name="src" value="1">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="Realty_Referral_Resource_Payment_USA">
<input type="hidden" name="amount" value="{{'free_slots'|site_settings}}">
  <input type="hidden" name="first_name" value="{{current_user.first_name}}">
  <input type="hidden" name="last_name" value="{{current_user.last_name}}">
  <input type="hidden" name="email" value="{{current_user.email}}">
<INPUT TYPE="hidden" NAME="zip" VALUE="{{current_user.userid.zip_code}}">
<div class="container referrals-sec">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6"><h3>Your Payments</h3></div>
        <div class="col-md-3"><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"></div>
		<input type = "hidden" name = "notify_url" value = "http://realtyreferralresource.com/notify_url_advisor">
<input type = "hidden" name = "cancel_return" value = "http://realtyreferralresource.com/cancel_request_advisor">
<input type = "hidden" name = "return" value = "http://realtyreferralresource.com/return_advisor">

 
</form>
    </div>
    <div class="row">
            <div class="vertical-tab" role="tabpanel">
                <!-- Nav tabs -->
                <div class="col-md-3">
                <ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" ><a href="/myaccount" aria-controls="referrals">Referrals</a></li>
                    <li role="presentation" ><a href="/refer_client" aria-controls="home" role="tab" >Refer a Client </a></li>

                    <li role="presentation"><a href="/license" aria-controls="documents" role="tab" >License Information</a></li>
					<li role="presentation" class="active"><a href="/payments" aria-controls="home" role="tab" >Payments </a></li>
					<li role="presentation" ><a href="/myprofile" aria-controls="home" role="tab" >Profile </a></li>
                     <li role="presentation"><a href="/logout" aria-controls="logout" role="tab" >Logout</a></li>
                </ul>
                    </div>
                <!-- Tab panes -->
                <div class="col-md-9">
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="profile">
                        <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Transaction ID </th>
                          <th scope="col">Status </th>
                          <th scope="col">Amount</th>
                          
						  <th scope="col">Date</th>
                        </tr>
                      </thead>
                      <tbody>
					  {% for item in client_portfolios %} 
                        <tr>
                          <td scope="row">{{item.paypa_txn_id}} </td>
                          <td>{{item.transaction_status}}</td>
                          <td>{{item.amount}}</td>
						   
                          <td>{{item.subscription_date}}</td>
						  {#<td>{{item.paypal_return_data}}</td>#}
                        </tr>
                         {%endfor%}
                      </tbody>
                    </table>
                      
                    </div>
                     
                </div>
                </div>
            </div>
    </div>
</div>

<br>
 
<script>
           
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap'
        });
       </script> 
<script src="/static/cjs/jquery-3.3.1.min.js"></script> 
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script> 
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script> 
<script src="/static/cjs/jquery.steps.js"></script> 
<script src="/static/cjs/main.js"></script>
    {% endblock %}