<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="6RNT8A4HBBJRE">
  <input type="image"
    src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif"
    name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif"
    width="1" height="1">
</form>
adads
<br><br>
<form name = "myform" action = "https://www.sandbox.paypal.com/cgi-bin/webscr" method = "post" target = "_top">
<input type="hidden" name="cmd" value="_xclick-subscriptions">
<input type = "hidden" name = "business" value = " hughson.simon-facilitator@gmail.com">
<input type="hidden" name="lc" value="IN">
<input type = "hidden" name = "item_name" value = "IriskonlineMonthly">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="src" value="1">
<?php if (!empty($total_cycle)) { ?>
<input type="hidden" name="srt" value="<?php echo $total_cycle; ?>">
<?php } ?>
<input type="hidden" name="a3" value="<?php echo $cycle_amount; ?>">
<input type="hidden" name="p3" value="1">
<input type="hidden" name="t3" value="<?php echo $cycle; ?>">
<input type="hidden" name="currency_code" value="<?php echo $product_currency; ?>">
<input type = "hidden" name = "cancel_return" value = "<?php echo $cancel_return ?>">
<input type = "hidden" name = "return" value = "<?php echo $success_return; ?>">
<input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHostedGuest">
</form>

<br><br>
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_xclick-subscriptions">
<input type="hidden" name="business" value="hughson.simon-facilitator@gmail.com">
<input type="hidden" name="lc" value="AU">
<input type="hidden" name="item_name" value="Iriskonline Resource Payment">
<input type="hidden" name="item_number" value="DIG Weekly">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="no_shipping" value="2">
<input type="hidden" name="src" value="1">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG_AU">
<input type = "hidden" name = "notify_url" value = "http://ec2-52-39-65-20.us-west-2.compute.amazonaws.com/notify_url_advisor">
<input type = "hidden" name = "cancel_return" value = "http://ec2-52-39-65-20.us-west-2.compute.amazonaws.com/cancel_request_advisor">
<input type = "hidden" name = "return" value = "http://ec2-52-39-65-20.us-west-2.compute.amazonaws.com/return_advisor">

<input type="hidden" name="a3" value="30">
<input type="hidden" name="p3" value="1">
<input type="hidden" name="t3" value="M">
<input type="hidden" name="src" value="1">
<input type="hidden" name="srt" value="12">
<input type="hidden" name="sra" value="1">
<input type="hidden" name="custom" value="asddsadsa">
 
<input type="hidden" name="currency_code" value="USD">

<input type="image" src="https://www.paypalobjects.com/en_US/i/btnbtn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
   </form><strong></strong>

   <br><br>
    