		
		<style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}
	.btn {
	padding-right:20px !important
	}
	a {
    text-decoration: none;
    
	color: #337ab7;
	 
}
.nav-tabs {
    border-bottom: 1px solid #337ab7;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    
    border: 1px solid #337ab7;
    
}
body{
font-size: 12px;
}

	</style>
	{% if current_user.userid.user_type == 'accountant' or current_user.userid.user_type == 'advisor' %}
			<div class="col-md-9" style="padding-top:30px;">    
		<div class="heading text-cente panel-bodyr alert alert-danger alert-dismissable" style="padding-top:30px;" id="thankyouform"> <span></span>
			  <strong>You are not authorised to access this resource</strong><br>
			  
			  <p>for any queries please contact our support <a href="/contactus" class="primary-color">team.</a></p>
			</div>
			</div>
	{%else%}

	{#OnClick="ViewTutorItem(526188859);" #}
		<table id="example" class="display table table-striped table-hover" cellspacing="0" width="100%"><thead><tr class="info"><th>Name</th><th>Holdings</th><th>Value</th><th>Risk Monitoring</th><th>Control Chart</th><th>Type</th><th>Created Date</th><th width="130">Actions <span style="float:right;text-align:right;margin-top:0px !important;"><a  OnClick="ViewTutorItem(526188859);" id="new-dialog1" ><img src="/static/img/edit_portfolio.png" style="width:24px !important;padding-bottom:1px;float:right !importnat;" width=22></a> </span></th></tr></thead>
		
		<tbody>
		{% for items in client_portfolios %}
		<tr><td><a href="/viewportfolio?id={{items.id}}">{{items.name}} </a>
		</td><td>{{items.holdingcount}}</td><td>${{items.id | portfolio_total_value}}</td><td>Disabled</td><td>Not Created</td><td>{{items.resource_type}}</td><td>{{items.created_date}}</td><td style="white-space: nowrap;">
                        
                        <a  href = "#" id=editform OnClick="DoActionClone({{items.id}});" ><i title="Clone Portfolio" class="fa fa-lg fa-copy"></i></a>
						<a  href = "#" id=editform OnClick="DoActionNotes({{items.id}});" ><i class="fa fa-lg fa-sticky-note-o" title="Add Notes" aria-hidden="true"></i></a>
						<a  href = "#" id=editform OnClick="DoActionEdit({{items.id}});" ><i title="Rename portfolio" class="fa-lg glyphicon glyphicon-edit clickable update-item" ></i></a>
                        <a  href = "#" id=editform OnClick="DoActionDelete({{items.id}});" ><i title="Delete portfolio" class="fa-lg glyphicon glyphicon-trash clickable delete-item"   data-toggle="modal" data-target="#confirmDeleteModal"></i></a>
                    </td></tr>
		{% endfor %}
		
		</tbody></table>
		<div><br>
<a href="/addportfolio" id="addHoldingButton" class="btn btn-u" >Add Portfolio</a> <button id="addHoldingButton" class="btn btn-u" data-toggle="modal" data-target="#con-close-modal3">Import from CSV</button>
</div>
<div id="con-close-modal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;top:120px !important">
						<form method=post name="myform" id="myform1" enctype="multipart/form-data">
						<input type=hidden name=portfolio_id value ={{portfolio_id}}>
						<input type=hidden name=table_name value ="holdings">
						<input type=hidden name=crud_type value ="uploadholdings">
						<div class="modal-dialog"> 
							<div class="modal-content"> 
								<div class="modal-header"> 
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">*</button> 
									<h4 class="modal-title">Upload Holdings</h4> 
								</div> 
								<div class="modal-body" id="formbody"> 
									
								<div class="row"> 
										<div class="col-md-10"> 
											<div class="form-group"> 
												<label for="field-1" class="control-label">Portfolio Name</label> 
												<input type="text" class="form-control" id="portfolio_name" placeholder="" name="portfolio_name"> 
											</div> 
										</div> 
										 
									</div> 
									<div class="row"> 
										<div class="col-md-10"> 
											<div class="form-group"> 
												<label for="field-1" class="control-label">Select file</label> 
												<input type="file" class="form-control" id="csv_file" placeholder="" name="csv_file"> 
											</div> 
										</div> 
										 
									</div> 
									 
								</div> 
								<div class="modal-footer" id="modal-footer"> 
								<button type="button" class="btn btn-info" id="uploadholdings">Upload Document</button> 
									<button type="button" class="btn btn-white" data-dismiss="modal">Close</button> 
									
								</div> 
							</div> 
						</div>
						</form>
					</div>
	   <div id="edit_form"></div>
	   {% endif %}

		{% block datatables %}
		   

<script type="text/javascript">

{#

//Upload holdings
	$( "#uploadholdings" ).click(function( event ) {
		//alert('here');
//alert($('#summernote').summernote('code'));
		var formData = new FormData();
		formData.append('file', $('#csv_file')[0].files[0]);
		formData.append('portfolio_name', $('#portfolio_name').val());
		formData.append('crud_type', 'uploadportfolioholdings');
		formData.append('table_name', 'portfoioholdings');
			$.ajax({
				type:"POST",
				url: "/clientCRUD",
				data:formData ,
				processData: false,  // tell jQuery not to process the data
                contentType: false ,  // tell jQuery not to set contentType
				cache: false,
				processData: false,
				async: false,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Created!</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#con-close-modal').hide();
					}else{
						$('#con-close-modal').hide();
						swal("Cancelled", response.reason, "error");
					}
					
				},error: function(){
					console.log(response);
					$('#con-close-modal').hide();
					swal("Cancelled", "Record not created. Problem occured", "error");
				}
			});
			return true;
		

	});

#}
	function DoActionEdit( id )
		{
				  $.ajax({
						type:"POST",
						url: "/editportfoilio",
						//dataType:"text",
						data:"id="+id ,
						success: function(response){
							
							console.log(response);

							 

							
							$('#edit_form').html(response);
							$('#edit-close-modal').modal('toggle');
							
						},error: function(){
							console.log(response);
							//$('#edit_form').html(response);
							swal("Cancelled", "Record not updated. Problem occured", "error");
						}
					});

			
		}
		function DoActionNotes( id )
		{
				  $.ajax({
						type:"POST",
						url: "/portfolionotes",
						//dataType:"text",
						data:"id="+id ,
						success: function(response){
							
							console.log(response);

							 

							
							$('#edit_form').html(response);
							$('#edit-close-modal').modal('toggle');
							
						},error: function(){
							console.log(response);
							//$('#edit_form').html(response);
							swal("Cancelled", "Record not updated. Problem occured", "error");
						}
					});

			
		}
		function DoActionClone( id )
		{
				  $.ajax({
						type:"POST",
						url: "/cloneportfolio",
						//dataType:"text",
						data:"id="+id ,
						success: function(response){
							
							console.log(response);
							if (response.message=="SUCCESS")
							{
								//window.location.replace("/clientthankyou");
								$('#edit_form').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Created!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
								//$('#con-close-modal').hide();
								swal("Successfully Created!", "Portfolio is cloned.", "success");
								 
							}else{
								
								swal("Cancelled", response.reason, "error");
							}
							
						},error: function(){
							console.log(response);
							//$('#edit_form').html(response);
							swal("Cancelled", response.reason, "error");
						}
					});

			
		}
		function DoActionDelete( id, value )
		{
						swal({
						  title: "Are you sure?",
						  text: "You will not be able to recover this portfolio!",
						  type: "warning",
						  showCancelButton: true,
						  confirmButtonColor: "#DD6B55",
						  confirmButtonText: "Yes, delete it!",
						   
						},
						function(){
						  $.ajax({
							type:"POST",
							url: "/clientCRUD",
							//dataType:"text",
							data:"table_name=portfolio&crud_type=deleteportfolio&id="+id,
							success: function(response){
							
							console.log(response);

							 
							if (response.message=="SUCCESS")
							{
								//window.location.replace("/clientthankyou");
								$('#edit_form').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Deleted!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
								//$('#con-close-modal').hide();
								swal("Deleted!", "Your imaginary file has been deleted.", "success");
								 
							}else{
								
								swal("Cancelled", "Record not updated. Problem occured", "error");
							}
							
							
							
						},error: function(){
							console.log(response);
							//$('#edit_form').html(response);
							swal("Cancelled", "Record not updated. Problem occured", "error");
						}
					});
		});
	}



 
//-->
</script>

{% endblock %}