{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}

	</style>

     

 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Dashboard Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">advisor purchase resources</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-15 padding-bottom-70">
      <div class="container">
	  {% include 'horizontal_menu.html' %}
        <div class="row"> 
          
           
          
          <!-- Revenues Cart -->
          <div class="col-md-12">
            <div class="heading">

				{% if current_user.userid.user_type == 'investor' or current_user.userid.user_type == 'trustee' %}
				{% if error != "" %}
						<h4>Error</h4>
						<div class="col-md-9" style="padding-top:30px;">    
						<div class="heading text-cente panel-bodyr alert alert-info alert-dismissable" style="padding-top:30px;" id="thankyouform"> <span></span>
							  <strong>Either Client do not exist or you are not authorised to access this client details</strong><br>
							  
							  <p>for any queries please contact our support <a href="/contactus" class="primary-color">team.</a></p>
							</div>
							</div>
				{%else%}
					<h4>Purchase Resources</h4>
				  <br>
					<!-- InsiderRow -->
					<div class="col-md-12"> <div style="padding-top:10px" class="panel-body" id="clientregform">
										 <div class="alert alert-danger alert-dismissable" style="display:none;height:50px" id="errordiv">
                        
                        <span id="error_message">  </span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    </div>
							<div class="row">
                  
									<form method=post name="myform" id="myEditform" action="/save_transactions">
	<input type="hidden" name="table_name" id="table_name" value="transactions">
	<input type="hidden" name="mode" id="mode" value="monthly">
					<table id="ticketTable" class="display table table-striped table-hover" cellspacing="0" width="100%"><thead>
					<tr><td class=right><strong>Select Plan Mode</strong></td><td colspan=3><select name="mode" class=form-control style="width:140px !important">
							 
							{#<option value="monthly"> Monthly#}
							<option value="yearly"> Yearly
					
						  </select></td></tr>
					<tr class="default"><th>Resource</th><th >Per item ($)</th><th>No.of Resources</th><th width=123>Sub Total</th></tr></thead>
		
		<tbody>
		
		{% for item in pricing_records %}
                        <tr id="row_{{item.id}}">
                          <td>{{item.name}}</td>
                          <td class="combat123" id="amount{{item.id}}">{{item.monthly}}</td>
						  <td><select name="quantity[{{item.id}}][]" id="quantity{{item.id}}" onchange="calculate({{item.id}},{{item.monthly}})">
						  <option value="" > Select Quantity
						  <option value="" >0
						  <option value="1" >1
							<option value="2" >2
							<option value="3" >3
							<option value="4" >4
							
							<option value="5" >5
							<option value="10" >10
							<option value="15" >15
							<option value="20">20
							<option value="25">25
							<option value="30">30
							<option value="35">35
							<option value="40">40
							<option value="45">45
						  </select></td>
                           
                          <td class="combat"><strong><span id="subtotalprice{{item.id}}">0</span></strong></td>
                           
						  
                        </tr>
						 {%endfor%}
						 <tfoot>
						 <tr><td align=right >{#<strong>Total Per Item</strong>#}</td><td class="total-combat123"><strong><span id="totalprice"></span> </strong></td>
						 <td  align=right ><strong>Total</strong></td><td class="total-combat"><strong><span id="totalprice"></span> $</strong></td></tr></tfoot>
						 
		
		</tbody></table>
						<div class=pull-right><button type="submit" value="Register" id="savebutton" class="btn btn-1" style="height:30px !important;line-height:31px !important"> Proceed to confirm <i class="fa fa-caret-right" style="height:30px !important;line-height:31px !important"></i></button>  </div>						
												 
							</div>

							 

					</div> </div> <!-- InsiderRow -->
				{% endif %}
			{% endif %}
			</div>
        </div>
      </div>
    </section>
  </div>
  <div id="response_message"></div>
  {% endblock %}
  {% block datatables %}
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/1.10.12/api/sum().js"></script>

<script type="text/javascript">
<!--
	
var editor; // use a global for the submit and return data rendering in the examples
/*
        jQuery(document).ready(function() {
    $('#ticketTable').DataTable( {
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;
 
            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
 
            // Total over all pages
            total = api
                .column( 5 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
 
            // Total over this page
            pageTotal = api
                .column( 5, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
 
            // Update footer
            $( api.column( 3 ).footer() ).html(
                '$'+pageTotal +' ( $'+ total +' total)'
            );
        }
    } );
} );
*/
$(document).ready(function () {
     var sum = 0;
     $('tr').find('.combat123').each(function () {
         var combat = $(this).text();
         if (!isNaN(combat) && combat.length !== 0) {
             sum += parseFloat(combat);
         }
     });

     // $('.total-combat123').html(sum+" $");
 });

 function calculate( id, value )
{
		 //alert(id+"=="+value);
		//alert($('#quantity'+id).val());
		//alert(value*$('#quantity'+id).val())
		sums = value*$('#quantity'+id).val()*12;
		$('#subtotalprice'+id).html(sums);

		var sumd = 0;
     $('tr').find('.combat').each(function () {
         var combat = $(this).text();
         if (!isNaN(combat) && combat.length !== 0) {
             sumd += parseFloat(combat);
         }
     });

      $('.total-combat').html(sumd+" $");
	
}
//-->
</script>

  {% endblock %}