<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/1.10.12/api/sum().js"></script>

<script type="text/javascript">
<!--
	

 function calculate( id, value )
{
		 //alert(id+"=="+value);
		//alert($('#quantity'+id).val());
		//alert(value*$('#quantity'+id).val())
		//sums = value*$('#quantity').val()*12;
		sums = value*$('#quantity').val();
		//alert(sums)
		$('#subtotalprice').html(sums);

}

$( "#savebutton" ).click(function( event ) {
		//alert('here');
//alert($('#summernote').summernote('code'));
		noofitems = $('#quantity').val()
		if(noofitems<=0){
			alert("Please select no.of Items");
			return false;
		}else{
			//alert(noofitems);
			$.ajax({
				type:"POST",
				url: "/paymentCRUD",
				//dataType:"text",
				data:"noofitems="+noofitems+"&pricingid={{pricing_records.id}}&crud_type=addtocart",
				success: function(response){
					
					console.log(response);
					if (response.status=="SUCCESS")
					{
						//window.location.replace("/clientthankyou");
						$('#edit_form').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Created!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						//$('#con-close-modal').hide();
						swal("Successfully Added to Cart!", "Item is added to Cart.", "success");

					}else{
						swal("Cancelled", response.message, "error");
					}
					
				},error: function(){
					console.log(response);
					//$('#edit_form').html(response);
					swal("Cancelled", response.message, "error");
				}
			});
			return true;
		}
		
	});
//-->
</script>
<div id="response_editmessage"></div>
<div id="edit-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-top:100px">
	<form method=post name="myform" id="myEditform" action="/paymentCRUD">
  	<div class="modal-dialog"> 
		<div class="modal-content"> 
			<div class="modal-header"> 
				 
				<h4 class="modal-title">{{pricing_records.name|safe}} </h4> 
			</div> 
			<div class="modal-body" id="formbody"> 
 									<div class="row"> 
										<div class="col-md-10">
										<div class="form-group"> 
										<table class="display table table-striped table-hover">
										<tr>
											<td><label for="field-1" class="control-label">Plan Mode</label> </td>
											<td>{% if pricing_records.pricing_type == 'Fixed' %}{{pricing_records.pricing_type}}{%else%}Yearly{%endif%}</td>
										</tr>
										<tr>
											<td><label for="field-1" class="control-label">Cost</label> </td>
											<td>{{cost}} ($) Per item </td>
										</tr>
										<tr>
											<td><label for="field-1" class="control-label">No.of Resources</label></td>
											<td><select name="quantity" id="quantity" onchange="calculate({{pricing_records.id}},{{cost}})">
												  <option value="" > Select Quantity
												  <option value="" >0
												  <option value="1" >1
													<option value="2" >2
													<option value="3" >3
													<option value="4" >4
													<option value="5" >5
													<option value="10" >10
													<option value="15" >15
													<option value="20">20
													<option value="25">25
													<option value="30">30
													<option value="35">35
													<option value="40">40
													<option value="45">45
												  </select></td>
										</tr>
										<tr>
											<td><label for="field-1" class="control-label">Total</label></td>
											<td><strong><span id="subtotalprice">0</span></strong></td>
										</tr>
										</table>
										
												
												 
											</div>
											
										</div> 
										 
									</div> 
									
			</div> 
			<div class="modal-footer" id="modal-footer"> 
				
				<a type="button" value="Register" id="savebutton" class="btn btn-1" style="height:40px !important;line-height:40px !important"> Add to Cart <i class="fa fa-shopping-cart" style="height:40px !important;line-height:40px !important"></i></button> 
				<a href=""  class="btn btn-white" data-dismiss="modal" style="padding-right:20px !important;">Close</a> 
			</div> 
		</div> 
	</div>
	</form>
</div>
