{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}

	</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Dashboard Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">VIEW PURCHASED ITEMS</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-15 padding-bottom-70">
      <div class="container">
	  {% include 'horizontal_menu.html' %}
        <div class="row"> 
          
          
          
          <!-- Revenues Cart -->
          <div class="col-md-12">
            <div class="heading">

 				{% if error != "" %}
						<h4>Error</h4>
						<div class="col-md-9" style="padding-top:30px;">    
						<div class="heading text-cente panel-bodyr alert alert-info alert-dismissable" style="padding-top:30px;" id="thankyouform"> <span></span>
							  <strong>Either Client do not exist or you are not authorised to access this client details</strong><br>
							  
							  <p>for any queries please contact our support <a href="/contactus" class="primary-color">team.</a></p>
							</div>
							</div>
				{%else%}

					<h4>View Purchased Items</h4>

					{% if current_user.userid.user_type == 'accountant' or current_user.userid.user_type == 'advisor' %}
							<div class="col-md-9" style="padding-top:30px;">    
						<div class="heading text-cente panel-bodyr alert alert-danger alert-dismissable" style="padding-top:30px;" id="thankyouform"> <span></span>
							  <strong>You are not authorised to access this resource</strong><br>
							  
							  <p>for any queries please contact our support <a href="/contactus" class="primary-color">team.</a></p>
							</div>
							</div>
					{%else%}

				  <br>
					<!-- InsiderRow -->
					<div class="col-md-12"> <div style="padding-top:10px" class="panel-body" id="clientregform">
										 <div class="alert alert-danger alert-dismissable" style="display:none;height:50px" id="errordiv">
                        
                        <span id="error_message">  </span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    </div>
							<div class="row">
                  
											   
					<table id="example" class="display table table-striped table-hover" cellspacing="0" width="100%"><thead><tr class="default"><th>Resource </th>
					<th align=center>Total</th><th>Available</th><th>Allocated</th><th>Used</th><th>Payment</th></tr></thead>
		
					<tbody>
					<tbody>
					{% for item in item_records %}
									 <tr id="row_6">
									  <td>{{item.name}}</td>
									  <td class="combat123" id="amount6">{{item.total_count}}</td>
									  <td class="combat"><strong><span id="subtotalprice6">{{item.total_open}}</span></strong></td>
									  <td class="combat"><strong><span id="subtotalprice1">{{item.total_allocate}}</span></strong></td>
									  <td>{{item.total_used}}</td>
									  <td><a  OnClick="PurchaseResourceForm({{item.id}});" class="btnnew btn-purple">Add to Cart </a></td>
															
									  
									</tr>
						 {%endfor%}
					</tbody>
		
					</table>					 
							</div>

							 

					</div> </div> <!-- InsiderRow -->
					{% endif %}
				{% endif %}
 			</div>
        </div>
      </div>
    </section>
  </div>
  <div id="response_message"></div>
  <!--MODAL-BOX-->
<div id="edit_form"></div>
  {% endblock %}
  {% block datatables %}
<script type="text/javascript">
<!--
		function PurchaseResourceForm(id)
		{
				  $.ajax({
						type:"POST",
						url: "/purchase_items_modal",
						//dataType:"text",
						data:"id="+id,
						success: function(response){
							
							console.log(response);
							$('#edit_form').html(response);
							$('#edit-close-modal').modal('toggle');
							
						},error: function(){
							console.log(response);
							//$('#edit_form').html(response);
							swal("Cancelled", "Record not updated. Problem occured", "error");
						}
					});

			
		}
//-->
</script>
  {% endblock %}