{% extends "base.html" %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
<!--

function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}

jQuery(document).ready(function(){
		 
	  
	$( "#savebutton" ).click(function( event ) {
		
		 if ($('#first_name').val() == "") {
				alert('First Name is required!');
				$('#first_name').focus()
				return false;
		}else if ($('#last_name').val() == "") {
				alert('Last Name is required!');
				$('#last_name').focus()
				return false;
		}else if ($('#email').val() == "") {
				alert('Email Address is required!');
				$('#email').focus()
				return false;
		}else if (validateEmail($('#email').val()) != true) {
				//alert(validateEmail($('#email').val()));
				alert('Please provide proper email Address!');
				$('#email').focus()
				return false;
		}else if ($('#phone').val() == "") {
				alert('Client Phone is required!');
				return false;
		} else if (!$('#user_signup_tos_accepted').is(":checked")) {
				alert('Please Accept terms and conditions');
				$('#user_signup_tos_accepted').focus()
				return false;
		}
		else{
			name = $('#name').val();
			description = $('#description').val();
			//prevent Default functionality
			 
			$.ajax({
				type:"POST",
				url: "/tableCreate",
				dataType:"json",
				data:$('form').serialize() ,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h3>Successfully sent details.</h3><a href="/myaccount" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');

						$('#con-close-modal').hide();
					}else{
						$('#errordiv').show();
						$('#error_message').html(response.message);
						
					}
					
				},error: function(){
					console.log(response);
					$('#errordiv').show();
					$('#error_message').html("problem in regetering. please refresh and try again");
				}
			});
			return true;
		}

	});

});

//-->
</script>
<link href="/static/styles/joinus.css" rel="stylesheet">
<link rel="stylesheet" href="/static/ccss/style.css" />
<div class="container-fluid content1">
  <div class="row ">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h1>Hello again, {{current_user.first_name}}!</h1>
        <p> Manage your referrals and account setting below</p>
      </div>
    </div>
  </div>
</div>

<!-- Agent info code starts -->

<div class="container referrals-sec">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6"><h3>Send A Referral</h3></div>
 
    </div>
    <div class="row">
            <div class="vertical-tab" role="tabpanel">
                <!-- Nav tabs -->
                <div class="col-md-3">
                <ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" ><a href="/myaccount" aria-controls="referrals">Referrals</a></li>
                    <li role="presentation" class="active" ><a href="/refer_client" aria-controls="home" role="tab" >Refer a Client </a></li>

                    <li role="presentation"><a href="/license" aria-controls="documents" role="tab" >License Information</a></li>
					<li role="presentation" ><a href="/payments" aria-controls="home" role="tab" >Payments </a></li>
					<li role="presentation" ><a href="/myprofile" aria-controls="home" role="tab" >Profile </a></li>
                     <li role="presentation"><a href="/logout" aria-controls="logout" role="tab" >Logout</a></li>
                </ul>
                    </div>
                <!-- Tab panes -->
                <div class="col-md-9">
                <div class="tab-content tabs">
                     
                    <div role="tabpanel" class="tab-pane tab-pane fade in active " id="referrals">
                        <section class="form-sec send-referral">
            <div class=" ">
                <form role="form" id="form-register" class="form-register" role="form">
	<input type="hidden" name="table_name" value="refer_client">
	<input type="hidden" name="user_type" value="agent">
						{{ register_form.hidden_tag() }}
                
                <div class="col-md-8   ">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-holder form-holder-2">
                        <label for="username">First Name <span>*</span></label>
                        <input type="text" name="first_name" ID="first_name" class="form-control" >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-holder form-holder-2">
                        <label for="username">Last Name <span>*</span></label>
                        <input type="text" name="last_name" ID="last_name" class="form-control" >
                      </div>
                    </div>
                      
                     
                  </div><br>
                    <div class="row">
                    <div class="col-md-6">
                      <div class="form-holder form-holder-2">
                        <label for="email">Client Email <span>*</span></label>
                        <input type="email" name="email" id="email" class="form-control " placeholder="Email Address" pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">  
                      </div>
                    </div>
                    
                      <div class="col-md-6">
                      <div class="form-holder form-holder-2">
                        <label for="email">Client Phone <span>*</span></label>
                        <input type="tel" name="phone" id="phone" class="form-control "  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"  placeholder="client Phone"     required>
                      </div>
                    </div>
                  </div>
                    <br>
					<div class="row">
                    <div class="col-md-6">
                      <div class="form-holder form-holder-2">
                        <label for="email">Address<span>*</span></label>
                        <input type="text" name="home_address" id="home_address" class="form-control " placeholder="Home Address">
                      </div>
                    </div>
                    
                      <div class="col-md-6">
                      <div class="form-holder form-holder-2">
                        <label for="city">City <span>*</span></label>
                         <input type="city" name="city" id="city" class="form-control input-sm" placeholder="City">
                      </div>
                    </div>
                  </div>
                    <br>
                    <div class="row">
                     
                    <div class="col-md-6">
                      <div class="form-holder form-holder-2">
                        <label for="card-type">State <span>*</span></label>
                         <select name='state' id='state'  class="form-control">
                          <option value="AL">Alabama</option>
	<option value="AK">Alaska</option>
	<option value="AZ">Arizona</option>
	<option value="AR">Arkansas</option>
	<option value="CA">California</option>
	<option value="CO">Colorado</option>
	<option value="CT">Connecticut</option>
	<option value="DE">Delaware</option>
	<option value="DC">District Of Columbia</option>
	<option value="FL">Florida</option>
	<option value="GA">Georgia</option>
	<option value="HI">Hawaii</option>
	<option value="ID">Idaho</option>
	<option value="IL">Illinois</option>
	<option value="IN">Indiana</option>
	<option value="IA">Iowa</option>
	<option value="KS">Kansas</option>
	<option value="KY">Kentucky</option>
	<option value="LA">Louisiana</option>
	<option value="ME">Maine</option>
	<option value="MD">Maryland</option>
	<option value="MA">Massachusetts</option>
	<option value="MI">Michigan</option>
	<option value="MN">Minnesota</option>
	<option value="MS">Mississippi</option>
	<option value="MO">Missouri</option>
	<option value="MT">Montana</option>
	<option value="NE">Nebraska</option>
	<option value="NV">Nevada</option>
	<option value="NH">New Hampshire</option>
	<option value="NJ">New Jersey</option>
	<option value="NM">New Mexico</option>
	<option value="NY">New York</option>
	<option value="NC">North Carolina</option>
	<option value="ND">North Dakota</option>
	<option value="OH">Ohio</option>
	<option value="OK">Oklahoma</option>
	<option value="OR">Oregon</option>
	<option value="PA">Pennsylvania</option>
	<option value="RI">Rhode Island</option>
	<option value="SC">South Carolina</option>
	<option value="SD">South Dakota</option>
	<option value="TN">Tennessee</option>
	<option value="TX">Texas</option>
	<option value="UT">Utah</option>
	<option value="VT">Vermont</option>
	<option value="VA">Virginia</option>
	<option value="WA">Washington</option>
	<option value="WV">West Virginia</option>
	<option value="WI">Wisconsin</option>
	<option value="WY">Wyoming</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-holder form-holder-2">
                        <label for="zip_code">Zip Code <span>*</span></label>
                         <input type="zip_code" name="zip_code" id="zip_code" class="form-control input-sm" placeholder="ZIP Code" maxlength="5">
                      </div>
                    </div>
                  </div>
                    
                  
                  <br>
                     <div class="row">
                    <div class="col-md-6">
                      <div class="form-holder form-holder-2">
                        <label for="card-type">Is the client Buying or Selling ?</label>
                        <select class="form-control" name='buy_sell' id='buy_sell'>
                          <option value="buy">Buying</option>
                          <option value="sell">Selling</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-holder form-holder-2">
                        <label for="text">Reason for Buying / Selling ? </label>
                        <input type="reason" name="reason" id="reason" class="form-control input-sm">
                      </div>
                    </div>
                     </div>
                    <br>
                    <div class="row">
                    <div class="col-md-12">
                      <div class="form-holder form-holder-2">
                        <label for="email">Additional Comments  </label>
                        <input type="comments" name="comments" id="comments" class="form-control input-sm">
                      </div>
                    </div>
                     </div>

				<br>
				<div class="row">
    		    				 
			    					<div   class="col-md-12" ><div class="form-holder form-holder-2"><input id="user_signup_tos_accepted" name="user_signup_tos_accepted" type="checkbox" value="1"   > I affirm that I have read and agree with both  <a href="/static/Referral_Policies_Online.pdf" target="_blank"><strong>Terms and Conditions</strong></a> and <a href="/static/Referral_Policies_Online.pdf" target="_blank"><strong>Privacy Policy</strong></a> of Realty Referral Resource.
										</div>
                                     
			    					</div>
			    				 
			    			</div><br>
					  <div class="row">
                    <div class="col-md-12">
                      <div class="form-holder form-holder-2">
                        		    			<button type="button" value="Register" id="savebutton" class="click-btn" >Submit </button>
                      </div><br>
                    </div>
                     </div>
                  </div>
            </div><br>
          </section>
                    </div>
                     
                </div>
                </div>
            </div>
    </div>
</div>


 <br>
 
<script src="/static/cjs/jquery-3.3.1.min.js"></script> 
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script> 
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script> 
 
    {% endblock %}