{% extends "base.html" %}

{% block content %}
<style>
.contact-form label {
     
    font-weight: bold !important;
     
    margin-bottom: 7px !important;
    
}
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
<!--

function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}

jQuery(document).ready(function(){
		 
	 $("#user_type").change(function(){
		if( $(this).val() == 'advisor'){
		  
		 $('#afsldiv').show();
		 $('#accountdiv').hide();
		 $('#registerdiv').hide();
		 $('#regnnumdiv').hide();
		}else if($(this).val() == 'client'){
		  
		 $('#afsldiv').show();
		 $('#accountdiv').hide();
		 $('#registerdiv').hide();
		 $('#regnnumdiv').hide();
		}else if($(this).val() == 'accountant'){
		  
		 $('#accountdiv').show();
		 $('#registerdiv').show();
		 $('#afsldiv').hide();
		 $('#regnnumdiv').hide();
		}else if($(this).val() == 'accountclient'){
		  $('#regnnumdiv').show();
		 $('#accountdiv').hide();
		 $('#registerdiv').hide();
		 $('#afsldiv').hide();
		}
		else{
		  $('#afsldiv').hide();
		  $('#accountdiv').hide();
		  $('#registerdiv').hide();
		  $('#regnnumdiv').hide();
		}
  });
		
	$( "#savebutton" ).click(function( event ) {
		
		 if ($('#user_type').val() == "") {
			 
				alert('please select user type');
				$('#user_type').focus()
				return false;
		}else if ($('#user_type').val() == "advisor" && $('#afsl').val() == "" ) {
				alert('AFSL number is required!');
				return false;
				
		}else if ($('#user_type').val() == "client" && $('#afsl').val() == "" ) {
				alert('AFSL number is required!');
				return false;
				
		}else if ($('#user_type').val() == "accountant" && $('#registration_body').val() == "" ) {
				alert('registration body is required!');
				return false;
				
		}else if ($('#user_type').val() == "accountant" && $('#registration_number').val() == "" ) {
				alert('registration number is required!');
				return false;
				
		}else if ($('#first_name').val() == "") {
				alert('First Name is required!');
				return false;
		}else if ($('#last_name').val() == "") {
				alert('Last Name is required!');
				return false;
		}else if ($('#email').val() == "") {
				alert('Email Address is required!');
				$('#email').focus()
				return false;
		}else if (validateEmail($('#email').val()) != true) {
				//alert(validateEmail($('#email').val()));
				alert('Please provide proper email Address!');
				$('#email').focus()
				return false;
		}else if ($('#password').val() == "") {
				alert('Password is required!');
				return false;
		}else if ($('#password_confirmation').val() == "") {
				alert('password confirmation is required!');
				return false;
		}else if ($('#password_confirmation').val() != $('#password').val()) {
				alert('passwords dont match is required!');
				return false;
		}else if ($('#zip_code').val() == "") {
				alert('Postcode is required!');
				return false;
		}else if (!$('#user_signup_tos_accepted').is(":checked")) {
				alert('Please Accept terms and conditions');
				$('#user_signup_tos_accepted').focus()
				return false;
		}
		else{
			name = $('#name').val();
			description = $('#description').val();
			//prevent Default functionality
			 
			$.ajax({
				type:"POST",
				url: "/tableCreate",
				dataType:"json",
				data:$('form').serialize() ,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						window.location.replace("/thankyou");
						$('#con-close-modal').hide();
					}else{
						$('#errordiv').show();
						$('#error_message').html(response.message);
						
					}
					
				},error: function(){
					console.log(response);
					$('#errordiv').show();
					$('#error_message').html("problem in regetering. please refresh and try again");
				}
			});
			return true;
		}

	});

});

//-->
</script>
  <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Registration</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">register</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- Content -->
  <div id="content"> 
    
    <!-- SERVICES -->
    <section class="services padding-top-10 padding-bottom-10">
      <div class="container"> 
        <!-- Heading -->
        <div class="heading text-center" style="margin-bottom:30px !important">
          <h4>REGISTER FOR ACCESS</h4>
        </div>
      </div>
      <div class="best-services"> 
        <!-- Row -->
        <div class="container">    
        <div id="loginbox" style="margin-top:0px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="panel-title">Register Here</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px">&nbsp;</div>
                    </div>     
					<div class="alert alert-danger alert-dismissable" style="display:none" id="errordiv">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                        <span class="alert alert-danger" id="error_message">  </span>
                    </div>
                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
						<form role="form" id="myform" class="contact-form" role="form">
<input type="hidden" name="table_name" value="register">
						{{ register_form.hidden_tag() }}
							<div class="form-group">
                                    <label>User Type <span class="required">*</span></label>
			    				<select id="user_type" name="user_type" class="form-control ">
								<option value="" selected="selected">----Select Type----</option>
								<option value="accountant">I am a practising Accountant </option>
								<option value="advisor">I am a Financial Advisor </option>
								<option value="client">My Advisor holds an Australian Financial Services License ("AFSL") </option>
								<option value="accountclient">My Accountant referred me to this site</option>
								<option value="investor" selected>I am an Independent Investor</option>
								<option value="trustee">I am a SMSF Trustee</option>
								
								</select>
			    			</div>
							<div class="form-group" style="display:none" id="afsldiv">
                                    <label>AFSL# <span class="required">*</span></label>
			    				<input type="text" name="afsl" id="afsl" class="form-control " placeholder="AFSL Number">
			    			</div>
							<div class="form-group" style="display:none" id="regnnumdiv">
                                    <label>Registration Number <span class="required">*</span></label>
			    				<input type="text" name="regnnum" id="regnnum" class="form-control " placeholder="Registration Number">
			    			</div>
							<div class="form-group" style="display:none" id="registerdiv">
                                    <label> Registration Body <span class="required">*</span></label>
									<select id="registration_body" name="registration_body" class="form-control ">
								<option value="" selected="selected">----Select Type----</option>
								<option value="ipa">Institute of Public Accountants (IPA) </option>
								<option value="cpa">CPA Australia</option>
								<option value="icaa">Institute of Chartered Accountants of Australia (ICAA) </option>
								
								</select>
			    				{#<input type="text" name="registration_body" id="registration_body" class="form-control " placeholder="Registration Body">#}
			    			</div>
							<div class="form-group" style="display:none" id="accountdiv">
                                    <label> Registration Number <span class="required">*</span></label>
			    				<input type="text" name="registration_number" id="registration_number" class="form-control " placeholder="Registration Number">
			    			</div>
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                                    <label>First name <span class="required">*</span></label>
			                <input type="text" name="first_name" id="first_name" class="form-control " placeholder="First Name">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                                    <label>Last name <span class="required">*</span></label>
			    						<input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name">
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
                                    <label>Email address <span class="required">*</span></label>
			    				<input type="email" name="email" id="email" class="form-control " placeholder="Email Address">
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                                    <label>Password <span class="required">*</span></label>
			    						<input type="password" name="password" id="password" class="form-control" placeholder="Password">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                                    <label>Confirm password <span class="required">*</span></label>
			    						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control" placeholder="Confirm Password">
			    					</div>
			    				</div>
			    			</div>
			    			
                            
    		    			<div class="form-group">
                                    <label>Company</label>
			    				<input type="company" name="company" id="company" class="form-control input-sm" placeholder="Company">
			    			</div>
    
        	    		

                            <div class="row">
    		    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                                    <label>City</label>
			                <input type="city" name="city" id="city" class="form-control input-sm" placeholder="City">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                                    <label>PostCode <span class="required">*</span></label>
			    						<input type="zip_code" name="zip_code" id="zip_code" class="form-control input-sm" placeholder="ZIP Code" maxlength="5">
			    					</div>
			    				</div>
			    			</div>
							<div class="row">
    		    				 
			    					<div class="form-group" style="padding-left:30px;"><input id="user_signup_tos_accepted" name="user_signup_tos_accepted" type="checkbox" value="1"   > I affirm that I have read and agree with both  <a href="/static/IRISKONLINE_TERMS_OF_USE_20160516.pdf" target="_blank"><strong>Terms and Conditions</strong></a> and <a href="/static/PRIVACY_POLICY_20160516.pdf" target="_blank"><strong>Privacy Policy</strong></a> of IriskOnline Pty Ltd.

                                     
			    					</div>
			    				 
			    			</div>
        	    			 
			    			<button type="button" value="Register" id="savebutton" class="btn btn-info btn-block pull-center" style="text-align:center !important;"align=center>Create Account</button
			    		
			    		</form>
						
                        </div>                     
                    </div>  
			</div>
        
		</div>
      </div>
      
     
      
      
      
      

     
    </section>
  </div>
  
 {% endblock %}