{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}
.contact-form label {
     
    font-weight: bold !important;
     
    margin-bottom: 7px !important;
    
}
	</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
<!--
 

//-->
</script>
 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Dashboard Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">purchase resources</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row"> 
          
          <!-- Revenues Sidebar -->
          <div class="col-md-3">
            {% include 'left_menu.html' %}

          </div>
          
          <!-- Revenues Cart -->
          <div class="col-md-9">
            <div class="heading">
				
				{% if current_user.userid.user_type == 'advisor' %}
				<h4>Purchase Resources</h4>
              <br>
				<!-- Row -->
				<div class="col-md-9">    
				<div class="heading text-cente panel-bodyr" style="padding-top:10px;" id="thankyouform"> <span></span>
          <h3>Request Cancelled</h3><br>
          <p>We regret to inform that your request for subscription is cancelled.<br>
		  </p>
		  <p>Click here to <a href="/purchase_advisor" class="primary-color">purchase resources.</a>
		  <p>for any queries please contact our support <a href="/contactus" class="primary-color">team.</a></p>
        </div>
				<div style="padding-top:10px" class="panel-body" id="clientregform">

                        <div class="alert alert-danger alert-dismissable" style="display:none;height:50px" id="errordiv">
                        
                        <span id="error_message">  </span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    </div>
						
						
                        </div>     
			    </div>

			{% endif %}
			</div>
        </div>
      </div>
    </section>
  </div>
  
  {% endblock %}