{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}

	</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
<!--

jQuery(document).ready(function(){
		 
	 
	

});

//-->
</script>
 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Dashboard Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li ><a href="/">dashboard</a></li>
		  <li class="active">iriskwatch</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-15 padding-bottom-70">
      <div class="container">
	  {% include 'horizontal_menu.html' %}
        <div class="row"> 
          
           
          
          <!-- Revenues Cart -->
          <div class="col-md-12">
            <div class="heading">
				
				 
				{% if error != "" %}}
						<h4>Error</h4>
						<div class="col-md-9" style="padding-top:30px;">    
						<div class="heading text-cente panel-bodyr alert alert-info alert-dismissable" style="padding-top:30px;" id="thankyouform"> <span></span>
							  <strong>{{error}}</strong><br>
							  
							  <p>for any queries please contact our support <a href="/contactus" class="primary-color">team.</a></p>
							</div>
							</div>
				{%else%}
					<h4>Watch Risk Limits</h4>
				  <br>{#<form method="post" action="">
					<select name="" class=form-control style="width:220px;">
						<option value="" selected>Standard Deviation
						<option value=""> Value At Risk
						<option value=""> Expected ShortFall
						<option value=""> Modified Expected Short Fall
						<option value=""> Value At Risk
					</select>
				  </form>#}
					<!-- InsiderRow -->
					<div class="col-md-12"> <div style="padding-top:10px" class="panel-body" id="clientregform">
										 <div class="alert alert-danger alert-dismissable" style="display:none;height:50px" id="errordiv">
                        
                        <span id="error_message">  </span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    </div>
							<div class="row">
                  
											  
											  <div class="col-md-12">
											  <table id="example" class="display table table-striped table-hover" cellspacing="0" width="100%"><thead><tr class="info"><th>Name</th><th>Holdings</th>{#<th>Value</th>#}<th>Created Date</th><th>Risk Monitoring</th><th>Risk Control Chart</th><th>Type</th><th width="150">Actions</th></tr></thead>
		
		<tbody>
		{% for items in client_portfolios %}
		<tr><td><a href="/viewportfolio?id={{items.id}}">{{items.name}} </a>
		</td><td>{{items.holdingcount}}</td>{#<td></td>#}<td>{{items.created_date}}</td><td>Disabled</td><td>Not Created</td><td>{{items.resource_type}}</td><td style="white-space: nowrap;">
                        <button id="addHoldingButton" class="btn btn-u" data-toggle="modal" data-target="#con-close-modal" style="padding: 0px 10px 0px 10px !important; height:29px !important;line-height:29px !important;">Watch</button>
                    </td></tr>
		{% endfor %}
		
		</tbody></table>{#
												  		<table id="example" class="display table table-striped table-hover" cellspacing="0" width="100%"><tdead><tr class=info><td>Portfoilio Holding</th>
														<td>Sector</th>
														<td>Security</th>
														<td>Risk Metric</th>
														<td>Lower Limit</th><td>Upper Limit</th><td>Latest</th><td>Status</th></tr></thead>
		
		<tbody>
		{% for items in client_portfolios %}
		<tr ><td>{{items.name}} </td><td>{{ items.company_category }}</td><td>n/a</td>
		<td>n/a</td>
		<td></td>
		<td></td>
		<td></td></tr>
		{% endfor %}
		
		</tbody></table>#}
												</div>
							</div>

					</div> </div> <!-- InsiderRow -->
				{% endif %}
			 
			</div>
        </div>
      </div>
    </section>
  </div>
  <div id="response_message"></div>
   

					<div id="con-close-modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;top:120px !important; ">
						<form method=post name="myform" id="myform">
						<input type=hidden name=portfolio_id value ={{portfolio_id}}>
						<input type=hidden name=table_name value ="holdings">
						<div class="modal-dialog" style="width:900px !important;"> 
							<div class="modal-content"> 
								<div class="modal-header"> 
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">*</button> 
									<h4 class="modal-title">Watch Risk Limit</h4> 
								</div> 
								<div class="modal-body" id="formbody"> 
								
									<div class="row"> 
										<table class="table table-bordered table-hover" width="750">
        <thead>
		<tr><td >{{ range(1, 3) | random }}</td><td colspan=2>testing</td></tr>
 		 
         <tr>
            <td colspan=3> Standard Deviation: Portfolio</td>
             
             
</th>
            
        </tr>
         
            
        </tr>
        </thead>
        <tbody>
		<tr>
            <td class="col-md-1">Estimate (%) </th>
            <td class="col-md-1"> Your Limit (%)</th>
            
            <td class="col-md-1">Evaluation</th>
             
</th></tr>
<tr>
            <td class="col-md-1"> {{ range(1, 3) | random }}% </th>
            <td class="col-md-1"> {{ range(10, 19) | random }}</th>
            
            <td class="col-md-1">Ok</th>
             
</th></tr>
         
        </tbody>
    </table>
										 
									</div> 
									
									
									 
								</div> 
								<div class="modal-footer" id="modal-footer"> 
									<button type="button" class="btn btn-white" data-dismiss="modal">Close</button> 
									 </div>
							</div> 
						</div>
						</form>
					</div>
			<!--MODAL-BOX-->
			<div id="edit_form"></div>
  {% endblock %}