{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}

	</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Dashboard Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">transactions</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row"> 
          
          <!-- Revenues Sidebar -->
          <div class="col-md-3" style="width:22% !important">
            {% include 'left_menu.html' %}

          </div>
          
          <!-- Revenues Cart -->
          <div class="col-md-9">
            <div class="heading">

				 
				{% if error != "" %}
						<h4>Error</h4>
						<div class="col-md-9" style="padding-top:30px;">    
						<div class="heading text-cente panel-bodyr alert alert-info alert-dismissable" style="padding-top:30px;" id="thankyouform"> <span></span>
							  <strong>Either Client do not exist or you are not authorised to access this client details</strong><br>
							  
							  <p>for any queries please contact our support <a href="/contactus" class="primary-color">team.</a></p>
							</div>
							</div>
				{%else%}
					<h4>View Risk Control Chart</h4>
				  <br>
					<!-- InsiderRow -->
					<div class="col-md-12"> <div style="padding-top:10px" class="panel-body" id="clientregform">
										 <div class="alert alert-danger alert-dismissable" style="display:none;height:50px" id="errordiv">
                        
                        <span id="error_message">  </span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    </div>
							<div class="row">
                  
											   
					<table id="example" class="display table table-striped table-hover" cellspacing="0" width="100%"> 
		
		<tbody>
		
		<tr> 
		
		<td valign="middle">
		Does your portfolio have a dedicated CASH account forming part of the portfolio? 
		</td>
		<td valign="middle" width="100">
		 <input type="radio" name="now1111"> Yes <input type="radio" name="now1111"> No
			 
		</td>
		 
		 
		 </tr>
		 <tr> 
		
		<td valign="middle">
		Are all dividends, income distributions and other investment income credited to this CASH account?
		</td>
		<td valign="middle">
		 <input type="radio" name="now111"> Yes <input type="radio" name="now111"> No
			 
		</td>
		 
		 
		 </tr>
		<tr> 
		
		<td valign="middle">
		Are all buy/sell transactions settled from this CASH account?
		</td>
		<td valign="middle">
		 <input type="radio" name="now11"> Yes <input type="radio" name="now11"> No
			 
		</td>
		 
		 
		 </tr><tr> 
		
		<td valign="middle">
		Do you undertake to diligently update this RISK CONTROL CHART with accurate information on: a) net cash flow over the month; and b) all income received during the month?
		</td>
		<td valign="middle">
		 <input type="radio" name="now1"> Yes <input type="radio" name="now1"> No
			 
		</td>
		 
		 
		 </tr>
		 <tr> 
		
		<td colspan=2 align=right>
		 
		 <div class=pull-right><button type="submit" value="Register" id="savebutton" class="btn btn-1" style="height:30px !important;line-height:31px !important"> Create Chart <i class="fa fa-caret-right" style="height:30px !important;line-height:31px !important"></i></button>  </div>
			 
		</td>
		 
		 
		 </tr>
		</tbody></table>
												
												 
							</div>

							 

					</div> </div> <!-- InsiderRow -->
				{% endif %}
			 
			</div>
        </div>
      </div>
    </section>
  </div>
  <div id="response_message"></div>
  {% endblock %}
  {% block datatables %}

 <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/jquery.csv.js') }}" ></script>
 <script type="text/javascript">
 <!--
	jQuery(document).ready(function(){

	$( "#savebutton" ).click(function( event ) {
 		 
			
			//prevent Default functionality
			 //alert(description)
			  
			$.ajax({
				type:"POST",
				url: "/admin/tableCRUD",
				dataType:"json",
				//data:serializedData ,
				data:"table_name=zxczxc&crud_type=zxc",
				success: function(response){
					// alert("here");
					console.log(response);
					$('#edit-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_editmessage').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Updated!</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#con-close-modal').hide();
					}else{
						console.log(response);
 					swal("Cancelled", "Problem occured. This portfolio is not suitable for accurate risk control", "error");
					}
					
				},error: function(){
					console.log(response);
					 
 					swal("Cancelled", "Problem occured. This portfolio is not suitable for accurate risk control", "error");
				}
			});
			return true;
		 

	});

});
 //-->
 </script>
 {% endblock %}