<script type="text/javascript">
<!--
	
jQuery(document).ready(function(){

	$( "#editbutton" ).click(function( event ) {
 		if ($('#min_limit').val() == "") {
				alert('Minimum is required!');
				return false;
			}
		else if ($('#min_limit').val() >= {{risk_limit}})
		{
			alert("Minimum limit is greater than actual risk limit");
			return false;
		}
		else if (Number($('#min_limit').val()) >= Number($('#max_limit').val()) && $('#max_limit').val() != "")
		{
			//alert($('#min_limit').val())
			//alert($('#max_limit').val())
			alert("Minimum limit is greater than maximum");
			return false;
		}
		else if ($('#max_limit').val() == "") {
				alert('Maximum is required!');
				return false;
			}
		else if ($('#max_limit').val() <= {{risk_limit}})
		{
			alert("Maximum limit is less than actual risk limit");
			return false;
		}/*else if ($('#max_limit').val() <= $('#min_limit').val())
		{
			alert("Maximum limit is less than minimum limit");
			return false;
		}*/
		
		else{
			
			//prevent Default functionality
			 //alert(description)
			 var serializedData = $("#myEditform").serialize();
			 min_limit = $('#min_limit').val();
			  risk_limit = '{{risk_limit}}';
			   max_limit = $('#max_limit').val();
			
			faq_status = $('#faq_status').val();
			$.ajax({
				type:"POST",
				url: "/clientCRUD",
				dataType:"json",
				//data:serializedData ,
				data:"table_name={{risk_type}}&crud_type=update_limits&min_limit="+min_limit+"&risk_limit="+risk_limit+"&max_limit="+max_limit+"&id={{id}}"+"&holding_id={{holding_id}}",
				success: function(response){
					// alert("here");
					console.log(response);
					$('#edit-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_editmessage').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Updated!</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#con-close-modal').hide();
					}else{
						$('#edit-close-modal').hide();
						$('#response_editmessage').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style=""><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div>  <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div>  <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Error in Creating</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#edit-close-modal').hide();
					}
					
				},error: function(){
					console.log(response);
					$('#edit-close-modal').hide();
					$('#response_editmessage').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style=""><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div>  <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div>  <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Error in Creating</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
					$('#edit-close-modal').hide();
				}
			});
			return true;
		}

	});

});

//-->
</script>
<div id="response_editmessage"></div>
<div id="edit-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-top:100px">
	<form method=post name="myform" id="myEditform" action="">
	<input type="hidden" name="table_name" id="table_name" value="update_limits">
		<input type="hidden" name="crud_type" id="crud_type" value="{{risk_type}}">

	<input type="hidden" name="type" id="table_name" value="{{item_details.id}}">
  	<div class="modal-dialog"> 
		<div class="modal-content"> 
			<div class="modal-header"> 
				 
				<h4 class="modal-title">{{form_title|safe}} </h4> 
			</div> 
			<div class="modal-body" id="formbody"> 
 									<div class="row"> 
										<div class="col-md-10"> 
										<div class="form-group"> 
												<label for="field-1" class="control-label">Portfolio</label> 
												{{id|portfolio_detail_name}}
											</div>
											<div class="form-group"> 
												<label for="field-1" class="control-label">Minimum Limit</label> 
												<input type="text" class="form-control" id="min_limit" placeholder="" name="min_limit" value="{{item_details.min_limit}}"> 
											</div>
											<div class="form-group"> 
												<label for="field-1" class="control-label">{{risk_title}}</label> 
												{{risk_limit }}
											</div>
											<div class="form-group"> 
												<label for="field-1" class="control-label">Maximum Limit</label> 
												<input type="text" class="form-control" id="max_limit" placeholder="" name="max_limit" value="{{item_details.max_limit}}"> 
											</div>
										</div> 
										 
									</div> 
									
			</div> 
			<div class="modal-footer" id="modal-footer"> 
				
				<button type="button" class="btn btn-info" id="editbutton">Save changes</button> 
				<a href=""  class="btn btn-white" data-dismiss="modal">Close</a> 
			</div> 
		</div> 
	</div>
	</form>
</div>
