{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}

	</style>

     

 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Dashboard Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">purchase reports</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-15 padding-bottom-70">
      <div class="container">
	  {% include 'horizontal_menu.html' %}
        <div class="row"> 
          
           
          
          <!-- Revenues Cart -->
          <div class="col-md-12">
            <div class="heading">

				{% if current_user.userid.user_type == 'advisor' or current_user.userid.user_type == 'trustee' or current_user.userid.user_type == 'investor' %}
				{% if error != "" %}
						<h4>Error</h4>
						<div class="col-md-9" style="padding-top:30px;">    
						<div class="heading text-cente panel-bodyr alert alert-info alert-dismissable" style="padding-top:30px;" id="thankyouform"> <span></span>
							  <strong>Either Client do not exist or you are not authorised to access this client details</strong><br>
							  
							  <p>for any queries please contact our support <a href="/contactus" class="primary-color">team.</a></p>
							</div>
							</div>
				{%else%}
					<h4>Purchase Reports</h4>
				  <br>
					<!-- InsiderRow -->
					<div class="col-md-12"> <div style="padding-top:10px" class="panel-body" id="clientregform">
										 <div class="alert alert-danger alert-dismissable" style="display:none;height:50px" id="errordiv">
                        
                        <span id="error_message">  </span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    </div>
							<div class="row">
                  
									<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top" id="paypalform">
									<input type="hidden" name="transaction_items" id = "transaction_items" value="{{transaction_items}}">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="hughsons.apps_merchant@gmail.com">
<input type="hidden" name="lc" value="AU">
<input type="hidden" name="item_name" value="Iriskonline Resource Payment">
<input type="hidden" name="item_number" value="{{subscription_id}}">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="no_shipping" value="2">
<input type="hidden" name="src" value="1">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="first_name" value="{{current_user.first_name}}">
<input type="hidden" name="last_name" value="{{current_user.first_name}}">
<input type="hidden" name="email" value="{{current_user.email}}">
<input type="hidden" name="city" value="{{current_user.userid.city}}">
<input type="hidden" name="zip" value="{{current_user.userid.zip_code}}">
<input type = "hidden" name = "notify_url" value = "http://ec2-52-39-65-20.us-west-2.compute.amazonaws.com/notify_url_advisor">
<input type = "hidden" name = "cancel_return" value = "http://ec2-52-39-65-20.us-west-2.compute.amazonaws.com/cancel_request_advisor">
<input type = "hidden" name = "return" value = "http://ec2-52-39-65-20.us-west-2.compute.amazonaws.com/return_advisor">
<input type="hidden" name="amount" id="amount" value="">

<input type="hidden" name="sra" value="1">
<input type="hidden" name="custom" value="IRISKWAREREPORT">
					<table id="ticketTable" class="display table table-striped table-hover" cellspacing="0" width="100%"><thead><tr class="default"><th>Resource</th><th>No.of Resources</th><th>-</th><th width=123>Amount</th></tr></thead>
		
		<tbody>
		{% for item in transaction_items %}
                        <tr id="row_{{item.id}}">
                          <td>{{item.price_id|pricing_detail_name}}</td>
                          <td class="combat123" id="amount{{item.id}}">{{item.quantity}}</td>
						   
                          <td>- </td>
                          <td class="combat">{{item.amount}}</td>
                           
						  
                        </tr>
						 {%endfor%}
						 <tfoot>
						  
						 <td colspan="3" align=right ><strong>Total</strong></td><td class="total-combat"><strong><span id="totalprice"></span> $</strong></td></tr></tfoot>
						 
		
		</tbody></table>
						<div class=pull-right>{#<button type="submit" value="Register" id="savebutton" class="btn btn-1" style="height:30px !important;line-height:31px !important"> Proceed to Checkout <i class="fa fa-caret-right" style="height:30px !important;line-height:31px !important"></i></button>#} <button type=submit id=paypalsubmit>  
    <img alt="" border="0" src="static/images/buynow.gif" width="160"></button>
						</div>						
												 
							</div>

							 

					</div> </div> <!-- InsiderRow -->
				{% endif %}
			{% endif %}
			</div>
        </div>
      </div>
    </section>
  </div>
  <div id="response_message"></div>
  {% endblock %}
  {% block datatables %}
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/1.10.12/api/sum().js"></script>

<script type="text/javascript">
<!--

$(document).ready(function(){
    $('#paypalsubmit').click(function(e) {
		//alert("here")
    //if($(this).hasClass('prevented')){
        e.preventDefault();
        $(this).removeClass('prevented');
		values= "{{transaction_items}}";
		values = $('#transaction_items').val()
		myKeyVals = { items: values,subid:"{{subscription_id}}",mode:'{{mode}}',total_amount:$('#amount').val()}
		//alert(myKeyVals);
		$.ajax({
				type:"POST",
				url: "/sendtopaypaladvisor",
				//dataType:"text",
				data: myKeyVals ,
				success: function(response){
 					console.log(response);
 					if(response.message == "SUCCESS"){
						$('#paypalform').submit();
					}else{
						swal("Cancelled", "Problem occured while sending the data", "error");
 						return true;
					 
					}
				},error: function(){
					console.log(response);
 					swal("Cancelled", "Record not updated. Problem occured", "error");
				}
			});
         
    //}else{
        //$('#paypalform').submit();
        $(this).addClass('prevented');
    //}
    });  
    })
	
var editor; // use a global for the submit and return data rendering in the examples
 
$(document).ready(function () {
     var sum = 0;
     $('tr').find('.combat').each(function () {
         var combat = $(this).text();
         if (!isNaN(combat) && combat.length !== 0) {
             sum += parseFloat(combat);
         }
     });

      $('.total-combat').html(sum+" $");
	  //$('#a3').val(sum);
	  $('#amount').val(sum);
 });

 function calculate( id, value )
{
		 //alert(id+"=="+value);
		//alert($('#quantity'+id).val());
		//alert(value*$('#quantity'+id).val())
		sums = value*$('#quantity'+id).val();
		$('#subtotalprice'+id).html(sums);

		var sumd = 0;
     $('tr').find('.combat').each(function () {
         var combat = $(this).text();
         if (!isNaN(combat) && combat.length !== 0) {
             sumd += parseFloat(combat);
         }
     });

      $('.total-combat').html(sumd+" $");
	
}
//-->
</script>

  {% endblock %}