{% extends "base.html" %}
{% block content %}


<!-- Main Stylesheet File -->
<link href="/static/styles/joinus.css" rel="stylesheet">

<div class="container-fluid content1">
  <div class="row ">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h1>Put your referral in the trusted care of Realty Referral Resource.</h1>
        <p> Fill out the form to match your referral with a broker or agent that's prequalified and equipped to provide the best service possible. You'll make extra cash and can feel confident your client is in good hands.</p>
      </div>
    </div>
  </div>
</div>

<!-- Agent info code starts -->

<section class="form-sec send-referral">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h4>Submit your referral by either filling out the form below, or download the <a href="#"><strong>PDF Form</strong> </a>and email completed copy to <a href="#"><strong>docs@realtyreferralresource.com</strong></a></h4>
                
              <h1> Agent Information </h1>
                    </div>
                </div>
                
                <div class="col-md-8 col-md-offset-2 form-box">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">First Name <span>*</span></label>
                        <input type="text" class="form-control" >
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Office Name <span>*</span></label>
                        <input type="text" class="form-control" >
                      </div>
                    </div>
                      
                      <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Address <span>*</span></label>
                        <input type="text" class="form-control" >
                      </div>
                    </div>
                  </div>
                    
                    <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="card-type">City <span>*</span></label>
                        <select class="form-control">
                          <option value="" disabled selected>Select City</option>
                          <option value="Business Credit Cards">City 1</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="card-type">State <span>*</span></label>
                        <select  class="form-control">
                          <option value="" disabled selected>Select State</option>
                          <option value="Business Credit Cards">state 1</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Zipcode <span>*</span></label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                    
                  
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Mobile <span>*</span></label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Alternate Phone <span>*</span></label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                      
                      <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="email">Email Address <span>*</span></label>
                        <input type="email" class="form-control" pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
                      </div>
                    </div>
                  </div>
                  
                  
                </div>
            </div>
          </section>
    
    
    <section class="form-sec send-referral">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3>Referral Agreement Details</h3>
                    <p>All referrals submitted are subject to pre-qualification. In order to process referrals in a timely manner, we need all required fields to be filled out when submitting the form online, blank fields may result in the delay of processing. Referring agent/broker acknowledges that Realty Referral Resource provides a concierge service. To cover administrative costs of the program, RRR charges a 40 % referral fee to the receiving agent/broker. In the event the receiving agent/broker receives a commission or other payment for services rendered in connection with a real estate transaction consummated involving the referred client, referring agent/broker will be entitled to a 25% referral fee. Referring agent remains responsible for any fees owed to his/her brokerage.</p>
                        
              <h1> Client Information </h1>
                    </div>
                </div>
                
                <div class="col-md-8 col-md-offset-2 form-box">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Name <span>*</span></label>
                        <input type="text" class="form-control" >
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Current Addresss <span>*</span></label>
                        <input type="text" class="form-control" >
                      </div>
                    </div>
                      
                     
                  </div>
                    
                    <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="card-type">City <span>*</span></label>
                        <select class="form-control">
                          <option value="" disabled selected>Select City</option>
                          <option value="Business Credit Cards">City 1</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="card-type">State <span>*</span></label>
                        <select  class="form-control">
                          <option value="" disabled selected>Select State</option>
                          <option value="Business Credit Cards">state 1</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="username">Zipcode <span>*</span></label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                    
                  
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="email">Client Email <span>*</span></label>
                        <input type="email" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="email">Confirm Email <span>*</span></label>
                        <input type="email" class="form-control">
                      </div>
                    </div>
                      
                      <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="email">Client Phone <span>*</span></label>
                        <input type="email" class="form-control" pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
                      </div>
                    </div>
                  </div>
                    
                     <div class="row">
                    <div class="col-md-4">
                      <div class="form-holder form-holder-2">
                        <label for="card-type">Is the client Buying or Selling ?</label>
                        <select class="form-control">
                          <option value="">Buying</option>
                          <option value="Business Credit Cards">Selling</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-holder form-holder-2">
                        <label for="text">Reason for Buying / Selling ? </label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                     </div>
                    
                    <div class="row">
                    <div class="col-md-12">
                      <div class="form-holder form-holder-2">
                        <label for="email">Additional Comments <span>*</span></label>
                        <input type="email" class="form-control">
                      </div>
                    </div>
                     </div>
                  </div>
            </div>
          </section>
    
    <section class="form-sec send-referral">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3>Acknowledgement</h3>
                    <p>I, Referring Broker/Agent, acknowledge this referral is a customer and/or client with whom I have made personal contact and have vetted as being a ready, willing and able customer/client. I acknowledge that the mission of Realty Referral Resource, LLC is to assist ready, willing and able customers/clients with their real estate needs; third party leads or cold leads DO NOT meet the standard qualifications for this program. Failure to adhere to this standard qualification may result in being barred from this program’s use. By checking the box, you are agreeing to the terms outlined within the acknowledgement.</p>
                        
             <div class="row send-reff-upload-sec">
                 <div class="col-md-4"><p>Upload Supporting Documents</p></div>
                <div class="col-md-2">
                     <div class="row download-upload">
                      <label class="filebutton"> <img src="/static/images/attachment@3x.png" style="width:21px;height:24px"/>Upload <span><input class="file-upload" type="file" id="myfile" name="myfile"></span> </label>
                  </div>
                 </div>
                 <div class="col-md-6">
                      <form>
                    <div class="form-group">
                      <input type="checkbox" id="html">
                      <label for="html">I Accept all the terms and conditions</label>
                    </div>
                    </form>
                 </div>
                 </div>
                        <div class="row submit-btn">
                            <a class="btn btn-default" href="#">SUBMIT</a>
                        </div>
                        
                    </div>
                </div>
                
              
            </div>
          </section>
    
<div class="image">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"></div>
    </div>
  </div>
</div>

 {% endblock %}
<script>
           
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap'
        });
       </script> 
<script src="/static/cjs/jquery-3.3.1.min.js"></script> 
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script> 
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script> 
<script src="/static/cjs/jquery.steps.js"></script> 
<script src="/static/cjs/main.js"></script>
</body>
</html>