{% extends "base.html" %}

{% block content %}
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- SERVICES -->
    <section class="services padding-top-70 padding-bottom-70">
      <div class="container"> 
        <!-- Heading -->
        <div class="heading text-center">
          <h4>Our Services</h4>
        </div>
      </div>
      <div class="best-services"> 
        <!-- Row -->
        <div class="container">
          <ul class="row list">
            <!-- Analytics -->
            <li class="col-md-4" data-content="#colio_c1">
              <article class="thumb"> <a class="button colio-link" href="#"> <i class="fa fa-bar-chart"></i>
                <h5>Iriskaware</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue.</p>
                </a> </article>
            </li>
            
            <!-- Storage -->
            <li class="col-md-4" data-content="#colio_c2">
              <article class="thumb"><a class="button colio-link" href="#"> <i class="fa fa-archive"></i>
                <h5>Storage</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue.</p>
                </a> </article>
            </li>
            
            <!-- Security -->
            <li class="col-md-4" data-content="#colio_c3">
              <article class="thumb"><a class="button colio-link" href="#"> <i class="fa fa-shield"></i>
                <h5>Security</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue.</p>
                </a> </article>
            </li>
            
           
          </ul>
        </div>
      </div>
      
      <!-- Analytics Tab Open -->
      <div id="colio_c1" class="colio-content">
        <div class="main">
          <div class="container">
            <div class="inside-colio">
              <div class="row">
                <div class="col-md-8"> 
                  <!-- Heading -->
                  <div class="heading text-left margin-bottom-40">
                    <h4>Analytics</h4>
                  </div>
                  <p> <strong> Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.</strong> <br>
                    <br>
                    Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. <br>
                    <br>
                    Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam. </p>
                  <a href="#." class="btn btn-1 margin-top-30 margin-right-20">Contact Now <i class="fa fa-caret-right"></i></a> <a href="#." class="btn btn-1 margin-top-30">View Services <i class="fa fa-caret-right"></i></a> </div>
                <div class="col-md-4 text-right"> <img class="img-responsive" src="images/ipad.png" alt=""> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Storage Tab Open -->
      <div id="colio_c2" class="colio-content">
        <div class="main">
          <div class="container">
            <div class="inside-colio">
              <div class="row">
                <div class="col-md-4 text-left"> <img class="img-responsive" src="images/ipad.png" alt=""> </div>
                <div class="col-md-8"> 
                  <!-- Heading -->
                  <div class="heading text-left margin-bottom-40">
                    <h4>Storage</h4>
                  </div>
                  <p> <strong> Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.</strong> <br>
                    <br>
                    Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. <br>
                    <br>
                    Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam. </p>
                  <a href="#." class="btn btn-1 margin-top-30 margin-right-20">Contact Now <i class="fa fa-caret-right"></i></a> <a href="#." class="btn btn-1 margin-top-30">View Services <i class="fa fa-caret-right"></i></a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Security Tab Open -->
      <div id="colio_c3" class="colio-content">
        <div class="main">
          <div class="container">
            <div class="inside-colio">
              <div class="row">
                <div class="col-md-8"> 
                  <!-- Heading -->
                  <div class="heading text-left margin-bottom-40">
                    <h4>Security</h4>
                  </div>
                  <p> <strong> Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.</strong> <br>
                    <br>
                    Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. <br>
                    <br>
                    Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam. </p>
                  <a href="#." class="btn btn-1 margin-top-30 margin-right-20">Contact Now <i class="fa fa-caret-right"></i></a> <a href="#." class="btn btn-1 margin-top-30">View Services <i class="fa fa-caret-right"></i></a> </div>
                <div class="col-md-4 text-right"> <img class="img-responsive" src="images/ipad.png" alt=""> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
 {% endblock %}