{% extends "base.html" %}
{% block content %}
 <!-- Main Stylesheet File -->
  <link href="/static/styles/signin.css" rel="stylesheet">

  <div class="container-fluid image">
        <div class=" container main">
          <div class="col-sm-12 col-md-12 col-12">
            <div class="row">
              <div class=" col-md-5 hidden-xs ">
                <div class="left-side">
                  <div class="row">
                    <h2>Become an RRR Referral <br>Associate</h2>
                  </div>
                  <div class="col text-center">
                    <button>
                     <a href="/register" style="text-decoration:none;color:#0e2d53;font-size:16px"> Get Started Now</a>
                    </button>
                  </div>
                </div>
              </div>
              <!--col-sm-6-->
      <form id="loginform"   action="/login" role="form" method=post>
                                    {{ login_form.hidden_tag() }}
              <div class="col-md-7">
                <div class="right-side">
                    <div class="row">
                            <h1>Already a Member?</h1>
                            <p>LOGIN</p>
							
                    </div>
                 
				
						
                  <!--Form with header-->
                  <div class="form">
                    <div class="form-group">
					{% if error %}
							
							<span >
                         <span class=" alert-danger"> <strong>Error!</strong> {{ error }} </span>
                    </span><br>
					{% endif %}
                      <label style="font-size:14px;color:#028081" for="form2">Email Address</label
                      >
                      <input id="login-username" type="text" class="form-control" name="email" value="" placeholder="email address">  
                    </div>
      
                    <div class="form-group">
                      <label style="font-size:14px;color:#028081;" for="form4">Password</label>
                      <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-sm-12 col-12">
                          <label class="switch">
                              <input id="login-remember" type="checkbox" name="remember_me" value="1">
                              <span class="slider round"></span>
                            </label>
                        <span style="font-size:12px;color:#4a4a4a;margin:0 0 0 7px;font-weight:600">Remember me</span
                        >
                      </div>
                      <div class="col-md-6  col-sm-12 col-12">
                        <div class="text">
                          <a href="/forgot-password"for="form4" style="color:#4a4a4a">I forgot my password</a>
                        </div>
                      </div>
                    </div>
                    <div class="col text-center">
					<button type="submit" class="btn btn btn-deep-purple ">SIGN IN </button>
                    </div>
                  </div>
                </div>
              </div>
              <!--/Form with header-->
            </div>
            <!--col-sm-6-->
          </div>
          <!--col-sm-8-->
        </div>
      </div>
      <!--container-->
      

 {% endblock %}