{% extends "base.html" %}

{% block content %}
  <link href="/static/styles/faq.css" rel="stylesheet">

  <!-- SUB BANNER -->
  <div class="container-fluid content">
    <div class="row ">
      <div class="container">
        <div class="col-md-12 ">
          <h1>Thank You!</h1>
         </div>
      </div>
    </div>
  </div>
  <!-- Content -->
 <div class="container faq-section">
    
    <!-- SERVICES -->
    <section class="services padding-top-30 padding-bottom-30">
       
      <div class="best-services"> 
        <!-- Row -->
        <div class="container">    
        <div id="loginbox" style="margin-top:0px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">   
		{% if error %}
							
							<div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                        <span class="alert alert-danger"> <strong>Error!</strong> {{ error }} </span>
                    </div>
						{% else %}
             <div class="heading text-center"> <span></span>
			<h1> Welcome to Realty Referral Resource!</h1><br>

<p>Your account has been successfully created.

Please check your email for our digital confirmation; keep in mind that this first email may be in your Junk Folder.<br><br>

You will be prompted to click on the link to activate your account.<br><br>

Questions?<br>

Click  <a href="/#contactus" class="primary-color">here to</a> contact our support team.<p>
           
        </div>
		{% endif %}
			</div>
<br>&nbsp;
        
		</div>
      </div>
      
     
      
      
      
      

     
    </section>
  </div>
  <br>&nbsp;
 {% endblock %}