<div > 

				<table class="table table-bordered  table-hover" width="750">
					<thead>
					<tr class=warning><th colspan=5>PORTFOLIO RISK ANALYSIS – SECURITIES HELD</th><th  class=warning  style="text-align:right !important"><a  OnClick="ViewTutorItem(268503950);" ><img src="/static/img/edit_portfolio.png" width=21></a></th></tr>
					 
					 
					<tr class=info>
						<th ># Holdings</th>
						<th >%held</th>
						
						<th >Contribution to <br>   Value at Risk</th>
						<th >% Contribution to <br>   Value at Risk</th>
						<th class=" ">Risk limits</th>
						<th >$ Contribution to <br>   Value at Risk</th>
						
					</tr>
					</thead>
					<tbody>
					{% set var_contrib = [0] -%}
					{% set var_contrib_price = [0] -%}
					{% for detail in analysis_details %}
					{% if var_contrib.append(var_contrib.pop()+ detail.gvarcontribution) -%}{% endif %}
					{% if var_contrib_price.append(var_contrib_price.pop()+ (portfolio_summary.dollar.gvar * detail.gvarpercent / 100)) %}{% endif %}
					<tr>
					   
						<td>{{ detail.name }}</td>
						<td>{{ detail.weight |round_the_value }}%</td>
						<td>{{ detail.gvarcontribution | round_the_value }}%</td>
						<td>{{ detail.gvarpercent | round_the_value }}%</td>
						<td width="120"><a id=securitieslimit OnClick="SetRiskLimit('securities_var', {{portfolio_id}}, {{ detail.gvarpercent | round_the_value }}, '{{detail.code}}')">set risk limit</a></td>
					   <td>${{ (portfolio_summary.dollar.gvar * detail.gvarpercent / 100) | round_the_value}}</td>
					</tr>
					{%endfor%}
					<tr class="totals-row info">
						<td><strong>Totals:</strong></td>
						<td><strong>100 %</strong> </td>
						<td>{{ var_contrib[0] | round_the_value }}%</td>
						<td><strong>100 %</strong> </td>
						<td></td>
						<td>${{ var_contrib_price[0] | round_the_value }}</td>
					</tr>
					 
					</tbody>
				</table>
			</div>	
			
			  <div id="visualization_var" style=" height: 420px;"/></div> 
			<div> 
				<table class="table table-bordered  table-hover" width="750">
					<thead>
					<tr><th class=warning colspan=5>PORTFOLIO RISK ANALYSIS – SECTORS HELD</th><th  class=warning  style="text-align:right !important"><a  OnClick="ViewTutorItem(212877212);" ><img src="/static/img/edit_portfolio.png" width=21></a></th></tr>
					<tr class=info>
						<th class=" "># Sector Name</th>
						<th class=" ">%held</th>
						<th class=" ">Contribution to<br> Value at Risk</th>
						<th class=" ">% Contribution to<br> Value at Risk</th>
						<th class=" ">Risk limits</th>
						<th class=" ">$ Contribution to<br> Value at Risk</th>
					</tr>
					</thead>
					<tbody>
					{% set var_sector = [0] -%}
					{% set var_sector_price = [0] -%}
					{% for key, value in categories_hash.items() %}
					{% if var_sector.append(var_sector.pop() + value[3]|float) -%}{% endif %}
					{% if var_sector_price.append(var_sector_price.pop()+ (value[4]|float / 100* portfolio_summary.dollar.gvar|float)) %}{% endif %}
					
					<tr>
						<td>{{ key}}</td>
						<td>{{ value[0] | round_the_value }}</td>
						
						<td>{{ value[3] | round_the_value }} </td>
						<td> {{ value[4] | round_the_value }} %</td>
					<td width="120"><a id=securitieslimit  OnClick="SetRiskLimit('sectors_var', {{portfolio_id}}, {{ value[4] }}, '{{ key}}');">set risk limit</a></td>
						<td> ${{ (portfolio_summary.dollar.gvar * value[4]|float / 100) | round_the_value}}</td>
					   
					</tr>
					{% endfor %}
					<tr class="totals-row info">
						<td><strong>Totals:</strong></td>
						<td><strong>100 %</strong> </td>
						<td>{{ var_sector[0] | round_the_value }}%</td>
						<td><strong>100 %</strong> </td>
						<td></td>
						<td>${{ var_sector_price[0] | round_the_value }}</td>
					</tr>
					</tbody>
				</table>
			</div>	
			 <div id="visualization_var2" style=" height: 420px;"/></div> 
			 <div> 
				<table class="table table-bordered  table-hover" width="750">
					<thead>
					<tr><th class=warning colspan=5>PORTFOLIO RISK ANALYSIS – INCOME/GROWTH</th><th class=warning  style="text-align:right !important"><a  OnClick="ViewTutorItem(200346881);" ><img src="/static/img/edit_portfolio.png" width=21></a></th></tr>
					
					<tr class=info>
						<th class=" "># Sector Name</th>
						<th class=" ">%held</th>
						<th class=" ">Contribution to  <br> Value at Risk</th>
						<th class=" ">% Contribution to <br> Value at Risk</th>
						<th class=" ">Risk limits</th>
						<th class=" ">$ Contribution to <br> Value at Risk</th>
					</tr>
					</thead>
					<tbody>
					{% set var_growth = [0] -%}
					{% set var_growth_price = [0] -%}
					{% for key, value in income_growth.items() %}
					{% if var_growth.append(var_growth.pop() + value[3]|float) -%}{% endif %}
					{% if var_growth_price.append(var_growth_price.pop()+ (value[4]|float / 100 * portfolio_summary.dollar.gvar|float)) %}{% endif %}
					
					<tr>
						<td>{{ key}}</td>
						<td>{{ value[0]| round_the_value }}</td>
						
						<td>{{ value[3]| round_the_value }} </td>
						<td> {{ value[4]| round_the_value }} %</td>
					<td width="100"><a OnClick="SetRiskLimit('incomegrowth_var', {{portfolio_id}}, {{ value[4] }}, '{{ key}}');">set risk limit</a></td>
						<td> ${{ (portfolio_summary.dollar.gvar * value[4]|float / 100) | round_the_value}}</td>
					   
					</tr>
					{% endfor %}
					<tr class="totals-row info">
						<td><strong>Totals:</strong></td>
						<td><strong>100 %</strong> </td>
						<td>{{ var_growth[0] | round_the_value }}%</td>
						<td><strong>100 %</strong> </td>
						<td></td>
						<td>${{ var_growth_price[0] | round_the_value }}</td>
					</tr>
				 
					</tbody>
				</table>
			</div>	
			 <div id="visualization_var3" style=" height: 420px;"/></div> 