{#
<div class="ui-dialog-titlebar"><h4>{{item_details.tutor_title|safe}}</h4></div>

  <div class="ui-dialog-content ui-dialog-{normal|maximized|minimized|collapsed}">{{item_details.tutor_text|safe}}</div>
 #}

 <div id="response_editmessage"></div>
<div class="modal fade mymodal" id="edit-close-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-top:100px;border: 1px solid #800020 !important; box-shadow: 2px 2px 2px #888888 !important;">
    	<div class="modal-dialog"> 
		<div class="modal-content" style="width:900px;" >
		<div class="modal-header" style="padding:10px 10px;">
		
         <h5 class="modal-title">{{item_details.tutor_title}}</h5>
        </div>
			
			<div class="modal-body" id="formbody" > 
 									<div class="row"> 
										<div class="col-md-12"> 
											<div class="form-group"> 
												
												
											{{item_details.tutor_text|safe}}
											</div> 
										</div> 
										 
									</div> 
									
			 
			</div> 
			<div class="modal-footer" id="modal-footer"> 
			 
				<a href=""  class="btn btn-white" data-dismiss="modal">Close</a> 
				
			</div> 
		</div> 
	</div>
	
</div>

		
	 