{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}

	</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{% if error == "" %}
<script type="text/javascript">
<!--

jQuery(document).ready(function(){
		 
	 
	$( "#iriskaware" ).click(function( event ) {
		$.ajax({
				type:"POST",
				url: "/clientCRUD",
				dataType:"json",
				data:"crud_type=updatemodule&uid="+{{client_details.userid.id}}+"&module=iriskaware&modulevalue="+$("#iriskaware").val(),
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Updated!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						
					}else{
						//window.location.replace("");
						swal("Cancelled", "Record not update. Problem occured", "error");
						
					}
					
				},error: function(){
					console.log(response);
					swal("Cancelled", "Problem occured", "error");
				}
			});
	});
	$( "#iriskonline" ).click(function( event ) {
		$.ajax({
				type:"POST",
				url: "/clientCRUD",
				dataType:"json",
				data:"crud_type=updatemodule&uid="+{{client_details.userid.id}}+"&module=iriskonline&modulevalue="+$("#iriskonline").val(),
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						//window.location.replace("");
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Updated!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						
					}else{
						//window.location.replace("");
						swal("Cancelled", "Record not update. Problem occured", "error");
						
					}
					
				},error: function(){
					console.log(response);
					swal("Cancelled", "Problem occured", "error");
				}
			});
	});
	$( "#iriskwatch" ).click(function( event ) {
		$.ajax({
				type:"POST",
				url: "/clientCRUD",
				dataType:"json",
				data:"crud_type=updatemodule&uid="+{{client_details.userid.id}}+"&module=iriskwatch&modulevalue="+$("#iriskwatch").val(),
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						//window.location.replace("");
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Created!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						
					}else{
						//window.location.replace("");
						swal("Cancelled", "Record not update. Problem occured", "error");
						
					}
					
				},error: function(){
					console.log(response);
					swal("Cancelled", "Problem occured", "error");
				}
			});
	});

});
function DoActionEdit( id, uid )
{
		  $.ajax({
				type:"POST",
				url: "/allocatemodalview",
				//dataType:"text",
				data:"table_name=allocations&id="+id+"&uid="+uid ,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#edit_form').html('');

					//$('#edit-close-modal').remove();
					$('#edit_form').html(response);
//								alert($('#edit_form').val())
					//$('#edit-close-modal').modal('show');
					$('#edit-close-modal').modal('toggle');
					
				},error: function(){
					console.log(response);
					$('#edit_form').html(response);
					//swal("Cancelled", "Record not updated. Problem occured", "error");
				}
			});

	
}
//-->
</script>
{% endif %}
 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Dashboard Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="#">dashboard</li>
		  <li class="#">view client</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-15 padding-bottom-70">
      <div class="container">
	  {% if session['clientid'] == "" %}
			{% include 'horizontal_menu.html' %}
	  {%else%}
			{% include 'horizontal_menu_advisor.html' %}
	{% endif %}
        <div class="row"> 
          
          
          
          <!-- Revenues Cart -->
          <div class="col-md-12">
            <div class="heading">
				
				{% if current_user.userid.user_type == 'advisor' %}
				{% if error != "" %}
						<h4>Error</h4>
						<div class="col-md-9" style="padding-top:30px;">    
						<div class="heading text-cente panel-bodyr alert alert-info alert-dismissable" style="padding-top:30px;" id="thankyouform"> <span></span>
							  <strong>Either Client do not exist or you are not authorised to access this client details</strong><br>
							  
							  <p>for any queries please contact our support <a href="/contactus" class="primary-color">team.</a></p>
							</div>
							</div>
				{%else%}
					<h4>{{client_details.first_name}} {{client_details.last_name}} 's Profile </h4>
				  <br>
					<!-- InsiderRow -->
					<div class="col-md-12"> 
					<div style="padding-top:10px" class="panel-body" id="clientregform">
										
										 <div class="alert alert-danger alert-dismissable" style="display:none;height:50px" id="errordiv">
                        
                        <span id="error_message">  </span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
						</div>
							<div class="row">
                  
											  <div class="col-md-3"> <img class="img-responsive" src="static/images/team-img-2-1.jpg" alt=""> </div>
											  <div class="col-md-9">
												  <table class="table table-condensed table-striped table-bordered">
																			
																<tbody>
																	<tr>
																		<td><b>Email</b></td>
																		<td>
																		
																		 
																			<div style="float:left">{{client_details.email}}</div>
																			{% if session['clientid'] == "" %}
																			<div style="float:right"><a href="/login_as_client?id={{client_details.id}}" class="btnnew btn-primary w-sm m-b-5">Login as {{client_details.first_name}}</a></div>
																		{% endif %}
																		 </td>
																	</tr>
																	
																	<tr>
																		<td><b>Phone</b></td>
																		<td class="ng-binding">{{client_details.userid.phone_number}}</td>
																	</tr>
																	<tr>
																		<td><b>Company</b></td>
																		<td>
																		 
																			{{client_details.userid.company}}
																		</a></td>
																	</tr>
																	<tr>
																		<td><b>Address</b></td>
																		<td>
																		 
																			{{client_details.userid.city}}, {{client_details.userid.zip_code}}
																		</a></td>
																	</tr>
																	<tr>
																		<td><b>Modules</b></td>
																		<td>
																		{% if client_details.userid.module_iriskaware == True %}
																		<button type="button" class="btnnew btn-purple w-sm m-b-5" id="iriskaware" value="{{client_details.userid.module_iriskaware}}">Iriskaware Enabled</button>
																		{% else %}
																		<button type="button" class="btnnew btn-red w-sm m-b-5" id="iriskaware" value="{{client_details.userid.module_iriskaware}}">Iriskaware Disabled</button>
																		{%endif%}
																		&nbsp;&nbsp;
																		{% if client_details.userid.module_iriskonline == True %}
																		<button type="button" class="btnnew btn-purple w-sm m-b-5" id="iriskonline" value="{{client_details.userid.module_iriskonline}}">Iriskonline Enabled</button>
																		{% else %}
																		<button type="button" class="btnnew btn-red w-sm m-b-5" id="iriskonline" value="{{client_details.userid.module_iriskonline}}">Iriskonline Disabled</button>
																		{%endif%}
																		
																		
																		&nbsp;&nbsp;
																		{% if client_details.userid.module_iriskwatch == True %}
																		<button type="button" class="btnnew btn-purple w-sm m-b-5" id="iriskwatch" value="{{client_details.userid.module_iriskwatch}}">Iriskwatch Enabled</button>
																		{% else %}
																		<button type="button" class="btnnew btn-red w-sm m-b-5" id="iriskwatch" value="{{client_details.userid.module_iriskwatch}}">Iriskwatch Disabled</button>
																		{%endif%}

																		</td>
																	</tr>
																</tbody>
															</table>
												
												</div>
							</div>
							{#
							<div class="row">
							<h5 class="side-tittle margin-top-30">Portfolio's</h5>
											  
											  <div class="col-md-12">
												 <table id="example" class="display table table-striped table-hover" cellspacing="0" width="100%"><thead><tr class="default"><th>Name</th><th>Holdings</th><th>Value</th><th>Date</th><th width="100">Actions</th></tr></thead>
		
													<tbody>
													{% for items in client_portfolios %}
													<tr><td>{{items.name}} 0</td><td></td><td>0</td><td></td><td><a href="/viewportfolio" class="btn btn-1" style="height:30px !important;line-height:31px !important"> View <i class="fa fa-caret-right" style="height:30px !important;line-height:31px !important"></i></a></td></tr>
													{% endfor %}
													
													</tbody></table>
												</div>
							</div>
							#}
							{#
							<div class="row">
								<div class="col-md-12">
								<table id="example" class="display table table-striped table-hover" cellspacing="0" width="100%"><thead><tr class="default"><th>Resource </th>
					<th>Allocated</th><th>Used</th><th>Actions</th></tr></thead>
						<tbody>
						<tbody>
						{% for item in item_records %}
										 <tr id="row_6">
										  <td>{{item.name}}</td>
										  <td class="combat"><strong><span id="subtotalprice1">{{item.total_allocate}}</span></strong></td>
										  <td>{{item.total_used}}</td>
										  <td><button type="button" class="btn btn-1 w-sm m-b-5" id="allocateform" link-number="{{item.id}}" OnClick="DoActionEdit({{item.id}}, '{{client_details.id}}');" style="width:120px;height:30px !important;line-height:31px !important" data-toggle="modal" data-target="#con-close-modal">Allocate</button></td>
										   
										  
										</tr>
										 {%endfor%}
										 </tbody>
						</tbody></table>
									 
								</div>
							</div>
							#}
					</div> </div> <!-- InsiderRow -->
				{% endif %}
			{% endif %}
			</div>
        </div>
      </div>
    </section>
  </div>
  <!--MODAL-BOX-->
			   <div id="response_message"></div>
			   
			<div id="edit_form"></div>
  {% endblock %}