{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}
	.btn {
	padding-right:20px !important
	}
	a {
    text-decoration: none;
    
	color: #337ab7;
	 
}
.nav-tabs {
    border-bottom: 1px solid #337ab7;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    
    border: 1px solid #337ab7;
    
}
body{
font-size: 12px;
}
.heading{
min-width: 992px !important;
}
.heading tr {
    border-bottom: 2px solid #57c4d0;
}
.heading h4 {
    border-bottom: none !important;
}
.heading {
    margin: 0 auto;
    margin-bottom: 2px !important;
}
	</style>


 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Portfolio Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">My Portfolios</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-15 padding-bottom-70">
      <div class="container">
	  {% with messages = get_flashed_messages() %}
         {% if messages %}
		 <div class="row">
            <ul>
               {% for message in messages %}
               <li<{{ message }}</li>
               {% endfor %}
            </ul>
		</div>
         {% endif %}
      {% endwith %}
{% include 'horizontal_menu_advisor.html' %}
        <div class="row"> 
          
           
          
          <!-- Revenues Cart -->
          <div class="col-md-12">
            <div class="heading">
				
				{% if current_user.userid.user_type == 'advisor' or  current_user.userid.user_type == 'accountant' %}
				<table width='100%'><tr><td width='100%'><h4><b>{{portfolio_details.name}}</b> Portfolio </h4></td></tr></table>
              <br>
				<!-- Row -->
			</div>
<div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#portfolio" data-toggle="tab" class='info'>Portfolio management</a></li>
		<li ><a href="#risksummary" data-toggle="tab" class='info'>Risk Limit Summary</a></li>
 
     </ul>

    <!-- Tab panes -->
    <div class="tab-content">
	<div class="tab-pane" id="risksummary"><br>
         <!--Hughson to include "risk_summary.html" -->
		 <table id="example" class="display table table-striped table-hover" cellspacing="0" width="100%"><thead><tr class=info>
		 <td>Portfoilio Holding</th>
														<td>Sector</th>
														<td>Security</th>
														<td>Income Growth</th>
														<td>Risk Metric</th>
														<td>Lower Limit</th>
														<td>Latest</th>
														<td>Upper Limit</th>
														<td>Breach</th>
														</tr></thead>
		
		<tbody>
		{% for items in user_risk_limits %}

		<tr><td>{% if items.risk_type in ['portfolio_std', 'portfolio_mvar','portfolio_mes'] 	%}Portfolio{%endif%} </td>

		<td>{% if items.risk_type in ['sectors_std', 'sectors_mvar','sectors_mes', 'sectors_var', 'sectors_es'] 	%}{{ items.portfolio_category}}{%endif%}</td>
		<td>{% if items.risk_type in ['securities_std', 'securities_mvar','securities_mes', 'securities_var', 'securities_es'] 	%}{{ items.holding_code}}{%endif%}</td>
		<td>{% if items.risk_type in ['incomegrowth_std', 'incomegrowth_mvar','incomegrowth_mes', 'incomegrowth_var', 'incomegrowth_es'] 	%}{{ items.portfolio_category}}{%endif%}</td>

		<td>{{ items.risk_type | risk_limit_form_titles}}</td>
		
		<td>{{items.min_limit}}</td>
		<td>{{items.risk_limit}}</td>
		
		<td>{{items.max_limit}}</td>
		<td>No</td>
		
		</tr>

		{% endfor %}
		
		</tbody></table>
		   

        </div>

        <div class="tab-pane" id="riskcontrol">
         <!-- Hughson to include "risk_control.html" -->

        </div>
        <div class="tab-pane active" id="portfolio">
            
{% if portfolio_result|length <=0 %}
<div><br>
No Holdings
</div>
{%else%}


<table class="table   table-hover span12">
    <thead><tr class=info>
        <th>Code</th>
        <th style="width: 35.5%;">Name</th>
        <th style="width: 12.5%;">Industry</th>
		<th style="width: 7%;">Proxy</th>
        <th style="width: 7%;">Holding</th>
        <th style="width: 10%;">Price</th>
        <th style="width: 10%;">Value</th>
        <th style="width: 8%;">% Held</th>
     </tr></thead>
    <tbody>
	{% for holding in portfolio_result %}
        <tr>
            <td>{{holding.company_code}}</td>
            <td>{{holding.company_name}}</td>
            <td>{{holding.company_category}}</td>
			<td>
			{% if holding.proxy_status == True %}
			Yes
			{%else%}
			No
			{%endif%}
			</td>
            <td>{{holding.num_shares}}</td>
            <td>$ {{holding.closing}}</td>
            <td>$ {{holding.price_value}}</td>
			<td>{{ holding.price_value | percentage(held_sum_value)}}</td>
              
        </tr>
        {%endfor%}
         <tr class="totals-row info">
            <td><strong>Totals:</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>$ {{held_sum_value}}</strong> </td>
            <td><strong>100 %</strong></td>
			<td></td>
        </tr>
    </tbody>
</table>


 
 <div>
 
<table class="table  table-hover  span12">
    <thead><tr class=warning>
        <th colspan=2>Portfolio Summary</th>
         
        <th colspan=3>Shape of Monthly Return Distribution</th>
        <th colspan=3>Portfolio Risk Estimates </th>
        
    </tr>
	<tr class=info>
        <th style="width: 8%;">Holdings</th>
        <th style="width: 7.5%;">$Value</th>
        <th style="width: 7.5%;">Skewness</th>
        <th style="width: 8%;">Kurtosis</th>
        <th style="width: 8%;">Std Dev (month)
</th>
        <th style="width: 8%;">Std Dev (anum)
</th>
        <th style="width: 8%;">MVaR (month)
</th>
        <th style="width: 8%;">MES (month)</th>
    </tr></thead>
    <tbody>
         <tr>
            <td>{{view_holdings | count}}</td>
            <td>{{held_sum_value}}</td>
            <td>{{ portfolio_summary.percentage.skewness | round_the_value  }}</td>
            <td>{{ portfolio_summary.percentage.kurtosis | round_the_value  }}</td>
            <td>{{ portfolio_summary.percentage.stddevmonthly | round_the_value  }}%</td>
            <td>{{ portfolio_summary.percentage.stddevannual | round_the_value  }}%</td>
			<td>{{ portfolio_summary.percentage.mvar | round_the_value }}%</td>
            <td>{{ portfolio_summary.percentage.mes | round_the_value}}%</td>
        </tr>
          
        <tr class="totals-row">
            <td></td>
            <td></td>
            <td>Normal = 0</td>
            <td>Normal = 3</td>
            <td>${{ portfolio_summary.dollar.stddevmonthly | round_the_value}}  </td>
            <td>${{ portfolio_summary.dollar.stddevannual | round_the_value}}</td>
            <td>${{ portfolio_summary.dollar.mvar | round_the_value}}</td>
            <td>${{ portfolio_summary.dollar.mes | round_the_value}}</td>
        </tr>
        <tr class="totals-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
			<td></td>
			<td></td>
        </tr>
    </tbody>
</table>
</div>

	<ul class="nav nav-tabs" id="nav_val_tabs">
        <li ><a href="#sdev" data-toggle="tab" class='info'>Standard Deviation</a></li>
		<li ><a href="#varisk" data-toggle="tab" class='info'>Value at Risk</a></li>
		<li ><a href="#eshort" data-toggle="tab" class='info'>Expected Shortfall</a></li>
		<li ><a href="#mvarisk" data-toggle="tab" class='info'>Modified Value at Risk</a></li>
		<li class="active"><a href="#meshort" data-toggle="tab" class='info'>Modified Expected Shortfall</a></li>	
     </ul>
	 <div class="tab-content">
	         <div class="tab-pane " id="sdev">

			<div > 

				<table class="table   table-hover" width="750">
					<thead>
					<tr class=warning><th colspan=6>PORTFOLIO RISK ANALYSIS – SECURITIES HELD</th> </tr>
					<tr class=info>
						<th ># Holdings</th>
						<th >%held</th>
						
						<th >Contribution to<br> Standard Deviation</th>
						<th >% Contribution to<br> Standard Deviation</th>
 						<th class=" ">$ Contribution to <br>Standard Deviation</th>
						
					</tr>
					</thead>
					<tbody>
					{% set sdev_contrib = [0] -%}
					{% set sdev_contrib_price = [0] -%}
					{% for detail in analysis_details %}
					{% if sdev_contrib.append(sdev_contrib.pop()+ detail.stddevcontribution) -%}{% endif %}
					{% if sdev_contrib_price.append(sdev_contrib_price.pop()+ (dollar_details.portfolio_value * detail.stddevcontribution / 100)) -%}{% endif %}
					<tr>
					   
						<td>{{ detail.name }} {{ detail.id }}</td>
						<td>{{ detail.weight |round_the_value }}%</td>
						<td>{{ detail.stddevcontribution | round_the_value }}%</td>
						<td>{{ detail.stddevpercent | round_the_value }}%</td>
 						<td>${{ (dollar_details.portfolio_value * detail.stddevcontribution / 100) | round_the_value}}</td>
					   
					</tr>
					{%endfor%}
					<tr class="totals-row info">
						<td><strong>Totals:</strong></td>
						<td><strong>100 %</strong> </td>
						<td>{{ sdev_contrib[0] | round_the_value }}%</td>
						<td><strong>100 %</strong> </td>
 						<td>${{ sdev_contrib_price[0] | round_the_value }}</td>
					</tr>
					 
					</tbody>
				</table>
			</div>	
			 <div   id="visualization" style="   height: 420px;"/></div>  
			<div > 
							<br>			
				<table class="table   table-hover" width="750">
					<thead>
					<tr class=warning><th colspan=5>PORTFOLIO RISK ANALYSIS – SECTORS HELD</th></tr>
					
					<tr class=info>
						<th class=" "># Sector Name</th>
						<th class=" ">%held</th>
						<th class=" ">Contribution to<br> SDEV</th>
						<th class=" ">% Contribution to<br> SDEV</th>
 						<th class=" ">$ Contribution to<br> SDEV</th>
					</tr>
					</thead>
					<tbody>
					{% set sdev_sector = [0] -%}
					{% set sdev_sector_price = [0] -%}
					{% for key, value in categories_hash.items() %}
					{% if sdev_sector.append(sdev_sector.pop() + value[1]|float) -%}{% endif %}
					{% if sdev_sector_price.append(sdev_sector_price.pop()+ (value[2]|float / 100* portfolio_summary.dollar.stddevmonthly|float)) -%}{% endif %}

					<tr>
						<td>{{ key}}</td>
						<td>{{ value[0] | round_the_value }}</td>
						
						<td>{{ value[1]|round_the_value }} </td>
						<td> {{ value[2]|round_the_value }} %</td>
 						<td> ${{ (value[2]|float / 100* portfolio_summary.dollar.stddevmonthly|float) | round_the_value }}</td>
					   
					</tr>
					{% endfor %}
					<tr class="totals-row info">
						<td><strong>Totals:</strong></td>
						<td><strong>100 %</strong> </td>
						<td>{{ sdev_sector[0] | round_the_value }}%</td>
						<td><strong>100 %</strong> </td>
 						<td>${{ sdev_sector_price[0] | round_the_value }}</td>
					</tr>

					 
					</tbody>
				</table>
			</div>	
			<div id="visualization2" style=" height: 420px;"/></div>
			<div > 
										<br>
				<table class="table   table-hover" width="750">
					<thead>
					<tr class=warning><th  colspan=5>PORTFOLIO RISK ANALYSIS – INCOME/GROWTH</th></tr>
					
					<tr class=info>
						<th class=" "># Sector Name</th>
						<th class=" ">%held</th>
						<th class=" ">Contribution to  SDEV</th>
						<th class=" ">% Contribution to SDEV</th>
 						<th class=" ">$ Contribution to SDEV</th>
					</tr>
					</thead>
					<tbody>
					{% set sdev_growth = [0] -%}
					{% set sdev_growth_price = [0] -%}
					{% for key, value in income_growth.items() %}
					{% if sdev_growth.append(sdev_growth.pop() + value[1]|float) -%}{% endif %}
					{% if sdev_growth_price.append(sdev_growth_price.pop()+ (value[2]|float / 100* portfolio_summary.dollar.stddevmonthly|float)) -%}{% endif %}
					<tr>
						<td>{{ key}}</td>
						<td>{{ value[0]| round_the_value }}</td>
						
						<td>{{ value[1]| round_the_value }} </td>
						<td> {{ value[2]| round_the_value }} %</td>
 						<td> ${{ (value[2]|float / 100* portfolio_summary.dollar.stddevmonthly|float) | round_the_value }}</td>
					   
					</tr>
					{% endfor %}
					<tr class="totals-row info">
						<td><strong>Totals:</strong></td>
						<td><strong>100 %</strong> </td>
						<td>{{ sdev_growth[0] | round_the_value }}%</td>
						<td><strong>100 %</strong> </td>
 						<td>${{ sdev_growth_price[0] | round_the_value }}</td>
					</tr>

					 
					</tbody>
				</table>
			</div>	
			<div id="visualization3" style=" height: 420px;"/></div>
			  </div>
         
		<!-- Modified Expected Shortfall-->
        <div class="tab-pane active" id="meshort">
        {% include "meshort_client_engine.html" %}

        </div>
		<!-- Modified Value at Risk-->
        <div class="tab-pane" id="mvarisk">
         {% include "mvarisk_client_engine.html" %}

        </div>
		<!-- Value at Risk-->
        <div class="tab-pane" id="varisk">
        {% include "varisk_engine.html" %}

        </div>
		<!-- Expected Shortfall-->
        <div class="tab-pane" id="eshort">
        
		{% include "eshort_client_engine.html" %}
        </div>



    </div>

</div>

			{% endif %}
			</div>
        </div>
      </div>
    </section>
  </div>
  {%endif%}
  <!--MODAL-BOX-->
			   <div id="response_message"></div>
			    
			<!--MODAL-BOX-->
			<div id="edit_form"></div>
			  {% endblock %}
			  {% block datatables %}
			    
<script type="text/javascript">
<!--
 $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
 	var target = $(e.target).attr("href")
    console.log(target);
    if(target == '#sdev')
    {
    	drawChart();
    }
    else if (target == '#varisk')
    {
    	drawChartvar();
		drawChartvar2();
		drawChartvar3();
    }
    else if (target =='#eshort')
    {
    	drawChartES2();
		drawChartES();
		drawChartES3();
    }
    else if (target == '#meshort')
    {
    	drawChartmes();
    	drawChartmes2();
		drawChartmes3();
    }
    else if ( target =='#mvarisk')
    {	drawChartMvar();
		drawChartMvar2();
		drawChartMvar3();
    }

  });


 
 
//-->
</script>
<script type="text/javascript">

		
	$('#generateReport').click(function() {
	var val_toc = $("#nav_val_tabs li.active").text();
	var person = {
        username: val_toc
    }
    $.ajax({
        url: '/viewreport',
        type: 'post',
        contentType: "application/json",
        success: function(data) {
            location.href='/viewreport';
        },
        data: JSON.stringify(person)
    });
	
});
//-->
</script>
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
				 <script type="text/javascript">
					google.charts.load('visualization', {packages: ['bar']});
					/*google.charts.setOnLoadCallback(drawChart);
					google.charts.setOnLoadCallback(drawChartMvar);
					google.charts.setOnLoadCallback(drawChartMvar2);
					google.charts.setOnLoadCallback(drawChartES2);
					google.charts.setOnLoadCallback(drawChartES);
					google.charts.setOnLoadCallback(drawChartvar);
					google.charts.setOnLoadCallback(drawChartvar2);*/
					google.charts.setOnLoadCallback(function () {
						
						/*
						drawChart();
						drawChartMvar();
						drawChartMvar2();
						drawChartES2();
						drawChartES();
						drawChartvar();
						drawChartvar2();
						drawChartmes();*/
						drawChartmes();
						drawChartmes2();
						drawChartmes3();
					});

					/*window.onresize = function(){
						console.log('Damn');
						drawChart();
						drawChartMvar();
						drawChartMvar2();
						drawChartES2();
						drawChartES();
					};*/

					function drawChart() {
						// transform the CSV string into a 2-dimensional array
						// this new DataTable object holds all the data
					  var data = new google.visualization.arrayToDataTable([
					    ['', 'Percent Held', '%Contribution to Standard Deviation'],
						 {% for detail in analysis_details %}
						 ['{{detail.code}}', {{detail.weight |round_the_value }},{{ detail.stddevpercent | round_the_value }} ],
						{%endfor%}
						
					  ]);

					  var options = {
					  chart: {
						title: 'Portfolio Risk Budget- Securities Held',
						legend: 'top'
						
					  },
					  
					  bars: 'vertical' // Required for Material Bar Charts.
					};
					var chart = new google.charts.Bar(document.getElementById('visualization'));

					chart.draw(data, options);		

					var options2 = {
						  chart: {
							title: 'Portfolio Risk Budget- Sectors Held',
							legend: {position: 'in', textStyle: {fontSize: 10}}
						  },
						  legend: {position: 'in', textStyle: {fontSize: 10}},
						  bars: 'vertical' // Required for Material Bar Charts.
						};
						
					var data2 = new google.visualization.arrayToDataTable([
					    ['', 'Percent Held', '%Contribution to Standard Deviation'],
						 {% for key, value in categories_hash.items() %}
						 ['{{key}}', {{value[0]}},{{value[2]}} ],
						{%endfor%}
						
					  ]);
						var chart2 = new google.charts.Bar(document.getElementById('visualization2'));
						chart2.draw(data2, options2);

						//Income growth
						var options3 = { chart: {
							title: 'Portfolio Risk Budget- Income Growth',
							legend: {position: 'in', textStyle: {fontSize: 10}}
						  },
						  legend: {position: 'in', textStyle: {fontSize: 10}},
						  bars: 'vertical' // Required for Material Bar Charts.
						};
						
					var data3 = new google.visualization.arrayToDataTable([
					    ['', 'Percent Held', '%Contribution to Standard Deviation'],
						 {% for key, value in income_growth.items() %}
						 ['{{key}}', {{value[0]}},{{value[2]}} ],
						{%endfor%}
						
					  ]);
						var chart3 = new google.charts.Bar(document.getElementById('visualization3'));
						chart3.draw(data3, options3);
					 
					}
					function drawChartmes() {
						// MES 
						var data_mes = new google.visualization.arrayToDataTable([
					    ['', 'Percent Held', '%Contribution to Modified Expected Shortfall'],
						 {% for detail in analysis_details %}
						 ['{{detail.code}}', {{detail.weight |round_the_value }},{{ detail.mespercent | round_the_value }} ],
						{%endfor%}
						
					  ]);

					  var options_mes = {width: 1000,height: 400,
					  chart: {
						title: 'Portfolio Risk Budget- Securities Held',
						legend: {position: 'in', textStyle: {fontSize: 10}}
						
					  },
					  legend: {position: 'in', textStyle: {fontSize: 10}},
					  bars: 'vertical' // Required for Material Bar Charts.
					};
					var chart_mes = new google.charts.Bar(document.getElementById('visualization_mes'));

					chart_mes.draw(data_mes, options_mes);				 
					}
					function drawChartmes2() {
						// MES 2
						var options_mes2 = {width: 1000,height: 400,
						  chart: {
							title: 'Portfolio Risk Budget- Sectors Held',
							legend: {position: 'in', textStyle: {fontSize: 10}}
						  },
						  legend: {position: 'in', textStyle: {fontSize: 10}},
						  bars: 'vertical' // Required for Material Bar Charts.
						};
						var data_mes2 = new google.visualization.arrayToDataTable([
					    ['', 'Percent Held', '%Contribution to Modified Expected shortfall'],
						 {% for key, value in categories_hash.items() %}
						 ['{{key}}', {{value[0]}},{{value[10]}} ],
						{%endfor%}
						
					  ]);
						var chart_mes2 = new google.charts.Bar(document.getElementById('visualization_mes2'));
						chart_mes2.draw(data_mes2, options_mes2);
		 
					}
					function drawChartmes3() {
						// MES 3
						var options_mes3 = {width: 1000,height: 400,
						  chart: {
							title: 'Portfolio Risk Budget- Income Growth',
							legend: {position: 'in', textStyle: {fontSize: 10}}
						  },
						  legend: {position: 'in', textStyle: {fontSize: 10}},
						  bars: 'vertical' // Required for Material Bar Charts.
						};
						var data_mes3 = new google.visualization.arrayToDataTable([
					    ['', 'Percent Held', '%Contribution to Modified Expected shortfall'],
						 {% for key, value in income_growth.items() %}
						 ['{{key}}', {{value[0]}},{{value[10]}} ],
						{%endfor%}
						
					  ]);
						var chart_mes3 = new google.charts.Bar(document.getElementById('visualization_mes3'));
						chart_mes3.draw(data_mes3, options_mes3);
		 
					}
					function drawChartvar() {
						// Value at risk
					var data_var = new google.visualization.arrayToDataTable([
					    ['', 'Percent Held', '%Contribution to Value at Risk'],
						 {% for detail in analysis_details %}
						 ['{{detail.code}}', {{detail.weight |round_the_value }},{{ detail.gvarpercent | round_the_value }} ],
						{%endfor%}				
					  ]);

					  var options_var = {width: 1000,height: 400, chart: {title: 'Portfolio Risk Budget- Securities Held',	legend: {position: 'in', textStyle: {fontSize: 10}}
						
					  },  legend: {position: 'in', textStyle: {fontSize: 10}},  bars: 'vertical' // Required for Material Bar Charts.
					};
					var chart_var = new google.charts.Bar(document.getElementById('visualization_var'));
					chart_var.draw(data_var, options_var);				 
					}
					function drawChartvar2() {
						// Value at risk
						var options_var2 = { width: 1000,height: 400, chart: {
								title: 'Portfolio Risk Budget- Sectors Held',
								legend: {position: 'in', textStyle: {fontSize: 10}}
							  },
							  legend: {position: 'in', textStyle: {fontSize: 10}},
							  bars: 'vertical' // Required for Material Bar Charts.
							};
							var data_var2 = new google.visualization.arrayToDataTable([
							['', 'Percent Held', '%Contribution to Value at Risk'],
							 {% for key, value in categories_hash.items() %}
							 ['{{key}}', {{value[0]}},{{value[4]}} ],
							{%endfor%}
							
						  ]);
							var chart_var2 = new google.charts.Bar(document.getElementById('visualization_var2'));
							chart_var2.draw(data_var2, options_var2);
					}
					function drawChartvar3() {
						// Value at risk
						var options_var3 = { width: 1000,height: 400, chart: {title: 'Portfolio Risk Budget- Income Growth',
								legend: {position: 'in', textStyle: {fontSize: 10}}
							  },
							  legend: {position: 'in', textStyle: {fontSize: 10}},
							  bars: 'vertical' // Required for Material Bar Charts.
							};
							var data_var3 = new google.visualization.arrayToDataTable([
							['', 'Percent Held', '%Contribution to Value at Risk'],
							 {% for key, value in income_growth.items() %}
							 ['{{key}}', {{value[0]}},{{value[4]}} ],
							{%endfor%}
							
						  ]);
							var chart_var3 = new google.charts.Bar(document.getElementById('visualization_var3'));
							chart_var3.draw(data_var3, options_var3);
					}
					function drawChartMvar() {
						// MValue at risk
						var data_mvar = new google.visualization.arrayToDataTable([
							['', 'Percent Held', '%Contribution to Modified Value at Risk'],
							 {% for detail in analysis_details %}
							 ['{{detail.code}}', {{detail.weight |round_the_value }},{{ detail.mvarpercent | round_the_value }} ],
							{%endfor%}				
						  ]);

						  var options_mvar = {width: 1000,height: 400, chart: {title: 'Portfolio Risk Budget- Securities Held',	legend: {position: 'in', textStyle: {fontSize: 10}}
							
						  },  legend: {position: 'in', textStyle: {fontSize: 10}},  bars: 'vertical' // Required for Material Bar Charts.
						};
						var chart_mvar = new google.charts.Bar(document.getElementById('visualization_mvar'));
						chart_mvar.draw(data_mvar, options_mvar);

					 
					}
					function drawChartMvar2() {
						// MValue at risk
					 
						var options_mvar2 = { width: 1000,height: 400, chart: {	title: 'Portfolio Risk Budget- Sectors Held',legend: {position: 'in', textStyle: {fontSize: 10}}
							  },  legend: {position: 'in', textStyle: {fontSize: 10}},	  bars: 'vertical' // Required for Material Bar Charts.
							};
							var data_mvar2 = new google.visualization.arrayToDataTable([
							['', 'Percent Held', '%Contribution to Modifeid Value at Risk'],
							 {% for key, value in categories_hash.items() %}
							 ['{{key}}', {{value[0]}},{{value[8]}} ],
							{%endfor%}
							
						  ]);
							var chart_mvar2 = new google.charts.Bar(document.getElementById('visualization_mvar2'));
							chart_mvar2.draw(data_mvar2, options_mvar2);
					}
					function drawChartMvar3() {
						// MValue at risk
					 
						var options_mvar3 = { width: 1000,height: 400, chart: {	title: 'Portfolio Risk Budget- Income Growth',legend: {position: 'in', textStyle: {fontSize: 10}}
							  },  legend: {position: 'in', textStyle: {fontSize: 10}},	  bars: 'vertical' // Required for Material Bar Charts.
							};
							var data_mvar3 = new google.visualization.arrayToDataTable([
							['', 'Percent Held', '%Contribution to Modifeid Value at Risk'],
							 {% for key, value in income_growth.items() %}
							 ['{{key}}', {{value[0]}},{{value[8]}} ],
							{%endfor%}
							
						  ]);
							var chart_mvar3 = new google.charts.Bar(document.getElementById('visualization_mvar3'));
							chart_mvar3.draw(data_mvar3, options_mvar3);
					}
					
					function drawChartES() {
						// Expected Short Fall
					 
						var data_es = new google.visualization.arrayToDataTable([
							['', 'Percent Held', '%Contribution to Expected shortfall'],
							 {% for detail in analysis_details %}
							 ['{{detail.code}}', {{detail.weight |round_the_value }},{{ detail.gespercent | round_the_value }} ],
							{%endfor%}				
						  ]);

						  var options_es = {width: 1000,height: 400, chart: {title: 'Portfolio Risk Budget- Securities Held',	legend: {position: 'in', textStyle: {fontSize: 10}}
							
						  },  legend: {position: 'in', textStyle: {fontSize: 10}},  bars: 'vertical' // Required for Material Bar Charts.
						};
						//console.log(document.getElementById('visualization_es'));
						$("visualization_es").show();
						var chart_es = new google.charts.Bar(document.getElementById('visualization_es'));
						
						chart_es.draw(data_es, options_es);
						$("visualization_es").hide();
					}
					function drawChartES2() {
						// Expected Short Fall
					 
						var options_es2 = { width: 1000,height: 400, chart: {	title: 'Portfolio Risk Budget- Sectors Held',legend: {position: 'in', textStyle: {fontSize: 10}}
							  },  legend: {position: 'in', textStyle: {fontSize: 10}},	  bars: 'vertical' // Required for Material Bar Charts.
							};
							var data_es2 = new google.visualization.arrayToDataTable([
							['', 'Percent Held', '%Contribution to Expected shortfall'],
							 {% for key, value in categories_hash.items() %}
							 ['{{key}}', {{value[0]}},{{value[6]}} ],
							{%endfor%}
							
						  ]);
							var chart_es2 = new google.charts.Bar(document.getElementById('visualization_es2'));
							chart_es2.draw(data_es2, options_es2);
					}
					function drawChartES3() {
						// Expected Short Fall
					 
						var options_es3 = { width: 1000,height: 400, chart: {	title: 'Portfolio Risk Budget- Income Growth',legend: {position: 'in', textStyle: {fontSize: 10}}
							  },  legend: {position: 'in', textStyle: {fontSize: 10}},	  bars: 'vertical' // Required for Material Bar Charts.
							};
							var data_es3 = new google.visualization.arrayToDataTable([
							['', 'Percent Held', '%Contribution to Expected shortfall'],
							 {% for key, value in income_growth.items() %}
							 ['{{key}}', {{value[0]}},{{value[6]}} ],
							{%endfor%}
							
						  ]);
							var chart_es3 = new google.charts.Bar(document.getElementById('visualization_es3'));
							chart_es3.draw(data_es3, options_es3);
					}


			</script>
  {% endblock %}