{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}

	</style>

     

 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Dashboard Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">advisor purchase resources</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-15 padding-bottom-70">
      <div class="container">
	  {% include 'horizontal_menu.html' %}
        <div class="row"> 
          
           
          
          <!-- Revenues Cart -->
          <div class="col-md-12">
            <div class="heading">

				{% if current_user.userid.user_type == 'investor' or current_user.userid.user_type == 'trustee' %}
				{% if error != "" %}
						<h4>Error</h4>
						<div class="col-md-9" style="padding-top:30px;">    
						<div class="heading text-cente panel-bodyr alert alert-info alert-dismissable" style="padding-top:30px;" id="thankyouform"> <span></span>
							  <strong>Either Client do not exist or you are not authorised to access this client details</strong><br>
							  
							  <p>for any queries please contact our support <a href="/contactus" class="primary-color">team.</a></p>
							</div>
							</div>
				{%else%}
					<h4>My Cart Items ({{total_items}})</h4>
				  <br>
					<!-- InsiderRow -->
					<div class="row">
					
 							<div class="">
								{% if total_items>=1 %}
								<div class="col-md-9">
								<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="upload" value="1">
								<input type="hidden" name="business" value="hughsons.apps_merchant@gmail.com">
								<input type="hidden" name="lc" value="AU">
								<input type="hidden" name="currency_code" value="USD">
								<input type="hidden" name="first_name" value="{{current_user.first_name}}">
								<input type="hidden" name="last_name" value="{{current_user.first_name}}">
								<input type="hidden" name="email" value="{{current_user.email}}">
								<input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG_AU">
								<input type = "hidden" name = "notify_url" value = "http://ec2-52-39-65-20.us-west-2.compute.amazonaws.com/notify_url_advisor">
								<input type = "hidden" name = "cancel_return" value = "http://ec2-52-39-65-20.us-west-2.compute.amazonaws.com/cancel_request_advisor">
								<input type = "hidden" name = "return" value = "http://ec2-52-39-65-20.us-west-2.compute.amazonaws.com/return_advisor">
 
									<table id="example" class="display table  table-hover" cellspacing="0" width="100%"><thead><tr class="info"><th width=350>Name</th><th>Price</th><th>Quantity </th><th>Sub Total</th><th width="130" class="text-center">Actions </th></tr></thead>
										<tbody>

										{% for items in cart_items %}
										<input type="hidden" name="item_name_{{ loop.index }}" value="{{items.pricing_id|pricing_detail_name}}">
										<input type="hidden" name="item_number_{{ loop.index }}" value="{{items.subscription_code}}">
										<input type="hidden" name="amount_{{ loop.index }}" value="{{items.sub_total}}">
										<tr>
												<td data-th="Product">{{items.pricing_id|pricing_detail_name}}</td>
												<td data-th="Price">$ <span>{{items.amount}}</span></td>
												<td data-th="Quantity">
													{{items.quantity}}
												</td>
												<td data-th="Subtotal" class="">$ <span class="combat">{{items.sub_total}}</span></td>
												<td  class="text-center">
													<a  href = "#" id=editform OnClick="DoActionEdit({{items.id}});" ><i title="Update Cart Item" class="fa-lg glyphicon glyphicon-edit clickable update-item" ></i></a>
											<a  href = "#" id=editform OnClick="DoActionDelete('{{items.subscription_code}}');" ><i title="Delete Cart Item" class="fa-lg glyphicon glyphicon-trash clickable delete-item"   data-toggle="modal" data-target="#confirmDeleteModal"></i></a>							
												</td>
										</tr>
										{% endfor %}
										</tbody>
										{#<tfoot>
										 
										<tr>
											
											<td colspan="3" class="hidden-xs"></td>
											<td class="hidden-xs"><strong>Total $1.99</strong></td>
											<td><input type=image src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" alt="Check out with PayPal" /></td>
										</tr>
									</tfoot>#}
									</table>
								</div>
								<div class="col-md-3">
									<div class="cart-total" style="padding-left:10px !important;">
									  <h5 style="margin-bottom: 5px !important;">Cart Totals</h5>
									  <table class="display table table-hover">
									  <tr><td>Sub Total</td><td ><span class="subtotal-combat"></span></td></tr>
									  <tr><td>Shipping</td><td>Free</td></tr>
									  <tr><td >Total</td><td class="total-combat">$ </td></tr>
									  <tr><td colspan=2><input type=image src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" /> </td></tr>
									  </table>
									   
									  </div>
								  </div>
								   </form>
								{% else %}
								<div class="panel-body alert alert-info" role="alert" id="errordiv">
                        
										<span id="error_message"> No Items in your cart. </span> Click <a href="/purchase_items">here to</a> purchase products.
									</div>
								{% endif %}
												 
							</div>

							 

					</div> </div> <!-- InsiderRow -->
				{% endif %}
			{% endif %}
			</div>
        </div>
      </div>
    </section>
  </div>
  <div id="response_message"></div>
  {% endblock %}
  {% block datatables %}
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/1.10.12/api/sum().js"></script>

<script type="text/javascript">
<!--
$(document).ready(function () {
     var sum = 0;
     $('tr').find('.combat').each(function () {

         var combat = $(this).text();
		 console.log(combat);
         if (!isNaN(combat) && combat.length !== 0) {
             sum += parseFloat(combat);
         }
     });

      $('.total-combat').html("$ "+sum);
	  $('.subtotal-combat').html("$ "+sum);
	  
 });
	function DoActionDelete( id, value )
		{
						swal({
						  title: "Are you sure?",
						  text: "You will not be able to recover this Cart item!",
						  type: "warning",
						  showCancelButton: true,
						  confirmButtonColor: "#DD6B55",
						  confirmButtonText: "Yes, delete it!",
						   
						},
						function(){
						  $.ajax({
							type:"POST",
							url: "/paymentCRUD",
							//dataType:"text",
							data:"crud_type=deletecartitem&id="+id,
							success: function(response){
							
							console.log(response);

							 
							if (response.status=="SUCCESS")
							{
								//window.location.replace("/clientthankyou");
								$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Deleted!</h2><a href="/viewcart_items" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
								//$('#con-close-modal').hide();
								swal("Deleted!", response.message, "success");
								 
							}else{
								
								swal("Cancelled", response.message, "error");
							}
							
							
							
						},error: function(){
							console.log(response);
							//$('#edit_form').html(response);
							swal("Cancelled", "Record not updated. Problem occured", "error");
						}
					});
		});
		return true;
	}

var editor; // use a global for the submit and return data rendering in the examples
/*
        jQuery(document).ready(function() {
    $('#ticketTable').DataTable( {
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;
 
            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
 
            // Total over all pages
            total = api
                .column( 5 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
 
            // Total over this page
            pageTotal = api
                .column( 5, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
 
            // Update footer
            $( api.column( 3 ).footer() ).html(
                '$'+pageTotal +' ( $'+ total +' total)'
            );
        }
    } );
} );
*/
$(document).ready(function () {
     var sum = 0;
     $('tr').find('.combat123').each(function () {
         var combat = $(this).text();
         if (!isNaN(combat) && combat.length !== 0) {
             sum += parseFloat(combat);
         }
     });

     // $('.total-combat123').html(sum+" $");
 });

 function calculate( id, value )
{
		 //alert(id+"=="+value);
		//alert($('#quantity'+id).val());
		//alert(value*$('#quantity'+id).val())
		sums = value*$('#quantity'+id).val()*12;
		$('#subtotalprice'+id).html(sums);

		var sumd = 0;
     $('tr').find('.combat').each(function () {
         var combat = $(this).text();
         if (!isNaN(combat) && combat.length !== 0) {
             sumd += parseFloat(combat);
         }
     });

      $('.total-combat').html(sumd+" $");
	
}
//-->
</script>

  {% endblock %}