{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}

	</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Dashboard Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">transactions</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-15 padding-bottom-70">
      <div class="container">
	  {% include 'horizontal_menu.html' %}
        <div class="row"> 
          
           
          
          <!-- Revenues Cart -->
          <div class="col-md-12">
            <div class="heading">

				 
				{% if error != "" %}
						<h4>Error</h4>
						<div class="col-md-9" style="padding-top:30px;">    
						<div class="heading text-cente panel-bodyr alert alert-info alert-dismissable" style="padding-top:30px;" id="thankyouform"> <span></span>
							  <strong>Either Client do not exist or you are not authorised to access this client details</strong><br>
							  
							  <p>for any queries please contact our support <a href="/contactus" class="primary-color">team.</a></p>
							</div>
							</div>
				{%else%}
					<h4>PAYMENTS HISTORY</h4>
				  <br>
					<!-- InsiderRow -->
					<div class="col-md-12"> <div style="padding-top:10px" class="panel-body" id="clientregform">
										 <div class="alert alert-danger alert-dismissable" style="display:none;height:50px" id="errordiv">
                        
                        <span id="error_message">  </span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    </div>
							<div class="row">
                  
											   
					<table id="example" class="display table table-striped table-hover" cellspacing="0" width="100%"><thead><tr class="default"><th>Resource </th><th align=center>Quantity</th><th>amount</th><th>Mode</th><th>from</th><th>to</th><th>Status</th></tr></thead>
		
		<tbody>
		{% for items in subscriptions %}
		<tr><td>{{items.resource_id|pricing_detail_name}} </td>
		
		<td valign="middle">
		{{items.quantity}}
		</td>
		<td valign="middle">
		{{items.amount}}
		</td>
		<td valign="middle">
		{{items.mode}}
		</td>
		<td>{{items.transaction_from}} </td>
		<td>{{items.transaction_to}} </td>
		<td>{{items.paypal_status}} </td>
		 </tr>
		{% endfor %}
		
		</tbody></table>
												
												 
							</div>

							 

					</div> </div> <!-- InsiderRow -->
				{% endif %}
			 
			</div>
        </div>
      </div>
    </section>
  </div>
  <div id="response_message"></div>
  {% endblock %}