{% extends "base.html" %}

{% block content %}
  <style>
	.required { 
	   content:"*";
	   color:red !important;
	}
	.heading h4{
	border-bottom: 2px solid #57c4d0;
	}
	.btn {
	padding-right:20px !important
	}
	a {
    text-decoration: none;
    
	color: #337ab7;
	 
}
.nav-tabs {
    border-bottom: 1px solid #337ab7;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    
    border: 1px solid #337ab7;
    
}
body{
font-size: 12px;
}
.heading{
min-width: 992px !important;
}
.heading tr {
    border-bottom: 2px solid #57c4d0;
}
 
.heading {
    margin: 0 auto;
    margin-bottom: 2px !important;
}
	</style>


 <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Portfolio Page</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">My Portfolios</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Revenues -->
    <section class="revenues padding-top-15 padding-bottom-70">
      <div class="container">
	  {% with messages = get_flashed_messages() %}
         {% if messages %}
		 <div class="row">
            <ul>
               {% for message in messages %}
               <li<{{ message }}</li>
               {% endfor %}
            </ul>
		</div>
         {% endif %}
      {% endwith %}
{% include 'horizontal_menu.html' %}
        <div class="row"> 
          
           
          
          <!-- Revenues Cart -->
          <div class="col-md-12">
            <div class="heading">
				
				{% if current_user.userid.user_type == 'client' or  current_user.userid.user_type == 'investor' %}
				<h4><b>{{portfolio_details.name}}</b> Portfolio</h4>
				{#<table width='100%'><tr><td width='100%'><h4><b>{{portfolio_details.name}}</b> Portfolio </h4></td></tr></table>#}
              <br>
				<!-- Row -->
			</div>
<div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#portfolio" data-toggle="tab" class='info'>Portfolio management</a></li>
		<li ><a href="#risksummary" data-toggle="tab" class='info'>Risk Limit Summary</a></li>
		{#<li ><a href="#riskcontrol" data-toggle="tab" class='info'>Risk Control Chart</a></li>#}

     </ul>

    <!-- Tab panes -->
    <div class="tab-content">
	<div class="tab-pane" id="risksummary"><br>
         <!--Hughson to include "risk_summary.html" -->
		 <table id="example" class="display table table-striped table-hover" cellspacing="0" width="100%"><thead><tr class=info>
		 <td>Portfoilio Holding</th>
			<td>Sector</th>
			<td>Security</th>
			<td>Income Growth</th>
			<td>Risk Metric</th>
			<td>Lower Limit</th>
			<td>Latest</th>
			<td>Upper Limit</th>
			<td>Breach</th>
			<td>Watch</th>
			<td>Action <a  OnClick="ViewTutorItem(792035639);" ><img src="/static/img/edit_portfolio.png" style="width:22px !important;padding-bottom:1px;float:right !importnat;" width=22></a></th></tr></thead>
		
				<tbody>
				{% for items in risk_limits_list %}
					{% if items.breach_value == "Yes"  %}
								<tr class="text-danger danger" style="font-weight:bold;">
								<td>{% if items.risk_type in ['portfolio_std', 'portfolio_mvar','portfolio_mes'] 	%}Portfolio{%endif%} </td>
								<td>{% if items.risk_type in ['sectors_std', 'sectors_mvar','sectors_mes', 'sectors_var', 'sectors_es'] 	%}{{ items.portfolio_category}}{%endif%}</td>
								<td>{% if items.risk_type in ['securities_std', 'securities_mvar','securities_mes', 'securities_var', 'securities_es'] 	%}{{ items.holding_code}}{%endif%}</td>
								<td>{% if items.risk_type in ['incomegrowth_std', 'incomegrowth_mvar','incomegrowth_mes', 'incomegrowth_var', 'incomegrowth_es'] %}
								{{ items.portfolio_category}}{%endif%}</td>

								<td>{{ items.risk_type | risk_limit_form_titles}}</td>
								
								<td>{{items.min_limit}}</td>
								<td>{{items.engine_risk_limit | round_the_value}}</td>
								<td>{{items.max_limit}}</td>
								<td>{{items.breach_value}}</td>
								<td><a OnClick="PurchaseResourceForm({{items.id}});">Watch</a></td>
								<td>
								<a  href="#" OnClick="SetRiskLimit('{{items.risk_type}}', {{items.portfolio_id}}, {{items.risk_limit}}, '{{items.portfolio_category}}');" ><i title="UPDATE RISK LIMIT" class="fa-lg glyphicon glyphicon-edit " ></i>
								<a  href="#" OnClick="DeleteRiskLimit({{items.id}});" ><i title="DELETE RISK LIMIT " class="fa-lg glyphicon glyphicon-trash   "   ></i></td>
								</tr>
					{%else%}
							<tr>
							<td>{% if items.risk_type in ['portfolio_std', 'portfolio_mvar','portfolio_mes'] 	%}Portfolio{%endif%} </td>
								<td>{% if items.risk_type in ['sectors_std', 'sectors_mvar','sectors_mes', 'sectors_var', 'sectors_es'] 	%}{{ items.portfolio_category}}{%endif%}</td>
								<td>{% if items.risk_type in ['securities_std', 'securities_mvar','securities_mes', 'securities_var', 'securities_es'] 	%}{{ items.holding_code}}{%endif%}</td>
								<td>{% if items.risk_type in ['incomegrowth_std', 'incomegrowth_mvar','incomegrowth_mes', 'incomegrowth_var', 'incomegrowth_es'] %}
								{{ items.portfolio_category}}{%endif%}</td>

								<td>{{ items.risk_type | risk_limit_form_titles}}</td>
								
								<td>{{items.min_limit}}</td>
								<td>{{items.engine_risk_limit | round_the_value}}</td>
								<td>{{items.max_limit}}</td>
								<td>{{items.breach_value}}</td>
								<td><a OnClick="PurchaseResourceForm({{items.id}});">Watch</a></td>
								<td>
								<a  href="#" OnClick="SetRiskLimit('{{items.risk_type}}', {{items.portfolio_id}}, {{items.risk_limit}}, '{{items.portfolio_category}}');" ><i title="UPDATE RISK LIMIT" class="fa-lg glyphicon glyphicon-edit " ></i>
								<a  href="#" OnClick="DeleteRiskLimit({{items.id}});" ><i title="DELETE RISK LIMIT " class="fa-lg glyphicon glyphicon-trash   "   ></i></td>
								</tr>
					{%endif%}
							
				
				{% endfor %}
				
				
				</tbody></table>
        </div>

        <div class="tab-pane" id="riskcontrol">
         <!-- Hughson to include "risk_control.html" -->

        </div>
        <div class="tab-pane active" id="portfolio">
            
{% if portfolio_result|length <=0 %}
<div><br>
<button id="addHoldingButton" class="btn btn-u" data-toggle="modal" data-target="#con-close-modal">Add Holding</button>  
</div>
{%else%}


<table class="table   table-hover span12">
    <thead><tr class=info>
        <th>Code</th>
        <th style="width: 35.5%;">Name</th>
        <th style="width: 12.5%;">Industry</th>
		<th style="width: 7%;">Proxy</th>
        <th style="width: 7%;">Holding</th>
        <th style="width: 10%;">Price</th>
        <th style="width: 10%;">Value</th>
        <th style="width: 8%;">% Held</th>
        <th style="width: 5%;text-align:right !important;"><a OnClick="ViewTutorItem(502668311);" ><img src="/static/img/edit_portfolio.png" width=21></a></th>
    </tr></thead>
    <tbody>
	{% for holding in portfolio_result %}
        <tr>
            <td>{{holding.company_code}}</td>
            <td>{{holding.company_name}}</td>
            <td>{{holding.company_category}}</td>
			<td>
			{% if holding.proxy_status == True %}
			Yes
			{%else%}
			No
			{%endif%}
			</td>
            <td>{{holding.num_shares}}</td>
            <td>$ {{holding.closing}}</td>
            <td>$ {{holding.price_value}}</td>
			<td>{{ holding.price_value | percentage(held_sum_value)}}</td>
             <td style="white-space: nowrap;">
                <a  href = "#" id=editform OnClick="DoActionEdit({{holding.holding_id}});" ><i title="update holding" class="fa-lg glyphicon glyphicon-edit " ></i></a>
                <a  href = "#" id=editform OnClick="DoActionDelete({{holding.holding_id}});" ><i title="delete holding" class="fa-lg glyphicon glyphicon-trash   "   ></i></a>
            </td>
        </tr>
        {%endfor%}
         
         
        
        <tr class="totals-row info">
            <td><strong>Totals:</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>$ {{held_sum_value}}</strong> </td>
            <td><strong>100 %</strong></td>
			<td></td>
        </tr>
    </tbody>
</table>


<button id="addHoldingButton" class="btn btn-u" data-toggle="modal" data-target="#con-close-modal">Add Holding</button>  
{#<button id="addHoldingButton" class="btn btn-u" data-toggle="modal" data-target="#con-close-modal3">Import CSV</button>#} <button id="ccomingsoon" class="btn btn-u" data-toggle="modal" data-target="#comingsoon">Create Risk Control chart</button>

<div>Stock prices last updated: <strong>{{latest_price_date}}</strong> AEST (UTC/GMT+10)</div>
<div><br>
 
 
<table class="table  table-hover  span12">
    <thead><tr class=warning>
        <th colspan=2>Portfolio Summary</th>
         
        <th colspan=3>Shape of Monthly Return Distribution</th>
        <th colspan=2>Portfolio Risk Estimates </th><th style="text-align:right !important"><a OnClick="ViewTutorItem(273207685);" ><img src="/static/img/edit_portfolio.png" width=21></a></th>
        
    </tr>
	<tr class=info>
        <th style="width: 8%;">Holdings</th>
        <th style="width: 7.5%;">$Value</th>
        <th style="width: 7.5%;">Skewness</th>
        <th style="width: 8%;">Kurtosis</th>
        <th style="width: 8%;">Std Dev (month)
</th>
        <th style="width: 8%;">Std Dev (anum)
</th>
        <th style="width: 8%;">MVaR (month)
</th>
        <th style="width: 8%;">MES (month)</th>
    </tr></thead>
    <tbody>
         <tr>
            <td>{{view_holdings | count}}</td>
            <td>{{held_sum_value}}</td>
            <td>{{ portfolio_summary.percentage.skewness | round_the_value  }}</td>
            <td>{{ portfolio_summary.percentage.kurtosis | round_the_value  }}</td>
            <td>{{ portfolio_summary.percentage.stddevmonthly | round_the_value  }}%</td>
            <td>{{ portfolio_summary.percentage.stddevannual | round_the_value  }}%</td>
			<td>{{ portfolio_summary.percentage.mvar | round_the_value }}%</td>
            <td>{{ portfolio_summary.percentage.mes | round_the_value}}%</td>
        </tr>
          
        <tr class="totals-row">
            <td></td>
            <td></td>
            <td>Normal = 0</td>
            <td>Normal = 3</td>
            <td>${{ portfolio_summary.dollar.stddevmonthly | round_the_value}}  </td>
            <td>${{ portfolio_summary.dollar.stddevannual | round_the_value}}</td>
            <td>${{ portfolio_summary.dollar.mvar | round_the_value}}</td>
            <td>${{ portfolio_summary.dollar.mes | round_the_value}}</td>
        </tr>
        <tr class="totals-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a  OnClick="SetRiskLimit('portfolio_std', {{portfolio_id}}, {{ portfolio_summary.percentage.stddevannual | round_the_value  }}, 0);">set risk limit</a></td>
            <td><a  OnClick="SetRiskLimit('portfolio_mvar', {{portfolio_id}},{{ portfolio_summary.percentage.mvar | round_the_value }} ,0);">set risk limit</a></td>
            <td><a  OnClick="SetRiskLimit('portfolio_mes', {{portfolio_id}}, {{ portfolio_summary.percentage.mes | round_the_value}},0);">set risk limit</a></td>
        </tr>
    </tbody>
</table>
</div>

	<ul class="nav nav-tabs" id="nav_val_tabs">
        <li ><a href="#sdev" data-toggle="tab" class='info'>Standard Deviation</a></li>
		<li ><a href="#varisk" data-toggle="tab" class='info'>Value at Risk</a></li>
		<li ><a href="#eshort" data-toggle="tab" class='info'>Expected Shortfall</a></li>
		<li ><a href="#mvarisk" data-toggle="tab" class='info'>Modified Value at Risk</a></li>
		<li class="active"><a href="#meshort" data-toggle="tab" class='info'>Modified Expected Shortfall</a></li>	
     </ul>
	 <div class="tab-content">
	         <div class="tab-pane " id="sdev">

			<div > 

				<table class="table   table-hover" width="750">
					<thead>
					<tr class=warning><th colspan=5>PORTFOLIO RISK ANALYSIS – SECURITIES HELD</th><th  class=warning  style="text-align:right !important"><a  OnClick="ViewTutorItem(268503950);" ><img src="/static/img/edit_portfolio.png" width=21></a></th></tr>
					{#<tr class=info><th colspan=6>Where is my Portfolio risk concentrated in Securities?</th></tr>
					<tr class=warning><th colspan=6>Your Selected Risk Metric is: Modified Expected Shortfall ('MES')</th></tr>#}
					 
					<tr class=info>
						<th ># Holdings</th>
						<th >%held</th>
						
						<th >Contribution to<br> Standard Deviation</th>
						<th >% Contribution to<br> Standard Deviation</th>
						<th class=" ">Risk limits</th>
						<th class=" ">$ Contribution to <br>Standard Deviation</th>
						
					</tr>
					</thead>
					<tbody>
					{% set sdev_contrib = [0] -%}
					{% set sdev_contrib_price = [0] -%}
					{% for detail in analysis_details %}
					{% if sdev_contrib.append(sdev_contrib.pop()+ detail.stddevcontribution) -%}{% endif %}
					{% if sdev_contrib_price.append(sdev_contrib_price.pop()+ (dollar_details.portfolio_value * detail.stddevcontribution / 100)) -%}{% endif %}
					<tr>
					   
						<td>{{ detail.name }} {{ detail.id }}</td>
						<td>{{ detail.weight |round_the_value }}%</td>
						<td>{{ detail.stddevcontribution | round_the_value }}%</td>
						<td>{{ detail.stddevpercent | round_the_value }}%</td>
						<td width="100"><a id=securitieslimit OnClick="SetRiskLimit('securities_std', {{portfolio_id}}, {{ detail.stddevpercent | round_the_value }}, '{{detail.code}}')">set risk limit</a></td>
						<td>${{ (dollar_details.portfolio_value * detail.stddevcontribution / 100) | round_the_value}}</td>
					   
					</tr>
					{%endfor%}
					<tr class="totals-row info">
						<td><strong>Totals:</strong></td>
						<td><strong>100 %</strong> </td>
						<td>{{ sdev_contrib[0] | round_the_value }}%</td>
						<td><strong>100 %</strong> </td>
						<td></td>
						<td>${{ sdev_contrib_price[0] | round_the_value }}</td>
					</tr>
					 
					</tbody>
				</table>
			</div>	
			 <div   id="visualization" style="   height: 420px;"/></div>  
			<div > 
							<br>			
				<table class="table   table-hover" width="750">
					<thead>
					<tr class=warning><th colspan=5>PORTFOLIO RISK ANALYSIS – SECTORS HELD</th><th  class=warning  style="text-align:right !important"><a  OnClick="ViewTutorItem(212877212);" ><img src="/static/img/edit_portfolio.png" width=21></a></th></tr>
					
					<tr class=info>
						<th class=" "># Sector Name</th>
						<th class=" ">%held</th>
						<th class=" ">Contribution to<br> SDEV</th>
						<th class=" ">% Contribution to<br> SDEV</th>
						<th class=" ">Risk limits</th>
						<th class=" ">$ Contribution to<br> SDEV</th>
					</tr>
					</thead>
					<tbody>
					{% set sdev_sector = [0] -%}
					{% set sdev_sector_price = [0] -%}
					{% for key, value in categories_hash.items() %}
					{% if sdev_sector.append(sdev_sector.pop() + value[1]|float) -%}{% endif %}
					{% if sdev_sector_price.append(sdev_sector_price.pop()+ (value[2]|float / 100* portfolio_summary.dollar.stddevmonthly|float)) -%}{% endif %}

					<tr>
						<td>{{ key}}</td>
						<td>{{ value[0] | round_the_value }}</td>
						
						<td>{{ value[1]|round_the_value }} </td>
						<td> {{ value[2]|round_the_value }} %</td>
					<td width="100"><a OnClick="SetRiskLimit('sectors_std', {{portfolio_id}}, {{ value[2] | round_the_value }}, '{{ key}}');">set risk limit</a></td>
						<td> ${{ (value[2]|float / 100* portfolio_summary.dollar.stddevmonthly|float) | round_the_value }}</td>
					   
					</tr>
					{% endfor %}
					<tr class="totals-row info">
						<td><strong>Totals:</strong></td>
						<td><strong>100 %</strong> </td>
						<td>{{ sdev_sector[0] | round_the_value }}%</td>
						<td><strong>100 %</strong> </td>
						<td></td>
						<td>${{ sdev_sector_price[0] | round_the_value }}</td>
					</tr>

					 
					</tbody>
				</table>
			</div>	
			<div id="visualization2" style=" height: 420px;"/></div>
			<div > 
										<br>
				<table class="table   table-hover" width="750">
					<thead>
					<tr class=warning><th  colspan=5>PORTFOLIO RISK ANALYSIS – INCOME/GROWTH</th><th class=warning  style="text-align:right !important"><a  OnClick="ViewTutorItem(200346881);" ><img src="/static/img/edit_portfolio.png" width=21></a></th></tr>
					
					<tr class=info>
						<th class=" "># Sector Name</th>
						<th class=" ">%held</th>
						<th class=" ">Contribution to  SDEV</th>
						<th class=" ">% Contribution to SDEV</th>
						<th class=" ">Risk limits</th>
						<th class=" ">$ Contribution to SDEV</th>
					</tr>
					</thead>
					<tbody>
					{% set sdev_growth = [0] -%}
					{% set sdev_growth_price = [0] -%}
					{% for key, value in income_growth.items() %}
					{% if sdev_growth.append(sdev_growth.pop() + value[1]|float) -%}{% endif %}
					{% if sdev_growth_price.append(sdev_growth_price.pop()+ (value[2]|float / 100* portfolio_summary.dollar.stddevmonthly|float)) -%}{% endif %}
					<tr>
						<td>{{ key}}</td>
						<td>{{ value[0]| round_the_value }}</td>
						
						<td>{{ value[1]| round_the_value }} </td>
						<td> {{ value[2]| round_the_value }} %</td>
					<td width="100"><a OnClick="SetRiskLimit('incomegrowth_std', {{portfolio_id}}, {{ value[2] }}, '{{ key}}');">set risk limit</a></td>
						<td> ${{ (value[2]|float / 100* portfolio_summary.dollar.stddevmonthly|float) | round_the_value }}</td>
					   
					</tr>
					{% endfor %}
					<tr class="totals-row info">
						<td><strong>Totals:</strong></td>
						<td><strong>100 %</strong> </td>
						<td>{{ sdev_growth[0] | round_the_value }}%</td>
						<td><strong>100 %</strong> </td>
						<td></td>
						<td>${{ sdev_growth_price[0] | round_the_value }}</td>
					</tr>

					 
					</tbody>
				</table>
			</div>	
			<div id="visualization3" style=" height: 420px;"/></div>
			  </div>
         
		<!-- Modified Expected Shortfall-->
        <div class="tab-pane active" id="meshort">
        {% include "meshort_engine.html" %}

        </div>
		<!-- Modified Value at Risk-->
        <div class="tab-pane" id="mvarisk">
         {% include "mvarisk_engine.html" %}

        </div>
		<!-- Value at Risk-->
        <div class="tab-pane" id="varisk">
        {% include "varisk_engine.html" %}

        </div>
		<!-- Expected Shortfall-->
        <div class="tab-pane" id="eshort">
        
		{% include "eshort_engine.html" %}
        </div>



    </div>
    <button id="generateReport" class="btn btn-u">Generate Report</button>
</div>
</div>

</div>

			{% endif %}
			</div>
        </div>
      </div>
    </section>
  </div>
  {%endif%}
  <!--MODAL-BOX-->

			   <div id="response_message"></div>
			   <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;top:120px !important">
						<form method=post name="myform" id="myform">
						<input type=hidden name=portfolio_id value ={{portfolio_id}}>
						<input type=hidden name=table_name value ="holdings">
						<div class="modal-dialog"> 
							<div class="modal-content"> 
								<div class="modal-header"> 
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">*</button> 
									<h4 class="modal-title">Add Holding</h4> 
								</div> 
								<div class="modal-body" id="formbody"> 
									
									<div class="row"> 
										<div class="col-md-10"> 
											<div class="form-group"> 
												<label for="field-3" class="control-label">company</label> 
												<select name=company_id class="form-control selectpicker"  data-live-search="true">
												{% for item in companies %}
												 <option value="{{item.id}}">{{item.name}} ({{item.symbol}})</option>
												{%endfor%}
												</select>
											</div> 
										</div> 
									</div> 
									<div class="row"> 
										<div class="col-md-10"> 
											<div class="form-group"> 
												<label for="field-1" class="control-label">No.of Shares</label> 
												<input type="number" class="form-control" id="num_shares" placeholder="" name="num_shares"> 
											</div> 
										</div> 
										 
									</div>
									<div class="row"> 
										<div class="col-md-10"> 
											<div class="form-group"> 
												<label for="field-1" class="control-label">Proxy</label> 
												&nbsp;&nbsp;&nbsp;<input type="checkbox" id="proxy" placeholder="" name="proxy" style="size:15px;"> 
											</div> 
										</div> 
										 
									</div> 
									 
								</div> 
								<div class="modal-footer" id="modal-footer"> 
									
									<button type="button" class="btn btn-info" id="savebutton">Save changes</button> 
									<button type="button" class="btn btn-white" data-dismiss="modal">Close</button> 
								</div> 
							</div> 
						</div>
						</form>
					</div>
					<div id="con-close-modal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;top:120px !important">
						<form method=post name="myform" id="myform1" enctype="multipart/form-data">
						<input type=hidden name=portfolio_id value ={{portfolio_id}}>
						<input type=hidden name=table_name value ="holdings">
						<input type=hidden name=crud_type value ="uploadholdings">
						<div class="modal-dialog"> 
							<div class="modal-content"> 
								<div class="modal-header"> 
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">*</button> 
									<h4 class="modal-title">Upload Holdings</h4> 
								</div> 
								<div class="modal-body" id="formbody"> 
									
								
									<div class="row"> 
										<div class="col-md-10"> 
											<div class="form-group"> 
												<label for="field-1" class="control-label">Select file</label> 
												<input type="file" class="form-control" id="csv_file" placeholder="" name="csv_file"> 
											</div> 
										</div> 
										 
									</div> 
									 
								</div> 
								<div class="modal-footer" id="modal-footer"> 
								<button type="button" class="btn btn-info" id="uploadholdings">Upload Document</button> 
									<button type="button" class="btn btn-white" data-dismiss="modal">Close</button> 
									
								</div> 
							</div> 
						</div>
						</form>
					</div>

					<div id="comingsoon" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;top:120px !important">
						
						<div class="modal-dialog"> 
							<div class="modal-content"> 
								 
								<div class="modal-body" id="formbody"> 
									
								
									<div class="row"> 
										<div class="col-md-10"> 
											<h3>coming Soon...</h3>
										</div> 
										 
									</div> 
									 
								</div> 
								<div class="modal-footer" id="modal-footer"> 
 									<button type="button" class="btn btn-white" data-dismiss="modal">Close</button> 
									
								</div> 
							</div> 
						</div>
 					</div>

					 
			<!--MODAL-BOX-->
			<div id="edit_form"></div>
					<link href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />

			  	<div id="tutorpopup" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

			  {% endblock %}
			  {% block datatables %}
			    
<script type="text/javascript">
<!--

function ViewTutorItem( id )
{
	
	//var tutor_titles= "";
	$.ajax({
		type:"POST",
		url: "/viewtutor",
		//dataType:"text",
		data:"id="+id,
		success: function(response){
			
			//console.log(response);
			 //tutor_titles = response.tutor_title
			 //console.log(tutor_titles);
			$("#tutorpopup").html(response.tutor_content);
						$("#tutorpopup").dialog({
						"width": 740,
						"title": response.tutor_title,
									"height": 350,
									"modal": false,
									"resizable": true,
									"draggable": true,
									"dialogClass": "ui-dialog-red"
					   /* buttons: { 
								"Close": function () {
								$(this).dialog('close');
								//callback(false);
							}
						}*/
					}).dialogExtend({
							//"minimizable" : true,
							"closable": true,
							
							"dblclick" : "minimize",
							//"titlebar" : "transparent",
							"minimizeLocation": "left",
							 "icons": {
										"close": "ui-icon-carat-2-n-s",
										"minimize": "ui-icon-circle-minus",
										"restore": "ui-icon-carat-2-n-s"
									}
					});
			//alert("here");
		},error: function(){
			console.log(response);
			//$('#edit_form').html(response);
			swal("Cancelled", response+"Problem occured", "error");
		}
	});
	
	
	
}

 $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
 	var target = $(e.target).attr("href")
    console.log(target);
    if(target == '#sdev')
    {
    	drawChart();
    }
    else if (target == '#varisk')
    {
    	drawChartvar();
		drawChartvar2();
		drawChartvar3();
    }
    else if (target =='#eshort')
    {
    	drawChartES2();
		drawChartES();
		drawChartES3();
    }
    else if (target == '#meshort')
    {
    	drawChartmes();
    	drawChartmes2();
		drawChartmes3();
    }
    else if ( target =='#mvarisk')
    {	drawChartMvar();
		drawChartMvar2();
		drawChartMvar3();
    }

  });


jQuery(document).ready(function(){

	$( "#savebutton" ).click(function( event ) {
//alert($('#summernote').summernote('code'));
		if ($('#num_shares').val() == "") {
				alert('Name is required!');
				return false;
			}
		else if ($('#company_id').val() == "") {
				alert('Company is required!');
				return false;
		}
		else{
			 
			 
			$.ajax({
				type:"POST",
				url: "/tableCreate",
				dataType:"json",
				data:$('#myform').serialize() ,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Created!</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#con-close-modal').hide();
					}else{
						$('#con-close-modal').hide();
						$('.modal-backdrop').remove();
						swal("Cancelled", "Record not created. Company already in your portfolio", "error");
					}
					
				},error: function(){
					console.log(response);
					$('#con-close-modal').hide();
					swal("Cancelled", "Record not created. Problem occured", "error");
				}
			});
			return true;
		}

	});



	//Upload holdings
	$( "#uploadholdings" ).click(function( event ) {
//alert($('#summernote').summernote('code'));
		var formData = new FormData();
		formData.append('file', $('#csv_file')[0].files[0]);
		formData.append('portfolio_id', {{portfolio_id}});
		formData.append('crud_type', 'uploadholdings');
		formData.append('table_name', 'holdings');
			$.ajax({
				type:"POST",
				url: "/clientCRUD",
				data:formData ,
				processData: false,  // tell jQuery not to process the data
                contentType: false ,  // tell jQuery not to set contentType
				cache: false,
				processData: false,
				async: false,
				success: function(response){
					// alert("here");
					console.log(response);
					$('#con-close-modal').hide();
					if (response.message=="SUCCESS")
					{
						$('#response_message').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Created!</h2><a href="" class="confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
						$('#con-close-modal').hide();
					}else{
						$('#con-close-modal').hide();
						swal("Cancelled", response.reason, "error");
					}
					
				},error: function(){
					console.log(response);
					$('#con-close-modal').hide();
					swal("Cancelled", "Record not created. Problem occured", "error");
				}
			});
			return true;
		

	});


});
 
//-->
</script>
<script type="text/javascript">

		

		function DoActionEdit( id )
		{
				  $.ajax({
						type:"POST",
						url: "/editholding",
						//dataType:"text",
						data:"id="+id ,
						success: function(response){
							
							//console.log(response);
							$('#edit_form').html(response);
							$('#edit-close-modal').modal('toggle');
							
						},error: function(){
							console.log(response);
							//$('#edit_form').html(response);
							swal("Cancelled", response+"Problem occured", "error");
						}
					});

			
		}
		function SetRiskLimit( type, id, risk_limit, holding_id )
		{
				  $.ajax({
						type:"POST",
						url: "/risklimitform",
						//dataType:"text",
						data:"id="+id+"&type="+type+"&risk_limit="+risk_limit+"&holding_id="+holding_id,
						success: function(response){
							
							console.log(response);
							$('#edit_form').html(response);
							$('#edit-close-modal').modal('toggle');
							
						},error: function(){
							console.log(response);
							//$('#edit_form').html(response);
							swal("Cancelled", "Record not updated. Problem occured", "error");
						}
					});

			
		}

		function UploadHoldings( type, id, risk_limit, holding_id )
		{
				  $.ajax({
						type:"POST",
						url: "/risklimitform",
						//dataType:"text",
						data:"id="+id+"&type="+type+"&risk_limit="+risk_limit+"&holding_id="+holding_id,
						success: function(response){
							
							console.log(response);
							$('#edit_form').html(response);
							$('#edit-close-modal').modal('toggle');
							
						},error: function(){
							console.log(response);
							//$('#edit_form').html(response);
							swal("Cancelled", "Record not updated. Problem occured", "error");
						}
					});

			
		}
		

		function DoActionDelete( id, value )
		{
						swal({
						  title: "Are you sure?",
						  text: "You will not be able to recover this Securities!",
						  type: "warning",
						  showCancelButton: true,
						  confirmButtonColor: "#DD6B55",
						  confirmButtonText: "Yes, delete it!"
						  //closeOnConfirm: false,
						  //closeOnCancel: false
						   
						},
						function(){
						  $.ajax({
							type:"POST",
							url: "/clientCRUD",
							//dataType:"text",
							data:"table_name=holding&crud_type=deleteholding&id="+id,
							success: function(response){
							
							console.log(response);

							 
							if (response.message=="SUCCESS")
							{
								//window.location.replace("/clientthankyou");
								$('#edit_form').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Deleted!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
								//$('#con-close-modal').hide();
								swal("Deleted!", "Your imaginary file has been deleted.", "success");
								 
							}else{
								
								swal("Cancelled", "Record not updated. Problem occured", "error");
							}
							
							
							
						},error: function(){
							console.log(response);
							//$('#edit_form').html(response);
							swal("Cancelled", "Record not updated. Problem occured", "error");
						}
					});
		});
	}


	function DeleteRiskLimit( id )
		{
			swal({
			  title: "Are you sure?",
			  text: "You will not be able to recover this risk Limit again!",
			  type: "warning",
			  showCancelButton: true,
			  confirmButtonColor: "#DD6B55",
			  confirmButtonText: "Yes, delete it!"
			  //closeOnConfirm: false,
			  //closeOnCancel: false
			   
			},
			function(){
			  $.ajax({
				type:"POST",
				url: "/clientCRUD",
				//dataType:"text",

				data:"table_name=risklimits&crud_type=deleterisklimits&id="+id,
				success: function(response){
				
				console.log(response);

				 
				if (response.status=="SUCCESS")
				{
					//window.location.replace("/clientthankyou");
					$('#edit_form').html('<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -192px;"><div class="sa-icon sa-error" style="display: none;"><span class="sa-x-mark"><span class="sa-line sa-left"></span><span class="sa-line sa-right"></span></span></div><div class="sa-icon sa-warning" style="display: none;"> <span class="sa-body"></span> <span class="sa-dot"></span> </div> <div class="sa-icon sa-info" style="display: none;"></div> <div class="sa-icon sa-success animate" style="display: block;"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span> <div class="sa-placeholder"></div> <div class="sa-fix"></div> </div> <div class="sa-icon sa-custom" style="display: none;"></div> <h2>Successfully Deleted!</h2><a href="" class=" btn confirm" tabindex="1" style="display: inline-block; box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; background-color: rgb(174, 222, 244);">OK</a></div>');
					//$('#con-close-modal').hide();
					swal("Deleted!", response.message, "success");
					 
				}else{
					
					swal("Cancelled", "Record not updated. Problem occured", "error");
				}
				
			},error: function(){
				console.log(response);
				//$('#edit_form').html(response);
				swal("Cancelled", "Record not updated. Problem occured", "error");
			}
		});
		});
	}

	$('#generateReport').click(function() {
	var val_toc = $("#nav_val_tabs li.active").text();
	var person = {
        username: val_toc
    }
    $.ajax({
        url: '/viewreport',
        type: 'post',
        contentType: "application/json",
        success: function(data) {
            location.href='/viewreport';
        },
        data: JSON.stringify(person)
    });
	
});
//-->
</script>
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
				 <script type="text/javascript">
					google.charts.load('visualization', {packages: ['bar']});
					/*google.charts.setOnLoadCallback(drawChart);
					google.charts.setOnLoadCallback(drawChartMvar);
					google.charts.setOnLoadCallback(drawChartMvar2);
					google.charts.setOnLoadCallback(drawChartES2);
					google.charts.setOnLoadCallback(drawChartES);
					google.charts.setOnLoadCallback(drawChartvar);
					google.charts.setOnLoadCallback(drawChartvar2);*/
					google.charts.setOnLoadCallback(function () {
						
						/*
						drawChart();
						drawChartMvar();
						drawChartMvar2();
						drawChartES2();
						drawChartES();
						drawChartvar();
						drawChartvar2();
						drawChartmes();*/
						drawChartmes();
						drawChartmes2();
						drawChartmes3();
					});

					/*window.onresize = function(){
						console.log('Damn');
						drawChart();
						drawChartMvar();
						drawChartMvar2();
						drawChartES2();
						drawChartES();
					};*/

					function drawChart() {
						// transform the CSV string into a 2-dimensional array
						// this new DataTable object holds all the data
					  var data = new google.visualization.arrayToDataTable([
					    ['', 'Percent Held', '%Contribution to Standard Deviation'],
						 {% for detail in analysis_details %}
						 ['{{detail.code}}', {{detail.weight |round_the_value }},{{ detail.stddevpercent | round_the_value }} ],
						{%endfor%}
						
					  ]);

					  var options = {
					  chart: {
						title: 'Portfolio Risk Budget- Securities Held',
						legend: 'top'
						
					  },
					  
					  bars: 'vertical' // Required for Material Bar Charts.
					};
					var chart = new google.charts.Bar(document.getElementById('visualization'));

					chart.draw(data, options);		

					var options2 = {
						  chart: {
							title: 'Portfolio Risk Budget- Sectors Held',
							legend: {position: 'in', textStyle: {fontSize: 10}}
						  },
						  legend: {position: 'in', textStyle: {fontSize: 10}},
						  bars: 'vertical' // Required for Material Bar Charts.
						};
						
					var data2 = new google.visualization.arrayToDataTable([
					    ['', 'Percent Held', '%Contribution to Standard Deviation'],
						 {% for key, value in categories_hash.items() %}
						 ['{{key}}', {{value[0]}},{{value[2]}} ],
						{%endfor%}
						
					  ]);
						var chart2 = new google.charts.Bar(document.getElementById('visualization2'));
						chart2.draw(data2, options2);

						//Income growth
						var options3 = { chart: {
							title: 'Portfolio Risk Budget- Income Growth',
							legend: {position: 'in', textStyle: {fontSize: 10}}
						  },
						  legend: {position: 'in', textStyle: {fontSize: 10}},
						  bars: 'vertical' // Required for Material Bar Charts.
						};
						
					var data3 = new google.visualization.arrayToDataTable([
					    ['', 'Percent Held', '%Contribution to Standard Deviation'],
						 {% for key, value in income_growth.items() %}
						 ['{{key}}', {{value[0]}},{{value[2]}} ],
						{%endfor%}
						
					  ]);
						var chart3 = new google.charts.Bar(document.getElementById('visualization3'));
						chart3.draw(data3, options3);
					 
					}
					function drawChartmes() {
						// MES 
						var data_mes = new google.visualization.arrayToDataTable([
					    ['', 'Percent Held', '%Contribution to Modified Expected Shortfall'],
						 {% for detail in analysis_details %}
						 ['{{detail.code}}', {{detail.weight |round_the_value }},{{ detail.mespercent | round_the_value }} ],
						{%endfor%}
						
					  ]);

					  var options_mes = {width: 1170,height: 400,
					  chart: {
						title: 'Portfolio Risk Budget- Securities Held',
						legend: {position: 'in', textStyle: {fontSize: 10}}
						
					  },
					  legend: {position: 'in', textStyle: {fontSize: 10}},
					  bars: 'vertical' // Required for Material Bar Charts.
					};
					var chart_mes = new google.charts.Bar(document.getElementById('visualization_mes'));

					chart_mes.draw(data_mes, options_mes);				 
					}
					function drawChartmes2() {
						// MES 2
						var options_mes2 = {width: 1170,height: 400,
						  chart: {
							title: 'Portfolio Risk Budget- Sectors Held',
							legend: {position: 'in', textStyle: {fontSize: 10}}
						  },
						  legend: {position: 'in', textStyle: {fontSize: 10}},
						  bars: 'vertical' // Required for Material Bar Charts.
						};
						var data_mes2 = new google.visualization.arrayToDataTable([
					    ['', 'Percent Held', '%Contribution to Modified Expected shortfall'],
						 {% for key, value in categories_hash.items() %}
						 ['{{key}}', {{value[0]}},{{value[10]}} ],
						{%endfor%}
						
					  ]);
						var chart_mes2 = new google.charts.Bar(document.getElementById('visualization_mes2'));
						chart_mes2.draw(data_mes2, options_mes2);
		 
					}
					function drawChartmes3() {
						// MES 3
						var options_mes3 = {width: 1170,height: 400,
						  chart: {
							title: 'Portfolio Risk Budget- Income Growth',
							legend: {position: 'in', textStyle: {fontSize: 10}}
						  },
						  legend: {position: 'in', textStyle: {fontSize: 10}},
						  bars: 'vertical' // Required for Material Bar Charts.
						};
						var data_mes3 = new google.visualization.arrayToDataTable([
					    ['', 'Percent Held', '%Contribution to Modified Expected shortfall'],
						 {% for key, value in income_growth.items() %}
						 ['{{key}}', {{value[0]}},{{value[10]}} ],
						{%endfor%}
						
					  ]);
						var chart_mes3 = new google.charts.Bar(document.getElementById('visualization_mes3'));
						chart_mes3.draw(data_mes3, options_mes3);
		 
					}
					function drawChartvar() {
						// Value at risk
					var data_var = new google.visualization.arrayToDataTable([
					    ['', 'Percent Held', '%Contribution to Value at Risk'],
						 {% for detail in analysis_details %}
						 ['{{detail.code}}', {{detail.weight |round_the_value }},{{ detail.gvarpercent | round_the_value }} ],
						{%endfor%}				
					  ]);

					  var options_var = {width: 1170,height: 400, chart: {title: 'Portfolio Risk Budget- Securities Held',	legend: {position: 'in', textStyle: {fontSize: 10}}
						
					  },  legend: {position: 'in', textStyle: {fontSize: 10}},  bars: 'vertical' // Required for Material Bar Charts.
					};
					var chart_var = new google.charts.Bar(document.getElementById('visualization_var'));
					chart_var.draw(data_var, options_var);				 
					}
					function drawChartvar2() {
						// Value at risk
						var options_var2 = { width: 1170,height: 400, chart: {
								title: 'Portfolio Risk Budget- Sectors Held',
								legend: {position: 'in', textStyle: {fontSize: 10}}
							  },
							  legend: {position: 'in', textStyle: {fontSize: 10}},
							  bars: 'vertical' // Required for Material Bar Charts.
							};
							var data_var2 = new google.visualization.arrayToDataTable([
							['', 'Percent Held', '%Contribution to Value at Risk'],
							 {% for key, value in categories_hash.items() %}
							 ['{{key}}', {{value[0]}},{{value[4]}} ],
							{%endfor%}
							
						  ]);
							var chart_var2 = new google.charts.Bar(document.getElementById('visualization_var2'));
							chart_var2.draw(data_var2, options_var2);
					}
					function drawChartvar3() {
						// Value at risk
						var options_var3 = { width: 1170,height: 400, chart: {title: 'Portfolio Risk Budget- Income Growth',
								legend: {position: 'in', textStyle: {fontSize: 10}}
							  },
							  legend: {position: 'in', textStyle: {fontSize: 10}},
							  bars: 'vertical' // Required for Material Bar Charts.
							};
							var data_var3 = new google.visualization.arrayToDataTable([
							['', 'Percent Held', '%Contribution to Value at Risk'],
							 {% for key, value in income_growth.items() %}
							 ['{{key}}', {{value[0]}},{{value[4]}} ],
							{%endfor%}
							
						  ]);
							var chart_var3 = new google.charts.Bar(document.getElementById('visualization_var3'));
							chart_var3.draw(data_var3, options_var3);
					}
					function drawChartMvar() {
						// MValue at risk
						var data_mvar = new google.visualization.arrayToDataTable([
							['', 'Percent Held', '%Contribution to Modified Value at Risk'],
							 {% for detail in analysis_details %}
							 ['{{detail.code}}', {{detail.weight |round_the_value }},{{ detail.mvarpercent | round_the_value }} ],
							{%endfor%}				
						  ]);

						  var options_mvar = {width: 1170,height: 400, chart: {title: 'Portfolio Risk Budget- Securities Held',	legend: {position: 'in', textStyle: {fontSize: 10}}
							
						  },  legend: {position: 'in', textStyle: {fontSize: 10}},  bars: 'vertical' // Required for Material Bar Charts.
						};
						var chart_mvar = new google.charts.Bar(document.getElementById('visualization_mvar'));
						chart_mvar.draw(data_mvar, options_mvar);

					 
					}
					function drawChartMvar2() {
						// MValue at risk
					 
						var options_mvar2 = { width: 1170,height: 400, chart: {	title: 'Portfolio Risk Budget- Sectors Held',legend: {position: 'in', textStyle: {fontSize: 10}}
							  },  legend: {position: 'in', textStyle: {fontSize: 10}},	  bars: 'vertical' // Required for Material Bar Charts.
							};
							var data_mvar2 = new google.visualization.arrayToDataTable([
							['', 'Percent Held', '%Contribution to Modifeid Value at Risk'],
							 {% for key, value in categories_hash.items() %}
							 ['{{key}}', {{value[0]}},{{value[8]}} ],
							{%endfor%}
							
						  ]);
							var chart_mvar2 = new google.charts.Bar(document.getElementById('visualization_mvar2'));
							chart_mvar2.draw(data_mvar2, options_mvar2);
					}
					function drawChartMvar3() {
						// MValue at risk
					 
						var options_mvar3 = { width: 1170,height: 400, chart: {	title: 'Portfolio Risk Budget- Income Growth',legend: {position: 'in', textStyle: {fontSize: 10}}
							  },  legend: {position: 'in', textStyle: {fontSize: 10}},	  bars: 'vertical' // Required for Material Bar Charts.
							};
							var data_mvar3 = new google.visualization.arrayToDataTable([
							['', 'Percent Held', '%Contribution to Modifeid Value at Risk'],
							 {% for key, value in income_growth.items() %}
							 ['{{key}}', {{value[0]}},{{value[8]}} ],
							{%endfor%}
							
						  ]);
							var chart_mvar3 = new google.charts.Bar(document.getElementById('visualization_mvar3'));
							chart_mvar3.draw(data_mvar3, options_mvar3);
					}
					
					function drawChartES() {
						// Expected Short Fall
					 
						var data_es = new google.visualization.arrayToDataTable([
							['', 'Percent Held', '%Contribution to Expected shortfall'],
							 {% for detail in analysis_details %}
							 ['{{detail.code}}', {{detail.weight |round_the_value }},{{ detail.gespercent | round_the_value }} ],
							{%endfor%}				
						  ]);

						  var options_es = {width: 1170,height: 400, chart: {title: 'Portfolio Risk Budget- Securities Held',	legend: {position: 'in', textStyle: {fontSize: 10}}
							
						  },  legend: {position: 'in', textStyle: {fontSize: 10}},  bars: 'vertical' // Required for Material Bar Charts.
						};
						//console.log(document.getElementById('visualization_es'));
						$("visualization_es").show();
						var chart_es = new google.charts.Bar(document.getElementById('visualization_es'));
						
						chart_es.draw(data_es, options_es);
						$("visualization_es").hide();
					}
					function drawChartES2() {
						// Expected Short Fall
					 
						var options_es2 = { width: 1170,height: 400, chart: {	title: 'Portfolio Risk Budget- Sectors Held',legend: {position: 'in', textStyle: {fontSize: 10}}
							  },  legend: {position: 'in', textStyle: {fontSize: 10}},	  bars: 'vertical' // Required for Material Bar Charts.
							};
							var data_es2 = new google.visualization.arrayToDataTable([
							['', 'Percent Held', '%Contribution to Expected shortfall'],
							 {% for key, value in categories_hash.items() %}
							 ['{{key}}', {{value[0]}},{{value[6]}} ],
							{%endfor%}
							
						  ]);
							var chart_es2 = new google.charts.Bar(document.getElementById('visualization_es2'));
							chart_es2.draw(data_es2, options_es2);
					}
					function drawChartES3() {
						// Expected Short Fall
					 
						var options_es3 = { width: 1170,height: 400, chart: {	title: 'Portfolio Risk Budget- Income Growth',legend: {position: 'in', textStyle: {fontSize: 10}}
							  },  legend: {position: 'in', textStyle: {fontSize: 10}},	  bars: 'vertical' // Required for Material Bar Charts.
							};
							var data_es3 = new google.visualization.arrayToDataTable([
							['', 'Percent Held', '%Contribution to Expected shortfall'],
							 {% for key, value in income_growth.items() %}
							 ['{{key}}', {{value[0]}},{{value[6]}} ],
							{%endfor%}
							
						  ]);
							var chart_es3 = new google.charts.Bar(document.getElementById('visualization_es3'));
							chart_es3.draw(data_es3, options_es3);
					}


			</script>
  {% endblock %}