@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
input,textarea{
    border-radius:4px !important;
}
.header {
    height: 68px;
    background-color: #ffffff;
    padding: 0 20px;
    padding: 30px;
    padding-left: 0px;
    /* border-radius: 9px; */
  }
  .head{
    position: fixed;
    top: 0px;
    z-index: 3;
    width: 100%;
    border-radius: 0px !important;
  }
  .menu {
    float: right;
    line-height: 60px;
    margin-top: -25px;
    z-index: 1;
  }
  .menu a {
    text-transform: capitalize;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
    font-weight: 600;
  }
  .show-menu-btn,
  .hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  .show-menu-btn {
    float: right;
    padding-right: 30px;
  }
  .show-menu-btn i {
    line-height: 100px;
  }
  .menu a:hover,
  .show-menu-btn:hover,
  .hide-menu-btn:hover {
    color: #0e2d53;
  }
  
  #chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }
  
  .content1 {
    padding: 0 20px;
  }
  .content1 img {
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
  }
  .content1 p {
    text-align: justify;
  }
  
  @media screen and (max-width: 1150px) {
    .show-menu-btn,
    .hide-menu-btn {
      display: block;
    }
    .menu {
      position: fixed;
      width: 50%;
      height: 100%;
  
      background: #ffffff;
      right: -100%;
      top: 0;
      text-align: center;
      padding: 80px 0;
      line-height: normal;
      transition: 0.7s;
    }
    .menu a {
      display: block;
      padding: 20px;
    }
    .hide-menu-btn {
      position: absolute;
      top: 40px;
      right: 40px;
    }
    #chk:checked ~ .menu {
      right: 0;
    }
  }
  /* button {
    width: 169px;
    height: 46px;
    border-radius: 5px;
    border: solid 2px #c9cdd5;
    background-color: #0a595d;
    color: white;
  } */
  @media screen and (max-width: 420px) {
    button {
      width: 140px;
      height: 37px;
    }
  }
  @media screen and (max-width: 768px) {
  .header{
    padding: 3px;
  }
  }
  .icon {
    width: 140px;
    height: 109.4px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    padding: 20px;
    /* margin-top: 15px; */
    position: relative;
    top: -30px;
  }
  .menu a {
    color: #0e2d53;
    /* margin-top: 80px; */
  }
  
  .content1 {
    background-color: #028081 !important;
    width: 100%;
    /* height: auto; */
  }
 .content1 h1 {
    font-size: 36px;
    color: white;
    text-align: center;
    margin-top: 30px;
  }
 .content1 p {
    font-size: 19px;
    text-align: center;
    color: white;
    padding: 20px;
    margin-bottom: 7px;
  }
.card{
    height: 248px;
    padding: 32px 10px 50px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
    background-color: #ffffff;
}
.logos{
    margin-top:50px;
    margin-bottom:50px;
}



.image {
    background-image: url("../images/path-3@3x.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: 100% 100%;
  }
  

  /* footer css */
  @media screen and (max-width: 767px) {
    .mb20{
        margin-bottom:30px;
    }
    .header{
        height: 85px !important;
    }
    .icon {
        left: 0px !important;
        top: 0px !important;
    }
  .you-head   h1 {
    font-size: 21px;
  }
  .you-head  h4 {
    font-size: 16px;
  }
  .input-group{
      width: 100% !important;
      z-index: 1;
  }
   
.ques-8{
  padding-left: 0px !important;
}
.footer-li{
  text-align: center !important;
  text-align: -webkit-center !important;
 
}
.footer-li li{
  padding-top:25px;
  text-align: center;
}
.foo{
  padding-top:25px;
  margin: auto;
  text-align: center;
}
.left-side h2{
  margin-top: 0px !important;

}
.left-side{
  min-height: unset !important;
}
.right-side{
  width: 100% !important;
}
.form {
  padding: 6px 24px 14px 25px;
}
}

.ques-8{
    padding-left: 110px;
    padding-top: 20px;
}


.color {
  opacity: 0.9;
  background-color: #f6f8f9;
  height: 500px;
}
@media screen and (max-width: 991px) {
  .color {
    height: 700px;
  }
}
.foot-para p {
  font-size: 12px;
  font-weight: 600;
  color: #373a3e;
  letter-spacing: 1px;
  text-align: center;
  /* position: relative;
  top: 120px; */
  margin-top: 60px;
}
@media screen and (max-width: 575px) {
  .color {
    padding: 30px;
  }
}
.footer-li li{
  display: table-cell;
  padding-right: 15px;
}
@media (min-width: 1200px){
  .container {
    width: 1170px !important;
}
}
.padding-top{
    padding-top: 40px;
}
footer{
    background: #f6f8f9;
    padding: 6% 6% 2% 6%;
}
footer .col-md-3 p{
    padding-top: 24%;
}

footer .mr-3{
    float: left;
    padding-right: 10px;
}
footer .col-md-3 .media{
    padding-top: 18%;
}
footer .col-md-4 .media{
    padding-top: 14%;
}
footer .col-md-2 .footer-li{
    padding-top: 24%;
    padding-left: 0px;
}
footer .col-md-2{
    margin: 0;
    padding: 0px;
}
footer .copy-right{
    text-align: center;
    padding-top: 6%;
}