@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
input, textarea {
    border-radius: 4px !important;
}
.header {
    height: 68px;
    background-color: #ffffff;
    padding: 0 20px;
    padding: 30px;
    padding-left: 0px;
    /* border-radius: 9px; */
}
.head {
    position: fixed;
    top: 0px;
    z-index: 3;
    width: 100%;
    border-radius: 0px !important;
}
.menu {
    float: right;
    line-height: 60px;
    margin-top: -25px;
    z-index: 1;
}
.menu a {
    text-transform: capitalize;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
    font-weight: 600;
}
.show-menu-btn, .hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.show-menu-btn {
    float: right;
    padding-right: 30px;
}
.show-menu-btn i {
    line-height: 100px;
}
.menu a:hover, .show-menu-btn:hover, .hide-menu-btn:hover {
    color: #0e2d53;
}
#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
.content1 {
    padding: 0 20px ;
}
.content1 img {
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
}
.content1 p {
    text-align: justify;
}
@media screen and (max-width: 1150px) {
    .show-menu-btn, .hide-menu-btn {
        display: block;
    }
    .menu {
        position: fixed;
        width: 50%;
        height: 100%;
        background: #ffffff;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a {
        display: block;
        padding: 20px;
    }
    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu {
        right: 0;
    }
}
/* button {
    width: 169px;
    height: 46px;
    border-radius: 5px;
    border: solid 2px #c9cdd5;
    background-color: #0a595d;
    color: white;
  } */
@media screen and (max-width: 420px) {
    button {
        width: 140px;
        height: 37px;
    }
}
@media screen and (max-width: 768px) {
    .header {
        padding: 3px;
    }
}
.icon {
width: 140px;
    height: 109.4px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    padding: 20px;
    /* margin-top: 15px; */
    position: relative;
    top: -30px;
}
.menu a {
    color: #0e2d53;
    /* margin-top: 80px; */
}
.content1 {
    background-color: #028081 !important;
    width: 100%;
    padding-top: 3.5%;
    padding-bottom: 3.1%;
}
.content1 h1 {
    font-size: 32px;
    color: white;
    text-align: center;
}
.content1 p {
    font-size: 18px;
    text-align: center;
    color: white;
    padding: 20px;
}
/* agent ifco css starts */
.image {
    background-image: url("../images/path-3@3x.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: 100% 100%;
}
/* footer css */
@media screen and (max-width: 767px) {
    .mb20 {
        margin-bottom: 30px;
    }
    .icon {
        left: 0px !important;
        top: 0px !important;
    }
    .header {
        height: 85px !important;
    }
    .you-head h1 {
        font-size: 21px;
    }
    .you-head h4 {
        font-size: 16px;
    }
    .input-group {
        width: 100% !important;
        z-index: 1;
    }
    .ques-8 {
        padding-left: 0px !important;
    }
    .footer-li {
        text-align: center !important;
        text-align: -webkit-center !important;
    }
    .footer-li li {
        padding-top: 25px;
        text-align: center;
    }
    .foo {
        padding-top: 25px;
        margin: auto;
        text-align: center;
    }
    .left-side h2 {
        margin-top: 0px !important;
    }
    .left-side {
        min-height: unset !important;
    }
    .right-side {
        width: 100% !important;
    }
    .form {
        padding: 6px 24px 14px 25px;
    }
}
.ques-8 {
    padding-left: 110px;
    padding-top: 20px;
}
.color {
    opacity: 0.9;
    background-color: #f6f8f9;
    height: 500px;
}
@media screen and (max-width: 991px) {
    .color {
        height: 700px;
    }
}
.foot-para p {
    font-size: 12px;
    font-weight: 600;
    color: #373a3e;
    letter-spacing: 1px;
    text-align: center;
    /* position: relative;
    top: 120px; */
    margin-top: 60px;
}

@media screen and (max-width: 768px) {
.send-reff-upload-sec .col-md-4 p{
    text-align: center !important;
}
    .download-upload {
    width: 109px;
    margin: auto;
}
    .send-reff-upload-sec .form-group{
        width: 293px;
    margin: auto;
        }
}
@media screen and (max-width: 575px) {
    .color {
        padding: 30px;
    }
}
.footer-li li {
    display: table-cell;
    padding-right: 15px;
}
ul.horizontal-fix li a {
    padding: .84rem 2.14rem;
}
.bd {
    border-bottom: 1px solid #ccc;
    ;
}
.send-msg-btn {
    background: #028081;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 100%;
}
.click-btn {
    background: #028081;
    color: white;
    padding: 7px;
    border-radius: 7px;
    border: none;
    width: 110px;
}
.btn-pad {
    padding-left: 15px;
    padding-right: 15px;
}
.form-box{
    -webkit-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.13);
-moz-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.13);
box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.13);
    border-radius: 5px;
    padding: 30px;
}
label{
    padding-bottom: 4px;
}
.form-box .row{
    padding-top: 14px;
}
.form-sec{}
.form-sec h1{
    font-size: 28px; color: #289394;text-align: center;margin-top:0px;margin-bottom:30px;
}
.wizard-v1 h1{
    font-size: 28px;color: #289394;text-align: center;margin-top:0px;margin-bottom:30px; padding-top: 40px;
}

.form-sec .row label{
   color: #0e2d53; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
label{
   color: #0e2d53; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px !important;
}
.file-upload{
    width:200px;
}
.form-sec .row input, .form-sec .row option{
    padding-top: 10px;
     box-shadow: inset 0px 0px 0px 0px #fff;
    border:1px solid #718bab;
}
.form-sec .row input:focus, .form-sec .row option:focus{
    border: 1px solid #0e2d53;
}
.form-control{
       box-shadow: inset 0px 0px 0px 0px #fff;
    border: 1px solid #718bab;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
input{
     box-shadow: inset 0px 0px 0px 0px #fff;
    
    
}
.download-upload{}
.download-upload .btn-default{
    background: #0e2d53;
    border-radius: 5px;
    color: #fff;
    border: 0px;
}
.download-upload .download-img{
        width: 21px;
    height: 24px;
    padding-right: 4px;
}
.download-upload h4{
    text-align: right;
    font-size: 16px;
    color: #0e2d53;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    
}

.download-upload label.filebutton {
  display: inline-block;
  background: #028081;
  border: 0px;
  border-radius: 5px;
  padding: 8px 12px 5px 12px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 15px;
    color: #fff;
}
.download-upload .filebutton img{
    padding-right: 6px;
    width: 21px;
    height: 24px;
}
.download-upload label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}
.send-referral{
    padding: 50px 0px 9px 0px; 
}
.send-referral h4{
    text-align: center;
    line-height: 24px;
}
.send-referral h3{
    text-align: center;
    line-height: 24px;
    color: #0e2d53;
}
.send-referral p{
    text-align: center;
    line-height: 15px;
    line-height: 22px;
    color: #0e2d53;
}
.send-referral h1{
    padding-top: 50px;
}
.send-referral a{
    color: #289394;
    text-decoration: underline;
}
.send-reff-upload-sec{
    padding-top: 20px;
}
.send-reff-upload-sec .col-md-4 {
    padding-top: 20px;
}
.send-reff-upload-sec .col-md-4 p{
    text-align: right;
}
.send-reff-upload-sec .col-md-2 {
    padding-top: 11px;
}
.send-reff-upload-sec .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.send-reff-upload-sec .form-group label {
  position: relative;
  cursor: pointer;
}

.send-reff-upload-sec .form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0e2d53;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 12px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.send-reff-upload-sec .form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
     top: 5px;
    left: 11px;
  width: 6px;
  height: 14px;
  border: solid #028081;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.submit-btn{
    text-align:center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.submit-btn .btn-default{
    background: #028081;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    width: 160px;
}
.padding-top{
    padding-top: 40px;
}
footer{
    background: #f6f8f9;
    padding: 6% 6% 2% 6%;
}
footer .col-md-3 p{
    padding-top: 24%;
}

footer .mr-3{
    float: left;
    padding-right: 10px;
}
footer .col-md-3 .media{
    padding-top: 18%;
}
footer .col-md-4 .media{
    padding-top: 14%;
}
footer .col-md-2 .footer-li{
    padding-top: 24%;
    padding-left: 0px;
}
footer .col-md-2{
    margin: 0;
    padding: 0px;
}
footer .copy-right{
    text-align: center;
    padding-top: 6%;
}