body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
a{
    color: #008382;
}
input, textarea {
    border-radius: 4px !important;
}
@media screen and (max-width: 1480px) {
    .iweb {
        width: 100% !important;
    }
}
@media screen and (min-width: 1480px) {
    .iweb {
        width: 1480px !important;
    }
}
@media screen and (max-width: 986px) {
    .ref-img img {
        height: 300px !important;
        width: 300px !important;
    }
}
@media screen and (max-width: 500px) {
    .ref-img img {
        height: 150px !important;
        width: 150px !important;
    }
}
.icenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    height: 68px;
    background-color: #ffffff;
    padding: 0 20px;
    padding: 30px;
    padding-left: 0px;
    /* border-radius: 9px; */
}
.head {
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    border-radius: 0px !important;
}
.menu {
    float: right;
    line-height: 60px;
    margin-top: -25px;
    z-index: 1;
}
.menu a {
    text-transform: inherit;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
    font-weight: 600;
}
.show-menu-btn, .hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.show-menu-btn {
    float: right;
    padding-right: 30px;
}
.show-menu-btn i {
    line-height: 100px;
}
.menu a:hover, .show-menu-btn:hover, .hide-menu-btn:hover {
    color: #0e2d53;
}
#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
.content {
    padding: 0 20px;
}
.content img {
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
}
.content p {
    text-align: justify;
}
@media screen and (max-width: 1150px) {
    .show-menu-btn, .hide-menu-btn {
        display: block;
    }
    .menu {
        position: fixed;
        width: 50%;
        height: 100%;
        background: #ffffff;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a {
        display: block;
        padding: 20px;
    }
    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu {
        right: 0;
    }
}
/* button {
    width: 169px;
    height: 46px;
    border-radius: 5px;
    border: solid 2px #c9cdd5;
    background-color: #0a595d;
    color: white;
  } */
@media screen and (max-width: 420px) {
    button {
        width: 140px;
        height: 37px;
    }
}
@media screen and (max-width: 768px) {
    .header {
        padding: 3px;
    }
}
.icon {
    width: 140px;
    height: 109.4px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    padding: 20px;
    /* margin-top: 15px; */
    position: relative;
    top: -30px;
}
.menu a {
    color: #0e2d53;
    /* margin-top: 80px; */
}
.banner {
    background-image: url("../images/group-18.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.banner h1 {
    font-size: 44px;
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1.3px;
    font-weight: 400;
    line-height: 1.28;
    padding-top: 9% !important;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.46);
}
.banner h4 {
    font-size: 22px;
    line-height: 1.48;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.46);
}
.get-start-btn button {
    font-size: 22px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #028081;
    width: 290px;
    height: 60px;
    border-radius: 40px;
    box-shadow: 0 2px 8px 3px rgba(92, 92, 92, 0.5);
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: none;
    z-index: 1;
}
.banner-content {
    position: relative;
    top: 20%;
    z-index: 1;
    width: 100%;
    border-radius: 0px !important;
    padding-bottom: 10%;
}
@media screen and (max-width: 991px) {
    .banner h1 {
        font-size: 50px;
    }
    .banner h4 {
        font-size: 18px;
    }
    .get-start-btn button {
        width: 250px;
        height: 60px;
        font-size: 18px;
    }
    .banner {
        height: 700px;
    }
}
@media screen and (max-width: 767px) {
    .date {
        width: 100% !important;
    }
    .header {
        height: 85px !important;
    }
    .icon {
        left: 0px !important;
        top: 0px !important;
    }
    .banner h1 {
        font-size: 40px;
    }
    .banner h4 {
        font-size: 16px;
    }
    .banner button {
        width: 200px;
        height: 45px;
        font-size: 15px;
    }
    .banner {
        height: 500px;
    }
    /* .head{
  padding-top: 90px;
    } */
}
@media screen and (max-width: 520px) {
    .banner h1 {
        font-size: 30px;
    }
}
.how-block {
    background: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    box-shadow: 0 60px 100px 0 rgba(192, 192, 192, 0.5), 0 13px 25px 0 rgba(0, 0, 0, 0.05);
}
.how-works {
    background: #028081;
    padding: 1px;
    text-align: center;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.how-works-content {
    padding: 10px;
}
.how-works-content ol {
    counter-reset: item;
    margin-bottom: 5px;
}
.how-works-content ol li {
    display: block;
    color: #0e2d53;
    counter-increment: item;
    margin-top: 24px;
    margin-bottom: 18px;
}
.how-works-content ol li::before {
    margin-right: 10px;
    content: counter(item);
    background: #028081;
    border-radius: 100%;
    color: white;
    width: 1.5em;
    text-align: center;
    display: inline-block;
}
.do-content ol {
    counter-reset: item;
    margin-bottom: 5px;
}
.do-content ol li, .do-content1 ol li {
    display: block;
    /* color: #000; */
    counter-increment: item;
    margin-top: 24px;
    margin-bottom: 18px;
    font-size: 17px;
    font-weight: bold;
}
.do-content ol li::before {
    margin-right: 10px;
    content: counter(item);
    background: #028081;
    border-radius: 100%;
    color: white;
    width: 1.5em;
    text-align: center;
    display: inline-block;
}
.do-content1 ol li::before {
    margin-right: 10px;
    content: counter(item);
    background: #028081;
    border-radius: 100%;
    color: #028081;
    width: 14px;
    font-size: 13px;
    height: 15px;
    text-align: center;
    display: inline-block;
}
.you-head h1 {
    text-align: center;
    /* margin-top: 50px; */
    font-size: 40px;
    padding-top: 40px;
    padding: 20px;
    color: #212529;
}
.you-head h4 {
    text-align: center;
    font-size: 22px;
    /* margin-top: 30px; */
    padding-top: 4px;
    padding: 20px;
    color: #212529;
    /* color: #000; */
    padding-bottom: 25px;
}
.you-head img {
    width: 200px;
    height: 200px;
    margin-top: 30px;
}
.you-head p {
    text-align: center;
    margin-top: 15px;
}
.you-head .image {
    opacity: 0.9;
    background-color: rgba(233, 236, 239, 0.36);
}
.card {
    margin-top: 20px;
    margin-bottom: 30px;
}
@media screen and (max-width: 1199px) and (min-width: 991px) {
    .you-head img {
        width: 150px;
        height: 150px;
    }
}
.para {
    font-size: 15px;
    color: #212529;
    position: relative;
    top: 36px;
    left: 50px;
    font-weight: 600;
    float: left;
    text-align: left;
    padding-right: 20px;
}
.graph {
    font-size: 15px;
    color: #212529;
    position: relative;
    top: 24px;
    left: 50px;
    padding-right: 20px;
    float: left;
    text-align: left;
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    .para {
        font-size: 15px;
        color: #212529;
        position: unset;
        top: unset;
        left: unset;
        font-weight: 600;
    }
    .graph {
        font-size: 15px;
        color: #212529;
        position: unset;
        top: unset;
        left: unset;
        font-weight: 600;
    }
}
/* @media screen and (max-width: 1199px) and (min-width: 991px) {
            .para {
              font-size: 15px;
              position: relative;
              top: 75px;
            }
          }
          @media screen and (max-width: 1199px) and (min-width: 991px) {
            .graph {
              font-size: 15px;
              position: relative;
              top: 50px;
            }
          } */
@media screen and (max-width: 767px) {
    .you-head img {
        margin-top: 100px;
    }
}
@media screen and (max-width: 767px) {
    .card {
        margin-top: 100px;
    }
}
@media screen and (max-width: 991px) {
    .you-head h1 {
        font-size: 35px;
    }
    .you-head h4 {
        font-size: 22px;
    }
}
@media screen and (max-width: 767px) {
    .you-head h1 {
        font-size: 21px;
    }
    .you-head h4 {
        font-size: 16px;
    }
    .ques-8 {
        padding-left: 0px !important;
    }
    .footer-li li {
        text-align: center !important;
        text-align: -webkit-center !important;
    }
    .footer-li li {
        padding-top: 25px;
        text-align: center;
    }
    .foo {
        padding-top: 25px;
        margin: auto;
        text-align: center;
    }
}
.ques-8 {
    padding-left: 6%;
    padding-top: 20px;
    z-index: 1 !important;
}
.color {
    opacity: 0.9;
    background-color: #f6f8f9;
    height: 500px;
}
@media screen and (max-width: 991px) {
    .color {
        height: 700px;
    }
}
.foot-para p {
    font-size: 12px;
    font-weight: 600;
    color: #373a3e;
    letter-spacing: 1px;
    text-align: center;
    /* position: relative;
            top: 120px; */
    margin-top: 60px;
}
@media screen and (max-width: 575px) {
    .color {
        padding: 30px;
    }
}
.footer-li li {
    display: table-cell;
    padding-right: 5px;
}
.send-msg-btn {
    background: #028081;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
}
.container-table {
    /* display: table; */
    height: 100%;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle !important;
}
@media (min-width: 1200px) {
    .container {
        width: 1170px !important;
    }
}
.how-it-work {
    background: url("../images/shutterstock-407610145.jpg") left;
    background-repeat: no-repeat;
    height: 600px;
}
.how-it-work .container-fluid {
    padding: 0px;
    margin: 0px;
}
.how-it-work .col-md-6 {
    margin-right: 0px;
    padding-right: 0px;
}
.how-it-work .modal-content {
    background: #fff;
    border-radius: 10px 10px 10px 10px;
    margin-top: 22%;
    border: 0px;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.26);
}
.how-it-work .modal-body {
    padding: 26px 2px 26px 22px;
}
.how-it-work .modal-header {
    background: #028081;
    text-align: center;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.how-it-work .modal-header h4 {
    font-size: 30px;
}
.how-it-work ol {
    counter-reset: item;
    margin-bottom: 5px;
    margin: 0px;
    padding: 0px;
}
.how-it-work ol li {
    display: block;
    color: #0e2d53;
    counter-increment: item;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 13px;
}
.how-it-work ol li::before {
    margin-right: 10px;
    content: counter(item);
    background: #028081;
    border-radius: 100%;
    color: white;
    width: 1.5em;
    text-align: center;
    display: inline-block;
}
.what-does-referral {
    border-top: 1px solid #f0eeee;
    margin-top: 80px;
}
.what-does-referral .col-md-9 .do-content1{
    width: 73%;
    height: auto;
    overflow: hidden;
}
.what-does-referral .container-fluid {
    padding: 0px;
    margin: 0px;
}
.what-does-referral .col-md-3 {
    background: url("../images/group-50.png") no-repeat bottom center;
    height: 500px;
    padding: 0px;
    margin: 0px;
    background-size: cover;
}
.what-does-referral .col-md-9 {
    padding-left: 8%;
}
.what-does-referral h3 {
    font-size: 30px;
    padding-top: 4%;
}
.what-does-referral h3 span {
    color: #008382;
    border-bottom: 2px solid #008382
}
.what-does-referral ol {
    counter-reset: item;
    margin-bottom: 5px;
    padding: 0px 0px 0px 20px;
}
.do-content1 {
    list-style-image: url("../images/group.png");
    width: 14px;
    height: 14px;
}
.do-content1 li{
        margin-top: 24px;
    margin-bottom: 18px;
    font-size: 17px;
    font-weight: 600;
    padding-left: 8px;
}
.what-does-referral ol li, .what-does-referral ol li {
    display: block;
    /* color: #000; */
    counter-increment: item;
    margin-top: 24px;
    margin-bottom: 18px;
    font-size: 17px;
    font-weight: bold;
}
.what-does-referral ol li::before {
    margin-right: 10px;
    content: counter(item);
    background: #028081;
    border-radius: 100%;
    color: white;
    width: 1.5em;
    text-align: center;
    display: inline-block;
}
.what-does-referral ol li::before {
    margin-right: 10px;
    content: counter(item);
    background: #028081;
    border-radius: 100%;
    color: #028081;
    width: 14px;
    font-size: 13px;
    height: 14px;
    text-align: center;
    display: inline-block;
}
.referral-associate {}
.referral-associate h3 {
    font-size: 30px;
}
.referral-associate h3 span {
    font-size: 30px;
    color: #008382;
    border-bottom: 2px solid #008382;
}
.referral-associate .box-1 {
    padding-top: 40px;
    font-weight: 600;
}
.is-being-sec {
    background-color: rgba(233, 236, 239, 0.36)
}
.is-being-sec .you-head h3 {
    font-size: 30px;
}
.is-being-sec .you-head h3 span {
    color: #028081;
    border-bottom: 2px solid #008382;
}
.box-card {
    font-weight: 600;
    padding: 16px 0px 5px 0px;
    box-shadow: 0 1px 7px 0 rgba(150, 150, 150, 0.5);
    background-color: #f8f9fa;
}
.box-card p span {
    color: #028081;
}
.box-shadow-1 {
-webkit-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.13);
-moz-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.13);
box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.13);
    padding: 30px;
    border-radius: 14px
}
.agents-say{
    }
.agents-say h2{
    color:#212529;
    text-align: center;
    font-size: 30px;
}
.one-pixborder{
    border-bottom:3px solid #008382; width: 40px; height: 2px;
    margin: auto;
    padding-top: 6px;
}
.box-shadow-1 label{
color:#5a6066;
    }
.hav-a-quest .one-pixborder{
    margin-bottom: 50px;
}
.hav-a-quest{
    margin-bottom: 4%;
}
.hav-a-quest h1{
    padding-top: 50px;
}
.hav-a-quest .input-group{
   z-index: -1;
}
.form-top-space{
    padding-top: 20px;
}
.box-shadow-1 .col-md-8 .send-msg-btn{
    margin-top: 30px;
}
@media only screen and (max-width: 768px) {
    .graph, .para{
        text-align: center;
        padding-bottom: 40px;
    }
    .icon{
        width: 118px;
        height: 98.4px;
    }
}
footer{
    background: #f6f8f9;
    padding: 6% 6% 2% 6%;
}
footer .col-md-3 p{
    padding-top: 24%;
}

footer .mr-3{
    float: left;
    padding-right: 10px;
}
footer .col-md-3 .media{
    padding-top: 18%;
}
footer .col-md-4 .media{
    padding-top: 14%;
}
footer .col-md-2 .footer-li{
    padding-top: 24%;
    padding-left: 0px;
}
footer .col-md-2{
    margin: 0;
    padding: 0px;
}
footer .copy-right{
    text-align: center;
    padding-top: 6%;
}