@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h1{
    padding: 0px;
    margin: 0px;
}
.header {
    height: 68px;
    background-color: #ffffff;
    padding: 0 20px;
    padding: 30px;
    padding-left: 0px;
    /* border-radius: 9px; */
  }
  .head{
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    border-radius: 0px !important;
  }
  .menu {
    float: right;
    line-height: 60px;
    margin-top: -25px;
    z-index: 1;
  }
  .menu a {
    text-transform: capitalize;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
    font-weight: 600;
  }
  .show-menu-btn,
  .hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  .show-menu-btn {
    float: right;
    padding-right: 30px;
  }
  .show-menu-btn i {
    line-height: 100px;
  }
  .menu a:hover,
  .show-menu-btn:hover,
  .hide-menu-btn:hover {
    color: #0e2d53;
  }
  
  #chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }
  
  .content {
    padding: 0 20px;
  }
  .content img {
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
  }
  .content p {
    text-align: justify;
  }
  
  @media screen and (max-width: 1150px) {
    .show-menu-btn,
    .hide-menu-btn {
      display: block;
    }
    .menu {
      position: fixed;
      width: 50%;
      height: 100%;
  
      background: #ffffff;
      right: -100%;
      top: 0;
      text-align: center;
      padding: 80px 0;
      line-height: normal;
      transition: 0.7s;
    }
    .menu a {
      display: block;
      padding: 20px;
    }
    .hide-menu-btn {
      position: absolute;
      top: 40px;
      right: 40px;
    }
    #chk:checked ~ .menu {
      right: 0;
    }
  }
  /* button {
    width: 169px;
    height: 46px;
    border-radius: 5px;
    border: solid 2px #c9cdd5;
    background-color: #0a595d;
    color: white;
  } */
  @media screen and (max-width: 420px) {
    button {
      width: 140px;
      height: 37px;
    }
  }
  @media screen and (max-width: 768px) {
  .header{
    padding: 3px;
  }
  }
  .icon {
    width: 140px;
    height: 109.4px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    padding: 20px;
    /* margin-top: 15px; */
    position: relative;
    top: -30px;
  }
  .menu a {
    color: #0e2d53;
    /* margin-top: 80px; */
  }
  

/* banner css stats */
.image {
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    overflow-y: hidden;
  }
  
#playground-container {
    height: 500px;
    overflow: hidden !important;
  }
  .main {
    padding: 4% 0 4% 0;
  }
  .fb:focus,
  .fb:hover {
    color: FFF !important;
  }
  body {
    font-family: "Raleway", sans-serif;
  }
  
  .left-side {
    background: #0e2d53;
    min-height: 439px;
    border-radius: 20px 0px 0px 20px;
    position: relative;
    left: 83px;
    /* margin-bottom: 100px; */
  }
  .left-side h2 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    margin-top: 152px;
  }
  
  .left-side p {
    font-weight: 600;
    color: #fff;
  }
  
  .right-side {
    background: #fff;
    min-height: 438px;
    position: relative;
    right: -50px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 80%;
  }
  .right-side h1 {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 2.2px;
    text-align: left;
    color: #028081;
    padding: 46px 0 0px 69px;
  }
  .right-side p {
    font-size: 31px;
    font-weight: 500;
    color: #028081;
    padding: 10px 59px 7px 68px;
  }
  .form {
    padding: 6px 59px 26px 55px;
  }
  .form-control {
    box-shadow: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid #028081 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
  }
  .btn-deep-purple {
    width: 240px;
    height: 50px;
    border-radius: 25px;
    background-color: #028081;
    color: white;
    margin-top: 15px;
    padding: 11px;
    font-size: 20px;
    font-weight: 500;
  }
  button {
    width: 240px;
    height: 50px;
    border-radius: 25px;
    border: solid 1px #ffffff;
    background-color: #ffffff;
    margin-top: 25px;
    font-size: 15px;
    color: #0e2d53;
    font-weight:600;
  }
  
  @media screen and (max-width: 991px) {
    .left-side {
      position: relative;
      left: 0px;
      border-radius: 10px;
    }
    .left-side h2 {
      position: relative;
      left: 80px;
      padding: 20px;
    }
    .right-side {
      position: relative;
      right: 0px;
      border-radius: 10px;
      margin-top: 30px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .left-side {
      position: relative;
      left: 0px;
      border-radius: 10px;
      padding: 20px;
    }
    .header{
      height: 85px !important;
  } 
    .icon {
      left: 0px !important;
      top: 0px !important;
  }
    .right-side {
      margin-top: 30px;
      position: relative;
      right: 0px;
      border-radius: 10px;
    }
    .left-side h2 {
      position: relative;
      left: 0px;
    }
    
  }
  @media screen and (max-width: 550px) {
    button {
      width: 150px;
      height: 30px;
      border-radius: 15px;
      font-size: 10px;
    }
    .btn-deep-purple {
      width: 150px;
      height: 30px;
      border-radius: 15px;
      font-size: 10px;
      padding: 6px;
    }
    .right-side h1 {
      font-size: 18px;
    }
    .right-side p {
      font-size: 23px;
    }
  }
  .text {
    font-size: 12px;
    color: #028081;
    float: right;
    padding-top:3px;
  }
  @media screen and (max-width: 767px) {
    .text {
      float: left;
      margin-top: 10px;
    }
  }
 /* footer css */
 @media screen and (max-width: 767px) {
    .you-head   h1 {
      font-size: 21px;
    }
    .you-head  h4 {
      font-size: 16px;
    }
     
  .ques-8{
    padding-left: 0px !important;
}
.footer-li{
    text-align: center !important;
    text-align: -webkit-center !important;
   
}
.footer-li li{
    padding-top:25px;
    text-align: center;
}
.foo{
    padding-top:25px;
    margin: auto;
    text-align: center;
}
.left-side h2{
    margin-top: 0px !important;

}
.left-side{
    min-height: unset !important;
}
.right-side{
    width: 100% !important;
}
.form {
    padding: 6px 24px 14px 25px;
}
  }
  
  .ques-8{
      padding-left: 110px;
      padding-top: 20px;
  }


  .color {
    opacity: 0.9;
    background-color: #f6f8f9;
    height: 500px;
  }
  @media screen and (max-width: 991px) {
    .color {
      height: 700px;
    }
  }
 .foot-para p {
    font-size: 12px;
    font-weight: 600;
    color: #373a3e;
    letter-spacing: 1px;
    text-align: center;
    /* position: relative;
    top: 120px; */
    margin-top: 60px;
  }
  @media screen and (max-width: 575px) {
    .color {
      padding: 30px;
    }
  }
  .footer-li li{
    display: table-cell;
    padding-right: 15px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #028081;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #028081;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  @media (min-width: 1200px){
    .container {
      width: 1170px !important;
  }
  }
.form-group {
    margin-bottom: 8px !important;
}
footer{
    background: #f6f8f9;
    padding: 6% 6% 2% 6%;
}
footer .col-md-3 p{
    padding-top: 24%;
}

footer .mr-3{
    float: left;
    padding-right: 10px;
}
footer .col-md-3 .media{
    padding-top: 18%;
}
footer .col-md-4 .media{
    padding-top: 14%;
}
footer .col-md-2 .footer-li{
    padding-top: 24%;
    padding-left: 0px;
}
footer .col-md-2{
    margin: 0;
    padding: 0px;
}
footer .copy-right{
    text-align: center;
    padding-top: 6%;
}